<section id="inner-page-tabs">
    <div id="annual-summit" class="tabcontent" style="display: flex;">
       <div class="contents padding-bottom-5">

            <h3 id="" class="sub-topic-heading-blue margin-0">
              2023 Annual ITVMO Summit
          </h3>
            <p class="tab-p margin-top-0">
              Leveraging Category Management for IT Procurement using Small Business, Original Equipment Manufacturers, and Best-in-Class Solutions
            </p>
            <h3 id="itvmo-overview" class="sub-topic-heading-blue">
              ITVMO Annual Summit Overview
          </h3>
            <div class="tab-img-p">
              <img id="annual-summit-logo" alt="Annual Summit logo" src="{{site.baseurl}}/assets/uploads/annual-summit.svg">
              <p class="tab-p">
                On August 2, 2023, the ITVMO partnered with ACT-IAC to host the first <b>Annual ITVMO Summit</b>. This in-person event brought both industry and government together to foster collaboration and increase knowledge sharing on IT acquisition contract strategies, Best-in-Class IT vehicle solutions, and federal marketplace opportunities for small businesses.
                <br>This page compiles resources relevant to the 2023 Summit focus areas. Information may be added or updated, as needed. Check back for new inclusions.
              </p>
            </div>
            <div class="tab-divide-line end-content"></div>
            <h3 id="star" class="sub-topic-heading-blue">
                Session Tools & Resources
            </h3>
            <div class="usa-accordion">
                <h3 class="usa-accordion__heading">
                   <button id="vendor-research" class="accordion" aria-expanded="false" aria-controls="b-a1" onclick="displayTabContent(this)">
                   <span>
                   Software Acquisition Initiatives with Original Equipment Manufacturers
                   </span>
                   <img class="tab-arrow" src="{{site.baseurl}}/assets/images/icons/arrow-down.svg">
                   </button>
                </h3>
                <div id="b-a1" class="accordion-content ">
                   <div>
                      <div class="links-list margin-0">
                         <div class="links-list-heading">
                            <h4 class="margin-0 margin-top-2">
                                Aligns with Session 1: Working with Original Equipment Manufacturers      
                             </h4>
                         </div>
                         <p class="tab-p">
                            One of the primary purposes of the governmentwide ITVMO is to serve as a coordinated federal voice, representing all government IT buying interests, to the vendor community. As part of the OEM Assessment Initiative, the program consults with agency IT buyers, analyzes governmentwide IT procurement data, conducts market research, consults with industry experts and collaborates directly with vendors to develop shared agency acquisition resources to support agencies in making procurement decisions.
                        </p>
                      </div>
                      <div class="arrow-content-list">
                        <div class="arrow-content">
                            <img src="{{site.baseurl}}/assets/images/arrows/right-arrow.svg">
                            <p class="tab-p">
                              <a target="_blank" rel="noreferrer noopener" href="https://login.max.gov/cas/login?service=https%3A%2F%2Fcommunity.max.gov%2Flogin.action%3Fos_destination%3D%252Fdownload%252Fattachments%252F2314102898%252FAWS%252520-%252520Acquisitions%252520Guide.pdf%253Fapi%253Dv2">AWS Federal Acquisition Guide</a> - This guide provides an overview of the challenges and opportunities the government faces when procuring and using AWS cloud services, specifically consumption management and customer service. <b>.gov/.mil audience only</b>
                            </p>
                          </div>
                          <div class="arrow-content">
                            <img src="{{site.baseurl}}/assets/images/arrows/right-arrow.svg">
                            <p class="tab-p"><a target="_blank" rel="noreferrer noopener" href="https://login.max.gov/cas/login?service=https%3A%2F%2Fcommunity.max.gov%2Flogin.action%3Fos_destination%3D%252Fdownload%252Fattachments%252F2314102898%252FServiceNow%252520-%252520Introduction%252520to%252520ServiceNow.pdf%253Fapi%253Dv2">Introduction to ServiceNow, Strategy, and Implementation Approaches</a>
                            - Leverage this tailored best practice resource provided by ServiceNow for government agencies to help you identify the right sequence and planning approach, based on the business outcomes you envision from your Now Platform. <b>.gov/.mil audience only</b>
                            </p>
                          </div>
                          <div class="arrow-content">
                            <img src="{{site.baseurl}}/assets/images/arrows/right-arrow.svg">
                            <p class="tab-p">
                            <a target="_blank" rel="noreferrer noopener"  href="https://login.max.gov/cas/login?service=https%3A%2F%2Fcommunity.max.gov%2Flogin.action%3Fos_destination%3D%252Fdownload%252Fattachments%252F2314102898%252FMicrosoft%252520-%252520G5%252520Transition%252520Guide.pdf%253Fapi%253Dv2">Microsoft G5 Transition Guide for Agencies</a>
                            - This guide assessed the risks associated with Microsoft G5 migrations. It was developed to provide agencies with effective acquisition strategies, identify major milestones for contract renewals, and help agencies identify and prioritize relevant factors when considering an upgrade to G5. <b>.gov/.mil audience only</b>
                            </p>
                          </div>
                          <div class="arrow-content">
                            <img src="{{site.baseurl}}/assets/images/arrows/right-arrow.svg">
                            <p class="tab-p">
                              <a target="_blank" rel="noreferrer noopener"  href="{{site.baseurl}}/resources/">Doing Business with OEMs: How OEMs Operate (Search for How OEMs Operate)</a>
                              - This training resource provides an 8-part information series on OEM operating practices to educate agency IT buyers and help them achieve a stronger negotiating position.
                            </p>
                          </div>
                          <div class="arrow-content">
                            <img src="{{site.baseurl}}/assets/images/arrows/right-arrow.svg">
                            <p class="tab-p">
                              <a target="_blank" rel="noreferrer noopener"  href="https://login.max.gov/cas/login?service=https%3A%2F%2Fcommunity.max.gov%2Flogin.action%3Fos_destination%3D%252Fdownload%252Fattachments%252F2314102898%252FOracle%252520-%252520Vendor%252520Assessment%252520Playbook.pdf%253Fapi%253Dv2">Oracle Federal Vendor Assessment Playbook</a>
                              - This training resource provides an 8-part information series on OEM operating practices to educate agency IT buyers and help them achieve a stronger negotiating position challenges. <b>.gov/.mil audience only</b>
                            </p>
                          </div>
                      </div>
                      <p class="tab-p">
                        <b>For additional resources on OEMs, visit <a target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/services/oem">ITVMO.gsa.gov/services/OEM.</a></b>
                        </p>
                        <p class="tab-p">
                        The ITVMO offers subject matter expertise and guidance via targeted, agency-specific software contract reviews to better prepare agencies for their next renewal. Email us at <a href="mailto:itvmo@gsa.gov">ITVMO@gsa.gov</a> to utilize this service today!
                        </p>

                   </div>
                </div>
                <h3 class="usa-accordion__heading">
                   <button id="ibicv" class="accordion" aria-expanded="false" aria-controls="b-a2" onclick="displayTabContent(this)">
                   <span>
                    IT Best-in-Class Vehicles
                   </span>
                   <img class="tab-arrow" src="{{site.baseurl}}/assets/images/icons/arrow-down.svg">
                   </button>
                </h3>
                <div id="b-a2" class="accordion-content ">
                   <div>
                       <div class="links-list margin-0">
                        <div class="links-list-heading">
                            <h4 class="margin-0 margin-top-2">
                            Aligns with AM Leadership Panel Discussion – Overview and Updates on BIC Vehicles     
                             </h4>
                         </div>
                         <p class="tab-p">
                            As part of the larger Federal Category Management Framework, the ITVMO works in tandem with the IT Category to drive down federal IT costs. The Best-in-Class (BIC) vehicle solutions leverage federated best practices to ensure agency IT buyers are acquiring common IT goods and services equitably, efficiently, and securely. IT BIC solutions are evaluated annually to sustain BIC designation and validate compliance to governing policies like small business utilization, cybersecurity, and sustainability.
                        </p>
                       </div>
                       <div class="arrow-content-list">
                        <div class="arrow-content">
                            <img src="{{site.baseurl}}/assets/images/arrows/right-arrow.svg">
                            <p class="tab-p">
                              <a target="_blank" rel="noreferrer noopener"  href="https://itvmo.gsa.gov/best-in-class/">IT Best-in-Class Vehicle Solutions</a>
                              - This page provides a summary of all 13 IT BIC Solutions with quick links to their vehicle pages, highlighting their capabilities and services.
                            </p>
                          </div>
                          <div class="arrow-content">
                            <img src="{{site.baseurl}}/assets/images/arrows/right-arrow.svg">
                            <p class="tab-p">
                            <a target="_blank" rel="noreferrer noopener"  href="https://www.acquisitiongateway.gov/solutions">Solutions Finder</a>
                            - This tool provides a search engine for filtering and comparing offerings across the government. The site includes more linked resources on BICs, BPAs, and other contract types.
                            </p>
                          </div>
                          <div class="arrow-content">
                            <img src="{{site.baseurl}}/assets/images/arrows/right-arrow.svg">
                            <p class="tab-p">
                            <a target="_blank" rel="noreferrer noopener"  href="https://itvmo.gsa.gov/assets/files/tlr/what-products-bic-solutions.pdf">Data How To: What products ands solutions are available by IT BIC Solution</a>
                            - Acquisition Analytics show the BIC transaction line level detail. In this view the user can get product and pricing information. This guide shows that you may need to multi select in order to get the appropriate results. There is no restriction or control on the way data gets entered so a company name can be abbreviated, include spaces or not and all permutations would have to be selected.
                            </p>
                          </div>
                          <div class="arrow-content">
                          <img src="{{site.baseurl}}/assets/images/arrows/right-arrow.svg">
                            <p class="tab-p">
                              <a target="_blank" rel="noreferrer noopener"  href="https://itvmo.gsa.gov/assets/files/tlr/What-are-the-obligations-by-BIC-and-which-agencies-use-them-508.pdf">Data How To: What are the obligations by BIC and which agencies use them? </a>
                              - This guide is intended to walk the user through using the operational workbench to find obligations by BIC.
                            </p>
                          </div>
                          <div class="arrow-content">
                            <img src="{{site.baseurl}}/assets/images/arrows/right-arrow.svg">
                            <div>
                              <p class="tab-p">
                                <a target="_blank" rel="noreferrer noopener"  href="https://itvmo.gsa.gov/assets/files/workstation-End-User-device-environment-and-trends.pdf">Governmentwide Strategic Solutions (GSS) for Desktops and Laptops</a>
                                - This white-paper informs how the Federal Acquisition Programs join forces to produce annual standards for procuring end user solutions for desktops and laptops.
                                <br><b>Check out each program’s GSS Program for more:</b>
                              </p>
                              <ul class="description-list">
                                <li><a target="_blank" rel="noreferrer noopener" href="https://www.gsaadvantage.gov/advdata/gss/GSS-Desktop-Laptop-Guide.pdf">GSA GSS Program</a></li>
                                <li><a target="_blank" rel="noreferrer noopener" href="https://www.sewp.nasa.gov/strategic_solutions.shtml">NASA GSS Program</a></li>
                                <li><a target="_blank" rel="noreferrer noopener" href="https://nitaac.nih.gov/services/government-wide-strategic-solutions">NIH GSS Program</a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="arrow-content">
                          <img src="#">
                            <p class="tab-p">
                              <a target="_blank" rel="noreferrer noopener"  href="https://www.acquisitiongateway.gov/Category-management/resources/4163">Understanding Category Management and the BIC Designation Process</a>
                              - This page outlines the governmentwide approach to designating and sustaining vehicle designation status as a BIC solution. Additionally, it conveys the use of this approach to improve spend under management or SUM.
                            </p>
                          </div>
                      </div>
                      <p class="tab-p">
                        <b>For additional resources on IT Best-in-Class Solutions, <a target="_blank" rel="noreferrer noopener"  href="https://itvmo.gsa.gov/resources/#subject=.vehicle-solutions&role=*">Click Here</a> and filter on “vehicle solutions”</b>
                      </p>
                      <p class="tab-p">
                        Check out <a target="_blank" rel="noreferrer noopener"  href="https://www.acquisitiongateway.gov/">Acquisition Gateway</a> for general information.
                      </p>
                    </div>
                </div>
                <h3 class="usa-accordion__heading">
                   <button id="" class="accordion" aria-expanded="false" aria-controls="b-a3" onclick="displayTabContent(this)">
                   <span>
                   Small Business
                   </span>
                   <img class="tab-arrow" src="{{site.baseurl}}/assets/images/icons/arrow-down.svg">
                   </button>
                </h3>
                <div id="b-a3" class="accordion-content">
                   <div>
                       <div class="links-list margin-0">
                        <div class="links-list-heading">
                            <h4 class="margin-0 margin-top-2">
                              Aligns with PM Session-2: Small Business Panel Discussion with the Minority Business Development Agency (MBDA)
                             </h4>
                         </div>
                         <p class="tab-p">
                            Market equity is extremely important to mitigating risks and advancing government excellence in IT acquisitions. Small business participation is critical for strengthening our IT supply chain by mitigating vendor concentration risks and helping to promote innovation by introducing leading edge and emerging technologies. The ITVMO partners with vehicle solutions and small businesses to increase their access to the market and informs agencies of strategies for utilizing small businesses to support their respective mission needs.
                        </p>
                       </div>
                       <div class="arrow-content-list">
                        <div class="arrow-content">
                        <img src="{{site.baseurl}}/assets/images/arrows/right-arrow.svg">
                          <p class="tab-p">
                            <a target="_blank" rel="noreferrer noopener"  href="https://www.mbda.gov/">
                              Minority Business Development Agency
                            </a>
                            - This provides a quick link to the MBDA website which provides many great resources, initiatives, events, and data for Minority Business Success in the federal workplace.
                          </p>
                        </div>
                        <div class="arrow-content">
                        <img src="{{site.baseurl}}/assets/images/arrows/right-arrow.svg">
                          <p class="tab-p">
                            <a target="_blank" rel="noreferrer noopener"  href="{{site.baseurl}}/services/acquisition-policy-and-it-category/?tabName=policy-header&sideNav=sn-eo13985">
                              EO Reference Card: Advancing Racial Equity (Equity in Procurement) 
                            </a>
                            - This reference card provides a series of quick links to policies, programs, and tools to help agencies and participants in the federal IT marketplace comply with governing policies related to small business.
                          </p>
                        </div>
                        <div class="arrow-content">
                        <img src="{{site.baseurl}}/assets/images/arrows/right-arrow.svg">
                          <p class="tab-p">
                            <a target="_blank" rel="noreferrer noopener"  href="https://login.max.gov/cas/login?service=https%3A//d2d.gsa.gov/cas%3Fdestination%3Dnode/10389&securityLevel=securePlus2&renew=true">
                              Procurement Equity Tool
                            </a>
                            - Begin using benchmarking to evaluate opportunities for strengthening supplier diversity. This tool helps to identify recently introduced new entrants to the federal marketplace, specifically small businesses and disadvantaged businesses. .gov/.mil audience only
                          </p>
                        </div>
                        <div class="arrow-content">
                        <img src="{{site.baseurl}}/assets/images/arrows/right-arrow.svg">
                          <p class="tab-p">
                            <a target="_blank" rel="noreferrer noopener"  href="https://itvmo.gsa.gov/assets/files/tlr/how-much-agency-bic-contracts.pdf">
                              Data How To: How much does my agency utilize small business via BIC contracts?
                            </a>
                            - The small business dashboard calculates the small business utilization which is a useful metric used over time to show how small business is performing against larger businesses.
                          </p>
                        </div>
                        <div class="arrow-content">
                        <img src="{{site.baseurl}}/assets/images/arrows/right-arrow.svg">
                          <p class="tab-p">
                            <a target="_blank" rel="noreferrer noopener"  href="https://itvmo.gsa.gov/assets/files/tlr/percent-product-services-small-business.pdf">
                              Data How To: Small Business Contribution to Federal IT Market
                            </a>
                              - Acquisition Analytics show the BIC transaction line level detail. In this view the user can get product and pricing information. This guide shows that you may need to multi select in order to get the appropriate results. There is no restriction or control on the way data gets entered so a company name can be abbreviated, include spaces or not and all permutations would have to be selected.
                          </p>
                        </div>
                        <div class="arrow-content">
                        <img src="{{site.baseurl}}/assets/images/arrows/right-arrow.svg">
                          <p class="tab-p">
                            <a target="_blank" rel="noreferrer noopener"  href="https://itvmo.gsa.gov/assets/files/tlr/A-Guide-to-Finding-SDB-Vendors.pdf">
                              Data How To: How can I list Small Disadvantaged Business (SDB) vendors? 
                            </a>
                            - The Category Management Workbench allows a user to filter by business size and by socioeconomic status. This is useful in determining if a particular small business can provide a needed product or service.
                          </p>
                        </div>
                  </div>
                  <p class="tab-p">
                    <b>Looking for more assistance on small business IT market support? Email our Small Business Expert at <a href="mailto:ITVMO.smallbusiness@gsa.gov">ITVMO.smallbusiness@gsa.gov</a></b>
                  </p>
                    </div>
                </div>
                <h3 class="usa-accordion__heading">
                   <button id="" class="accordion" aria-expanded="false" aria-controls="b-a4" onclick="displayTabContent(this)">
                   <span>
                    IT Acquisition Policy Guidance and Best Practices 
                   </span>
                   <img class="tab-arrow" src="{{site.baseurl}}/assets/images/icons/arrow-down.svg">
                   </button>
                </h3>
                <div id="b-a4" class="accordion-content">
                   <div>
                       <div class="links-list margin-0">
                        <div class="links-list-heading">
                            <h4 class="margin-0 margin-top-2">
                              Aligns with Fireside Side Chat: Harnessing the Collective Brain and Buying Power of Government to Optimize IT Buying and Improve Agency Outcomes
                             </h4>
                         </div>
                         <p class="tab-p">
                          The ITVMO builds coalitions and relationships across the federal marketplace and IT industry to be the one-stop-shop for IT acquisition intelligence. Intelligence has been defined as the ability to provide a central repository of data, tools, insights, knowledge, and wisdom. The ITVMO’s inhouse domain experts provide research and content services as well as broker access to their partner’s sites and resources to increase governmentwide use and adoption.
                        </p>
                       </div>
                       <div class="arrow-content-list">
                        <div class="arrow-content">
                          <img src="{{site.baseurl}}/assets/images/arrows/right-arrow.svg">
                            <p class="tab-p">
                              <a target="_blank" rel="noreferrer noopener"  href="https://www.federalregister.gov/documents/2021/05/17/2021-10460/improving-the-nations-cybersecurity">
                                EO Policy Reference Card: Improving Nation’s Cybersecurity
                              </a>
                              - This reference card provides a series of quick links to policies, programs, and tools to help agencies and participants in the federal IT marketplace comply with governing policies related to cybersecurity.
                            </p>
                          </div>
                        <div class="arrow-content">
                          <img src="{{site.baseurl}}/assets/images/arrows/right-arrow.svg">
                            <p class="tab-p">
                              <a target="_blank" rel="noreferrer noopener"  href="https://itvmo.gsa.gov/assets/files/tlr/A-Guide-to-Finding-Security-Related-Obligations.pdf">
                                Data How To: Cybersecurity Budget Planning
                              </a>
                              - This guide is intended to assist agencies in finding security and compliance related obligations while also viewing other agencies contract details for similar products and services.
                            </p>
                          </div>
                          <div class="arrow-content">
                          <img src="{{site.baseurl}}/assets/images/arrows/right-arrow.svg">
                            <p class="tab-p">
                              <a target="_blank" rel="noreferrer noopener"  href="https://community.max.gov/x/yix-gw">
                                Contract Data Elements Guide
                              </a>
                              - This guide was developed to enable consistency and enhance data for agencies as they draft contracts for IT spending.
                            </p>
                          </div>
                          <div class="arrow-content">
                          <img src="{{site.baseurl}}/assets/images/arrows/right-arrow.svg">
                            <p class="tab-p">
                              <a target="_blank" rel="noreferrer noopener"  href="https://itvmo.gsa.gov/assets/files/tlr/What-vendors-provide-cloud-based-services-that-are-FedRamp-certified-508.pdf">
                                Data How To: FedRAMP Cloud Providers
                              </a>
                              - FedRAMP standardizes security requirements for the authorization and ongoing cybersecurity of cloud services in accordance with FISMA , OMB Circular A-130 , and FedRAMP policy. This one pager provides guide finding businesses that have been FedRamp certified.
                            </p>
                          </div>
                          <div class="arrow-content">
                          <img src="{{site.baseurl}}/assets/images/arrows/right-arrow.svg">
                            <p class="tab-p">
                              <a target="_blank" rel="noreferrer noopener"  href="https://itvmo.gsa.gov/assets/files/tlr/What-have-other-agencies-paid-for-a-similar-product-or-service-508.pdf">
                                Data How To: Agency Spend on Common IT Products
                              </a>
                              - This guide is intended for an agency preparing to make a purchase and wanting a comparison of what other organizations within the government paid for similar services or products.
                            </p>
                          </div>
                          <div class="arrow-content">
                          <img src="{{site.baseurl}}/assets/images/arrows/right-arrow.svg">
                            <p class="tab-p">
                              <a target="_blank" rel="noreferrer noopener"  href="{{site.baseurl}}/news/annual-leading-edge-technologies-report/">
                                Leading Edge Technologies Report
                              </a>
                              - These reports explore annually the emerging technologies and innovative solutions that are disrupting IT acquisitions in the federal marketplace.
                            </p>
                          </div>
                      </div>
                      <p class="tab-p">
                        <b>Looking for more assistance on small business IT market support? Email our Small Business Expert at <a href="mailto:ITVMO.smallbusiness@gsa.gov">ITVMO.smallbusiness@gsa.gov</a></b>
                      </p>
                    </div>
                </div>
                <h3 class="usa-accordion__heading">
                   <button id="" class="accordion" aria-expanded="false" aria-controls="b-a5" onclick="displayTabContent(this)">
                   <span>
                    IT Buyers Community of Practice
                   </span>
                   <img class="tab-arrow" src="{{site.baseurl}}/assets/images/icons/arrow-down.svg">
                   </button>
                </h3>
                <div id="b-a5" class="accordion-content">
                   <div>
                       <div class="links-list margin-0">
                        <div class="links-list-heading">
                            <h4 class="margin-0 margin-top-2">
                              Aligns with Networking Sessions
                             </h4>
                         </div>
                         <p class="tab-p">
                          To help extend the ITVMO’s capability and ensure that the organization’s solutions and services are respective of the full, broad Federal IT Marketplace, the IT Buyers Community of Practice was established under the Chief Information Officer’s Council. <b>The IT Buyers Community of Practice unifies agency IT buyers and partners with industry and federal organizations to promote the consistent, repeatable use of IT acquisition best practices</b>. See how to join us today below.
                        </p>
                       </div>
                       <div class="arrow-content-list">
                        <div class="arrow-content">
                          <img src="{{site.baseurl}}/assets/images/arrows/right-arrow.svg">
                            <div>
                              <p class="tab-p">
                                <a target="_blank" rel="noreferrer noopener"  href="https://itvmo.gsa.gov/events/">
                                  Events Calendar
                                </a>
                                - <b>Get Engaged:</b> DId you enjoy events like the summit? Follow our Events Page or join our listservs (to the right) to join our next event. We are always in the process of working with Small Businesses, OEMs, and private-public partnerships to organize acquisition training webinars, office hours, and working groups. Many of our events are accredited by FAI.gov with options for CLPs.
                                <br>
                                <b>Can’t wait -- join one of our current working groups:</b>
                              </p>
                              <ul class="description-list">
                                <li><a target="_blank" rel="noreferrer noopener" href="https://www.gsaadvantage.gov/advdata/gss/GSS-Desktop-Laptop-Guide.pdf">Emerging Technology</a></li>
                                <li>FinOps-<a href="mailto:itvmo@gsa.gov">Email us</a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="arrow-content">
                          <img src="{{site.baseurl}}/assets/images/arrows/right-arrow.svg">
                            <p class="tab-p">
                              <a target="_blank" rel="noreferrer noopener"  href="https://public.govdelivery.com/accounts/USGSA/subscriber/new?topic_id=USGSA_1229">
                                IT Buyers Listserv
                              </a>
                              - <b>Stay Informed:</b> Interested in the latest updates related to federal IT acquisitions? Learn about upcoming events, training opportunities, updates, and connect with fellow IT acquisitions professionals by joining the ITB CoP Listserv.
                              <br>
                              For industry partners and to join the ITVMO’s general listserv to include our quarterly Newsletter <a target="_blank" rel="noreferrer noopener" href="https://public.govdelivery.com/accounts/USGSA/subscriber/new?topic_id=USGSA_911">Subscribe Here</a>.
                            </p>
                          </div>
                          <div class="arrow-content">
                          <img src="{{site.baseurl}}/assets/images/arrows/right-arrow.svg">
                            <p class="tab-p padding-bottom-4">
                              <a target="_blank" rel="noreferrer noopener"  href="{{site.baseurl}}/contact-us-contribute/?tabName=contribute-header">
                                Contribute Today
                              </a>
                              - <b>Share Insights:</b> We invite you to share your expertise, perspectives, and resources. We are seeking insights, intelligence, and information to normalize the procurement of emerging technologies, boost market equity through small business utilization, enhance zero trust cybersecurity knowledge, and build a more robust software supply chain. Share and connect with us today.
                            </p>
                          </div>
                      </div>
                    </div>
                </div>
                
             </div>
            <h3 id="speakers" class="sub-topic-heading-blue">
               Speakers
            </h3>
            <div id="team-container">
              <div class="team-member-div">
                <img class="profile-pic" src="{{site.baseurl}}/assets/images/person/annual-summit/clare-martorana.jpeg" alt="Clare Martorana image">
                <h3 class="profile-name">
                  Clare Martorana
                </h3>
                <p class="profile-title">
                  Federal Chief Information Officer
                </p>
              </div>
              <div class="team-member-div">
                <img class="profile-pic" src="{{site.baseurl}}/assets/images/person/annual-summit/sonny-hashmi.jpeg" alt="Sonny Hashmi image">
                <h3 class="profile-name">
                  Sonny Hashmi
                </h3>
                <p class="profile-title">
                  Commissioner, GSA - Federal Acquisition Service
                </p>
              </div>
              <div class="team-member-div">
                <img class="profile-pic" src="{{site.baseurl}}/assets/images/person/annual-summit/lesly-field.jpeg" alt="Lesley Field image">
                <h3 class="profile-name">
                  Lesley Field
                </h3>
                <p class="profile-title">
                  Deputy Administrator, OMB Office of Federal Procurement Policy
                </p>
              </div>
              <div class="team-member-div">
                <img class="profile-pic" src="{{site.baseurl}}/assets/images/person/annual-summit/jeff-koses.jpeg" alt="Jeff Koses image">
                <h3 class="profile-name">
                  Jeff Koses
                </h3>
                <p class="profile-title">
                  Procurement Executive, GSA
                </p>
              </div>
              <div class="team-member-div">
                <img class="profile-pic" src="{{site.baseurl}}/assets/images/person/annual-summit/laura-stanton.jpeg" alt="Laura Stanton image">
                <h3 class="profile-name">
                  Laura Stanton
                </h3>
                <p class="profile-title">
                  Assistant Commissioner, Office of ITC, GSA
                </p>
              </div>


            </div>
            <div class="tab-divide-line end-content"></div>


            <h3 id="agenda" class="sub-topic-heading-blue">
               Agenda
            </h3>
            <div class="center-table">
                <table class="styled-table">
                  <thead>
                    <tr>
                      <th class="top-th" colspan="1">Time</th>
                      <th colspan="1">Topics</th>
                    </tr>
                  </thead>
                  <tr>
                    <th>
                      <ul>
                        <li>9:30 – 9:55 am</li>
                      </ul>
                    </th>
                    <td>
                      <ul>
                        <li><span>Registration and Networking</span></li>
                        <li>ACT-IAC Support Team</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <ul>
                        <li>9:55 – 10:00 am</li>
                      </ul>
                    </th>
                    <td>
                      <ul>
                        <li>Deloitte Representative - Welcome to the Deloitte Center</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <ul>
                        <li>10:00 – 10:05 am</li>
                      </ul>
                    </th>
                    <td>
                      <ul>
                        <li>Welcome</li>
                        <li class="speaker">Kyra Stewart, Program Manager Governmentwide ITVMO</li>
                        <li class="details">Share summit objectives. Provide a quick overview of the day’s sessions and provide relevant logistics.</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <ul>
                        <li>10:05 – 10:15 am</li>
                      </ul>
                    </th>
                    <td>
                      <ul>
                        <li>Summit Opening</li>
                        <li class="speaker">Laura Stanton, IT Governmentwide Category Manager</li>
                        <li class="details">Share priorities and messaging on Category Management Provide a brief background of the ITVMO, highlight program offerings and available resources.</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <ul>
                        <li>10:15 – 10:30 am</li>
                      </ul>
                    </th>
                    <td>
                      <ul>
                        <li>Keynote Address</li>
                        <li class="speaker">Clare Martorana, Federal Chief Information Officer, OMB</li>
                        <li class="details">Keynote address will set the tone of the conference and establish the theme.</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <ul>
                        <li>10:30 – 11:30 am</li>
                      </ul>
                    </th>
                    <td>
                      <ul>
                        <li>Fireside Chat – Harnessing the Collective Brain and Buying Power of Government to Optimize IT Buying and Improve Agency Outcomes</li>
                        <li class="speaker">Lesley Field, OMB-OFPP Deputy Administrator (Moderator)</li>
                        <li class="speaker">Panelists: Sonny Hashmi, GSA FAS Commissioner;  Jeff Koses, GSA Senior Procurement Executive; Gary Washington, USDA CIO</li>
                        <li class="details"><br>With an annual spend of $70B in IT, the government has a challenging job of addressing evolving and diverse agency needs.  It is more important than ever that agencies we work together to harness the collective brain and buying power of the government to procure our key OEM staples that will sustain operations and the emerging technologies, such as artificial intelligence (AI) and natural language processing (NLP), that can innovate constituent engagement and outcomes. See how government leaders are actively embracing the opportunities technology presents for the future of agency operations while innovating tried and true IT resources to produce optimal outcomes.</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <ul>
                        <li>11:30 – 12:30 pm</li>
                      </ul>
                    </th>
                    <td>
                      <ul>
                        <li>Best-in-Class Leadership Panel Discussion – Overview and Updates on BIC Vehicles</li>
                        <li class="speaker">Warren Blankenship (Moderator)</li>
                        <li class="speaker">Panelists: Cheryl Thornton-Cameron, GSA ITC;  George Nicol, NASA SEWP Deputy Program Director; Glynis Fisher, NIH NITAAC; Stacy Watson, Army CHESS</li>
                        <li class="details"><br>Best-in-class (BIC) is a government-wide designation for acquisition solutions that can be used by multiple agencies and that satisfy key priority criteria defined by the Office of Management and Budget (OMB). These vehicles reduce contract duplication, increase transparency and standardization, and leverage the government’s shared buying power to reduce administrative costs. Promote the utilization of the IT BIC vehicles and governmentwide IT acquisition best practices to advance category management, boost market equity with small businesses and promote program priorities and opportunities. IT BIC leaders share program priorities, upcoming opportunities, and information on how the IT BICs can provide important agency IT solutions.</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <ul>
                        <li>12:30 – 1:30 pm</li>
                      </ul>
                    </th>
                    <td>
                      <ul>
                        <li>Networking Session / <span>Refreshments Break</span></li>
                        <li class="speaker">
                          Small Business Tables -  Jerome Green, EPA; Calvin Mitchell, Ed; Exodie C. Roe III, Associate Administrator, GSA OSDBU; Bianca Roberson & Lauren Smith, DOT
                        </li>
                        <li class="details">
                        <br>
                          Emerging technology and innovation are needed by the government from both large and small businesses. In fact, many small businesses harvest the emerging technology and innovation that are key to supporting important federal government transformation. Small businesses, both seasoned firms and those new to government contracting, need to determine which agency is best aligned with its capabilities and if its skill sets meet the requirements set forth by agency contracting offices. The networking session will feature representatives from several agency OSDBUs, where they can discuss specific agency forecasts and upcoming opportunities. Additionally, companies can share their corporate capabilities.
                        </li>
                        <br>
                        <li class="speaker">
                          IT BICs - Hassan Harris, GSA ITC; George Nicol, NASA SEWP; Glynis Fisher, NIH NIAAC; Keith Copeland, Danisesha Moore, Courtney Oszla, Army CHESS
                        </li>
                        <br>
                        <li class="details">
                          As part of the larger Federal Category Management Framework, the ITVMO works in tandem with the IT Category to drive down federal IT costs. The Best-in-Class (BIC) vehicle solutions leverage federated best practices to ensure agency IT buyers are acquiring common IT goods and services equitably, efficiently, and securely.  The networking session will include representatives from the key IT BIC programs. Summit participants can inquire about opportunities to use or support the vehicles.
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <ul>
                        <li>1:30 – 2:30 pm</li>
                      </ul>
                    </th>
                    <td>
                      <ul>
                        <li>Session 1: Working with Original Equipment Manufacturers</li>
                        <li class="speaker">
                          John Radziszewski (Moderator); Panelists: Steve Faehl, Microsoft Federal Security CTO; Mr. Dominic Delmolino, AWS Vice President, Technology & Innovation; Jonathan Alboum, ServiceNow Federal CTO
                        </li>
                        <li class="details">
                        <br>
                          Join the Original Equipment Manufacturer (OEM) Panel during the ITVMO FY23 Annual Summit to hear perspectives from leading OEMs on topics currently sweeping through both the commercial and federal landscape.  Leaders from AWS, Microsoft, and ServiceNow will be on hand to offer federal-specific information and guidance on how to navigate the modern IT landscape.  Topics include cloud computing and consumption management, Artificial Intelligence,  understanding financial and budgetary impacts, how actions now will likely impact the future of IT at your agency and tips and tricks for planning for the future.
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <ul>
                        <li>2:30 – 3:30 pm</li>
                      </ul>
                    </th>
                    <td>
                      <ul>
                        <li>Session 2: Small Business Panel Discussion – Minority Business Development Agency (MBDA)</li>
                        <li class="speaker">
                          Angela Washington (Moderator)
                        </li>
                        <li class="speaker">
                          Panelists: Warren Blankenship, IT Category Program Manager; Keith Moore, Operator of the MBDA Federal Procurement Center; Tommy Marks, Executive Director of the MBDA Virginia Business Center; Calvin Mitchell, OSDBU Direction, Dept of Ed; Exodie C. Roe III, Associate Administrator, GSA OSDBU
                        </li>
                        <br>
                        <li class="details">
                          In November 2021, President Biden signed into law the Minority Business Development Act of 2021. The Act mandates the Minority Business Development Agency’s (MBDA) elevation into a pivotal government leader and prioritizes the success of America’s minority business enterprises (MBEs) like never before. The Act expands the reach and scope of the organization by establishing Senate-confirmed leadership, a robust grants program, an advisory council, and establishing the MBDA as the United States’ newest permanent federal agency. As a part of the IT Government-wide Category's small business utilization key performance indicator, you will learn more about how the expansion will address systemic barriers for minority communities and MBEs to access federal programs, grants, contracts, and technical assistance to seek opportunities in the IT arena.
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <ul>
                        <li>3:30 pm</li>
                      </ul>
                    </th>
                    <td>
                      <ul>
                        <li>Closing Remarks</li>
                        <li class="speaker">
                          Kyra Stewart, Program Manager Governmentwide ITVMO; Warren Blankenship, Deputy IT Category Manager
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <ul>
                        <li>3:30 – 4:00 pm</li>
                      </ul>
                    </th>
                    <td>
                      <ul>
                        <li><span>Optional Networking Session</span></li>
                        <li class="speaker">
                        
                        </li>
                        <li class="details">
                        
                        </li>
                      </ul>
                    </td>
                  </tr>
                </table>
            </div>
            <h3 id="panelists" class="sub-topic-heading-blue">
               Panelists
            </h3>
            <div class="bulletSections">
              <div class="topLine"></div>
              <ul class="experiences">
                 <li class="bulletText"><b>Angela Washington</b>, MBDA Senior Advisor for Access to Contracts</li>
                 <li class="bulletText"><b>Calvin Mitchell</b>, Director Office of Small and Disadvantaged Business Utilization, U.S. Department of Education</li>
                 <li class="bulletText"><b>Cheryl Thornton-Cameron</b>, Executive Director, SES Office of Acquisition Operations Information Technology Category Federal Acquisition Service, General Services Administration</li>
                 <li class="bulletText"><b>George Nicol</b>, Deputy Program Director, NASA SEWP</li>
                 <li class="bulletText"><b>Glynis Fisher</b>, Deputy Director, National Institute of Health, Information Technology Acquisition and Assessment Center</li>
                 <li class="bulletText"><b>Stacy Watson</b>, Enterprise Solutions Division Director at PEO EIS-Army Computer Hardware, Enterprise Software and Solutions (CHESS)</li>
                 <li class="bulletText"><b>Exodie C. Roe III</b>, Associate Administrator, GSA OSDBU</li>
                 <li class="bulletText"><b>Denise Sirmons</b>, Director, U.S Environmental Protection Agency</li>
                 <li class="bulletText"><b>Calvin Mitchell</b>, Director Office of Small and Disadvantaged Business Utilization, U.S. Department of Education</li>
                 <li class="bulletText"><b>John Radziszewski</b>, Director, Federal Government IT Vendor Management Office, General Services Administration</li>
                 <li class="bulletText"><b>Angel Washington</b>, Project Assistant, U.S. Health and Human Services</li>
                 <li class="bulletText"><b>Kyra Stewart</b>, Program Manager, Govwide IT Vendor Management Office, General Services Administration</li>
              </ul>
           </div> 
           <div class="tab-divide-line"></div>
           <p>
            <strong>Don’t see what you’re looking for?</strong><br />
            If your question is not addressed in the above sections, please email us at:
            <a href="mailto:itvmo@gsa.gov?subject=2023 Annual Summit">itvmo@gsa.gov</a> and we will get back to you with an answer..
          </p>
      </div>
       <div class="content-nav">
          <div class="nav-list">
             <h3>On this Tab</h3>
             <a id="sn-itvmo-overview" class="page-nav page-nav-active" href="#itvmo-overview" onclick="return removeTabContent(this)">ITVMO Annual Summit Overview</a>
             <a id="sn-star" class="page-nav" href="#star" onclick="return removeTabContent(this)">Session Tools & Resources</a>
             <a id="sn-speakers" class="page-nav" href="#speakers" onclick="return removeTabContent(this)">Speakers</a>
             <a id="sn-agenda" class="page-nav" href="#agenda" onclick="return removeTabContent(this)">Agenda</a>
             <a id="sn-panelists" class="page-nav" href="#panelists" onclick="return removeTabContent(this)">Panelists</a>
          </div>
       </div>
    </div>
  </section>