<section id="inner-page-tabs">
    <div class="tabcontent" style="display: flex;">
       <div class="contents-no-side-nav"> 
         <div>
            <ul class="usa-card-group">
              <li id="ibcop" class="usa-card usa-card--flag service-card">
                <div class="usa-card__container">
                  <div class="usa-card__media serviceCard">
                     <div class="leftPort leftPort-flex-start">
                        <a target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/services/it-buyers-training-and-support/?tabName=it-buyers-cop-header">
                          <h2 class="usa-card__heading">IT Buyers Community of Practice</h2>
                          <img class="imgContSVG padding-left-4 padding-right-4 padding-top-2"
                          src="{{site.baseurl}}/assets/images/logos/ITVMO_large.svg"
                          alt="ITVMO logo"
                        />
                        </a>
                      </div>
                  </div>
                  <div class="usa-card__body">
                    <div class="resCardSec"> 
                        <div>
                           <img class="imgContSVG padding-2"
                           src="{{site.baseurl}}/assets/images/logos/ITVMO_large.svg"
                           alt="ITVMO logo"
                        />
                        </div>
                        <a target="_blank" rel="noreferrer noopener" class="resHeading" href="{{site.baseurl}}/services/it-buyers-training-and-support/?tabName=it-buyers-cop-header">
                           <h2 class="usa-card__heading">IT Buyers Community of Practice</h2>
                        </a>
                    </div>
                    <h3 class="cardHeading resTitle">Active Initiatives/Community Teams</h3>
                    <div class="cardBody">
                      <div class="links-list">
                        <ul class="links-with-descriptions">
                          <li class="link-with-description">
                              <a target="_blank" rel="noreferrer noopener" href="https://login.max.gov/cas/login?service=https%3A%2F%2Fcommunity.max.gov%2Flogin.action%3Fos_destination%3D%252Fpages%252Fviewpage.action%253FspaceKey%253DAcquisitionExternal%2526title%253DWorkstation%252BCategory%252BTeam" tabindex="0">
                                <p class="link-heading">
                                  Core-Workstation Category Team
                                    <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                                </p>
                                <p class="link-description">
                                  Maintains a framework and strategy to reduce costs and increase value through the application of strategic sourcing principles for desktops and laptops that meet the requirements of the Federal Government for the bulk of systems purchased and also incorporated best practices in spend management.
                                </p>
                              </a>
                          </li>
                          <li class="link-with-description">
                              <a target="_blank" rel="noreferrer noopener" href="https://login.max.gov/cas/login?service=https%3A%2F%2Fcommunity.max.gov%2Flogin.action%3Fos_destination%3D%252Fpages%252Fviewpage.action%253FpageId%253D2295075950" tabindex="0">
                                <p class="link-heading">
                                  Cyber Category Team
                                    <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                                </p>
                                <p class="link-description">
                                  Assessing cyber offerings to advise agencies on their acquisition strategies and help guide compliance to the governing policies. 
                                </p>
                              </a>
                          </li>
                          <li class="link-with-description">
                              <a target="_blank" rel="noreferrer noopener" href="https://login.max.gov/cas/login?service=https%3A%2F%2Fcommunity.max.gov%2Flogin.action%3Fos_destination%3D%252Fpages%252Fviewpage.action%253FspaceKey%253DManagement%2526title%253DAgency%252BInventory%252Bof%252BEmerging%252BTechnology%252BProjects%252Bin%252BAcquisition" tabindex="0">
                                <p class="link-heading">
                                  Emerging Tech Working Group 
                                    <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                                </p>
                                <p class="link-description">
                                  Identifies governmentwide and agency specific standards for using emerging technologies like artificial intelligence (AI) and natural language processing (NLP) to revolutionize the federal procurement process.
                                </p>
                              </a>
                          </li>
                          <li class="link-with-description">
                            <div class="div-a">
                              <a target="_blank" rel="noreferrer noopener" href="https://login.max.gov/cas/login?service=https%3A%2F%2Fcommunity.max.gov%2Flogin.action%3Fos_destination%3D%252Fpages%252Fviewpage.action%253FspaceKey%253DEgov%2526title%253DFinOps%252BPilot%252BHomepage" class="link-heading" tabindex="0">
                               FinOps Working Group
                                 <img class="external-icon" alt="External icon" src="/assets/images/icons/external-small.svg">
                              </a>
                              <p class="link-description">
                                Brings together constituents from the government to collect best practices and use cases and prepare recommendations for enhancing public sector cloud acquisition efficiency. Read about our <a target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/assets/files/FinOps-Case-Study-Army-Camo.pdf" tabindex="0">successful work with the U.S. Army</a> that saved millions. 
                              </p>
                            </div>
                        </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li id="ccop" class="usa-card usa-card--flag service-card">
                <div class="usa-card__container">
                  <div class="usa-card__media serviceCard">
                     <div class="leftPort leftPort-flex-start">
                        <a target="_blank" rel="noreferrer noopener" href="https://www.cio.gov/about/members-and-leadership/#council-committees">
                          <h2 class="usa-card__heading">CIO.gov Community of Practice <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg"></h2>
                          <img class="imgCont"
                          src="{{site.baseurl}}/assets/images/logos/chief-information-security-officer-concil.png"
                          alt="CIO logo"
                        />
                        </a>
                      </div>
                  </div>
                  <div class="usa-card__body">
                    <div class="resCardSec"> 
                        <div>
                           <img class="imgCont"
                           src="{{site.baseurl}}/assets/images/logos/chief-information-security-officer-concil.png"
                           alt="CIO logo"
                        />
                        </div>
                        <a target="_blank" rel="noreferrer noopener" class="resHeading" href="https://www.cio.gov/about/members-and-leadership/#council-committees">
                           <h2 class="usa-card__heading">CIO.gov Community of Practice</h2>
                        </a>
                    </div>
                    <h3 class="cardHeading resTitle">Active Initiatives/Community Teams</h3>
                    <div class="cardBody">
                      <div class="links-list">
                        <ul class="links-with-descriptions">
                          <li class="link-with-description">
                            <a target="_blank" rel="noreferrer noopener" href="https://www.cio.gov/about/members-and-leadership/ciso-council/" tabindex="0">
                              <p class="link-heading">
                                Chief Information Security Officer Council
                                  <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                              </p>
                              <p class="link-description">
                                Primary body for Federal interagency CISO collaboration and communication, working to continuously improve the security posture of the United States
                              </p>
                            </a>
                        </li>
                          <li class="link-with-description">
                              <a target="_blank" rel="noreferrer noopener" href="https://www.cio.gov/about/members-and-leadership/innovation-committee/" tabindex="0">
                                <p class="link-heading">
                                  Innovation Committee
                                    <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                                </p>
                                <p class="link-description">
                                  Responsible for identifying and analyzing emerging technology. Works to help agencies to speed the adoption of new practices, processes and technologies.
                                </p>
                              </a>
                          </li>
                          <li class="link-with-description">
                              <a target="_blank" rel="noreferrer noopener" href="https://www.cio.gov/about/members-and-leadership/e-ops/" tabindex="0">
                                <p class="link-heading">
                                  Enterprise Operations Committee
                                    <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                                </p>
                                <p class="link-description">
                                  Focuses on acquisition reform and Federal IT infrastructure developing strategies, policy advice in the areas of Federal Information Technology Acquisition Reform Act (FITARA), Technology Business Management (TBM), Data Center Optimization Initiative (DCOI), Capital Planning and Investment Control (CPIC), Information Resource Management (IRM), Enterprise Architecture (EA), Shared Services
                                </p>
                              </a>
                          </li>
                          <li class="link-with-description">
                              <a target="_blank" rel="noreferrer noopener" href="https://www.cio.gov/about/members-and-leadership/workforce-committee/" tabindex="0">
                                <p class="link-heading">
                                  Workforce Committee
                                    <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                                </p>
                                <p class="link-description">
                                  Focuses on the entire employee lifecycle. Working with this HR community on developing, implementing, and communicating strategies to recruit, retain, and manage a fully trained and qualified IT workforce for the current and future workplace.
                                </p>
                              </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <h3 class="cardHeading resTitle">Communities of Practice (CoP)</h3>
                    <div class="cardBody">
                      <div class="links-list">
                        <ul class="links-with-descriptions">
                          <li class="link-with-description">
                              <a target="_blank" rel="noreferrer noopener" href="https://www.cio.gov/about/members-and-leadership/accessibility-cop/" tabindex="0">
                                <p class="link-heading">
                                  Accessibility Community of Practice
                                    <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                                </p>
                                <p class="link-description">
                                  Acts as the principal interagency forum to support accessibility of information technology (IT) products and services in the Federal government. Works to develop accessibility standards for IT development and procurement.
                                </p>
                              </a>
                          </li>
                          <li class="link-with-description">
                              <a target="_blank" rel="noreferrer noopener" href="https://www.cio.gov/about/members-and-leadership/cloud-infrastructure-cop/" tabindex="0">
                                <p class="link-heading">
                                  Cloud and Infrastructure Community of Practice
                                    <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                                </p>
                                <p class="link-description">
                                  Facilitates information sharing among federal agencies on topics ranging from application rationalization, data center optimization, and federal cloud computing, helping agencies to speed up speed cloud migration and data center consolidation
                                </p>
                              </a>
                          </li>
                          <li class="link-with-description">
                              <a target="_blank" rel="noreferrer noopener" href="https://www.cio.gov/about/members-and-leadership/Federal-Mobility-Group/" tabindex="0">
                                <p class="link-heading">
                                  Federal Mobility Group
                                    <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                                </p>
                                <p class="link-description">
                                  Works across the federal government to identify common mobility challenges, develop workable solutions, and create opportunities to share best practices.
                                </p>
                              </a>
                          </li>
                          <li class="link-with-description">
                              <a target="_blank" rel="noreferrer noopener" href="https://www.cio.gov/about/members-and-leadership/ftim-cop/" tabindex="0">
                                <p class="link-heading">
                                  Federal Technology Investment Management Community of Practice
                                    <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                                </p>
                                <p class="link-description">
                                  Works to mature the integration of Technology Business Management (TBM), IT Capital Planning, and IT Investment Control (CPIC) and portfolio management practices in the federal government through the sharing of best practices and lessons learned.
                                </p>
                              </a>
                          </li>
                          <li class="link-with-description">
                              <a target="_blank" rel="noreferrer noopener" href="https://www.cio.gov/about/members-and-leadership/SMACC/" tabindex="0">
                                <p class="link-heading">
                                  Small and Micro Agency CIO and CISO Council
                                    <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                                </p>
                                <p class="link-description">
                                  Focuses on the needs and unique issues facing small agency Chief Information Officers (CIOs) and Chief Information Security Officers (CISOs), promotes information sharing and acts to ensure small agencies insight and input is considered by OMB when developing policy and guidance.
                                </p>
                              </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li id="dcop" class="usa-card usa-card--flag service-card">
                <div class="usa-card__container">
                  <div class="usa-card__media serviceCard">
                     <div class="leftPort leftPort-flex-start">
                        <a target="_blank" rel="noreferrer noopener" href="https://digital.gov/communities/">
                          <h2 class="usa-card__heading">Digital.gov Communities of Practice <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg"></h2>
                          <img class="imgCont imgContSVG padding-2"
                          src="{{site.baseurl}}/assets/images/logos/digital.gov-logo.png"
                          alt="Digital.gov logo"
                        />
                        </a>
                      </div>
                  </div>
                  <div class="usa-card__body">
                    <div class="resCardSec"> 
                        <div>
                           <img class="imgCont imgContSVG"
                           src="{{site.baseurl}}/assets/images/logos/digital.gov-logo.png"
                           alt="Digital.gov logo"
                        />
                        </div>
                        <a target="_blank" rel="noreferrer noopener" class="resHeading" href="https://digital.gov/communities/">
                           <h2 class="usa-card__heading">Digital.gov Communities of Practice</h2>
                        </a>
                    </div>
                    <h3 class="cardHeading resTitle">Active Initiatives/Community Teams</h3>
                    <div class="cardBody">
                      <div class="links-list">
                        <ul class="links-with-descriptions">
                          <li class="link-with-description">
                              <a target="_blank" rel="noreferrer noopener" href="https://digital.gov/communities/communicators/" tabindex="0">
                                <p class="link-heading">
                                  Communicators
                                    <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                                </p>
                                <p class="link-description">
                                  Brings together government communicators to improve communication and make government more effective.
                                </p>
                              </a>
                          </li>
                          <li class="link-with-description">
                              <a target="_blank" rel="noreferrer noopener" href="https://digital.gov/communities/multilingual/" tabindex="0">
                                <p class="link-heading">
                                  Multilingual
                                    <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                                </p>
                                <p class="link-description">
                                  Brings together government multilingual content managers to expand and improve digital content in languages other than English.
                                </p>
                              </a>
                          </li>
                          <li class="link-with-description">
                              <a target="_blank" rel="noreferrer noopener" href="https://digital.gov/communities/plain-language/" tabindex="0">
                                <p class="link-heading">
                                  Plain Language
                                    <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                                </p>
                                <p class="link-description">
                                  Brings together government plain language practitioners to promote use of plain language, saving agencies time and money and providing better service to the public.
                                </p>
                              </a>
                          </li>
                          <li class="link-with-description">
                              <a target="_blank" rel="noreferrer noopener" href="https://digital.gov/communities/social-media/" tabindex="0">
                                <p class="link-heading">
                                  Social Media
                                    <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                                </p>
                                <p class="link-description">
                                  Brings together government social media communicators to improve social media outreach efforts.
                                </p>
                              </a>
                          </li>
                          <li class="link-with-description">
                              <a target="_blank" rel="noreferrer noopener" href="https://digital.gov/communities/user-experience/" tabindex="0">
                                <p class="link-heading">
                                  User Experience
                                    <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                                </p>
                                <p class="link-description">
                                  Brings together government user experience practitioners to create better user-centered products for the public.
                                </p>
                              </a>
                          </li>
                          <li class="link-with-description">
                              <a target="_blank" rel="noreferrer noopener" href="https://digital.gov/communities/web-analytics-and-optimization/" tabindex="0">
                                <p class="link-heading">
                                  Web Analytics
                                    <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                                </p>
                                <p class="link-description">
                                  Brings together government analytics practitioners to make better decisions using web analytics and other optimization strategies.
                                </p>
                              </a>
                          </li>
                          <li class="link-with-description">
                              <a target="_blank" rel="noreferrer noopener" href="https://digital.gov/communities/web-content-managers/" tabindex="0">
                                <p class="link-heading">
                                  Web Managers
                                    <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                                </p>
                                <p class="link-description">
                                  Brings together government web content managers to create a better online experience for the public.
                                </p>
                              </a>
                          </li>
                          <li class="link-with-description">
                              <a target="_blank" rel="noreferrer noopener" href="https://digital.gov/communities/#https://digital.gov/communities/apis/" tabindex="0">
                                <p class="link-heading">
                                  Other Communities of Practice
                                    <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                                </p>
                                <p class="link-description">
                                  These communities are not managed by Digital.gov, but are listed here because they overlap with their mission
                                </p>
                              </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li id="imcoecop" class="usa-card usa-card--flag service-card">
                <div class="usa-card__container">
                  <div class="usa-card__media serviceCard">
                     <div class="leftPort leftPort-flex-start">
                        <a target="_blank" rel="noreferrer noopener" href="https://coe.gsa.gov/communities/techacq.html">
                          <h2 class="usa-card__heading">IT Modernization Communities of Excellence CoPS <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg"></h2>
                          <img class="imgCont imgContSVG padding-2"
                          src="{{site.baseurl}}/assets/images/logos/it-modernization-communities-of-excellence-logo.png"
                          alt="IT Modernization Communities of Excellence logo"
                        />
                        </a>
                      </div>
                  </div>
                  <div class="usa-card__body">
                    <div class="resCardSec"> 
                        <div>
                           <img class="imgCont imgContSVG"
                           src="{{site.baseurl}}/assets/images/logos/it-modernization-communities-of-excellence-logo.png"
                           alt="IT Modernization Communities of Excellence logo"
                        />
                        </div>
                        <a target="_blank" rel="noreferrer noopener" class="resHeading" href="https://coe.gsa.gov/communities/techacq.html">
                           <h2 class="usa-card__heading">IT Modernization Communities of Excellence CoPS</h2>
                        </a>
                    </div>
                    <h3 class="cardHeading resTitle">Active Initiatives/Community Teams</h3>
                    <div class="cardBody">
                      <div class="links-list">
                        <ul class="links-with-descriptions">
                          <li class="link-with-description">
                              <a target="_blank" rel="noreferrer noopener" href="https://coe.gsa.gov/communities/ai.html" tabindex="0">
                                <p class="link-heading">
                                  Artificial Intelligence (AI CoP)
                                    <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                                </p>
                                <p class="link-description">
                                  Working to accelerate the thoughtful adoption of AI across the federal government.
                                </p>
                              </a>
                          </li>
                          <li class="link-with-description">
                              <a target="_blank" rel="noreferrer noopener" href="https://coe.gsa.gov/communities/contact-center.html" tabindex="0">
                                <p class="link-heading">
                                  Contact Center (G3C)
                                    <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                                </p>
                                <p class="link-description">
                                  Working to improve the performance, experience, and efficiency of government contact centers across federal, tribal, state, and local agencies.
                                </p>
                              </a>
                          </li>
                          <li class="link-with-description">
                              <a target="_blank" rel="noreferrer noopener" href="https://coe.gsa.gov/communities/cx.html" tabindex="0">
                                <p class="link-heading">
                                  Customer Experience (CX CoP)
                                    <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                                </p>
                                <p class="link-description">
                                  Working to improve the experience that the American public has with government services, organizations, and agencies
                                </p>
                              </a>
                          </li>
                          <li class="link-with-description">
                              <a target="_blank" rel="noreferrer noopener" href="https://coe.gsa.gov/communities/innovation-adoption.html" tabindex="0">
                                <p class="link-heading">
                                  Innovation Adoption (IA CoP)
                                    <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                                </p>
                                <p class="link-description">
                                  Working to build innovation and intrapreneurship capacity across the federal government by generating and sharing useful information, advice, and assistance.
                                </p>
                              </a>
                          </li>
                          <li class="link-with-description">
                            <div class="div-a">
                              <a target="_blank" rel="noreferrer noopener" href="https://coe.gsa.gov/communities/techacq.html" class="link-heading" tabindex="0">
                               Join the TechAcq (TA CoP)! 
                                 <img class="external-icon" alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                              </a>
                              <p class="link-description">
                                Working to improve the IT acquisition experience. Any federal employee in the acquisition field is welcome to become a member of the TechAcq CoP. Only federal government employees are eligible to join. Send an email to 
                                <a href="mailto:TECHACQ-COP-subscribe-request@LISTSERV.GSA.GOV">TechAcq</a> with an empty subject line.
                              </p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li id="fpmcop" class="usa-card usa-card--flag service-card">
                <div class="usa-card__container">
                  <div class="usa-card__media serviceCard">
                     <div class="leftPort leftPort-flex-start">
                        <a target="_blank" rel="noreferrer noopener" href="https://login.max.gov/cas/login?service=https%3A%2F%2Fcommunity.max.gov%2Flogin.action%3Fos_destination%3D%252Fpages%252Fviewpage.action%253FpageId%253D713787996">
                          <h2 class="usa-card__heading">Federal Program Management CoPs <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg"></h2>
                          <img class="imgCont imgContSVG padding-2"
                          src="{{site.baseurl}}/assets/images/logos/federal-program-and-project-management-logo.png"
                          alt="Federal Program Management CoPs logo"
                        />
                        </a>
                      </div>
                  </div>
                  <div class="usa-card__body">
                    <div class="resCardSec"> 
                        <div>
                           <img class="imgCont imgContSVG"
                           src="{{site.baseurl}}/assets/images/logos/federal-program-and-project-management-logo.png"
                           alt="Federal Program Management CoPs logo"
                        />
                        </div>
                        <a target="_blank" rel="noreferrer noopener" class="resHeading" href="https://login.max.gov/cas/login?service=https%3A%2F%2Fcommunity.max.gov%2Flogin.action%3Fos_destination%3D%252Fpages%252Fviewpage.action%253FpageId%253D713787996">
                           <h2 class="usa-card__heading">Federal Program Management CoPs</h2>
                        </a>
                    </div>
                    <h3 class="cardHeading resTitle">Active Initiatives/Community Teams</h3>
                    <div class="cardBody">
                      <div class="links-list">
                        <ul class="links-with-descriptions">
                          <li class="link-with-description login-require-with-description">
                              <a target="_blank" rel="noreferrer noopener" href="https://community.max.gov/x/EAQoNQ" tabindex="0">
                                <p class="link-heading">
                                  Acquisition Project Management Working Group 
                                    <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                                </p>
                                <p class="link-description">
                                  Addresses matters related to executive agencies acquiring (purchasing or leasing) goods and services, through the phases of need recognition and acquisition planning; contract formation; and contract administration.
                                </p>
                              </a>
                          </li>
                          <li class="link-with-description login-require-with-description">
                              <a target="_blank" rel="noreferrer noopener" href="https://community.max.gov/x/AgKRSw" tabindex="0">
                                <p class="link-heading">
                                  Community of Practice for Contracting Officers
                                    <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                                </p>
                                <p class="link-description">
                                  Brings together Contracting Officer's Representatives from all agencies across the Federal Government facilitating an environment of networking to exchange information, leverage training resources, and develop careers in the aid of government-wide improvement of all phases of contract management.
                                </p>
                              </a>
                          </li>
                          <li class="link-with-description login-require-with-description">
                              <a target="_blank" rel="noreferrer noopener" href="https://community.max.gov/x/Pw8kQw" tabindex="0">
                                <p class="link-heading">
                                  Community of Practice for Contracting Officer’s Representatives
                                    <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                                </p>
                                <p class="link-description">
                                  Brings together Contracting Officer's Representatives from all agencies across the Federal Government facilitating an environment of networking to exchange information, leverage training resources, and develop careers in the aid of government-wide improvement of all phases of contract management. 
                                </p>
                              </a>
                          </li>
                          <li class="link-with-description login-require-with-description">
                              <a target="_blank" rel="noreferrer noopener" href="https://community.max.gov/x/zwf_N" tabindex="0">
                                <p class="link-heading">
                                  Cross-Functional Working Group
                                    <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                                </p>
                                <p class="link-description">
                                  Aids in the sharing of best practices, tools, templates, guidance, and supporting resources, and forums for discussion on each of the five Project Management Phases – Initiate, Plan, Execute, Control and Close
                                </p>
                              </a>
                          </li>
                          <li class="link-with-description login-require-with-description">
                              <a target="_blank" rel="noreferrer noopener" href="https://community.max.gov/display/GSA/Information+Technology+Working+Group" tabindex="0">
                                <p class="link-heading">
                                  Information Technology Working Group
                                    <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                                </p>
                                <p class="link-description">
                                  Promotes an interconnected, collaborative approach to review, discuss and address IT management and governance requirements to assist Federal Agencies in improving performance.
                                </p>
                              </a>
                          </li>
                          <li class="link-with-description login-require-with-description">
                              <a target="_blank" rel="noreferrer noopener" href="https://community.max.gov/x/dLu4ig" tabindex="0">
                                <p class="link-heading">
                                  Professional Development Working Group
                                    <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                                </p>
                                <p class="link-description">
                                  Provides a forum within which members can network, engage, and share resources on the various aspects of learning and development needed for the federal P/PM profession.
                                </p>
                              </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
         </div>
         <p class="service-card service-end">
          Don't see a service or solution you were looking for? <a target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/contact-us-contribute?tabName=contact-us-header">Contact us</a> in building the largest federal acquisition intelligence repository
        </p>


      </div>
       <div class="content-nav">
          <div class="nav-list">
             <h3>On this Tab</h3>
             <a id="sn-ibcop" class="page-nav page-nav-active" href="#ibcop" onclick="return removeTabContent(this)">IT Buyers Community of Practice</a>
             <a id="sn-ccop" class="page-nav" href="#ccop" onclick="return removeTabContent(this)">CIO.gov</a>
             <a id="sn-dcop" class="page-nav" href="#dcop" onclick="return removeTabContent(this)">Digital.gov</a>
             <a id="sn-imcoecop" class="page-nav" href="#imcoecop" onclick="return removeTabContent(this)">IT Modernization Communities of Excellence</a>
             <a id="sn-fpmcop" class="page-nav" href="#fpmcop" onclick="return removeTabContent(this)">Federal Program Management</a>
          </div>
       </div>
    </div>
  </section>