<section id="inner-page-tabs" class="inner-page-tab-border">
    <!-- Inner tab dropdown for the mobile version -->
    <div id="social-media-container">
      <a target="_blank" rel="noreferrer noopener" href="https://www.linkedin.com/company/govwideitvmo/" class="social-media-link">
        <img src="{{site.baseurl}}/assets/images/logos/small-linkedln-logo.svg" alt="Linkedln logo">
      </a>
      <a target="_blank" rel="noreferrer noopener" href="mailto:itvmo@gsa.gov" class="social-media-link">
        <img class="mail-logo" src="{{site.baseurl}}/assets/images/icons/at-sign.svg" alt="Mail logo">
      </a>
    </div>
    <div id="tabs-mobile-container">
       <select id="tabs-mobile" onchange="openTabDropdown();">
          <option value="contribute-header">Contribute</option>
          <option value="contact-us-header">Contact Us</option>
       </select>
    </div>
    <div class="tabs tabs-white tabs-border">
       <a id="contribute-header" tabindex="0" class="tab active-tab" onclick="openTab(event, 'contribute')" onkeydown="openTabKey(event, 'contribute')">Contribute</a>
       <a id="contact-us-header" tabindex="0" class="tab" onclick="openTab(event, 'contact-us')" onkeydown="openTabKey(event, 'contact-us')">Contact Us</a>
    </div>
    <div id="contribute" class="tabcontent" style="display: flex;">
       <div class="contents-no-side-nav padding-top-3">
        <!-- <h3 id="contract-guidance-overview" class="topic-heading">
          Contribute
        </h3> -->
        <div class="grid-container coloredBG">   
          <div class="grid-row grid-gap-6">
          <div  class="tablet:grid-col container">
            <iframe class="responsive-iframe" src="https://docs.google.com/forms/d/e/1FAIpQLSdOiymQJoBc3ehFPCvKHxjDGDVdzZWb4h-hkJzsB6Ic1cnElQ/viewform?embedded=true" width="640" height="1500" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
          </div>
          
          
          
          <div class="tablet:grid-col rightSection">
            <ul class="usa-card-group">
            <li class="usa-card grid-col-12">
              <div class="usa-card__container">
                <div class="usa-card__header">
                  <h2 class="usa-card__heading ContCardHeading">Contribute</h2>
                </div>
                <div class="usa-card__media">
                  <div class="usa-card__img cardImage">
                    <img
                      src="{{site.baseurl}}/assets/images/icons/page_icons/contribute.svg"
                      alt="A placeholder image"
                    />
                  </div>
                </div>
                <div class="usa-card__body cardBody">
                  <p>
                    As a governmentwide intelligence center, we are always looking for internal and external contributors to help us evolve our repository of resources and data. We invite you to share your
                     expertise, perspectives, and resources to strengthen governmentwide procurement practices. We are seeking insights, intelligence, and information to normalize the procurement of emerging technologies, 
                     boost market equity through small business utilization, enhance zero trust cybersecurity knowledge, 
                     and build a more robust software supply chain. Through this we hope to advance interoperability, mitigate risks, and improve the effectiveness of the government.
                  </p>
                </div>
                <div class="usa-card__footer">
                  <a href="{{site.baseurl}}/contribute-dox" class="usa-button itvmoButton">View Article</a>
                </div>
              </div>
            </li>
        
            <li class="usa-card grid-col-12">
              <div class="usa-card__container">
                <div class="usa-card__header">
                  <h2 class="usa-card__heading ContCardHeading">
                    <img src="{{site.baseurl}}/assets/images/icons/upload-icon-orange.svg" alt="upload icon">
                    Upload Files
                  </h2>
                </div>
               
                <div class="usa-card__body cardBody">
                  <p>
                    Please submit the “Contribute” form before navigating to the upload file page. Ensure that you 
                    use the same email on the “Upload Page” as the “Contribute” form. Its mandatory that all files that you upload comply with Section 508 Guidelines
                  </p>
                </div>
                <div class="usa-card__footer">
                  <a target="_blank" rel="noreferrer noopener" href="https://forms.gle/eLAcmxUSsCWmXyqt6" class="usa-button itvmoButton"><img src="{{site.baseurl}}/assets/images/icons/upload-icon-white.svg" alt="upload icon">  Upload Files</a>
                </div>
              </div>
            </li>
          </ul>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div id="contact-us" class="tabcontent">
       <div class="contents-no-side-nav padding-top-3">
            <!-- <h3 id="contract-guidance-overview" class="topic-heading">
              Contact Us
            </h3> -->
            <div class="grid-container coloredBG">   
              <div class="grid-row grid-gap-6">
              <div  class="tablet:grid-col container">
                <iframe class="responsive-iframe" src="https://docs.google.com/forms/d/e/1FAIpQLSdEBflrDtvADrqO2rihpFbbJznvVW7g5W-6QkU7uQ7s5tT1lA/viewform?embedded=true" width="640" height="1600" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
              </div>
              
              
              
              <div class="tablet:grid-col rightSection">
                <ul class="usa-card-group">
                <li class="usa-card grid-col-12">
                  <div class="usa-card__container">
                    <div class="usa-card__header">
                      <h2 class="usa-card__heading ContCardHeading">Contact Us</h2>
                    </div>
                    <div class="usa-card__media">
                      <div class="usa-card__img cardImage">
                        <img
                          src="{{site.baseurl}}/assets/images/icons/page_icons/contact-us.svg"
                          alt="A placeholder image"
                        />
                      </div>
                    </div>
                    <div class="usa-card__body cardBody">
                      <p>
                        The ITVMO serves as a one-stop-shop for IT acquisition intelligence to inform smarter, faster IT buying decisions.
                        Are you looking for something that you cannot find? Do you have a question for one of our programs or domain experts? 
                        Do you need help? Connect and contact us today.
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
              </div>
            </div>
            </div>
       </div>
    </div>
  </section>