{% comment %} 
This tagline will appear in your homepage
{% endcomment %}

<section id="core-services">
  <div class="grid-container usa-section usa-prose padding-left-0 padding-right-0 padding-top-3 padding-bottom-2">
    <div class="section-heading">
      <h3>Core Services</h3>
    </div>
    <div class="grid-row">
      <div class="grid-col-auto">
        <div class="service-option">
          <a class="service-link" href="https://www.youtube.com/" title="OEM Support">  
            <div class="service-image">
              <img alt="OEM Support icon" src="{{site.baseurl}}/assets/images/icons/page_icons/oem-initiatives.svg">
            </div>
            <div class="service-name">
              <span>OEM Support</span>
            </div>
            </a>
        </div>
      </div>
      <div class="grid-col-auto">
        <div class="service-option">
          <a class="service-link" href="https://www.youtube.com/" title="Data intelligence">
            <div class="service-image">
              <img alt="Data intelligence icon" src="{{site.baseurl}}/assets/images/icons/page_icons/data-intelligence.svg">
            </div>
            <div class="service-name">
              <span>Data intelligence</span>
            </div>
          </a>
        </div>
      </div>
      <div class="grid-col-auto">
        <div class="service-option">
          <a class="service-link" href="https://www.youtube.com/" title="IT Buyers Community Training">
            <div class="service-image">
              <img alt="IT Buyers Community Training icon" src="{{site.baseurl}}/assets/images/icons/page_icons/it-buyers-support.svg">
            </div>
            <div class="service-name">
              <span>IT Buyers Support &amp; <br> Training</span>
            </div>
          </a>
        </div>
      </div>
      <div class="grid-col-auto">
        <div class="service-option">
          <a class="service-link" href="https://www.youtube.com/" title="IT Category Management">
            <div class="service-image">
              <img alt="IT Category Management icon" src="{{site.baseurl}}/assets/images/icons/page_icons/acquisition-policy-and-it-category.svg">
            </div>
            <div class="service-name">
              <span>IT Category Management</span>
            </div>
          </a>
        </div>
      </div>
      <div class="grid-col-auto">
        <div class="service-option">
          <a class="service-link" href="https://www.youtube.com/" title="Small Business">
            <div class="service-image">
              <img alt="Small Business icon" src="{{site.baseurl}}/assets/images/icons/page_icons/small-business.svg">
            </div>
            <div class="service-name">
              <span>Small Business</span>
            </div>
          </a>
        </div>
      </div>
  
    </div>
  </div>
</section>