{% comment %} 
This tagline will appear in your homepage
{% endcomment %}

<section id="core-services">
  <div class="grid-container usa-section usa-prose padding-left-0 padding-right-0 padding-top-3 padding-bottom-2">
    <h3>Core Services</h3>
    <div class="grid-row">
      <div class="grid-col-auto">
        <div class="service-option">
          <a class="usa-nav__link service-link" href="https://www.youtube.com/" title="OEM Support">  
            <div class="service-image">
              <img id="u75_img" class="img " src="https://files.axshare.com/gsc/FTDJN4/9e/7e/49/9e7e496b7ced4b9f9f3752e7b17672aa/images/home_opt3/u75.svg?pageId=440fa3d9-cf2b-4c85-b796-e76edd84eb0d">
            </div>
            <div class="service-name">
              <span>OEM Support</span>
            </div>
            </a>
        </div>
      </div>
      <div class="grid-col-auto">
        <div class="service-option">
          <a class="usa-nav__link service-link" href="https://www.youtube.com/" title="Data intelligence">
            <div class="service-image">
              <img id="u82_img" class="img " src="https://files.axshare.com/gsc/FTDJN4/9e/7e/49/9e7e496b7ced4b9f9f3752e7b17672aa/images/home_opt3/u82.svg?pageId=440fa3d9-cf2b-4c85-b796-e76edd84eb0d">
            </div>
            <div class="service-name">
              <span>Data intelligence</span>
            </div>
          </a>
        </div>
      </div>
      <div class="grid-col-auto">
        <div class="service-option">
          <a class="usa-nav__link service-link" href="https://www.youtube.com/" title="IT Buyers Community Training">
            <div class="service-image">
              <img id="u158_img" class="img " src="https://files.axshare.com/gsc/FTDJN4/9e/7e/49/9e7e496b7ced4b9f9f3752e7b17672aa/images/home_opt3/u158.svg?pageId=440fa3d9-cf2b-4c85-b796-e76edd84eb0d">
            </div>
            <div class="service-name">
              <span>IT Buyers Community &amp; <br> Training</span>
            </div>
          </a>
        </div>
      </div>
      <div class="grid-col-auto">
        <div class="service-option">
          <a class="usa-nav__link service-link" href="https://www.youtube.com/" title="IT Category Management">
            <div class="service-image">
              <img id="u87_img" class="img " src="https://files.axshare.com/gsc/FTDJN4/9e/7e/49/9e7e496b7ced4b9f9f3752e7b17672aa/images/home_opt3/u87.svg?pageId=440fa3d9-cf2b-4c85-b796-e76edd84eb0d">
            </div>
            <div class="service-name">
              <span>IT Category Management</span>
            </div>
          </a>
        </div>
      </div>
      <div class="grid-col-auto">
        <div class="service-option">
          <a class="usa-nav__link service-link" href="https://www.youtube.com/" title="Small Business">
            <div class="service-image">
              <img id="u92_img" class="img " src="https://files.axshare.com/gsc/FTDJN4/9e/7e/49/9e7e496b7ced4b9f9f3752e7b17672aa/images/home_opt3/u92.svg?pageId=440fa3d9-cf2b-4c85-b796-e76edd84eb0d">
            </div>
            <div class="service-name">
              <span>Small Business</span>
            </div>
          </a>
        </div>
      </div>
  
    </div>
  </div>
</section>