{% comment %} 
This tagline will appear in your homepage
{% endcomment %}

<section id="core-services">
  <div class="grid-container usa-section usa-prose padding-left-0 padding-right-0 padding-top-3 padding-bottom-2">
    <div class="section-heading">
      <h3>Core Services</h3>
    </div>
    <div class="grid-row">
      <div class="grid-col-auto">
        <div class="service-option">
          <a class="cs-service-link" href="{{site.baseurl}}/services/oem/" title="OEM & Acquisition Initiatives">  
            <div class="service-image">
              <img alt="OEM & Acquisition Initiatives icon" src="{{site.baseurl}}/assets/images/icons/page_icons/oem-initiatives.svg">
            </div>
            <div class="service-name">
              <span>OEM & Acquisition<br> Initiatives</span>
            </div>
            </a>
        </div>
      </div>
      <div class="grid-col-auto">
        <div class="service-option">
          <a class="cs-service-link" href="{{site.baseurl}}/services/market-and-it-data-intelligence/" title="Market & IT Data Intelligence">
            <div class="service-image">
              <img alt="Market & IT Data Intelligence icon" src="{{site.baseurl}}/assets/images/icons/page_icons/data-intelligence.svg">
            </div>
            <div class="service-name">
              <span>Market & IT Data<br> Intelligence</span>
            </div>
          </a>
        </div>
      </div>
      <div class="grid-col-auto">
        <div class="service-option">
          <a class="cs-service-link" href="{{site.baseurl}}/services/it-buyers-training-and-support/" title="IT Buyers Training & Support">
            <div class="service-image">
              <img alt="IT Buyers Training & Support icon" src="{{site.baseurl}}/assets/images/icons/page_icons/it-buyers-support.svg">
            </div>
            <div class="service-name">
              <span>IT Buyers Support &amp; <br> Training</span>
            </div>
          </a>
        </div>
      </div>
      <div class="grid-col-auto">
        <div class="service-option">
          <a class="cs-service-link" href="{{site.baseurl}}/services/acquisition-policy-and-it-category/" title="Acquisition Policy & IT Category">
            <div class="service-image">
              <img alt="Acquisition Policy & IT Category icon" src="{{site.baseurl}}/assets/images/icons/page_icons/acquisition-policy-and-it-category.svg">
            </div>
            <div class="service-name">
              <span>Acquisition Policy & <br>IT Category</span>
            </div>
          </a>
        </div>
      </div>
      <div class="grid-col-auto">
        <div class="service-option">
          <a class="cs-service-link" href="{{site.baseurl}}/services/small-business-support/" title="Small Business Support">
            <div class="service-image">
              <img alt="Small Business Support icon" src="{{site.baseurl}}/assets/images/icons/page_icons/small-business.svg">
            </div>
            <div class="service-name">
              <span>Small Business Support</span>
            </div>
          </a>
        </div>
      </div>
      <div class="grid-col-auto">
        <div class="service-option view-all-option">
          <a class="cs-service-link" href="{{site.baseurl}}/services/" title="View All Services & Solutions">
            <div class="service-image">
              <img alt="Next arrow icon" src="{{site.baseurl}}/assets/images/icons/circle-right-arrow.svg">
            </div>
            <div class="service-name">
              <span>View All Services & Solutions</span>
            </div>
          </a>
        </div>
      </div>
  
    </div>
  </div>
</section>