<section id="inner-page-tabs">
    <div id="contribute-dox" class="tabcontent" style="display: flex;">
       <div class="contents padding-bottom-5">
          <h3 class="sub-topic-heading-blue">
            March 7, 2023
          </h3>
          <p class=" ">
            The IT Governmentwide Category, in partnership with the ACT-IAC Small Business Alliance, held an Emerging Tech Small Business event on March 7, 2023. The event navigated the ever-changing federal government contract landscape by informing attendees of existing and upcoming programs and policy changes that affect all small businesses. The collaboration and thought leadership exchanged at the event provided real time information to take place between the speakers and attendees, enabling small businesses to plan for the future.
          </p>
          <p class="  margin-top-0">
            The event opened with the IT Governmentwide Category Manager, Laura Stanton, followed by Beth Killoran, GSA’s Deputy CIO, who provided the keynote address. After a short break, the event held a panel discussion with agency Office of Small and Disadvantaged Business Utilization (OSDBUs) from:
          </p>
          <p class=" ">
            The ITVMO is <b>accelerating and capitalizing the impact of federal IT acquisitions on top OEMs and select vendors</b> by increasing agency IT buyer knowledge and ability; to capitalize govwide resources and overcome budget/contract constraints.
            <ul>
              <li>Department of State (DOS) – Mr. George Price</li>
              <li>U.S. Environmental Protection Agency (EPA) – Ms. Denise Sirmons </li>
              <li>Department of Health and Human Services (HHS) – Mr. Shannon Jackson </li>
              <li>Office of Personnel Management (OPM) – Mr. Desmond Brown </li>
              <li>US Army – Ms. Kim Buehler</li>
            </ul>
          </p>
          <p class=" ">
            The event was well-attended and provided an excellent forum for small businesses to hear agency forecasts, procurement best practices, and to come together to connect how industry and government can move forward to achieve issues at hand.
          </p>
          <p class=" ">
            <b>Pictured Below: The 5 OSDBU panelists and moderator Warren Blankenship from the ITVMO.</b>
            <img alt="Picture of the meeting" src="{{site.baseurl}}/assets/images/emerge-tech-small-business-event.png">
          </p>
      </div>
    </div>
  </section>