<HEAD>
  <SCRIPT language="JavaScript">
  <!--hide
  
  var password;
  var pass1="itvmogsa";
  
  password=prompt('Please enter your password to view this page!',' ');
  
  if (password==pass1)
    alert('Password Correct! Click OK to enter!');
  else
     {
      window.location="http://itvmo.gsa.gov/encrypted-meeting-video/";
      }
  
  //-->
  </SCRIPT>
  </HEAD>

<section id="inner-page-tabs">
  <div id="contribute-dox" class="tabcontent" style="display: flex">
    <div class="contents padding-bottom-5">
      <h3 id="video-highlights" class="sub-topic-heading">Meeting Videos</h3>
          <video class="hidden-video-cont margin-top-2" controls>
            <source src="{{site.baseurl}}/assets/video/zero-trust-draft.mp4" type="video/mp4">
          </video>
            <h4 class="video-title">Video Title</h4>
            <p class="video-description">Video Title</p>
      
            <div class="tab-divide-line end-content"></div>

          <video class="hidden-video-cont margin-top-2" controls>
            <source src="{{site.baseurl}}/assets/video/zero-trust-draft.mp4" type="video/mp4">
          </video>
            <h4 class="video-title">Video Title</h4>
            <p class="video-description">Video Title</p>
     

    </div>
    
  </div>
</section>