<section id="inner-page-tabs">
  <div id="contribute-dox" class="tabcontent" style="display: flex">
    <div class="contents padding-bottom-5">
      <h2 id="overview" class="topic-heading">
        Executive Order on the Safe, Secure, & Trustworthy Development & Use of Artificial Intelligence
      </h2>
      <p class=" ">
        On October 30, 2023, the Biden Administration unveiled a groundbreaking Executive Order on the Safe, Secure, and Trustworthy Development and Use of Artificial Intelligence (AI). This pivotal initiative sets forth a strategic framework aimed at promoting the ethical development and application of AI across diverse sectors and government entities. This page provides an in-depth examination of the Executive Order's objectives, guiding principles, and its anticipated impact on the evolution of AI in the United States.
      </p>
      <p class=" ">
        The issuance of this Executive Order marks a significant advancement in establishing the necessary oversight and safeguards, while simultaneously encouraging innovation that has the potential to significantly enhance the services provided by the government. Following the directives of the Executive Order, the Office of Management and Budget has formulated preliminary policy guidelines to encourage the innovative application of AI within Federal agencies, ensuring that such advancements are pursued with a commitment to responsibility.
      </p>
      <h3 id="" class="sub-topic-heading">Artificial Intelligence Pillars</h3>
      <a tabindex="0" class="image-container" href="#mission-image" aria-label="Open our Missions image" aria-controls="mission-image" data-open-modal="" role="button">
        <img src="{{site.baseurl}}/assets/images/screenshot/three-pillars-to-advance-the-responsible-use-of-ai-in-gov.png" alt="OMB's draft guidance outlines three pillars to advance the responsible use of AI in government">
        <div class="image-overlay">
          <img src="{{site.baseurl}}/assets/images/icons/search-icon-white.svg" alt="search-icon" class="overlay-icon">
        </div>
      </a>
      <div
        class="usa-modal usa-modal-team-member usa-modal-bg-transparent" id="mission-image">
        <div class="usa-modal__content">
          <div class="usa-modal__main usa-modal-main-no-padding">
            <img src="{{site.baseurl}}/assets/images/screenshot/three-pillars-to-advance-the-responsible-use-of-ai-in-gov.png" alt="OMB's draft guidance outlines three pillars to advance the responsible use of AI in government">
          </div>
            <button
              type="button" class="usa-button usa-modal__close usa-modal-close-no-padding-right" aria-label="Close this window" data-close-modal
            >
              <img src="{{site.baseurl}}/assets/images/icons/exit-icon-white.svg" alt="Exit button" class="exit-button">
            </button>
        </div>
      </div>
      <div class="tab-divide-line end-content"></div>
      <h3 id="video-highlights" class="sub-topic-heading">Video Highlights</h3>
      <video class="video-container margin-top-2" controls>
        <source src="{{site.baseurl}}/assets/video/ai-executive-order.mp4" type="video/mp4">
        <track label="English" kind="subtitles" srclang="en" src="{{site.baseurl}}/assets/video/captions/ai-executive-order.vtt" default>
      </video>
      <div class="tab-divide-line end-content"></div>
      <h3 id="intended-takeaways" class="sub-topic-heading">Intended Takeaways</h3>
      <div class="bulletSections">
        <div class="topLine"></div>
          <ul class="experiences">
            <li class="bulletText"><b>Strengthening AI governance</b> through the designation of Chief AI Officer that hold primary responsibility for managing risk from their agency’s use of AI.</li>
            <li class="bulletText"><b>Advancing responsible AI innovation</b> through removal of barriers to the responsible use of AI and the development of agency AI strategies.</li>
            <li class="bulletText"><b>Managing risks from the use of AI,</b> through the adoption of minimum AI risk management practices for uses of AI that impact rights and safety.</li>
          </ul>
      </div>

      <div class="tab-divide-line end-content"></div>
      <h2 id="contributors" class="sub-topic-heading">Contributors and Partners</h2>
      <div class="tab-img-p">
        <img
          class="tab-img-p-image-small"
          src="{{site.baseurl}}/assets/images/person/conrad-stosz.svg"
          alt="Taka Ariga profile image"
        />
        <div>
          <h3
            class="sub-topic-heading-blue sub-topic-heading-23 margin-bottom-0"
          >
            Conrad Stosz
          </h3>
          <p class=" ">
            Conrad Stosz, the Office of Management and Budget’s (OMB) director of artificial intelligence and a key player in helping OMB formulate final guidance to Federal agencies on implementing.
          </p>
        </div>
      </div>
      <div id="additional-resource" class="links-list">
        <h3 class="sub-topic-heading-blue sub-topic-heading-20 margin-bottom-0">
         Additional Resources
        </h3>
        <ul class="links-with-descriptions links-with-descriptions-row-gap-10 margin-top-1">
          <li class="link-with-description">
            <a target="_blank" rel="noreferrer noopener" href="https://www.whitehouse.gov/briefing-room/presidential-actions/2023/10/30/executive-order-on-the-safe-secure-and-trustworthy-development-and-use-of-artificial-intelligence/" tabindex="0">
               <p class="link-heading">
                  <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                  Executive Order on the Safe, Secure, and Trustworthy Development and Use of Artificial Intelligence
                  <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
               </p>
            </a>
         </li>
         <li class="link-with-description">
            <a target="_blank" rel="noreferrer noopener" href="https://www.whitehouse.gov/omb/briefing-room/2023/11/01/omb-releases-implementation-guidance-following-president-bidens-executive-order-on-artificial-intelligence/" tabindex="0">
               <p class="link-heading">
                  <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                  OMB Releases Implementation Guidance Following President Biden’s Executive Order on Artificial Intelligence
                  <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
               </p>
            </a>
         </li>
         <li class="link-with-description">
            <a target="_blank" rel="noreferrer noopener" href="https://ai.gov/" tabindex="0">
               <p class="link-heading">
                  <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                  Making AI Work for the American People (AI.gov)
                  <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
               </p>
            </a>
         </li>
         <li class="link-with-description">
            <a target="_blank" rel="noreferrer noopener" href="https://ai.gov/ai-use-cases/" tabindex="0">
               <p class="link-heading">
                  <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                  The Government is Using AI to Better Serve the Public
                  <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
               </p>
            </a>
         </li>
        </ul>
      </div>

      <div id="ai-gov-banner" class="speaker-announcer-banner">
        <h3 class="banner-header">Explore AI.gov today! </h3>
        <p>
          AI.gov serves as the authoritative source for all information pertaining to AI developments within the government.
          It provides comprehensive and up-to-date insights into the evolving landscape of artificial intelligence initiatives, policies, and advancements at the governmental level.
        </p>
        <a
          class="external-link external-link-orange"
          href="https://ai.gov"
        >
          <p>Visit AI.gov</p>
          <img
            src="{{site.baseurl}}/assets/images/icons/external.svg"
            alt="external icon"
          />
        </a>
      </div>


      <div class="tab-divide-line end-content"></div>

      <h2 id="about-omb" class="sub-topic-heading">
        About OMB
      </h2>
      <p class=" ">
        The Office of Management and Budget (OMB) supports the President of the United States by ensuring the President's vision is executed throughout the Executive Branch. Its mission includes aiding the President in achieving policy, budget, management, and regulatory goals, as well as carrying out the agency's legal duties.
      </p>
      <h2 id="about-itvmo" class="sub-topic-heading">
        About ITVMO
      </h2>
      <p class=" ">
        <b>The Information Technology Vendor Management Office (ITVMO)</b> serves as a trusted advisor and advocate for Federal IT acquisitions. Established in October 2020 within the Governmentwide Category Management Framework by the <b>Office of Management and Budget (OMB)</b>, the ITVMO aims to address the challenges faced by agencies in IT vendor relationship management, including standardizing technical requirements, mitigating cyber-risk, improving data quality, and leveraging the government's buying power to drive improvements and business transformation.
      </p>
      <p class=" ">
        The ITVMO's mission is to provide agencies with meaningful intelligence to inform and support faster, smarter IT buying decisions. It operates within the Federal IT Acquisitions Ecosystem, collaborating with various stakeholders, including agency IT buyers, vehicle solution holders, federal and industry partners, and suppliers (and resellers). This collaboration aims to standardize requirements, increase market compliance, and drive smarter, faster IT acquisitions.
      </p>
      <p class=" ">
        The ITVMO offers a coordinated voice representing all agencies to the vendor community, focusing on customer-centric solutions, convenience, cost savings, and compliance. It also conducts annual assessments and customer satisfaction surveys to evaluate its performance and inform priorities and agency needs for the upcoming fiscal year. Visit our <a target="_blank" href="https://itvmo.gsa.gov/">website</a> today!
      </p>
      <p class="text-center margin-top-4">
        <a target="_blank" rel="noreferrer noopener" href="https://forms.gle/urujknEjg9vi3F3x9" tabindex="0">
          Was this helpful? What else would you like to know about?
       </a>
      </p>

      <div class="tab-divide-line end-content"></div>
      

    </div>
    <div class="content-nav">
      <div class="nav-list">
        <h3>On this Tab</h3>
        <a
          id="sn-overview"
          class="page-nav page-nav-active"
          href="#overview"
          onclick="return removeTabContent(this)"
          >An Overview</a
        >
        <a
          id="sn-video-highlights"
          class="page-nav page-nav"
          href="#video-highlights"
          onclick="return removeTabContent(this)"
          >Video Highlights</a
        >
        <a
          id="sn-intended-takeaways"
          class="page-nav page-nav"
          href="#intended-takeaways"
          onclick="return removeTabContent(this)"
          >Intended Takeaways</a
        >
        <a
          id="sn-contributors"
          class="page-nav page-nav"
          href="#contributors"
          onclick="return removeTabContent(this)"
          >Contributors</a
        >
        <a
          id="sn-additional-resource"
          class="page-nav page-nav"
          href="#additional-resource"
          onclick="return removeTabContent(this)"
          >Additional Resource</a
        >
        <a
        id="sn-ai-gov-banner"
        class="page-nav page-nav"
        href="#ai-gov-banner"
        onclick="return removeTabContent(this)"
        >Explore AI.gov</a
      >
        <a
          id="sn-about-omb"
          class="page-nav page-nav"
          href="#about-omb"
          onclick="return removeTabContent(this)"
          >About OMB</a
        >
        <a
          id="sn-about-itvmo"
          class="page-nav page-nav"
          href="#about-itvmo"
          onclick="return removeTabContent(this)"
          >About ITVMO</a
        >
        <!-- <a id="sn-agency-showcase" class="page-nav" href="#agency-showcase" onclick="return removeTabContent(this)">Agency Showcase</a>
             <a id="sn-new-itvmo-member" class="page-nav" href="#new-itvmo-member" onclick="return removeTabContent(this)">New ITVMO Team Members</a> -->
      </div>
    </div>
  </div>
</section>
