<section id="inner-page-tabs">
  <div id="contribute-dox" class="tabcontent" style="display: flex">
    <div class="contents padding-bottom-5">
      <h2 id="overview" class="topic-heading">
        An Overview
      </h2>
      <p class=" ">
        On October 27, 2023, The Office of Management and Budget (OMB)released a draft memorandum aimed at modernizing the <b>Federal Risk and Authorization Management Program (FedRAMP)</b>, inviting public comment on the proposal. Initially established in 2011, FedRAMP was designed to evaluate the security of commercial cloud services, enabling federal agencies to leverage these services efficiently and securely. However, the complexity and diversity of today's cloud services have outgrown the original framework of FedRAMP, necessitating an update to address the current cloud environment's challenges.
      </p>
      <p class=" ">
        The draft guidance proposes a comprehensive plan to scale FedRAMP, enhance its security review processes, and facilitate the faster adoption of secure cloud products and services within the federal government. This initiative builds on recent efforts, including the <b>FedRAMP Authorization Act</b> passed in 2022 and the establishment of the Federal Secure Cloud Advisory Committee. The proposed changes aim to make FedRAMP more responsive to the evolving cloud marketplace, ensuring federal agencies can access a broader range of cloud-based services. This modernization effort is expected to reduce the technological footprint of agencies, streamline government services, and improve public access to these services.
      </p>
      <p class=" ">
        <b>OMB’s draft outlines four key areas of outcome for FedRamp Modernization:</b>
        <ul>
          <li>Become more responsive to the risk profiles of individual services, as well as evolving risks throughout the cyber environment.</li>
          <li>Increase the quantity of products and services receiving FedRAMP authorizations by bringing agencies together to evaluate the security of cloud offerings and strongly incentivizing reuse of one FedRAMP authorization by multiple agencies.</li>
          <li>Streamline the authorization process by automating appropriate portions of security evaluations, consistent with industry best practices.</li>
          <li>Improve sharing of information with the private sector, including about emerging threats and best practices.</li>
        </ul>
      </p>
      <h2 id="fedramp-impact-levels" class="topic-heading">
        FedRamp Impact Levels
      </h2>
      <a tabindex="0" class="image-container image-container-small" href="#mission-image" aria-label="Open our Missions image" aria-controls="mission-image" data-open-modal="" role="button">
        <img id="fedramp-impact-level-img" src="{{site.baseurl}}/assets/images/screenshot/fedramp-impact-level.png" alt="FedRamp Impact Levels image">
        <div class="image-overlay">
          <img src="{{site.baseurl}}/assets/images/icons/search-icon-white.svg" alt="search-icon" class="overlay-icon">
        </div>
      </a>
      <div
        class="usa-modal usa-modal-team-member usa-modal-bg-transparent" id="mission-image">
        <div class="usa-modal__content">
          <div class="usa-modal__main usa-modal-main-no-padding">
            <img src="{{site.baseurl}}/assets/images/screenshot/fedramp-impact-level.png" alt="FedRamp Impact Levels image">
          </div>
            <button
              type="button" class="usa-button usa-modal__close usa-modal-close-no-padding-right" aria-label="Close this window" data-close-modal
            >
              <img src="{{site.baseurl}}/assets/images/icons/exit-icon-white.svg" alt="Exit button" class="exit-button">
            </button>
        </div>
      </div>
      <h3 id="intended-takeaways" class="sub-topic-heading">Intended Takeaways</h3>
      <div class="bulletSections">
        <div class="topLine"></div>
          <ul class="experiences">
            <li class="bulletText"><b>Modernization and Scaling of FedRAMP:</b> The draft memorandum aims to modernize FedRAMP to address the evolving and complex challenges of today's cloud environment. This includes scaling the program to accommodate the dramatic increase in diversity and number of cloud services, ensuring that federal agencies can leverage the latest cloud technologies efficiently and securely.</li>
            <li class="bulletText"><b>Enhanced Security and Streamlined Processes:</b> The proposed guidance focuses on strengthening FedRAMP's approach to security reviews and streamlining the authorization process. This includes automating parts of the security evaluations consistent with industry best practices and being more responsive to the risk profiles of individual services and the changing cyber environment. The goal is to increase the quantity of products and services receiving FedRAMP authorizations and encourage the reuse of authorizations across multiple agencies.</li>
            <li class="bulletText"><b>Increased Collaboration and Transparency:</b> The modernization effort seeks to improve collaboration between the government and the private sector, enhancing the sharing of information about emerging threats and best practices. It also aims to promote a transparent and consistent process for issuing security authorizations for cloud services, thereby driving better cybersecurity and innovation across the federal government.</li>
          </ul>
      </div>

      <div class="tab-divide-line end-content"></div>
      <h2 id="contributors" class="sub-topic-heading">Contributors and Partners</h2>
      <div class="tab-img-p">
        <img
          id="brian-conrad-img"
          class="tab-img-p-image-small"
          src="{{site.baseurl}}/assets/images/person/brian-conrad.jpg"
          alt="Brian Conrad profile image"
        />
        <div>
          <h3
            class="sub-topic-heading-blue sub-topic-heading-23 margin-bottom-0"
          >
            Brian Conrad
          </h3>
          <p class=" ">
            Brian Conrad joined the Federal Risk and Authorization Management Program (FedRAMP) team within the U.S. General Services Administration (GSA) in December 2018, bringing with him a wealth of technical knowledge and leadership experience.
          </p>
        </div>
      </div>
      <div id="additional-resource" class="links-list">
        <h3 class="sub-topic-heading-blue sub-topic-heading-20 margin-bottom-0">
          Related Articles
        </h3>
        <ul class="links-with-descriptions links-with-descriptions-row-gap-10 margin-top-1">
          <li class="link-with-description">
            <a target="_blank" rel="noreferrer noopener" href="https://www.whitehouse.gov/omb/briefing-room/2023/10/27/office-of-management-and-budget-releases-draft-memorandum-for-modernizing-the-federal-risk-and-authorization-management-program-fedramp/" tabindex="0">
               <p class="link-heading">
                  <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                  Office of Management and Budget Releases Draft Memorandum for Modernizing the Federal Risk and Authorization Management Program (FedRAMP)

                  <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
               </p>
            </a>
         </li>
         <li class="link-with-description">
            <a target="_blank" rel="noreferrer noopener" href="https://www.fedramp.gov/2024-01-26-fedramps-emerging-technology-prioritization-framework-overview-and-request-for-comment/" tabindex="0">
               <p class="link-heading">
                  <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                  FedRAMP's Emerging Technology Prioritization Framework - Overview and Request for Comment
                  <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
               </p>
            </a>
         </li>
         <li class="link-with-description">
            <a target="_blank" rel="noreferrer noopener" href="https://www.fedramp.gov/2024-01-17-modernization-automating-fedramps-technology/" tabindex="0">
               <p class="link-heading">
                  <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                  Modernization - Automating FedRAMP's Technology
                  <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
               </p>
            </a>
         </li>
         <li class="link-with-description">
            <a target="_blank" rel="noreferrer noopener" href="https://www.gao.gov/products/gao-24-106591" tabindex="0">
               <p class="link-heading">
                  <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                  Cloud Security: Federal Authorization Program Usage Increasing, but Challenges Need to Be Fully Addressed
                  <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
               </p>
            </a>
         </li>
        </ul>
      </div>
      <div class="tab-divide-line end-content"></div>

      <h2 id="about-omb" class="sub-topic-heading">
        About OMB
      </h2>
      <p class=" ">
        The Office of Management and Budget (OMB) supports the President of the United States by ensuring the President's vision is executed throughout the Executive Branch. Its mission includes aiding the President in achieving policy, budget, management, and regulatory goals, as well as carrying out the agency's legal duties.
      </p>
      <h2 id="about-itvmo" class="sub-topic-heading">
        About ITVMO
      </h2>
      <p class=" ">
        <b>The Information Technology Vendor Management Office (ITVMO)</b> serves as a trusted advisor and advocate for Federal IT acquisitions. Established in October 2020 within the Governmentwide Category Management Framework by the <b>Office of Management and Budget (OMB)</b>, the ITVMO aims to address the challenges faced by agencies in IT vendor relationship management, including standardizing technical requirements, mitigating cyber-risk, improving data quality, and leveraging the government's buying power to drive improvements and business transformation.
      </p>
      <p class=" ">
        The ITVMO's mission is to provide agencies with meaningful intelligence to inform and support faster, smarter IT buying decisions. It operates within the Federal IT Acquisitions Ecosystem, collaborating with various stakeholders, including agency IT buyers, vehicle solution holders, federal and industry partners, and suppliers (and resellers). This collaboration aims to standardize requirements, increase market compliance, and drive smarter, faster IT acquisitions.
      </p>
      <p class=" ">
        The ITVMO offers a coordinated voice representing all agencies to the vendor community, focusing on customer-centric solutions, convenience, cost savings, and compliance. It also conducts annual assessments and customer satisfaction surveys to evaluate its performance and inform priorities and agency needs for the upcoming fiscal year. Visit our <a target="_blank" href="https://itvmo.gsa.gov/">website</a> today!
      </p>
      <p class="text-center margin-top-4">
        <a target="_blank" rel="noreferrer noopener" href="https://forms.gle/urujknEjg9vi3F3x9" tabindex="0">
          Was this helpful? What else would you like to know about?
       </a>
      </p>

      <div class="tab-divide-line end-content"></div>
      

    </div>
    <div class="content-nav">
      <div class="nav-list">
        <h3>On this Tab</h3>
        <a
          id="sn-overview"
          class="page-nav page-nav-active"
          href="#overview"
          onclick="return removeTabContent(this)"
          >An Overview</a
        >
        <a
          id="sn-video-highlights"
          class="page-nav page-nav"
          href="#fedramp-impact-levels"
          onclick="return removeTabContent(this)"
          >FedRamp Impact Levels</a
        >
        <a
          id="sn-intended-takeaways"
          class="page-nav page-nav"
          href="#intended-takeaways"
          onclick="return removeTabContent(this)"
          >Intended Takeaways</a
        >
        <a
          id="sn-contributors"
          class="page-nav page-nav"
          href="#contributors"
          onclick="return removeTabContent(this)"
          >Contributors</a
        >
        <a
          id="sn-additional-resource"
          class="page-nav page-nav"
          href="#additional-resource"
          onclick="return removeTabContent(this)"
          >Additional Resource</a
        >
        <a
          id="sn-about-omb"
          class="page-nav page-nav"
          href="#about-omb"
          onclick="return removeTabContent(this)"
          >About OMB</a
        >
        <a
          id="sn-about-itvmo"
          class="page-nav page-nav"
          href="#about-itvmo"
          onclick="return removeTabContent(this)"
          >About ITVMO</a
        >
      </div>
    </div>
  </div>
</section>