<section id="inner-page-tabs">
  <div id="contribute-dox" class="tabcontent" style="display: flex">
    <div class="contents padding-bottom-5">
      <h3 id="overview" class="sub-topic-heading">
        Office of Management and Budget Releases Draft Memorandum for
        Modernizing the Federal Risk and Authorization Management Program
        (FedRAMP)
      </h3>
      <h3 id="overview" class="sub-topic-heading-blue">Overview</h3>
      <p class=" ">
        On October 27, 2023, The Office of Management and Budget (OMB)released a
        draft memorandum aimed at modernizing the
        <b>Federal Risk and Authorization Management Program (FedRAMP),</b>
        inviting public comment on the proposal. Initially established in 2011,
        FedRAMP was designed to evaluate the security of commercial cloud
        services, enabling federal agencies to leverage these services
        efficiently and securely. However, the complexity and diversity of
        today's cloud services have outgrown the original framework of FedRAMP,
        necessitating an update to address the current cloud environment's
        challenges.
      </p>
      <p class=" ">
        The draft guidance proposes a comprehensive plan to scale FedRAMP,
        enhance its security review processes, and facilitate the faster
        adoption of secure cloud products and services within the federal
        government. This initiative builds on recent efforts, including the
        <b>FedRAMP Authorization Act</b> passed in 2022 and the establishment of
        the Federal Secure Cloud Advisory Committee. The proposed changes aim to
        make FedRAMP more responsive to the evolving cloud marketplace, ensuring
        federal agencies can access a broader range of cloud-based services.
        This modernization effort enhances its governance structure and improves
        the authorization process for secure cloud adoption across the federal
        government.
      </p>
      <p class=" ">
        Over the past 10+ years, there has been an increased adoption of cloud
        products and services resulting in increased efficiencies and improved
        accessibility while also enabling better collaboration, data management,
        and public engagement.
      </p>
      <p class=" ">
        Additionally, the growth in the number of Software-as-a-Service (SaaS)
        products provides agencies with advanced software solutions without the
        complexities and costs associated with traditional software deployment
        and maintenance.
      </p>
      <br />
      <h3 id="omb-outlines" class="sub-topic-heading-blue">
        OMB’s draft outlines key areas of outcome for FedRamp Modernization:
      </h3>
      <div class="bulletSections">
        <div class="topLine"></div>
        <ul class="experiences">
          <li class="bulletText">
            <b
              >Zero Trust is a security framework that assumes that threats can
              originate from both internal and external sources, and thus, trust
              should not be automatically granted to any entity.</b
            >
          </li>
          <li class="bulletText">
            <b
              >Successfully implementing Zero Trust is a comprehensive approach
              that emphasizes continuous verification, strict access controls,
              and least privilege principles.
            </b>
          </li>
          <li class="bulletText">
            <b
              >By applying Zero Trust principles to the supply chain,
              organizations can mitigate the risks associated with third-party
              dependencies and enhance their resilience against supply chain
              attacks.</b
            >
          </li>
        </ul>
      </div>

      <h3 id="fedramp-impact" class="sub-topic-heading-blue">
        FedRamp Impact Levels
      </h3>
      <a
        tabindex="0"
        class="image-container"
        href="#mission-image"
        aria-label="Open our Missions image"
        aria-controls="mission-image"
        data-open-modal=""
        role="button">
        <img
          src="{{site.baseurl}}/assets/images/screenshot/fedramp-impact-level.png"
          alt="FedRamp Impact Levels"
          style="width: auto" />
        <div class="image-overlay">
          <img
            src="{{site.baseurl}}/assets/images/icons/search-icon-white.svg"
            alt="search-icon"
            class="overlay-icon" />
        </div>
      </a>
      <div
        class="usa-modal usa-modal-team-member usa-modal-bg-transparent"
        id="mission-image">
        <div class="usa-modal__content">
          <div class="usa-modal__main usa-modal-main-no-padding">
            <img
              src="{{site.baseurl}}/assets/images/screenshot/fedramp-impact-level.png"
              alt="FedRamp Impact Levels" />
          </div>
          <button
            type="button"
            class="usa-button usa-modal__close usa-modal-close-no-padding-right"
            aria-label="Close this window"
            data-close-modal>
            <img
              src="{{site.baseurl}}/assets/images/icons/exit-icon-white.svg"
              alt="Exit button"
              class="exit-button" />
          </button>
        </div>
      </div>
      <div class="tab-divide-line end-content"></div>
      <h3 id="fedramp-video" class="sub-topic-heading">
        FedRAMP - Securing Cloud Services for the Federal Government
      </h3>
      <video class="video-container margin-top-2" controls>
        <source
          src="{{site.baseurl}}/assets/video/zero-trust-draft.mp4"
          type="video/mp4" />
        <track
          label="English"
          kind="subtitles"
          srclang="en"
          src="{{site.baseurl}}/assets/video/captions/zero-trust-draft.vtt"
          default />
      </video>

      <div class="tab-divide-line end-content"></div>
      <h3 id="intended-takeaways" class="sub-topic-heading">
        Intended Takeaways
      </h3>
      <div class="bulletSections">
        <div class="topLine"></div>
        <ul class="experiences">
          <li class="bulletText">
            <b>Faster deployment of new services:</b>
            By leveraging cloud infrastructure, the Government can rapidly
            develop and deploy new digital services and applications to meet the
            evolving needs of the public, without being constrained by physical
            infrastructure limitations.
          </li>

          <li class="bulletText">
            <b>Improved accessibility:</b>
            Cloud-based applications and services can be accessed from anywhere
            with an internet connection, making government services more
            accessible to members of the public, regardless of their location.
          </li>

          <li class="bulletText">
            <b>Enhanced collaboration:</b>
            Cloud-based tools and platforms facilitate collaboration among
            government agencies, departments, and personnel, enabling better
            information sharing and coordination.
          </li>

          <li class="bulletText">
            <b>Data analytics and insights:</b>
            Cloud-based analytics tools and services enable the Government to
            process and analyze large datasets, providing valuable insights for
            informed decision-making and policy development.
          </li>

          <li class="bulletText">
            <b>Increased engagement:</b>
            Cloud-based platforms and applications can enhance engagement by
            providing user-friendly interfaces, mobile accessibility, and
            real-time updates on government services and initiatives.
          </li>
        </ul>
      </div>

      <div class="tab-divide-line end-content"></div>
      <h2 id="contributors" class="sub-topic-heading">
        Contributors and Partners
      </h2>
      <div class="tab-img-p">
        <img
          class="circle-profile-image"
          src="{{site.baseurl}}/assets/images/person/brian-conrad.png"
          alt="Brian Conrad profile image" />

        <div>
          <h3
            class="sub-topic-heading-blue sub-topic-heading-23 margin-bottom-0">
            Brian Conrad
          </h3>
          <p class=" ">
            Brian Conrad joined the Federal Risk and Authorization Management
            Program (FedRAMP) team within the U.S. General Services
            Administration (GSA) in December 2018, bringing with him a wealth of
            technical knowledge and leadership experience.
          </p>
        </div>
      </div>
      <div id="additional-resource" class="links-list">
        <h3 class="sub-topic-heading-blue margin-bottom-0">
          Additional Resources
        </h3>
        <ul
          class="links-with-descriptions links-with-descriptions-row-gap-10 margin-top-1">
          <li class="link-with-description">
            <a
              target="_blank"
              rel="noreferrer noopener"
              href="https://www.whitehouse.gov/omb/briefing-room/2023/10/27/office-of-management-and-budget-releases-draft-memorandum-for-modernizing-the-federal-risk-and-authorization-management-program-fedramp/"
              tabindex="0">
              <p class="link-heading">
                <img
                  class="link-icon"
                  alt="Link icon"
                  src="{{site.baseurl}}/assets/images/icons/link-icon.svg" />
                Office of Management and Budget Releases Draft Memorandum for
                Modernizing the Federal Risk and Authorization Management
                Program (FedRAMP)
                <img
                  alt="External icon"
                  src="{{site.baseurl}}/assets/images/icons/external-small.svg" />
              </p>
            </a>
          </li>
          <li class="link-with-description">
            <a
              target="_blank"
              rel="noreferrer noopener"
              href="https://www.whitehouse.gov/wp-content/uploads/2023/11/FedRAMP-updated-draft-guidance-2023.pdf"
              tabindex="0">
              <p class="link-heading">
                <img
                  class="link-icon"
                  alt="Link icon"
                  src="{{site.baseurl}}/assets/images/icons/pdf-icon.svg" />
                Modernizing the Federal Risk Authorization Management Program
                (FedRAMP)
                <img
                  alt="External icon"
                  src="{{site.baseurl}}/assets/images/icons/external-small.svg" />
              </p>
            </a>
          </li>
          <li class="link-with-description">
            <a
              target="_blank"
              rel="noreferrer noopener"
              href="https://www.fedramp.gov/"
              tabindex="0">
              <p class="link-heading">
                <img
                  class="link-icon"
                  alt="Link icon"
                  src="{{site.baseurl}}/assets/images/icons/link-icon.svg" />
                Securing Cloud Services for the Federal Government
                <img
                  alt="External icon"
                  src="{{site.baseurl}}/assets/images/icons/external-small.svg" />
              </p>
            </a>
          </li>

          <li class="link-with-description">
            <a
              target="_blank"
              rel="noreferrer noopener"
              href="https://www.fedramp.gov/blog/"
              tabindex="0">
              <p class="link-heading">
                <img
                  class="link-icon"
                  alt="Link icon"
                  src="{{site.baseurl}}/assets/images/icons/link-icon.svg" />
                Discovering What’s Happening in the FedRAMP World
                <img
                  alt="External icon"
                  src="{{site.baseurl}}/assets/images/icons/external-small.svg" />
              </p>
            </a>
          </li>

          <li class="link-with-description">
            <a
              target="_blank"
              rel="noreferrer noopener"
              href="https://www.gsa.gov/technology/government-it-initiatives/federal-secure-cloud-advisory-committee"
              tabindex="0">
              <p class="link-heading">
                <img
                  class="link-icon"
                  alt="Link icon"
                  src="{{site.baseurl}}/assets/images/icons/link-icon.svg" />
                Federal Secure Cloud Advisory Committee
                <img
                  alt="External icon"
                  src="{{site.baseurl}}/assets/images/icons/external-small.svg" />
              </p>
            </a>
          </li>
        </ul>
      </div>
      <div class="tab-divide-line end-content"></div>
      <h2 id="about-itvmo" class="sub-topic-heading">About ITVMO</h2>
      <p class=" ">
        The Information Technology Vendor Management Office (ITVMO) serves as a
        trusted advisor and advocate for Federal IT acquisitions. Established in
        October 2020 within the Governmentwide Category Management Framework by
        the Office of Management and Budget (OMB), the ITVMO aims to address the
        challenges faced by agencies in IT vendor relationship management,
        including standardizing technical requirements, mitigating cyber-risk,
        improving data quality, and leveraging the government's buying power to
        drive improvements and business transformation. The ITVMO's mission is
        to provide agencies with meaningful intelligence to inform and support
        faster, smarter IT buying decisions. It operates within the Federal IT
        Acquisitions Ecosystem, collaborating with various stakeholders,
        including agency IT buyers, vehicle solution holders, federal and
        industry partners, and suppliers (and resellers).
      </p>
      <p class="text-center margin-top-4">
        <a
          target="_blank"
          rel="noreferrer noopener"
          href="https://forms.gle/9KooBwmRw7A1Asff7"
          tabindex="0">
          Was this helpful? What else would you like to know about?
        </a>
      </p>

      <div class="tab-divide-line end-content"></div>
    </div>
    <div class="content-nav">
      <div class="nav-list">
        <h3>On this Page</h3>
        <a
          id="sn-overview"
          class="page-nav page-nav-active"
          href="#overview"
          onclick="return removeTabContent(this)"
          >Overview</a
        >
        <a
          id="sn-fedramp-video"
          class="page-nav page-nav"
          href="#fedramp-video"
          onclick="return removeTabContent(this)"
          >FedRamp Video</a
        >
        <a
          id="sn-intended-takeaways"
          class="page-nav page-nav"
          href="#intended-takeaways"
          onclick="return removeTabContent(this)"
          >Intended-Takeaways</a
        >
        <a
          id="sn-contributors"
          class="page-nav page-nav"
          href="#contributors"
          onclick="return removeTabContent(this)"
          >Contributors & Partners</a
        >
        <a
          id="sn-additional-resource"
          class="page-nav page-nav"
          href="#additional-resource"
          onclick="return removeTabContent(this)"
          >Additional Resource</a
        >
        <a
          id="sn-about-itvmo"
          class="page-nav page-nav"
          href="#about-itvmo"
          onclick="return removeTabContent(this)"
          >About ITVMO</a
        >
        <!-- <a id="sn-agency-showcase" class="page-nav" href="#agency-showcase" onclick="return removeTabContent(this)">Agency Showcase</a>
             <a id="sn-new-itvmo-member" class="page-nav" href="#new-itvmo-member" onclick="return removeTabContent(this)">New ITVMO Team Members</a> -->
      </div>
    </div>
  </div>
</section>
