<footer class="usa-footer" role="contentinfo">
    <div class="footer-section-bottom bg-base-lighter">
      <section id="footer-links">
        <div class="grid-container">
            <div>
              <ul>
                <li><b>Learn</b></li>
                <li><a href="/news/">News</a></li>
                <li><a href="/events/">Events</a></li>
                <li><a href="/community/">Community</a></li>
                <li><a href="/services/">Services</a></li>
                <li><a href="/resources/">Resources</a></li>
              </ul>
            </div>
            <div>
              <ul>
                <li><b>Support</b></li>
                <li><a href="/about/">About</a></li>
                <li><a href="https://public.govdelivery.com/accounts/USGSA/subscriber/new?topic_id=USGSA_911">Subscribe</a></li>
                <li><a href="/contribute/">Contribute</a></li>
                <li><a href="/contact-info/">Contact Us</a></li>
                <li><a href="/itvmo-max/">ITVMO MAX</a></li>
              </ul>
            </div>
            <div>
              <ul>
                <li><b>Socials</b></li>
                <li>
                  <img id="u70_img" class="img" src="https://files.axshare.com/gsc/FTDJN4/6c/1f/be/6c1fbef273a445aea668c57d3bcc00ad/images/home/u70.svg?pageId=440fa3d9-cf2b-4c85-b796-e76edd84eb0d">
                  <a href="mailto:search@gsa.gov">Linkedin</a>
                </li>
              </ul>
            </div>
        </div>
      </section>
      <section id="footer-gsa">
        <div class="grid-container">
          <div id="gsa">
            <img src="{{site.baseurl}}/assets/images/logos/gsa-logo.jpg" alt="GSA logo">
            <div>
              <p id="itvmo">itvmo.gsa.gov</p>
              <p class="gsa-link">An official website of the <a href="https://www.gsa.gov/">U.S. General Services Administration</a></p>
            </div>
          </div>
          <div id="gsa-options">
            <div>
              <a class="gsa-link" href="">About GSA</a>
              <a class="gsa-link" href="">Accessibility support</a>
            </div>
            <div>
              <a class="gsa-link" href="">FOIA requests</a>
              <a class="gsa-link" href="">No FEAR Act data</a>
            </div>
            <div>
              <a class="gsa-link" href="">Office of the Inspector General</a>
              <a class="gsa-link" href="">Performance reports</a>
            </div>
            <div>
              <a class="gsa-link" href="">Privacy policy</a>
            </div>
          </div>
          <p class="gsa-link">Looking for U.S. government information and services?  <a href="https://www.usa.gov/">Visit USA.gov</a></p>
        </div>

      </section>
      <!-- <div class="grid-container">
        <div class="grid-row padding-top-3 padding-bottom-3">
          <div class="padding-right-1">
            <div class="logo-links" style="margin-top:1rem;">
                <img class="usa-footer__logo-img" src="{{site.baseurl}}/assets/images/logos/ITVMO_small_logo.png" alt="ITVMO">
            </div>
          </div>
          <div class="tablet:grid-col mobile-lg:grid-col tablet:grid-col desktop:grid-col-4"><p>For more information, <br>please visit the <a href="https://community.max.gov/x/AbtkgQ">ITVMO MAX</a></p></div>
          <div class="tablet:grid-col mobile-lg:grid-col tablet:grid-col desktop:grid-col padding-right-3">
            <p>Join our mailing list to stay up to date on latest ITVMO news and projects</p>
            <div style="margin-top:-12px;">
            <a href="https://public.govdelivery.com/accounts/USGSA/subscriber/new?topic_id=USGSA_911" class="usa-button btn-primary">Subscribe</a>
          </div>
          </div>
          <div class="tablet:grid-col mobile-lg:grid-col tablet:grid-col desktop:grid-col-2">
          <address>
           <p>CONTACT US <br>
           <a href="mailto:itvmo@gsa.gov">itvmo@gsa.gov</a></p>
          </address>
          </div>
        </div>
      </div> -->
    </div>
    <script src="{{site.baseurl}}/assets/js/isotope.pkgd.min.js"></script>
  <script src="{{site.baseurl}}/assets/js/isotope.settings.js"></script>
</footer>
  
  