<div id="subscription-area"class="SubscriptionSection">
  <div class="grid-container">
    <div class="grid-row grid-gap-5">
      <!-- <img id="subscribe-itvmo-logo" class="tablet:grid-col-2" src="{{site.baseurl}}/assets/images/logos/ITVMO_logo.png" alt="ITVMO logo"> -->
      <div class="tablet:grid-col-7 SubscribeSec">
        <div class="subscribe-text-logo">
          <img id="subscribe-itvmo-logo" class="tablet:grid-col-2" src="{{site.baseurl}}/assets/images/logos/ITVMO_logo.png" alt="ITVMO logo">
          <p class="subscribeText"><strong>Join a community of government and industry IT acquisition professionals</strong> and 
            subscribe to our emails — a compilation of latest ITVMO updates, trending topic blogs, and industry news. Government 
            subscribers will also be included on gov-only bulletins and announcements. </p>
        </div>
          <p class="subscribeFooterText">Help us to unite buyers, vehicles, and suppliers to make smarter, faster  IT acquisitions.</p>

      </div>
    <div class="tablet:grid-col">

    <form id="GD-snippet-form" action="https://public.govdelivery.com/accounts/USGSA/subscribers/qualify" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" />
      <input type="hidden" name="topic_id" id="topic_id" value="USGSA_911" />
        <ol class='sub-form'>
          <li class='sub-email-field'>
            <label for="email">Email Address<img class="sub-required" alt="" aria-hidden="true" src="{{site.baseurl}}/assets/images/icons/required.png" /></label>
            <input aria-label="Insert an email" type="email" name="email" id="email" value="" class="long email_text_field" required="required" />
          </li>
        </ol>
        <div class='sub-button-panel'><input type="submit" name="commit" value="Submit" class="sr-button reverse" data-disable-with="Submit" />
        </div>

    </form>
  </div>
  </div>
  </div>
</div>
<footer class="usa-footer" role="contentinfo">
    <div class="footer-section-bottom bg-base-lighter">
      <section id="footer-links">
        <div class="grid-container">
            <div>
              <ul>
                <li><b>Learn</b></li>
                <li><a href="{{site.baseurl}}/news/">News</a></li>
                <li><a href="{{site.baseurl}}/events/">Events</a></li>
                <li><a href="{{site.baseurl}}/community/">Community</a></li>
                <li><a href="{{site.baseurl}}/services/">Services</a></li>
                <li><a href="{{site.baseurl}}/resources/">Resources</a></li>
              </ul>
            </div>
            <div>
              <ul>
                <li><b>Support</b></li>
                <li><a href="{{site.baseurl}}/about/">About</a></li>
                <li><a href="https://public.govdelivery.com/accounts/USGSA/subscriber/new?topic_id=USGSA_911">Subscribe</a></li>
                <li><a href="{{site.baseurl}}/contact-us-contribute/?tabName=contribute-header">Contribute</a></li>
                <li><a href="{{site.baseurl}}/contact-us-contribute/?tabName=contact-us-header">Contact Us</a></li>
                <li><a href="https://community.max.gov/x/AbtkgQ">ITVMO MAX</a></li>
              </ul>
            </div>
            <div>
              <ul>
                <li><b>Socials</b></li>
                <li>
                  <img alt="Linkedin logo" src="{{site.baseurl}}/assets/images/icons/linkedln.svg">
                  <a target="_blank" rel="noreferrer noopener" href="https://www.linkedin.com/company/govwideitvmo/">Linkedin</a>
                </li>
              </ul>
            </div>
        </div>
      </section>
      <section id="footer-gsa">
        <div class="grid-container">
          <div class="usa-identifier">
            <section
              class="usa-identifier__section usa-identifier__section--masthead"
              aria-label="Agency identifier,"
            >
              <div class="usa-identifier__container">
                <div class="usa-identifier__logos">
                  <a href="" class="usa-identifier__logo"
                    ><img
                      class="usa-identifier__logo-img"
                      src="{{site.baseurl}}/assets/images/logos/gsa-logo.jpg"
                      alt="GSA logo"
                      role="img"
                  /></a>
                </div>
                <section
                  class="usa-identifier__identity"
                  aria-label="Agency description,"
                >
                  <p class="usa-identifier__identity-domain">itvmo.gsa.gov</p>
                  <p class="usa-identifier__identity-disclaimer">
                    An official website of the <a href="https://www.gsa.gov/">U.S. General Services Administration</a>
                  </p>
                </section>
              </div>
            </section>
            <nav
              class="usa-identifier__section usa-identifier__section--required-links"
              aria-label="Important links,"
            >
              <div class="usa-identifier__container">
                <ul class="usa-identifier__required-links-list">
                  <li class="usa-identifier__required-links-item">
                    <a
                      href="https://www.gsa.gov/about-us?topnav=about-us"
                      class="usa-identifier__required-link usa-link"
                      >About GSA</a
                    >
                  </li>
                  <li class="usa-identifier__required-links-item">
                    <a href="https://www.gsa.gov/website-information/accessibility-statement?footer=" class="usa-identifier__required-link usa-link"
                      >Accessibility Statement</a
                    >
                  </li>
                  <li class="usa-identifier__required-links-item">
                    <a href="https://www.gsa.gov/reference/freedom-of-information-act-foia" class="usa-identifier__required-link usa-link"
                      >FOIA requests</a
                    >
                  </li>
                  <li class="usa-identifier__required-links-item">
                    <a href="https://www.gsa.gov/reference/civil-rights-programs/the-no-fear-act" class="usa-identifier__required-link usa-link"
                      >No FEAR Act data</a
                    >
                  </li>
                  <li class="usa-identifier__required-links-item">
                    <a href="https://www.gsaig.gov/" class="usa-identifier__required-link usa-link"
                      >Office of the Inspector General</a
                    >
                  </li>
                  <li class="usa-identifier__required-links-item">
                    <a href="https://www.gsa.gov/reference/reports/budget-and-performance" class="usa-identifier__required-link usa-link"
                      >Performance reports</a
                    >
                  </li>
                  <li class="usa-identifier__required-links-item">
                    <a href="https://www.gsa.gov/website-information/website-policies" class="usa-identifier__required-link usa-link"
                      >Privacy policy</a
                    >
                  </li>
                </ul>
              </div>
            </nav>
            <section
              class="usa-identifier__section usa-identifier__section--usagov"
              aria-label="U.S. government information and services,"
            >
              <div class="usa-identifier__container">
                <div class="usa-identifier__usagov-description">
                  Looking for U.S. government information and services?
                </div>
                <a href="https://www.usa.gov/" class="usa-link">Visit USA.gov</a>
              </div>
            </section>
          </div>
        </div>
      </section>
    </div>
    <script src="{{site.baseurl}}/assets/js/isotope.pkgd.min.js"></script>
  <script src="{{site.baseurl}}/assets/js/isotope.settings.js"></script>
</footer>
  
  