<footer class="usa-footer" role="contentinfo">
    <div class="footer-section-bottom bg-base-lighter">
      <div class="grid-container">
        <div class="grid-row padding-top-3 padding-bottom-3">
          <div class="padding-right-1">
            <div class="logo-links" style="margin-top:1rem;">
                <img class="usa-footer__logo-img" src="{{site.baseurl}}/assets/images/logos/ITVMO_small_logo.png" alt="ITVMO">
            </div>
          </div>
          <div class="tablet:grid-col mobile-lg:grid-col tablet:grid-col desktop:grid-col-4"><p>For more information, <br>please visit the <a href="https://community.max.gov/x/AbtkgQ">ITVMO MAX</a></p></div>
          <div class="tablet:grid-col mobile-lg:grid-col tablet:grid-col desktop:grid-col padding-right-3">
            <p>Join our mailing list to stay up to date on latest ITVMO news and projects</p>
            <div style="margin-top:-12px;">
            <a href="https://public.govdelivery.com/accounts/USGSA/subscriber/new?topic_id=USGSA_911" class="usa-button btn-primary">Subscribe</a>
          </div>
          </div>
          <div class="tablet:grid-col mobile-lg:grid-col tablet:grid-col desktop:grid-col-2">
          <address>
           <p>CONTACT US <br>
           <a href="mailto:itvmo@gsa.gov">itvmo@gsa.gov</a></p>
          </address>
          </div>
        </div>
      </div>
    </div>
    <script src="{{site.baseurl}}/assets/js/isotope.pkgd.min.js"></script>
  <script src="{{site.baseurl}}/assets/js/isotope.settings.js"></script>
</footer>
  
  