<div class="contents padding-bottom-5">
  <div id="guide-chapter-2">
    

    <p>
      If implemented responsibly, AI can improve operations and deliver
      efficiencies across the Federal Government. When implemented with
      appropriate safeguards and risk management practices Generative AI
      tools can help automate and refine data processing, improve analysis
      and speed up decision-making while reducing human errors. This can
      enable better policy making, operational planning, service delivery
      and communications. More specific and up to date information on
      <a class="external_link" href="https://ai.gov/ai-use-cases/"
        >government use of Generative AI</a
      >
      is available to help agencies understand such possibilities.
    </p>

    <h2>2.1 Generative AI in Government Examples</h2>
    <p>
      Here are a few examples of how the Executive Branch is currently using
      Generative AI:
    </p>

    <ul>
      <li>
        <h4>
          DHS Commercial Generative AI for Text, Image and Code Generation
        </h4>
      </li>
    </ul>
    <p>
      Department of Homeland Security employees are
      <a class="external_link" href="https://www.dhs.gov/data/AI_inventory"
        >permitted</a
      >
      to use commercially available Generative AI for day-to-day work
      including generating first drafts of documents that a human would
      subsequently review, conducting and synthesizing research on
      open-source information, developing briefing materials, dynamically
      creating graphical content through text prompts, and creating usable
      computer code.
      <a
        class="external_link"
        href="https://www.dhs.gov/sites/default/files/2023-11/23_1114_cio_use_generative_ai_tools.pdf"
        >DHS policy</a
      >
      guides this use to make sure it is safe, secure and trustworthy.
    </p>

    <ul>
      <li>
        <h4>FEMA Hazard Mitigation Plan Creation Tool</h4>
      </li>
    </ul>
    <p>
      Federal Emergency Management Agency (FEMA) will launch a Generative AI
      <a
        class="external_link"
        href="https://www.dhs.gov/news/2024/03/18/department-homeland-security-unveils-artificial-intelligence-roadmap-announces"
        >pilot</a
      >
      to create efficiencies for the hazard mitigation planning process for
      local governments, including underserved communities. Hazard
      mitigation plans are not only a foundational step that communities can
      take to build their resilience but can be lengthy to produce and
      challenging for communities that lack resources to do so. The pilot
      will specifically support State, Local, Tribal, and Territorial
      governments’ understanding of how to craft a plan that identifies
      risks and mitigation strategies as well as generate draft plan
      elements—from publicly-available, well-researched sources — that
      governments could customize to meet their needs. This pilot could lead
      to more communities having the ability to submit grant applications
      for funding to become more resilient and reduce disaster risks.
    </p>
    <ul>
      <li>
        <h4>FSA’s Aidan Chatbot</h4>
      </li>
    </ul>
    <p>
      Department of Education’s Federal Student Aid (FSA)
      <a
        class="external_link"
        href="https://www2.ed.gov/about/offices/list/ocio/technology/ai-inventory/index.html"
        >virtual assistant</a
      >
      uses natural language processing to answer common financial aid
      questions and help customers get information about their federal aid
      on StudentAid.gov. In just over two years, Aidan has interacted with
      over 2.6 million unique customers, resulting in more than 11 million
      user messages. FSA provides
      <a class="external_link" href="https://studentaid.gov/h/aidan"
        >disclosures</a
      >
      to the public about the use of Aidan.
    </p>
    <ul>
      <li>
        <h4>NIH’s TrialGPT</h4>
      </li>
    </ul>
    <p>
      National Institute of Health (NIH) National Library of Medicine
      developed a
      <a class="external_link" href="https://arxiv.org/abs/2307.15051"
        >Large-Language Model</a
      >
      to help match patients to clinical trials based on physicians’ notes.
      The system looked at trial restrictions and assessed patient
      eligibility to identify who might be good candidates and who might
      need to be excluded. The initial experiments of TrialGPT were run on
      data from 184 patients and 18,238 annotated clinical trials.
    </p>

    <p>
      Many other agencies have begun their AI journeys with pilots and
      experiments. The
      <a
        class="external_link"
        href="https://federalnewsnetwork.com/artificial-intelligence/2023/11/federal-reserve-looks-to-harness-generative-ai-incubator/"
        >Federal Reserve Board has started a Generative AI “incubator”</a
      >
      that is looking at testing hypotheses and seeing how different
      solutions perform. They have data from the different payment systems
      they oversee that could provide insights about opportunities and
      problems in the customer experience.
      <a
        class="external_link"
        href="https://fedscoop.com/nasa-cautiously-tests-openai-software/"
        >NASA has planned to run experiments using Generative AI systems to
        help write computer code</a
      >, potentially saving human software programmers time.
    </p>

    <h2>2.2 Emerging Project Areas and Use Cases</h2>

    <p>
      The value of Generative AI tools is expanding as more individuals and
      companies experiment with Large Language Models, AI-enabled chatbots
      and content generators. Some of them have potential applications for
      the government to increase their own efficiencies, lower operating
      costs, and prevent and detect criminal activity against the
      government. There is a range of current capabilities within agencies
      to support these emerging project areas.
    </p>

    <h3>Automated Documentation Drafting</h3>
    <p>
      Using custom GPTs, Generative AI tools can assist in creating initial
      drafts of required documents for caseworkers, contracting officers,
      and other government professionals for repetitive or common tasks.
    </p>

    <h3>Fraud Detection in Financial Transactions</h3>
    <p>
      Utilizing pattern recognition and trend analysis of financial data,
      Generative AI can identify fraudulent activities in federal financial
      systems by flagging inconsistencies in the data sets for further human
      review and decision.
    </p>

    <h3>Synthetic Data Generation</h3>
    <p>
      Generative AI can create sample data sets to test software for
      functionality and scalability, potentially reducing the development
      timeline for new products or modification and personalization of
      commercial software by eliminating or reducing the need to provide
      and/or clean actual government data.
    </p>

    <h3>Cybersecurity Threat Detection</h3>
    <p>
      Using a generative AI model trained on historical cyber data like
      network traffic and user interactions, cyber professionals can
      identify patterns and trends allowing them to anticipate and respond
      to cyber threats against federal IT systems.
    </p>

    <h3>Human Resource Management</h3>
    <p>
      Generative AI can assist in summarizing resumes, personalizing
      recruitment activities, drafting job descriptions, interview guides
      and training materials.
    </p>

    <h3>Modernizing and Managing Software Code</h3>
    <p>
      Generative AI can help agency software developers draft new code,
      translate and transform legacy code, and identify potentially outdated
      or compromised code libraries in existing products.
    </p>

    <h3>Energy Consumption Analysis</h3>
    <p>
      By analyzing historical weather trends and utilities usage, Generative
      AI can help predict scenarios and optimize energy usage in federal
      buildings.
    </p>

    <h3>AI-Enabled Training Simulations</h3>
    <p>
      Generative AI can be used to develop virtual training environments and
      create interactive scenarios based on organizational policies,
      doctrine and norms. This allows for more realistic interactions before
      an employee is put into a new role or when a new policy is created.
    </p>

    <h3>Customizing Citizen Engagement</h3>
    <p>
      AI can personalize communication with citizens based on their
      interactions with government services. Through the use of intelligent
      chatbots, agencies can provide a level of automated customer service
      for government services, more quickly and effectively resolving
      inquiries from the public.
    </p>
  </div>
</div>
