<div class="contents padding-bottom-5">
  <div id="guide-chapter-1">
    <h1>1. Generative AI 101</h1>
    <h2>1.1 Key Definitions</h2>

    <h3>Artificial Intelligence</h3>
    <p>15 U.S.C. 9401(3) defines “Artificial Intelligence” as:</p>
    <p>
      “a machine-based system that can, for a given set of human-defined
      objectives, make predictions, recommendations, or decisions influencing
      real or virtual environments. Artificial intelligence systems use machine-
      and human-based inputs to perceive real and virtual environments; abstract
      such perceptions into models through analysis in an automated manner; and
      use model inference to formulate options for information or action.”
    </p>

    <p>
      More simply, it refers to the science and engineering of making
      intelligent machines.
    </p>

    <h3>Generative Artificial Intelligence, Generative AI and GenAI</h3>
    <p>
      <a
        class="external_link"
        href="https://www.whitehouse.gov/briefing-room/presidential-actions/2023/10/30/executive-order-on-the-safe-secure-and-trustworthy-development-and-use-of-artificial-intelligence/?utm_source=link"
        >Executive Order 14110 defines “Generative Artificial Intelligence”</a
      >
      as:
    </p>
    <p>
      “the class of AI models that emulate the structure and characteristics of
      input data in order to generate derived synthetic content. This can
      include images, videos, audio, text, and other digital content.”
    </p>

    <p>
      Fundamentally, this is software that can generate images, video, audio,
      text and computer code when prompted by a human user.
    </p>

    <p>
      This guide uses Generative Artificial Intelligence, Generative AI and
      GenAI to mean the same thing.
    </p>

    <h3>Cloud</h3>
    <p>
      <a
        class="external_link"
        href="https://csrc.nist.gov/pubs/sp/800/145/final"
        >The National Institute of Standards &amp; Technology (NIST) defines
        “Cloud Computing”</a
      >
      as:
    </p>
    <p>
      “a model for enabling ubiquitous, convenient, on-demand network access to
      a shared pool of configurable computing resources (e.g., networks,
      servers, storage, applications, and services) that can be rapidly
      provisioned and released with minimal management effort or service
      provider interaction.”
    </p>

    <p>
      In simple terms, the “cloud” is the interconnected network of servers in
      data centers where information, data, and software are stored and
      accessed.
    </p>

    <h3>Credits</h3>
    <p>
      “Credits” is a term often used in cloud computing to describe currency or
      funds that can be used on the cloud provider’s site. They operate sort of
      like tickets at a fair where it takes 5 tickets to go on some rides and 10
      tickets to go on others. For cloud or Generative AI tools when you fund a
      particular requirement, you are in essence buying “credits” with your
      obligation which are then used to pay for how much computing you use for
      your requirements. If you save a lot of files to your cloud account you
      pay more credits. Each time you use a Generative AI tool you may pay a few
      credits. If you use a Generative AI tool to create content, they may
      charge you more credits for more sophisticated outputs.
    </p>

    <h3>Application Programming Interface (API)</h3>
    <p>
      <a
        class="external_link"
        href="https://csrc.nist.gov/glossary/term/Application_Programming_Interface"
        >NIST defines “API”</a
      >
      as:
    </p>
    <p>
      “A system access point or library function that has a well-defined syntax
      and is accessible from application programs or user code to provide
      well-defined functionality.”
    </p>

    <p>
      Simply, APIs are digital communication tools that allow two pieces of
      software to easily exchange data with one another.
    </p>

    <h3>Machine Learning</h3>
    <p>
      <a
        class="external_link"
        href="https://www.whitehouse.gov/briefing-room/presidential-actions/2023/10/30/executive-order-on-the-safe-secure-and-trustworthy-development-and-use-of-artificial-intelligence/?utm_source=link"
        >Executive Order 14110 defines “Machine Learning”</a
      >
      as:
    </p>
    <p>
      “A set of techniques that can be used to train AI algorithms to improve
      performance at a task based on data.”
    </p>

    <p>
      Basically machine learning is about creating software that can, without
      too much human interaction, analyze data, find patterns and develop its
      own way of “thinking.”
    </p>

    <h2>For further reading…</h2>
    <p>
      In 2023, NIST released a living
      <a
        class="external_link"
        href="https://airc.nist.gov/AI_RMF_Knowledge_Base/Glossary"
        >glossary</a
      >
      called “<a
        class="external_link"
        href="https://docs.google.com/spreadsheets/d/e/2PACX-1vTRBYglcOtgaMrdF11aFxfEY3EmB31zslYI4q2_7ZZ8z_1lKm7OHtF0t4xIsckuogNZ3hRZAaDQuv_K/pubhtml"
        >The Language of Trustworthy AI</a
      >,” which it maintains as a companion resource to its AI Risk Management
      Framework (AI RMF).
    </p>

    <p>
      The glossary is designed to be flexible and offer multiple meanings of
      commonly used terms you may encounter.
    </p>

    <h2>1.2 A Basic Overview of Generative AI</h2>

    <p>
      Here is a simplified crash course into Generative Artificial Intelligence
      or “Generative AI.”
    </p>

    <h4>Predictive Text is a Simple Example of Artificial Intelligence</h4>
    <p>
      We’ve all seen the basic version of artificial intelligence in computers
      and smartphones.
    </p>

    <p>
      When we are writing an email or composing a text message the software
      suggests what the next word we might want to type is. That “type ahead”
      feature is an example of basic artificial intelligence in action.
    </p>

    <p>
      Predictive text relies on the most fundamental building block of
      Generative AI tools, called “foundation models.” Simply put these models
      are pieces of software that represent the way we as humans think as
      hundreds of lines of computer code, data and algorithms.
    </p>

    <p>
      Predictive text uses one of these foundation models to predict your next
      word based on what most people have written and what you’ve written in
      other sentences.
    </p>

    <h4>The Rise of Large Language Models</h4>
    <p>We can now go much farther than simple predictive text.</p>

    <p>
      That’s because in the last few years we’ve created more sophisticated
      artificial intelligence models. These new models have learned how we
      construct sentences, paragraphs and longer pieces of writing.
    </p>

    <p>
      The creators of these models gathered trillions of pieces of written
      language, from encyclopedia entries and literature to social media posts
      and song lyrics. They used all that data to “train” their models.
    </p>

    <p>
      Those humans wrote computer code and “algorithms” that looked at every
      word and phrase and analyzed how they connect to one another: What do
      those words mean? Which words tend to show up near others? What words are
      used in which contexts?
    </p>

    <p>
      The algorithms looked for patterns and statistics in the
      interrelationships of words and phrases. And the software kept track of
      the results.
    </p>

    <p>
      All of that together created a powerful kind of foundation model called a
      “Large Language Model” or LLM.
    </p>

    <h4>Artificial Intelligence that Generates Content</h4>
    <p>
      The human software programmers also figured out how to build those LLMs to
      get really good at responding to simple human questions and prompts. The
      LLMs could interpret the language a person inputted, analyze what it
      should do and provide a response.
    </p>

    <p>
      So they built chat interfaces similar to text messages that allow someone
      to write a simple prompt or question and have the tool respond.
    </p>

    <p>
      The tool wouldn’t just search all the trillions of pieces of written
      language information in its memory and serve up potential answers. It
      would actually use its pattern analysis of language to compose new phrases
      and sentences and give an answer. The artificial intelligence system would
      generate content; hence, Generative AI.
    </p>

    <p>
      Another benefit of the chat interface has been that someone could ask the
      system to improve the output in specific ways: make the tone more
      friendly, use fewer bullets, say more about this specific issue
      referencing the events of the last few months. In this way, humans can
      keep shaping and refining the output from Generative AI systems. And after
      a few rounds of refinement, we can get something very close to what we
      want.
    </p>

    <p>
      (Note: Large Language Models nowadays are often called Generative
      Pre-Trained Transformers or GPTs. Pairing a “Chat” function with a “GPT”
      is what gave the popular Generative AI product its name. While GPTs and
      LLMs are technically different, you can think of them as about the same
      for the purpose of Generative AI acquisition.)
    </p>

    <h4>Beyond Text</h4>
    <p>
      From there companies and researchers started creating other kinds of
      foundation models and teaching them to learn how to analyze and find
      patterns in different inputs.
    </p>

    <p>
      People started feeding the new models photographs and paintings, songs and
      speeches, videos and animation, computer code and numerical data. And the
      models learned how these kinds of content worked.
    </p>

    <p>
      With a similar chat-based interface it became pretty easy to now ask for
      more than a written text response. Now these foundation models could
      generate images, music, movies, and smartphone apps.
    </p>

    <p>
      As time goes on and models get better, the ability of these artificial
      intelligence tools to generate more sophisticated content has only
      increased.
    </p>
    <h2>1.3 Potential Benefits of Generative AI</h2>

    <p>
      Generative AI offers a range of potential benefits including the ones
      below. This is not an exhaustive list. New benefits are being discovered
      continually.
    </p>

    <h4>Create and Refine Content</h4>
    <p>
      Probably the biggest value that Generative AI tools offer is the ability
      to create text, pictures, sounds, videos and even computer code.
    </p>

    <p>
      A Generative AI tool will mine the information available in its training
      data or on the internet, much like a search engine, then combine it with
      its own pattern-making to construct sentences, paragraphs, graphics, and
      other outputs.
    </p>

    <p>
      Users then have the ability to shape, refine, and adjust the outputs to
      make them what users want and need. This allows a user to make rough
      prototypes, first drafts, and initial passes at content very quickly then
      spend time editing, curating, adjusting, and refining rather than having
      to create from a blank page.
    </p>

    <h4>Easy, Chat-Based Interface for Prompts</h4>
    <p>
      Generative AI systems typically respond to questions and requests that a
      person types into a chat or text box. The Generative AI tools then create
      text, pictures, sounds, or videos to respond to those “prompts.”
    </p>

    <p>
      The person can then refine and improve the output by typing more specific
      directions or guidance into the prompt box and the Generative AI tool can
      iterate what it created to better suit what the person wants.
    </p>

    <p>
      Interestingly, there is a growing area of expertise called “prompt
      engineering” describing people’s skills in crafting the right words,
      context, examples, and guidance to type into chat interfaces to iterate
      and get the right output from different Generative AI systems.
    </p>

    <h4>Customize How They Work</h4>
    <p>
      Generative AI tools often allow both programmers and end users to alter
      them. People can train a model using different data so it can learn the
      patterns of specific kinds of information. This can be especially useful
      if an organization wants to use the Generative AI tool for a specific
      purpose.
    </p>

    <p>
      For example, an agency could train a model using its own agency policies,
      data, regulations, and action with the goal that the model would provide
      more agency-specific outputs.
    </p>

    <p>
      Models can also be “fine tuned,” meaning you can change how the model
      works, adjusting what it should treat as more important or less important.
      You can even change what it outputs to make it more relevant, such as
      following a particular style of writing or imagery.
    </p>

    <p>
      And if no existing model seems to come close you can create your own model
      then train it with custom data, fine tune how it works, and tailor the
      outputs to meet your specific needs.
    </p>

    <h2></h2>
    <h2>1.4. Potential Risks of Generative AI</h2>
    <p>
      Generative AI poses a range of potential risks including the ones below.
      This is not an exhaustive list. New risks are being discovered
      continually.
    </p>
    <h3>Misinformation and Disinformation</h3>
    <p>
      Generative AI can create highly realistic but false content, such as
      “deepfakes” – images, audio, video or text which make it look like someone
      said or did something they didn’t. This can be used to spread falsehoods
      that polarize people, destabilize communities, and even incite crimes.
    </p>

    <h3>Errors and Inaccuracies</h3>
    <p>
      Generative AI models can produce incorrect or nonsensical outputs, often
      because of limitations in their training data or algorithms. These errors
      can lead to misinformation, incorrect decisions, and misinterpretations,
      which can lead to flawed policy decisions or misinformed public
      statements.
    </p>

    <h3>Bias and Discrimination</h3>
    <p>
      AI systems, if they have been trained on discriminatory or one-sided data,
      can lead to unfair or discriminatory outcomes in public services.
    </p>

    <h3>Prompt Manipulation</h3>
    <p>
      There is a risk of Generative AI systems providing biased or misleading
      outputs, especially when users deliberately input incorrect or slanted
      information. Malicious actors could exploit this to generate harmful
      content, spread disinformation, or extract sensitive data.
    </p>

    <h3>Misalignment with Laws and Policies</h3>
    <p>
      The use of Generative AI must be carefully evaluated to ensure compliance
      with applicable laws, policies and procedures around transparency,
      accountability, and other aspects of ethical use.
    </p>

    <h3>Security and Cybersecurity Threats</h3>
    <p>
      Generative AI can be exploited for cyber-attacks, including sophisticated
      phishing and malware that evades detection, and is vulnerable to
      adversarial attacks aimed at manipulating outputs. Insecure AI systems
      risk data theft and sabotage, undermining public trust and national
      security.
    </p>

    <h3>Privacy Risks</h3>
    <p>
      The volume and type of data involved in the use of Generative AI raises
      concerns about privacy and the use and protection of personal information
      when training these technologies, inputting data and outputting content.
    </p>

    <h3>Intellectual Property and Plagiarism</h3>
    <p>
      Generative AI raises complex issues regarding copyright infringement and
      originality. This poses significant challenges for determining the
      ownership and originality of AI-generated works.
    </p>
    <h3>Environmental Impact</h3>
    <p>
      Similar to cloud computing, training and operating large AI models
      requires substantial computational resources, leading to significant
      electricity usage. Additionally, the production and disposal of the
      specialized computing hardware (like GPUs and CPUs) necessary for AI
      development involve resource-intensive processes and contribute to
      electronic waste. This environmental impact is compounded by the
      infrastructure needs of data centers, including land usage and cooling
      systems.
    </p>

    <h3>Model Training Delay</h3>
    <p>
      Since there is a time lag between when the model is trained and when the
      model is used there is a risk that the model doesn’t reflect current
      norms, regulations, or realities, which could cause the AI tool to
      generate irrelevant or inappropriate outputs.
    </p>

    <h3>Ownership</h3>
    <p>
      Generative AI tools create data based on the inputs that it has been
      trained on and new data inputted by users. Aside from the intellectual
      property issues mentioned above, there are significant concerns over who
      owns the inputted and outputted data. If a user inputs documents for the
      Generative AI tool to use is that data now owned by the company who owns
      the Generative AI tool or does the user still own it? If the Generative AI
      created lines of computer code is that code now owned by the user or the
      company who owns the Generative AI tool? Is the Generative AI tool allowed
      to “learn” from the data it created and use it to create code for some
      other user?
    </p>
    <h2>1.5 Typical Generative AI Tools</h2>

    <p>
      Many kinds of Generative AI tools exist right now in the market that an
      agency may want to buy or get access to. Here are a few examples and how
      they might be used by an agency. These are illustrative uses that might be
      tailored to meet an agency’s specific goals.
    </p>

    <h3>Generative AI-Enabled ChatBots</h3>
    <p>
      Applications that are capable of answering a series of related questions
      or prompts in a conversational tone. These might be useful to respond to
      the public’s inquiries on policies, services, programs and products.
    </p>

    <h3>Text Summarizers</h3>
    <p>
      Tools that can take in reports, legal documents, case files and other
      documents, analyze the information and produce summaries. These might be
      useful to reduce the time to review documents and allow an agency user to
      focus on the most relevant content.
    </p>

    <h3>Data Analyzers</h3>
    <p>
      Software that can crawl through large amounts of numerical data, organize
      and structure it, find patterns and anomalies, create visualizations and
      make projections based on what it finds. These might be useful to save
      effort and enable agency staff to do higher level analysis.
    </p>

    <h3>Explainer and Tutoring Tools</h3>
    <h4>
      Modules which can generate natural language explanations and teach users
      through a process, an application or form or a reporting requirement.
      These might be useful to reduce frustration with processes and increase
      the completeness and accuracy of document submissions.
    </h4>

    <h3>Text to Image Generators</h3>
    <p>
      Programs that let an end user quickly produce images and visuals by
      inputting text prompts that describe the picture they want. These might be
      useful to enhance the creation of images, diagrams, illustrations, and
      graphics for use in training materials and guides.
    </p>

    <h3>Coding Assistants</h3>
    <p>
      Applications that can write new computer code, update and improve legacy
      code, translate code from one language to another, find and use
      appropriate code libraries, detect errors in code and recommend changes.
      These might be useful to reduce the time programmers spend developing or
      modernizing code.
    </p>

    <h3>Language Translators</h3>
    <p>
      Tools to analyze text in multiple languages, recognize differences in
      written and spoken language, understand context and properly interpret
      words to have the right meaning. These might be useful to translate
      materials into multiple languages.
    </p>

    <h3>Search and Recommendation</h3>
    <p>
      Add-on functions that improve search results as users build on and refine
      their queries and by interpreting more from what users ask. These might be
      useful to help online systems find the pieces of information that a user
      didn’t know how to ask for but really what they want.
    </p>

    <h2></h2>
    <h2>1.6 For further reading</h2>

    <p>Argonne Leadership Computing Facility:</p>
    <p>
      <a
        class="external_link"
        href="https://www.alcf.anl.gov/alcf-ai-science-training-series"
        >An Intro to AI Driven Science on Supercomputers: A Student Training
        Series</a
      >
    </p>

    <p>Defense Acquisition University (account needed):</p>
    <p>
      <a
        class="external_link"
        href="https://dau.csod.com/ui/lms-learner-playlist/PlaylistDetails?playlistId=00118adb-20e1-4dc5-95a8-9ffd03ab7f70"
        >https://dau.csod.com/ui/lms-learner-playlist/PlaylistDetails?playlistId=00118adb-20e1-4dc5-95a8-9ffd03ab7f70</a
      >
    </p>

    <p>AI Community of Practice (MAX.gov login required):</p>
    <p>
      <a
        class="external_link"
        href="https://community.connect.gov/display/GSA/2023+Stanford+HAI+Training+Series"
        >2023 Stanford HAI Training Series</a
      >
    </p>

    <p>IT Modernization Center of Excellence:</p>
    <p>
      <a
        class="external_link"
        href="https://coe.gsa.gov/coe/ai-guide-for-government/introduction/"
        >IT Modernization CoE - AI Guide for Government</a
      >
    </p>

    <p>Federal Acquisition Institute (FAI):</p>
    <p>
      <a
        class="external_link"
        href="https://dau.csod.com/ui/lms-learner-playlist/PlaylistDetails?playlistId=6c131382-2701-4483-9b7c-610df9550277&amp;utm_medium=email&amp;utm_source=govdelivery"
        >Demystifying AI: A Learning Playlist for Federal Acquisition</a
      >
    </p>
  </div>
</div>
