<div class="contents padding-bottom-5">
  <div id="guide-chapter-5">
    <h2>5. Specialized Computing Infrastructure for Generative AI</h2>

    <h2>5.1 Specialized Computing Infrastructure for Generative AI 101</h2>
    <p>
      Generative AI tools, like all software, run on computers. Because
      Generative AI tools are so calculations-heavy, they require computers that
      are larger, more sophisticated and more powerful. These computers can look
      like the massive “supercomputers” like the ones located at government
      national laboratories. They can also look like very powerful “server”
      computers that sit as small clusters in an agency’s IT center or as groups
      of hundreds of servers sitting in large data centers.
    </p>

    <p>
      If your agency is accessing Generative AI tools through a cloud-based
      platform, there may be fewer concerns about computing power. But if your
      agency is attempting to create its own models and needs its own dedicated
      computers, or has security needs that require the agency to own and
      operate its own computers, it may be necessary to setup its own
      specialized computing infrastructure for Generative AI.
    </p>

    <p>
      Please note: Creating secure, stable and useful specialized computing
      infrastructure requires significant effort and expenses. Think carefully
      before making such investments.
    </p>

    <h3>5.1.1 Specialized Computing Infrastructure Overview</h3>
    <p>
      Specialized Computing Infrastructure can be thought of as the
      high-performance computers, powerful chips, software, networks and
      resources made specifically for building, training, fine-tuning, testing,
      using and maintaining artificial intelligence applications. Computing
      infrastructure can be on-premise, cloud based or a combination of both.
    </p>

    <p>Specialized Computing Infrastructure tends to have…</p>
    <ul>
      <li>
        Advanced Computer Chips that can run multiple, complex calculations
        simultaneously and coordinate multiple functions at once.
      </li>
      <li>
        Scalable Processing Power giving the ability to quickly access
        additional chips if even more computational power is needed.
      </li>
      <li>
        Enhanced Data Storage and Memory to save, access and manage large sets
        of information.
      </li>
      <li>
        Fast Networking to transfer data at high-speeds among systems with
        minimal errors and little delay or “latency.”
      </li>
      <li>
        Sophisticated Software Tools that engineers can use to write computer
        code, program algorithms and adjust models.
      </li>
    </ul>

    <h3>5.1.2 Chips and Computers for Generative AI</h3>
    <p>
      The computer chips that Generative AI models rely on to run calculations
      are powerful and expensive with individual chips running sometimes more
      than $100K apiece. Only a few companies design them and only a few
      companies actually manufacture them.
    </p>
    <p>
      Businesses looking to increase their specialized computing infrastructure
      are spending millions on the chips and computers that they can use to run
      their own Generative AI applications.
    </p>

    <p>
      Computer makers have started releasing AI chip-enabled servers,
      workstation PCs, desktops and laptops. The hardware is optimized with
      specialized GPU chips and larger amounts of RAM to run models directly on
      the device without having to send the queries to a data center or through
      a cloud provider.
    </p>

    <p>
      These computers may be a good fit for Generative AI tools that run off of
      smaller models or smaller data sets.
    </p>

    <h2>
      5.2 Government Specialized Computing Infrastructure for Generative AI
    </h2>
    <p>
      In addition to the above, government specialized computing infrastructure
      for Generative AI also needs to have the right security protocols,
      integration with existing systems and energy efficiency. The Federal
      government has assembled and deployed several specific examples of
      dedicated specialized computing infrastructure. Here are a few examples of
      existing federal specialized computing infrastructures supporting
      Generative AI research and model development:
    </p>

    <h4>Department of Energy’s Supercomputers</h4>
    <p>
      DOE’s cutting-edge computing powerhouses were originally designed and used
      for simulations and research in energy, nuclear capabilities, and climate
      modeling. DOE has made significant investments in expanding these systems
      over the last few years adding in the chips, networks and other components
      needed to drive making, training and using Generative AI applications.
      DOE’s systems now include
      <a
        class="external_link"
        href="https://www.nextgov.com/modernization/2024/01/energy-cio-clarifies-role-ai-modernization-agenda/393519/"
        >“Discovery Zone”</a
      >
      which are sandboxes to test Generative AI technology. Recently it began
      work on a new supercomputer that they hope will be focused more on
      Generative AI and other AI work.
    </p>

    <h4>
      NSF National Artificial Intelligence Research Resource (NAIRR) Pilot
    </h4>
    <p>
      The
      <a
        class="external_link"
        href="https://new.nsf.gov/focus-areas/artificial-intelligence/nairr"
        >National Science Foundation (NSF) NAIRR pilot</a
      >
      brings together computational, data, software, model, training and user
      support resources to demonstrate and investigate multiple facets of
      artificial intelligence including Generative AI. Led by the U.S. National
      Science Foundation (NSF) in partnership with 10 other federal agencies and
      25 non-governmental partners, the pilot brings together resources like
      “compute” credits on various platforms, datasets that scientists and
      engineers can use and large language models (LLMs) that have been trained
      and fine-tuned for specific purposes. NAIRR will be available to support
      the nation’s research and education community.
    </p>

    <p>
      Many more agencies including
      <a
        class="external_link"
        href="https://newsroom.usra.edu/usra-announces-collaboration-with-bcg-and-nasa-to-launch-a-generative-artificial-intelligence-lab-for-science-and-engineering/"
        >NASA</a
      >
      and
      <a class="external_link" href="https://www.dhs.gov/ai"
        >Department of Homeland Security (DHS)</a
      >
      are developing their own specialized computing infrastructure to support
      Generative AI experiments. In lots of those cases, they are accessing
      Generative AI tools and creating sandboxes in commercial cloud platforms.
    </p>

    <p>
      The CHIPS Act provided funding for grants and subsidies to research,
      develop, and produce high quality microchips and semiconductors in the
      United States. This includes potential investments in companies designing
      and producing chips specifically tuned to run Generative AI models. The
      program is managed by the Department of Commerce. More information can be
      found on
      <a class="external_link" href="https://www.nist.gov/chips"
        >NIST’s Chips for America website</a
      >. This will eventually increase competition and make it easier to comply
      with many of the statutory and regulatory provisions around country of
      origin. Department of Defense announced a $3.5B grant to Intel to make
      custom AI chips for the armed forces and is investigating whether funding
      will now come from the CHIPS Act.
    </p>

    <h2>5.3 Assess your specialized computing infrastructure needs</h2>

    <p>
      Building specialized computing infrastructure for Generative AI can be a
      longer-term undertaking, and involves a significant amount of up-front
      investing before delivering results. A thorough assessment of the
      organizations’ needs to be served by Generative AI for the long term could
      include:
    </p>

    <ul>
      <li>
        Technical Infrastructure Needs: Determine the level of specialized
        computing infrastructure necessary to support your Generative AI
        initiatives, including processing power and data storage capabilities.
      </li>
      <li>
        Partnerships: Explore partnerships with cloud providers or specialized
        vendors who can offer the necessary infrastructure and expertise.
      </li>
      <li>
        Compliance: Ensure that any infrastructure procurement complies with
        federal acquisition regulations and cybersecurity standards.
      </li>
      <li>
        Organizational Capabilities: Determine whether your organization has the
        skills and capabilities to develop, test and control models.
      </li>
      <li>
        Security: Identify where and how cloud infrastructure will be used to
        operate models once built. Also understand where data will reside and
        how it is protected in transit.
      </li>
    </ul>

    <h2>
      5.4 Estimating costs for specialized computing infrastructure for
      Generative AI
    </h2>

    <p>
      It’s conceivable that a civilian agency would want to get servers enabled
      with AI chips to be able to run focused tests. A few agencies with more
      specific needs and demands may need to invest more heavily in its own
      specialized computing infrastructure for Generative AI. Specialized
      computing infrastructure for generative AI is similar to other
      high-performance computing environments in many respects.
    </p>

    <p>
      The most critical decision in determining cost categories is to determine
      whether the infrastructure project would be more “software” or “hardware”
      – meaning, would it use dedicated cloud-based processing or have multiple
      dedicated servers with AI chips and the associated storage, network and
      software physically on premises in a government owned or operated data
      center.
    </p>

    <h3>5.4.1 Initial questions to help estimate costs</h3>
    <ul>
      <li>
        Will your Specialized Computing Infrastructure for generative AI be
        internal facing or public facing? The more potential users, data storage
        needs and traffic, the greater the costs.
      </li>
      <li>
        Will your infrastructure be developed, modified, or does it already
        exist? Facilities can be expanded or modified; brand new construction or
        major renovation will add to the costs.
      </li>
      <li>
        Who will own, maintain and be responsible for the infrastructure?
        Maintenance teams, physical security, supplies and additional discrete
        operating costs add to the overhead.
      </li>
      <li>
        Where will your infrastructure be located (physically and virtually)? If
        an agency doesn’t have the expertise, land and budget to build the
        facilities a Cloud based approach may be more in line with the longer
        term vision for the infrastructure.
      </li>
      <li>
        How will your data be accessed and from where? Individuals accessing and
        working with Generative AI tech from different locations will drive up
        ancillary hardware, software, networking and security costs.
      </li>
      <li>
        Will the data be transportable between hardware or IaaS providers if
        there is a need to change either? Understanding the portability of your
        data will help in longer term planning for future work.
      </li>
    </ul>

    <h3>5.4.2 Common Cost Categories</h3>
    <p>
      Contracting officials should closely consult with their technical and
      program counterparts to identify and understand the requirements as well
      as key cost drivers for Generative AI-specialized computing infrastructure
      acquisitions. Some common cost categories applicable to specialized
      computing infrastructure include:
    </p>

    <h4>Subject Matter Experts and Support Contractors</h4>
    <ul>
      <li>
        Labor and skills to design, implement, secure and operate Generative AI
        systems
      </li>
      <li>Trainers and guides</li>
      <li>Training materials, documentation, and certification requirements</li>
    </ul>

    <h4>Hardware</h4>
    <ul>
      <li>High-performance GPUs for core calculations and compute</li>
      <li>
        CPUs to manage the overall system and perform less data intensive tasks
      </li>
      <li>Large, fast memory for handling complex models and datasets</li>
      <li>Modular, scalable units for accommodating future growth</li>
      <li>
        Fast, scalable storage solutions for data sets, models, and backups
      </li>
      <li>High-bandwidth networking for data transfer</li>
    </ul>

    <h4>Software Licensing</h4>
    <ul>
      <li>Operating systems tailored for high-performance computing</li>
      <li>Generative AI, Frameworks and Libraries</li>
      <li>Software security and performance updates</li>
      <li>
        Integrated development environments (IDEs), compilers, and debugging
        tools
      </li>
    </ul>

    <h4>Cloud Services and Management</h4>
    <ul>
      <li>
        Subscriptions for cloud computing platforms offering scalable AI
        infrastructure
      </li>
      <li>Management fees when accessing Cloud services through a VAR</li>
    </ul>

    <h4>Facilities / On-premises Infrastructure</h4>
    <ul>
      <li>
        Configuration and construction costs for new hardware installation
      </li>
      <li>Higher capacity power/energy systems</li>
      <li>Additional or specialized cooling systems</li>
    </ul>
    <ul>
      <li>Maintenance, support. repairs, replacements and updates.</li>
    </ul>

    <p>Security:</p>
    <ul>
      <li>
        Zero Trust Architecture (ZTA) security measures to protect against cyber
        threats,
      </li>
      <li>Encryption and access controls to secure sensitive data</li>
      <li>
        Network Security to protect data in transit and at rest from
        unauthorized access.
      </li>
      <li>
        Audits to identify potential risks (technical, operational, compliance)
      </li>
      <li>
        Risk mitigation strategies, which may involve additional investments in
        security measures or compliance certifications.
      </li>
    </ul>

    <p>Workforce</p>
    <ul>
      <li>
        Recruitment and retention of AI employees (including special pay and
        incentives)
      </li>
    </ul>

    <h2>
      5.5 Compliance when acquiring specialized computing infrastructure for
      Generative AI
    </h2>

    <p>
      When acquiring specialized computing infrastructure for Generative AI
      applications, federal agencies must navigate a unique set of
      considerations beyond standard procurement practices. Adherence to
      executive orders, federal regulations and policies ensures that Gen AI
      infrastructure aligns with national security interests, data protection
      laws and ethical standards.
    </p>

    <p>
      Technical leaders, CIOs, CISOs and other senior leaders and executives are
      responsible for ensuring agency networks and infrastructure are in
      compliance. High level overviews of these responsibilities can be found in
      the
      <a class="external_link" href="https://www.cio.gov/cio-handbook/"
        >CIO Handbook</a
      >
      and the
      <a
        class="external_link"
        href="https://www.cio.gov/assets/resources/CISO_Handbook.pdf"
        >CISO Handbook</a
      >. Look for more specific guidance from your Agency CIO or CISO as part of
      your planning process.
    </p>

    <p>
      Acquisition professionals also need to be aware of rules and policies
      related to cybersecurity and supply chain management when purchasing
      specialized computing infrastructure. A few recent ones include:
    </p>

    <h4>Section 889</h4>
    <p>
      FAR Modifications to Part 4.2102(a)(2) implemented Section 889 of the FY19
      National Defense Authorization Act (NDAA). This clause prohibits purchase
      of certain networking and telecommunications equipment. Networking and
      telecom equipment is essential to any specialized computing
      infrastructure. Any agency looking to purchase specialized computing
      infrastructure to support Generative AI should ensure that they avoid
      these prohibited products. More info can be found on
      <a
        class="external_link"
        href="https://www.acquisition.gov/Section-889-Policies"
        >Acquisition.gov’s Section 889 page</a
      >.
    </p>

    <h4>Section 5949</h4>
    <p>
      In 2022, the FY23 NDAA was signed into law. Section 5949 includes future
      prohibitions (to take effect in December 2027) on purchasing or renewing
      certain Semiconductor Products and Services. With advanced AI chips, GPUs
      and other semiconductors at the heart of any Generative AI specialized
      computing infrastructure, understanding where such components are made is
      critical for any such acquisition. A FAR case is pending, but the
      statutory language is available
      <a
        class="external_link"
        href="https://www.congress.gov/committee-print/118th-congress/joint-committee-print/50665"
        >on Congress’ information page on the NDAA</a
      >.
    </p>

    <h4>Trade Agreements Act (TAA)</h4>
    <p>
      To be TAA compliant, all products sold to the government must be
      manufactured or “substantially transformed” in the United States or a TAA
      “designated country”.
      <a class="external_link" href="https://www.acquisition.gov/far/52.225-5"
        >FAR Part 52.225-5</a
      >
      contains the appropriate contract clause and list of designated countries.
    </p>

    <p>DFARS 239.7602-2 or HSAR 3052.204-72</p>
    <p>
      Given the sensitive nature of data used in AI applications, considerations
      around data storage and processing locations are paramount. As noted in
      other sections, Federal regulations require that
      <a
        class="external_link"
        href="https://www.acquisition.gov/dfars/239.7602-2-required-storage-data-within-united-states-or-outlying-areas."
        >certain data</a
      >
      be stored within the United States or in specific jurisdictions to comply
      with
      <a
        class="external_link"
        href="https://www.acquisition.gov/hsar/3052.204-72-safeguarding-controlled-unclassified-information."
        >security</a
      >
      and privacy standards.
    </p>

    <h4>NIST Special Publication (SP) 800-53</h4>
    <p>
      <a
        class="external_link"
        href="https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-53Ar5.pdf"
        >NIST SP 800-53</a
      >
      provides a methodology and set of procedures for conducting assessments of
      security and privacy controls employed within systems and organizations
      within an effective risk management framework. Vendors providing
      specialized infrastructure must be in compliance with the controls and
      testing outlined in the standard.
    </p>

    <h4>Executive Orders</h4>
    <p>
      <a
        class="external_link"
        href="https://www.federalregister.gov/documents/2021/05/17/2021-10460/improving-the-nations-cybersecurity"
        >14028, Improving the Nation’s Cybersecurity</a
      >
    </p>

    <p>
      <a
        class="external_link"
        href="https://www.federalregister.gov/documents/2023/08/11/2023-17449/addressing-united-states-investments-in-certain-national-security-technologies-and-products-in"
        >14105, Addressing US investments in Certain National Security
        Technologies and Products in Countries of Concern</a
      >
    </p>

    <p>
      <a
        class="external_link"
        href="https://www.federalregister.gov/documents/2023/03/30/2023-06730/prohibition-on-use-by-the-united-states-government-of-commercial-spyware-that-poses-risks-to"
        >14093 Prohibition on Use by the United States Government of Commercial
        Spyware that Poses Risks to National Security</a
      >
    </p>

    <p>
      <a
        class="external_link"
        href="https://www.federalregister.gov/documents/2019/05/17/2019-10538/securing-the-information-and-communications-technology-and-services-supply-chain"
        >13873 Securing the Information and Communications Technology and
        Services Supply Chain</a
      >
    </p>

    <h4>OMB Management Memoranda</h4>
    <p>
      <a
        class="external_link"
        href="https://www.whitehouse.gov/wp-content/uploads/2023/12/M-24-04-FY24-FISMA-Guidance.pdf"
        >M-24-04 FY24 Guidance on Federal Information Security and Privacy
        Management Requirements</a
      >
    </p>

    <p>
      <a
        class="external_link"
        href="https://www.whitehouse.gov/wp-content/uploads/2023/06/M-23-18-Administration-Cybersecurity-Priorities-for-the-FY-2025-Budget-s.pdf"
        >M-23-18 Administration Cybersecurity Priorities for the FY2025
        Budget</a
      >
    </p>

    <p>
      <a
        class="external_link"
        href="https://www.whitehouse.gov/wp-content/uploads/2023/06/M-23-16-Update-to-M-22-18-Enhancing-Software-Security.pdf"
        >M-23-16 Update to Memorandum M-22-18 Enhancing the Security of the
        Software Supply Chain through Secure Software Development Practices</a
      >
    </p>

    <p>
      <a
        class="external_link"
        href="https://www.whitehouse.gov/wp-content/uploads/2022/01/M-22-09.pdf"
        >M-22-09 Moving the US government Towards Zero Trust Cybersecurity
        Principles</a
      >
    </p>

    <p>
      <a
        class="external_link"
        href="https://www.whitehouse.gov/wp-content/uploads/2021/08/M-21-30.pdf"
        >M-21-30 Protecting Critical Software through enhanced security
        measures</a
      >
    </p>

    <p>
      A full list of
      <a
        class="external_link"
        href="https://www.whitehouse.gov/omb/information-for-agencies/memoranda/"
        >OMB Management Memos</a
      >
      and a complete listing of
      <a
        class="external_link"
        href="https://www.federalregister.gov/presidential-documents/executive-orders"
        >Executive Orders</a
      >
      are available for more information.
    </p>
  </div>
</div>
