{% comment %} The sidenav is not loaded by default on the main pages. To include
this navigation you can either use the _layouts/page.html layout template, or
you can add "sidenav: true" in the front-matter of your pages {% endcomment %}

<aside class="usa-layout-docs-sidenav desktop:grid-col-2 padding-y-4">
  <nav>
    <ul class="usa-sidenav">
      <li class="usa-sidenav__item">
        <a
          href="https://federalist-ce2ad52a-cc88-456b-a4c1-74c6e5887c73.sites.pages.cloud.gov/demo/gsa/itvmo/genai/"
          >Guide Home</a
        >
      </li>
      <li class="usa-sidenav__item">
        <a
          href="https://federalist-ce2ad52a-cc88-456b-a4c1-74c6e5887c73.sites.pages.cloud.gov/demo/gsa/itvmo/genai-guide-part-1/"
          >Generative AI 101</a
        >
      </li>
      <li class="usa-sidenav__item">
        <a
          href="https://federalist-ce2ad52a-cc88-456b-a4c1-74c6e5887c73.sites.pages.cloud.gov/demo/gsa/itvmo/genai-guide-part-2"
          >Generative AI in the government</a
        >
      </li>
      <li class="usa-sidenav__item">
        <a
          href="https://federalist-ce2ad52a-cc88-456b-a4c1-74c6e5887c73.sites.pages.cloud.gov/demo/gsa/itvmo/genai-guide-part-3"
          >Generative AI procurement</a
        >
      </li>
      <li class="usa-sidenav__item">
        <a
          href="https://federalist-ce2ad52a-cc88-456b-a4c1-74c6e5887c73.sites.pages.cloud.gov/demo/gsa/itvmo/genai-guide-part-4"
          >Acquisition Methods and Vehicles</a
        >
      </li>
      <li class="usa-sidenav__item">
        <a
          href="https://federalist-ce2ad52a-cc88-456b-a4c1-74c6e5887c73.sites.pages.cloud.gov/demo/gsa/itvmo/genai-guide-part-5"
          >Specialized Computing Infrastructure for Generative AI</a
        >
      </li>
      <li class="usa-sidenav__item">
        <a
          href="https://federalist-ce2ad52a-cc88-456b-a4c1-74c6e5887c73.sites.pages.cloud.gov/demo/gsa/itvmo/genai-guide-part-6"
          >Agency Support and Resources</a
        >
      </li>
    </ul>
  </nav>
</aside>

<div class="grid-row grid-gap">
  <div class="tablet:grid-col-4 margin-bottom-4 tablet:margin-bottom-0">
    <nav aria-label="Side navigation,">
      <ul class="usa-sidenav">
        <li class="usa-sidenav__item">
          <a href="javascript:void(0);" class="usa-current">Current page</a>
        </li>
        <li class="usa-sidenav__item">
          <a href="javascript:void(0);">Parent link</a>
        </li>
        <li class="usa-sidenav__item">
          <a href="javascript:void(0);">Parent link</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="tablet:grid-col-4 margin-bottom-4 tablet:margin-bottom-0">
    <nav aria-label="Side navigation,,">
      <ul class="usa-sidenav">
        <li class="usa-sidenav__item">
          <a href="javascript:void(0);">Parent link</a>
        </li>
        <li class="usa-sidenav__item">
          <a href="javascript:void(0);" class="usa-current">Current page</a>
          <ul class="usa-sidenav__sublist">
            <li class="usa-sidenav__item">
              <a href="javascript:void(0);">Child link</a>
            </li>
            <li class="usa-sidenav__item">
              <a href="javascript:void(0);">Child link</a>
            </li>
            <li class="usa-sidenav__item">
              <a href="javascript:void(0);" class="usa-current">Child link</a>
            </li>
          </ul>
        </li>
        <li class="usa-sidenav__item">
          <a href="javascript:void(0);">Parent link</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="tablet:grid-col-4">
    <nav aria-label="Side navigation,,,">
      <ul class="usa-sidenav">
        <li class="usa-sidenav__item">
          <a href="javascript:void(0);">Parent link</a>
        </li>
        <li class="usa-sidenav__item">
          <a href="javascript:void(0);" class="usa-current">Current page</a>
          <ul class="usa-sidenav__sublist">
            <li class="usa-sidenav__item">
              <a href="javascript:void(0);">Child link</a>
            </li>
            <li class="usa-sidenav__item">
              <a href="javascript:void(0);">Child link</a>
              <ul class="usa-sidenav__sublist">
                <li class="usa-sidenav__item">
                  <a href="javascript:void(0);">Grandchild link</a>
                </li>
                <li class="usa-sidenav__item">
                  <a href="javascript:void(0);" class="usa-current"
                    >Grandchild link</a
                  >
                </li>
                <li class="usa-sidenav__item">
                  <a href="javascript:void(0);">Grandchild link</a>
                </li>
              </ul>
            </li>
            <li class="usa-sidenav__item">
              <a href="javascript:void(0);">Child link</a>
            </li>
          </ul>
        </li>
        <li class="usa-sidenav__item">
          <a href="javascript:void(0);">Parent link</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
