<section id="inner-page-tabs">
  <div class="grid-row">
    <div class="desktop:grid-col-3">
      <nav aria-label="Side navigation" class="sidenav top-2 position-sticky">
        <ul class="usa-sidenav">
          <li class="usa-sidenav__item">
            <a
              href="#introduction"
              id="introduction-header"
              class="tab active-tab"
              onclick="openTab(event, 'introduction')"
              >Introduction</a
            >
          </li>
          <li class="usa-sidenav__item">
            <a
              href="#part-1"
              id="part-1-header"
              class="tab"
              onclick="openTab(event, 'part-1')"
              >Generative AI 101</a
            >
          </li>
          <li class="usa-sidenav__item">
            <a
              href="#part-2"
              id="part-2-header"
              class="tab"
              onclick="openTab(event, 'part-2')"
              >Generative AI in the Government</a
            >
          </li>
          <li class="usa-sidenav__item usa-accordion">
            <a
              id="part-3-header"
              class="tab usa-accordion__button"
              aria-expanded="false"
              aria-controls="a1"
              >Generative AI Procurement</a
            >
            <ul
              class="usa-sidenav__sublist left-nav__usa-accordion__content"
              id="a1">
              <li class="usa-sidenav__item">
                <a
                  href="#part-3"
                  id="part-30-header"
                  class="tab"
                  onclick="openTab(event, 'part-3')"
                  >Overview</a
                >
              </li>

              <li class="usa-sidenav__item">
                <a
                  href="#part-31"
                  id="part-31-header"
                  class="tab"
                  onclick="openTab(event, 'part-31')"
                  >Integrated Product Team</a
                >
              </li>
              <li class="usa-sidenav__item">
                <a
                  href="#part-32"
                  id="part-32-header"
                  class="tab"
                  onclick="openTab(event, 'part-32')"
                  >Agency Goals and Needs</a
                >
              </li>
              <li class="usa-sidenav__item">
                <a
                  href="#part-33"
                  id="part-33-header"
                  class="tab"
                  onclick="openTab(event, 'part-33')"
                  >Solutions Scoping and Testing</a
                >
              </li>
              <li class="usa-sidenav__item">
                <a
                  href="#part-34"
                  id="part-34-header"
                  class="tab"
                  onclick="openTab(event, 'part-34')"
                  >Data Management and Protection</a
                >
              </li>
              <li class="usa-sidenav__item">
                <a
                  href="#part-35"
                  id="part-35-header"
                  class="tab"
                  onclick="openTab(event, 'part-35')"
                  >Acquisition Strategy</a
                >
              </li>
              <li class="usa-sidenav__item">
                <a
                  href="#part-36"
                  id="part-36-header"
                  class="tab"
                  onclick="openTab(event, 'part-36')"
                  >Market Assessment</a
                >
              </li>
              <li class="usa-sidenav__item">
                <a
                  href="#part-37"
                  id="part-37-header"
                  class="tab"
                  onclick="openTab(event, 'part-37')"
                  >Cost Estimation</a
                >
              </li>
              <li class="usa-sidenav__item">
                <a
                  href="#part-38"
                  id="part-38-header"
                  class="tab"
                  onclick="openTab(event, 'part-38')"
                  >Performance Monitoring and Evaluation</a
                >
              </li>
            </ul>
          </li>
          <li class="usa-sidenav__item">
            <a
              href="#part-4"
              id="part-4-header"
              class="tab"
              onclick="openTab(event, 'part-4')"
              >Acquisition Methods and Vehicles</a
            >
          </li>
          <li class="usa-sidenav__item">
            <a
              href="#part-5"
              id="part-5-header"
              class="tab"
              onclick="openTab(event, 'part-5')"
              >Specialized Computing Infrastructure for Generative AI</a
            >
          </li>
          <li class="usa-sidenav__item">
            <a
              href="#part-6"
              id="part-6-header"
              class="tab"
              onclick="openTab(event, 'part-6')"
              >Agency Support and Resources</a
            >
          </li>
          <li class="usa-sidenav__item">
            <a
              href="#data-dashboard"
              id="data-dashboard-header"
              class="tab"
              onclick="openTab(event, 'data-dashboard')"
              >Data Dashboard</a
            >
          </li>
          <li class="usa-sidenav__item">
            <a
              href="#feedback"
              id="feedback-header"
              class="tab"
              onclick="openTab(event, 'feedback')"
              >Send Feedback</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="desktop:grid-col-8" id="genai-guide">
      <!-- Tab content goes here, same as your existing tabcontent left-navcontent divs -->
      <div
        id="introduction"
        class="tabcontent left-navcontent"
        style="display: flex">
        <div class="contents padding-bottom-5">
          {% include genai-sections/genai-guide-intro.html %}

          <ul class="usa-button-group page-navigation__button">
            <li class="usa-button-group__item">
              <a
                href="#part-1"
                onclick="openTab(event, 'part-1')"
                type="button"
                class="usa-button itvmo_usa-primary-button"
                >Next Page</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div id="part-1" class="tabcontent left-navcontent" style="display: none">
        <div class="contents padding-bottom-5">
          {% include genai-sections/genai-guide-part-1.html %}

          <ul class="usa-button-group page-navigation__button">
            <li class="usa-button-group__item">
              <a
                href="#introduction"
                onclick="openTab(event, 'introduction')"
                class="usa-button usa-button--outline itvmo_usa-outline-button"
                >Previous Page</a
              >
            </li>
            <li class="usa-button-group__item">
              <a
                href="#part-2"
                class="usa-button itvmo_usa-primary-button"
                onclick="openTab(event, 'part-2')"
                >Next Page</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div id="part-2" class="tabcontent left-navcontent" style="display: none">
        <div class="contents padding-bottom-5">
          {% include genai-sections/genai-guide-part-2.html %}

          <ul class="usa-button-group page-navigation__button">
            <li class="usa-button-group__item">
              <a
                href="#part-1"
                onclick="openTab(event, 'part-1')"
                class="usa-button usa-button--outline itvmo_usa-outline-button"
                >Previous Page</a
              >
            </li>
            <li class="usa-button-group__item">
              <a
                href="#part-3"
                onclick="openTab(event, 'part-3')"
                class="usa-button itvmo_usa-primary-button"
                >Next Page</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div id="part-3" class="tabcontent left-navcontent" style="display: none">
        <div class="contents padding-bottom-5">
          {% include genai-sections/genai-guide-part-3-0.html %}

          <ul class="usa-button-group page-navigation__button">
            <li class="usa-button-group__item">
              <a
                href="#part-2"
                onclick="openTab(event, 'part-2')"
                class="usa-button usa-button--outline itvmo_usa-outline-button"
                >Previous Page</a
              >
            </li>
            <li class="usa-button-group__item">
              <a
                href="#part-31"
                onclick="openTab(event, 'part-31')"
                class="usa-button itvmo_usa-primary-button"
                >Next Page</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div
        id="part-31"
        class="tabcontent left-navcontent"
        style="display: none">
        <div class="contents padding-bottom-5">
          {% include genai-sections/genai-guide-part-3-1.html %}

          <ul class="usa-button-group page-navigation__button">
            <li class="usa-button-group__item">
              <a
                href="#part-3"
                onclick="openTab(event, 'part-3')"
                class="usa-button usa-button--outline itvmo_usa-outline-button"
                >Previous Page</a
              >
            </li>
            <li class="usa-button-group__item">
              <a
                href="#part-32"
                onclick="openTab(event, 'part-32')"
                class="usa-button itvmo_usa-primary-button"
                >Next Page</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div
        id="part-32"
        class="tabcontent left-navcontent"
        style="display: none">
        <div class="contents padding-bottom-5">
          {% include genai-sections/genai-guide-part-3-2.html %}

          <ul class="usa-button-group page-navigation__button">
            <li class="usa-button-group__item">
              <a
                href="#part-31"
                onclick="openTab(event, 'part-31')"
                class="usa-button usa-button--outline itvmo_usa-outline-button"
                >Previous Page</a
              >
            </li>
            <li class="usa-button-group__item">
              <a
                href="#part-33"
                onclick="openTab(event, 'part-33')"
                class="usa-button itvmo_usa-primary-button"
                >Next Page</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div
        id="part-33"
        class="tabcontent left-navcontent"
        style="display: none">
        <div class="contents padding-bottom-5">
          {% include genai-sections/genai-guide-part-3-3.html %}

          <ul class="usa-button-group page-navigation__button">
            <li class="usa-button-group__item">
              <a
                href="#part-32"
                onclick="openTab(event, 'part-32')"
                class="usa-button usa-button--outline itvmo_usa-outline-button"
                >Previous Page</a
              >
            </li>
            <li class="usa-button-group__item">
              <a
                href="#part-34"
                onclick="openTab(event, 'part-34')"
                class="usa-button itvmo_usa-primary-button"
                >Next Page</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div
        id="part-34"
        class="tabcontent left-navcontent"
        style="display: none">
        <div class="contents padding-bottom-5">
          {% include genai-sections/genai-guide-part-3-4.html %}

          <ul class="usa-button-group page-navigation__button">
            <li class="usa-button-group__item">
              <a
                href="#part-33"
                onclick="openTab(event, 'part-33')"
                class="usa-button usa-button--outline itvmo_usa-outline-button"
                >Previous Page</a
              >
            </li>
            <li class="usa-button-group__item">
              <a
                href="#part-35"
                onclick="openTab(event, 'part-35')"
                class="usa-button itvmo_usa-primary-button"
                >Next Page</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div
        id="part-35"
        class="tabcontent left-navcontent"
        style="display: none">
        <div class="contents padding-bottom-5">
          {% include genai-sections/genai-guide-part-3-5.html %}

          <ul class="usa-button-group page-navigation__button">
            <li class="usa-button-group__item">
              <a
                href="#part-34"
                onclick="openTab(event, 'part-34')"
                class="usa-button usa-button--outline itvmo_usa-outline-button"
                >Previous Page</a
              >
            </li>
            <li class="usa-button-group__item">
              <a
                href="#part-36"
                onclick="openTab(event, 'part-36')"
                class="usa-button itvmo_usa-primary-button"
                >Next Page</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div
        id="part-36"
        class="tabcontent left-navcontent"
        style="display: none">
        <div class="contents padding-bottom-5">
          {% include genai-sections/genai-guide-part-3-6.html %}

          <ul class="usa-button-group page-navigation__button">
            <li class="usa-button-group__item">
              <a
                href="#part-35"
                onclick="openTab(event, 'part-35')"
                class="usa-button usa-button--outline itvmo_usa-outline-button"
                >Previous Page</a
              >
            </li>
            <li class="usa-button-group__item">
              <a
                href="#part-37"
                onclick="openTab(event, 'part-37')"
                class="usa-button itvmo_usa-primary-button"
                >Next Page</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div
        id="part-37"
        class="tabcontent left-navcontent"
        style="display: none">
        <div class="contents padding-bottom-5">
          {% include genai-sections/genai-guide-part-3-7.html %}

          <ul class="usa-button-group page-navigation__button">
            <li class="usa-button-group__item">
              <a
                href="#part-36"
                onclick="openTab(event, 'part-36')"
                class="usa-button usa-button--outline itvmo_usa-outline-button"
                >Previous Page</a
              >
            </li>
            <li class="usa-button-group__item">
              <a
                href="#part-38"
                onclick="openTab(event, 'part-38')"
                class="usa-button itvmo_usa-primary-button"
                >Next Page</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div
        id="part-38"
        class="tabcontent left-navcontent"
        style="display: none">
        <div class="contents padding-bottom-5">
          {% include genai-sections/genai-guide-part-3-8.html %}

          <ul class="usa-button-group page-navigation__button">
            <li class="usa-button-group__item">
              <a
                href="#part-37"
                onclick="openTab(event, 'part-37')"
                class="usa-button usa-button--outline itvmo_usa-outline-button"
                >Previous Page</a
              >
            </li>
            <li class="usa-button-group__item">
              <a
                href="#part-4"
                onclick="openTab(event, 'part-4')"
                class="usa-button itvmo_usa-primary-button"
                >Next Page</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div id="part-4" class="tabcontent left-navcontent" style="display: none">
        <div class="contents padding-bottom-5">
          {% include genai-sections/genai-guide-part-4.html %}

          <ul class="usa-button-group page-navigation__button">
            <li class="usa-button-group__item">
              <a
                href="#part-38"
                onclick="openTab(event, 'part-38')"
                class="usa-button usa-button--outline itvmo_usa-outline-button"
                >Previous Page</a
              >
            </li>
            <li class="usa-button-group__item">
              <a
                href="#part-5"
                onclick="openTab(event, 'part-5')"
                class="usa-button itvmo_usa-primary-button"
                >Next Page</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div id="part-5" class="tabcontent left-navcontent" style="display: none">
        <div class="contents padding-bottom-5">
          {% include genai-sections/genai-guide-part-5.html %}

          <ul class="usa-button-group page-navigation__button">
            <li class="usa-button-group__item">
              <a
                href="#part-4"
                onclick="openTab(event, 'part-4')"
                class="usa-button usa-button--outline itvmo_usa-outline-button"
                >Previous Page</a
              >
            </li>
            <li class="usa-button-group__item">
              <a
                href="#part-6"
                onclick="openTab(event, 'part-6')"
                class="usa-button itvmo_usa-primary-button"
                >Next Page</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div id="part-6" class="tabcontent left-navcontent" style="display: none">
        <div class="contents padding-bottom-5">
          {% include genai-sections/genai-guide-part-6.html %}

          <ul class="usa-button-group page-navigation__button">
            <li class="usa-button-group__item">
              <a
                href="#part-5"
                onclick="openTab(event, 'part-5')"
                class="usa-button usa-button--outline itvmo_usa-outline-button"
                >Previous Page</a
              >
            </li>
            <li class="usa-button-group__item">
              <a
                href="#part-data-dashboard"
                onclick="openTab(event, 'part-datat-ools')"
                class="usa-button itvmo_usa-primary-button"
                >Next Page</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div
        id="data-dashboard"
        class="tabcontent left-navcontent"
        style="display: none">
        <div class="contents padding-bottom-5">
          {% include genai-sections/genai-guide-part-data.html %}

          <ul class="usa-button-group page-navigation__button">
            <li class="usa-button-group__item">
              <a
                href="#part-6"
                onclick="openTab(event, 'part-6')"
                class="usa-button usa-button--outline itvmo_usa-outline-button"
                >Previous Page</a
              >
            </li>
            <li class="usa-button-group__item">
              <a
                href="#part-feedback"
                onclick="openTab(event, 'part-feedback')"
                class="usa-button itvmo_usa-primary-button"
                >Next Page</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div
        id="feedback"
        class="tabcontent left-navcontent"
        style="display: none">
        <div class="contents padding-bottom-5">
          {% include genai-sections/genai-guide-part-feedback.html %}

          <ul class="usa-button-group page-navigation__button">
            <li class="usa-button-group__item">
              <a
                href="#part-data-dashboard"
                onclick="openTab(event, 'part-data-dashboard')"
                class="usa-button usa-button--outline itvmo_usa-outline-button"
                >Previous Page</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
