{% comment %} 
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero">
  <div class="grid-container">
    <div class="usa-hero__callout custom-callout">
      <h1 class="usa-hero__heading"><span class="usa-hero__heading--alt">What’s new?</span></h1>
      <p>The ITVMO is a collaborative effort across government to make IT acquisitions faster and more cost effective.</p>
      <a class="usa-button btn-primary learn" href="{{site.baseurl}}/about/" >Learn More About Who We Are</a>
      <a class="usa-button btn-primary gap" href="{{site.baseurl}}/assets/files/22-11_ITVMO_Fact-Sheet_R3.pdf" target="_blank" rel="noreferrer noopener">Learn More About What We Do</a>
    </div>
  </div>
</section>
