{% comment %}
Use this section to highlight key elements of your site. Some sites will only have two while others may have six to
eight.
{% endcomment %}


<section class="usa-graphic-list usa-section highlight-bkgd">
  <div class="grid-container">
    <div class="grid-row usa-graphic-list__heading padding-bottom-3">
      <!-- <h3 class="margin-top-0 margin-bottom-0 latestUpdates">&larr; Latest Updates &rarr;</h3> -->
      <h3 class="margin-top-0 margin-bottom-0 latestUpdates animate fade"> Latest Updates </h3>
    </div>
    <div class="grid-container row">
      <div class="column-arrow animate fade">
        <div>
          <a class="prev" onclick="prevSlide()">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M15.125 21.1L6.7 12.7q-.15-.15-.212-.325q-.063-.175-.063-.375t.063-.375q.062-.175.212-.325l8.425-8.425q.35-.35.875-.35t.9.375q.375.375.375.875t-.375.875L9.55 12l7.35 7.35q.35.35.35.862q0 .513-.375.888t-.875.375q-.5 0-.875-.375Z"/></svg>
          </a>
        </div>
      </div>
      <div class="slideshow-container column-card"> 
        <div class="mySlides animate fade" style="display: block;">
              <a href="/itvmo-hosted-servicenow-webinars" style="color:black;text-decoration: none; display: block;" class="height-full width-full">
                <div class="bg-white padding-1 border-top-05 border-accent-warm shadow-5 height-full resources-hover">
                  <header class="usa-card__header">
                    <h4 class="resources-title">ITVMO Hosted ServiceNow Webinars 
                      <img class= "logo-left"id="ServiceNowLogo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/ServiceNow_logo.svg/1024px-ServiceNow_logo.svg.png" alt="SeriviceNow logo" ></h4>
                  </header>
                  <div class="usa-card__body">
                    <p class="resources-text">ServiceNow will be hosting a 6 part webinar series during December 2022 and January 2023 to discuss topics identified by federal agencies as those that have significant impact to current procurement, implementation, and management of the ServiceNow Platform.</p>
                  </div>
                  <div class="usa-card__footer">
                    <p>Read more...</p>
                  </div>      
                </div>
              </a>
        </div>
        <div class="mySlides animate fade" >
              <a href="{{site.baseurl}}/technology-lifecycle-report-procure/#procure" style="color:black;text-decoration: none; display: block;" class="height-full">
                <div class="bg-white padding-1 border-top-05 border-accent-warm shadow-5 height-full resources-hover">
                  <header class="usa-card__header">
                    <h4 class="resources-title">New Technology Life Cycle (TLC) User Stories Added</h4>
                  </header>
                  <div class="usa-card__body">
                    <p class="resources-text">ITVMO has published two new user stories on small business data under the "Procure" lifecycle stage. You can reference these <b><em>NEW</em></b> cards along with other user stories here.</p>
                  </div>
                  <div class="usa-card__footer">
                    <p>Read more...</p>
                  </div>      
                </div>
              </a>
        </div>
        <div class="mySlides animate fade">
              <a href="https://community.max.gov/display/Egov/December+2022+IT+Buyers+CoP+Meeting"style="color:black;text-decoration: none; display: block;" class="height-full">
                <div class="bg-white padding-1 border-top-05 border-accent-warm shadow-5 height-full resources-hover">
                  <header class="usa-card__header">
                    <h4 class="resources-title">IT Buyers Community of Practice (CoP) End-Of-Year Meeting</h4>
                  </header>
                  <div class="usa-card__body">
                    <p class="resources-text">Join the IT Buyers CoP for our End-of-Year forum to hear about the state of the category and our best-in-class solution offerings.
                    </p>
                  </div>
                  <div class="usa-card__footer">
                    <p>Read more...</p>
                  </div>      
                </div>
              </a>
        </div>
      </div>
          <div class="column-arrow animate fade">
            <div><a class="next" onclick="showSlides()">
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M7.15 21.1q-.375-.375-.375-.888q0-.512.375-.887L14.475 12l-7.35-7.35q-.35-.35-.35-.875t.375-.9q.375-.375.888-.375q.512 0 .887.375l8.4 8.425q.15.15.213.325q.062.175.062.375t-.062.375q-.063.175-.213.325L8.9 21.125q-.35.35-.862.35q-.513 0-.888-.375Z"/></svg>
            </a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
      <div class = "dotDiv animate fade">
        <span class="arrow-span">
              <a class="prev-mobile" onclick="prevSlide()">&#10094;</a>
        </span>
        <span class="dot active"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="arrow-span">
              <a class="next-mobile" onclick="showSlides()">&#10095;</a>
        </span>
      </div>
</section>
