{% comment %}
Use this section to highlight key elements of your site. Some sites will only have two while others may have six to
eight.
{% endcomment %}


<section class="usa-graphic-list usa-section highlight-bkgd" id="homepage-highlight">
  <div class="grid-container">
    <div class="grid-row usa-graphic-list__heading padding-bottom-3">
      <h3 class="margin-top-0 margin-bottom-0 latestUpdates animate fade"> Latest Updates </h3>
    </div>
    <div class="grid-container row">
      <div class="column-arrow animate fade">
        <div>
          <a class="prev" tabindex="0" title="Go to previous highlight">
            <svg xmlns="http://www.w3.org/2000/svg" title="point to the left" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path title="Arrow" fill="currentColor" d="M15.125 21.1L6.7 12.7q-.15-.15-.212-.325q-.063-.175-.063-.375t.063-.375q.062-.175.212-.325l8.425-8.425q.35-.35.875-.35t.9.375q.375.375.375.875t-.375.875L9.55 12l7.35 7.35q.35.35.35.862q0 .513-.375.888t-.875.375q-.5 0-.875-.375Z"/></svg>
          </a>
        </div>
      </div>
      <div class="slideshow-container column-card"> 
        <!-- display:block determine which slide will be display first -->
        <div class="mySlides animate fade" onmouseover="stopSlide()" onmouseout="runSlide()" style="display: block;">
          <a href="{{site.baseurl}}/annual-summit" style="color:black;text-decoration: none; display: block;" class="height-full width-full">
            <div class="bg-white padding-1 border-top-05 border-accent-warm shadow-5 height-full resources-hover">
              <header class="usa-card__header with-logo">
                <h4 class="resources-title">
                  Resource Packet Published: ITVMO Annual Summit
                </h4>
                <img class= "logo-left"id="ServiceNowLogo" src="{{site.baseurl}}/assets/images/logos/itvmo-annual-summit.png" alt="ITVMO Annual Summit logo" >
              </header>
              <div class="usa-card__body">
                <p class="resources-text">The ITVMO hosted the first Annual Summit on August 2nd! Both industry and government convened with the goal of increasing knowledge of and fostering collaboration on key original equipment manufacturers (OEM) contract strategies, Best-in-Class IT contracts, small business, and emerging technology to meet Agency missions.</p>
              </div>
              <div class="usa-card__footer">
                <p style="margin-top: 0;">Read more...</p>
              </div>      
            </div>
          </a>
        </div>
        <!-- display:block determine which slide will be display first -->
        <div class="mySlides animate fade" onmouseover="stopSlide()" onmouseout="runSlide()">
          <a href="https://nitaac.nih.gov/form/free-training?source_entity_type=node&source_entity_id=167956#no-back" style="color:black;text-decoration: none; display: block;" class="height-full width-full">
            <div class="bg-white padding-1 border-top-05 border-accent-warm shadow-5 height-full resources-hover">
              <header class="usa-card__header with-logo">
                <h4 class="resources-title">
                  NITAAC Monthly GWACs Training Session
                </h4>
                <img class= "logo-left"id="nitaac" src="{{site.baseurl}}/assets/images/logos/nittac.png" alt="NITAAC logo" >
              </header>
              <div class="usa-card__body">
                <p class="resources-text">NITAAC’s BIC IT GWACs boast streamlined acquisition and fast ordering, a single login e-GOS System with built-in FAR guidance, and automated ordering. Anyone on your team who is involved in the IT procurement process can benefit from attending a NITAAC training session. All attendees will receive 2 Continuous Learning Points (CLP) for attending this training.</p>
              </div>
              <div class="usa-card__footer">
                <p style="margin-top: 0;">Read more...</p>
              </div>      
            </div>
          </a>
        </div>
        <div class="mySlides animate fade" onmouseover="stopSlide()" onmouseout="runSlide()">
          <a href="{{site.baseurl}}/how-oems-operate/" style="color:black;text-decoration: none; display: block;" class="height-full">
            <div class="bg-white padding-1 border-top-05 border-accent-warm shadow-5 height-full resources-hover">
              <header class="usa-card__header">
                <h4 class="resources-title">
                  NEW: IT Buyers Training - How OEMs Operate
                </h4>
              </header>
              <div class="usa-card__body">
                <p class="resources-text">This training resource provides an 8-part information series on OEM operating practices to educate agency IT buyers and help them achieve a stronger negotiating position.</p>
              </div>
              <div class="usa-card__footer">
                <p>Read more...</p>
              </div>      
            </div>
          </a>
        </div>
        <div class="mySlides animate fade" onmouseover="stopSlide()" onmouseout="runSlide()">
          <a href="{{site.baseurl}}/emerge-tech-small-business-event/" style="color:black;text-decoration: none; display: block;" class="height-full">
            <div class="bg-white padding-1 border-top-05 border-accent-warm shadow-5 height-full resources-hover">
              <header class="usa-card__header">
                <h4 class="resources-title">
                  Govwide IT Category and ACT-IAC Host Small Business Alliance Forum
                </h4>
              </header>
              <div class="usa-card__body">
                <p class="resources-text">On March 7, 2022 the Govwide IT Category and ACT-IAC hosted a forum on Emerging Technology and Innovation Opportunities for Small Businesses. The event included a panel of representatives from five different OSDBUs as well as breakout sessions.</p>
              </div>
              <div class="usa-card__footer">
                <p>Read more...</p>
              </div>      
            </div>
          </a>
        </div>
      </div>
          <div class="column-arrow animate fade">
            <div><a class="next" tabindex="0" title="Go to next highlight">
              <svg xmlns="http://www.w3.org/2000/svg" title="point to the right" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path title="Arrow" fill="currentColor" d="M7.15 21.1q-.375-.375-.375-.888q0-.512.375-.887L14.475 12l-7.35-7.35q-.35-.35-.35-.875t.375-.9q.375-.375.888-.375q.512 0 .887.375l8.4 8.425q.15.15.213.325q.062.175.062.375t-.062.375q-.063.175-.213.325L8.9 21.125q-.35.35-.862.35q-.513 0-.888-.375Z"/></svg>
            </a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
      <div class = "dotDiv animate fade">
        <span class="arrow-span">
              <a class="prev-mobile" title="Go to previous highlight" role="button" tabindex="0">&#10094;</a>
        </span>
        <span class="dot active"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="arrow-span">
              <a class="next-mobile" title="Go to next highlight" role="button" tabindex="0">&#10095;</a>
        </span>
      </div>
</section>
