{% comment %}
Use this section to highlight key elements of your site. Some sites will only have two while others may have six to
eight.
{% endcomment %}


<section class="usa-graphic-list usa-section highlight-bkgd">
  <div class="grid-container">
    <div class="grid-row usa-graphic-list__heading padding-bottom-3">
      <h3 class="margin-top-0 margin-bottom-0">Latest Updates</h3>
    </div>
    <div class="usa-card-group grid-row grid-gap">

      <div class="tablet:grid-col-4 usa-card">
        <a href="{{site.baseurl}}/collaborating-small-business-gov/" style="color:black;text-decoration: none; display: block;" class="height-full">
          <div class="bg-white padding-1 border-top-05 border-accent-warm shadow-5 height-full resources-hover">
            <header class="usa-card__header">
              <h4 class="resources-title">Collaborating across Government to Promote Small Businesses</h4>
            </header>
            <div class="usa-card__body">
              <p class="resources-text">The ITVMO works closely with GSA, NASA, NIH, and DOD to collaborate on category management and help agencies find small business partners to meet contract, cyber, and supply chain requirements.</p>
            </div>
            <div class="usa-card__footer">
              <p>Read more...</p>
            </div>      
          </div>
        </a>
      </div>
      <div class="tablet:grid-col-4 usa-card">
        <a href="{{site.baseurl}}/microsoft-training-series/" style="color:black;text-decoration: none; display: block;" class="height-full">
          <div class="bg-white padding-1 border-top-05 border-accent-warm shadow-5 height-full resources-hover">
            <header class="usa-card__header">
              <h4 class="resources-title">ITVMO hosted Microsoft<br /> Training Series</h4>
            </header>
            <div class="usa-card__body">
              <p class="resources-text">The ITVMO will host a series of training sessions focused on improving agency outcomes when procuring Microsoft products and services. Registration and additional information found here.</p>
            </div>
            <div class="usa-card__footer">
              <p>Read more...</p>
            </div>      
          </div>
        </a>
      </div>

      <div class="tablet:grid-col-4 usa-card">
        <a href="{{site.baseurl}}/integrated-project-teams/" style="color:black;text-decoration: none; display: block;" class="height-full">
          <div class="bg-white padding-1 border-top-05 border-accent-warm shadow-5 height-full resources-hover">
            <header class="usa-card__header">
              <h4 class="resources-title">Vendor Assessment IPTs</h4>
            </header>
            <div class="usa-card__body">
              <p class="resources-text">Cross-government integrated project teams (IPTs) that will assess and provide recommendations on some of the hardest IT acquisition challenges facing agencies.</p>
            </div>
            <div class="usa-card__footer">
              <p>Read more...</p>
            </div>      
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
