{% comment %}
Use this section to highlight key elements of your site. Some sites will only have two while others may have six to
eight.
{% endcomment %}


<section id="homepage-body">
  <div class="grid-container usa-section padding-left-0 padding-right-0 padding-top-4 padding-bottom-2"id="resources-feed">
    <div id="popular-resources">
      <div class="section-heading">
        <h3>Popular Guides and Resources</h3>
      </div>
      <div class="resource-cards">
        {% for resources in site.resources %}
          {% assign hl = resources.highlight %}
          {% if hl == "true" %} 
            {% assign filter = resources.filter %}
            {% if filter == "p-filter" %} 
            <div class="resource-card " style="border-color: #f2938c">
            {% elsif filter == "acquisition-best-practices"%}
            <div class="resource-card " style="border-color: #59b9de;">
            {% elsif filter == "small-business"%}
            <div class="resource-card " style="border-color: #abace5;">
            {% elsif filter == "market-intelligence"%}
            <div class="resource-card " style="border-color: #3e4ded;">
            {% elsif filter == "technology"%}
            <div class="resource-card " style="border-color: #ddaa01;">
            {% elsif filter == "contract-solutions"%}
            <div class="resource-card " style="border-color: #5abf95;">
            {% elsif filter == "itvmo-general"%}
            <div class="resource-card " style="border-color: #b04abd;">
            {% endif %}
              <a href="{{resources.url-link}}">
                  <div class="resource-content">
                    {% assign filter = resources.filter %}
                    {% if filter == "p-filter" %} 
                    <div aria-label="Filter: Policy" class="resource-filter"><span>Policy</span></div>
                    {% elsif filter == "acquisition-best-practices"%}
                    <div aria-label="Filter: Acquisition Best Practices" class="resource-filter"><span>Acquisition Best Practices</span></div>
                    {% elsif filter == "small-business"%}
                    <div aria-label="Filter: Small Business" class="resource-filter"><span>Small Business</span></div>
                    {% elsif filter == "market-intelligence"%}
                    <div aria-label="Filter: Market Intelligence" class="resource-filter"><span>Market Intelligence</span></div>
                    {% elsif filter == "technology"%}
                    <div aria-label="Filter: Technology" class="resource-filter"><span>Technology</span></div>
                    {% elsif filter == "contract-solutions"%}
                    <div aria-label="Filter: Contract Solutions" class="resource-filter"><span>Contract Solutions</span></div>
                    {% elsif filter == "itvmo-general"%}
                    <div aria-label="Filter: ITVMO General" class="resource-filter"><span>ITVMO General</span></div>
                    {% endif %}
                    <div aria-label="Title: {{resources.title}}" class="resource-name">{{resources.title}}<img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external.svg"></div>
                    <div aria-label="Description: {{resources.description}}" class="resource-description" aria-details="description"><p class="two-line-max">{{resources.description}}</p></div>
                    <div class="resource-detail">
                      <div class="file-type">
                        <p>{{resources.type}}</p>
                      </div>
                      {% assign gm = resources.gov-only %}
                      {% if gm == "true" %}
                      <div class="govmil">
                        <img alt="Lock icon" src="{{site.baseurl}}/assets/images/icons/lock.svg">
                      </div>
                      {% endif %}
                      <div class="audience">
                        <p>{{resources.audience}}</p>
                      </div>
                      <div class="branded-offerings">
                        <p>{{resources.branded-offerings}}</p>
                      </div>
                    </div>
                  </div>

                <div class="resource-line"></div>

                <div class="resource-info">
                  <div class="resource-date">
                    <img alt="Calendar icon" src="{{site.baseurl}}/assets/images/icons/calendar.svg">
                    <div class="resource-logo"><span>{{resources.publication-date}}</span></div>
                  </div>
                  <div class="resource-rtime">
                    <img alt="Stop watch icon" src="{{site.baseurl}}/assets/images/icons/stop-watch.svg">
                    <div class="resource-logo"><span>{{resources.reading-time}} minute read</span></div>
                  </div>
                </div>
              </a>
            </div>
          {% endif %}
        {% endfor %}
        <!-- <div class="resource-card">
          <a href="https://login.max.gov/cas/login?service=https%3A%2F%2Fcommunity.max.gov%2Flogin.action%3Fos_destination%3D%252Fpages%252Fviewpage.action%253FspaceKey%253DEgov%2526title%253D2.%252BMicrosoft">
              <div class="resource-content">
                <div aria-label="Filter: {{resources.filter}}" class="resource-filter"><span>{{resources.filter}}</span></div>
                <div aria-label="Title: AWS Buyers Guide" class="resource-name">AWS Buyers Guide<img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external.svg"></div>
                <div aria-label="Description: {{resources.description}}" class="resource-description" aria-details="description"><p class="two-line-max">{{resources.description}}</p></div>
                <div class="resource-detail">
                  <div class="file-type">
                    <p>HTML</p>
                  </div>
                  <div class="govmil">
                    <img alt="Lock icon" src="{{site.baseurl}}/assets/images/icons/lock.svg">
                  </div>
                  <div class="audience">
                    <p>{{resources.audience}}</p>
                  </div>
                  <div class="branded-offerings">
                    <p>OEM Vendor Initiatives</p>
                  </div>
                </div>
              </div>

            <div class="resource-line"></div>

            <div class="resource-info">
              <div class="resource-date">
                <img alt="Calendar icon" src="{{site.baseurl}}/assets/images/icons/calendar.svg">
                <div class="resource-logo"><span>Dec 15, 2022</span></div>
              </div>
              <div class="resource-rtime">
                <img alt="Stop watch icon" src="{{site.baseurl}}/assets/images/icons/stop-watch.svg">
                <div class="resource-logo"><span>72 minute read</span></div>
              </div>
              <div class="resource-view">
                <img alt="Eye icon" src="{{site.baseurl}}/assets/images/icons/eye.svg">
                <div class="resource-logo"><span>28 View</span></div>
              </div>
            </div>
          </a>
        </div> -->
      </div>
      <div id="popular-resources-ending">
        <a id="go-to-resources" href="{{site.baseurl}}/resources">
          <p>View All Resources</p>
          <img alt="next arrow" src="{{site.baseurl}}/assets/images/icons/small-right-arrow-white.svg">
        </a>
        <p>
          Have a topic you would like to see or <a href="{{site.baseurl}}/contact-us-contribute?tabName=contribute-header">contribute?</a> Join us in building the largest federal acquisition intelligence repository
        </p>
      </div>
    </div>
    <div id="divide-line">
    </div>
    <div id="feed">
      <div class="section-heading">
        <h3>Socials</h3>
      </div>
      <div class="feed-follow-us">
        <img class="feed-itvmo-logo" src="{{site.baseurl}}/assets/images/logos/ITVMO_logo_square.png" alt="ITVMO logo">
        <h4>
          ITVMO
        </h4>
        <p>Information Technology Vendor Management Office</p>
        <a class="external-link" href="https://www.linkedin.com/company/govwideitvmo/#:~:text=follow%20this%20page-,Following,-Visit%20website" target="_blank" rel="noreferrer noopener">
          <img alt="Linkedln logo" src="{{site.baseurl}}/assets/images/logos/company_logos/linkedln-logo-white-small.svg">Follow us
        </a>
        <p>Feed Coming Soon..</p>
      </div>
    </div>
  </div>
</section>
