{% comment %}
Use this section to highlight key elements of your site. Some sites will only have two while others may have six to
eight.
{% endcomment %}


<section id="homepage-body">
  <div class="grid-container usa-section padding-left-0 padding-right-0 padding-top-4 padding-bottom-2"id="resources-feed">
    <div id="popular-resources">
      <div class="section-heading">
        <h3>Popular Guides and Resources</h3>
      </div>
      <div class="resource-cards">
        <div class="resource-card">
          <a href="https://login.max.gov/cas/login?service=https%3A%2F%2Fcommunity.max.gov%2Flogin.action%3Fos_destination%3D%252Fpages%252Fviewpage.action%253FspaceKey%253DEgov%2526title%253D2.%252BMicrosoft">
              <div class="resource-content">
                <div aria-label="Filter: Acquisition Best Practices" class="resource-filter"><span>Acquisition Best Practices</span></div>
                <div aria-label="Title: AWS Buyers Guide" class="resource-name">AWS Buyers Guide<img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external.svg"></div>
                <div aria-label="Description: This site page provides training and best practices for planning and preparing for transitioning from MSFT G3 to G5." class="resource-description" aria-details="description"><p class="two-line-max">This site page provides training and best practices for planning and preparing for transitioning from MSFT G3 to G5.</p></div>
                <div class="resource-detail">
                  <div class="file-type">
                    <p>HTML</p>
                  </div>
                  <div class="govmil">
                    <img alt="Lock icon" src="{{site.baseurl}}/assets/images/icons/lock.svg">
                  </div>
                  <div class="audience">
                    <p>Contracting Officers</p>
                  </div>
                  <div class="branded-offerings">
                    <p>OEM Vendor Initiatives</p>
                  </div>
                </div>
              </div>

            <div class="resource-line"></div>

            <div class="resource-info">
              <div class="resource-date">
                <img alt="Calendar icon" src="{{site.baseurl}}/assets/images/icons/calendar.svg">
                <div class="resource-logo"><span>Dec 15, 2022</span></div>
              </div>
              <div class="resource-rtime">
                <img alt="Stop watch icon" src="{{site.baseurl}}/assets/images/icons/stop-watch.svg">
                <div class="resource-logo"><span>72 minute read</span></div>
              </div>
              <div class="resource-view">
                <img alt="Eye icon" src="{{site.baseurl}}/assets/images/icons/eye.svg">
                <div class="resource-logo"><span>28 View</span></div>
              </div>
            </div>
          </a>
        </div>
        <div class="resource-card">

        </div>
        <div class="resource-card">

        </div>
        <div class="resource-card">

        </div>
        <div class="resource-card">

        </div>
      </div>
      <div id="popular-resources-ending">
        <a id="go-to-resources" href="{{site.baseurl}}/resources">
          <p>View All Resources</p>
          <img alt="next arrow" src="{{site.baseurl}}/assets/images/icons/small-right-arrow-white.svg">
        </a>
        <p>
          Have a topic you would like to see or <a href="#">contribute?</a> Join us in building the largest federal acquisition intelligence repository
        </p>
      </div>
    </div>
    <div id="divide-line">
    </div>
    <div id="feed">
      <div class="section-heading">
        <h3>Feed</h3>
      </div>
      <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:7110645961969852416" height="800" width="316" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>
      <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:7110260417913925632" height="637" width="316" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>
      <!-- <a class="twitter-timeline" data-width="394" data-height="1000" href="https://twitter.com/USGSA?ref_src=twsrc%5Etfw">Tweets by USGSA</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
    </div>
  </div>
</section>
