{% comment %}
Use this section to highlight key elements of your site. Some sites will only have two while others may have six to
eight.
{% endcomment %}


<section id="homepage-body">
  <div class="grid-container usa-section padding-left-0 padding-right-0 padding-top-4 padding-bottom-2"id="resources-feed">
    <div id="popular-resources">
      <div class="section-heading">
        <h3>Popular Guides and Resources</h3>
      </div>
      <div class="resource-cards">
        <div class="resource-card">
          <a href="https://login.max.gov/cas/login?service=https%3A%2F%2Fcommunity.max.gov%2Flogin.action%3Fos_destination%3D%252Fpages%252Fviewpage.action%253FspaceKey%253DEgov%2526title%253D2.%252BMicrosoft">
            <div class="label-color"></div>
              <div class="resource-content">
                <div aria-label="Filter: Acquisition Best Practices" class="resource-filter"><span>Acquisition Best Practices</span></div>
                <div aria-label="Title: AWS Buyers Guide" class="resource-name">AWS Buyers Guide</div>
                <div aria-label="Description: This site page provides training and best practices for planning and preparing for transitioning from MSFT G3 to G5." class="resource-description" aria-details="description"><p>This site page provides training and best practices for planning and preparing for transitioning from MSFT G3 to G5.</p></div>
                <div class="resource-detail">
                  <div class="file-type">
                    <p>HTML</p>
                  </div>
                  <div class="govmil">
                    <img id="u168_img" class="img " src="https://files.axshare.com/gsc/FTDJN4/6c/1f/be/6c1fbef273a445aea668c57d3bcc00ad/images/home/u168.svg?pageId=440fa3d9-cf2b-4c85-b796-e76edd84eb0d">
                  </div>
                  <div class="audience">
                    <p>Contracting Officers</p>
                  </div>
                  <div class="branded-offerings">
                    <p>OEM Vendor Initiatives</p>
                  </div>
                </div>
              </div>

            <div class="resource-line"></div>

            <div class="resource-info">
              <div class="resource-date">
                <img id="u271_img" class="img" src="https://files.axshare.com/gsc/FTDJN4/38/58/85/3858858c57ca4244ab05874dbdd13541/images/home/u182.svg?pageId=440fa3d9-cf2b-4c85-b796-e76edd84eb0d">
                <div class="resource-logo"><span>Dec 15, 2022</span></div>
              </div>
              <div class="resource-rtime">
                <img id="u220_img" class="img" src="https://files.axshare.com/gsc/FTDJN4/38/58/85/3858858c57ca4244ab05874dbdd13541/images/home/u183.svg?pageId=440fa3d9-cf2b-4c85-b796-e76edd84eb0d">
                <div class="resource-logo"><span>72 minute read</span></div>
              </div>
              <div class="resource-view">
                <img id="u223_img" class="img" src="https://files.axshare.com/gsc/FTDJN4/38/58/85/3858858c57ca4244ab05874dbdd13541/images/home/u186.svg?pageId=440fa3d9-cf2b-4c85-b796-e76edd84eb0d">
                <div class="resource-logo"><span>28 View</span></div>
              </div>
            </div>
          </a>
        </div>
        <div class="resource-card">

        </div>
        <div class="resource-card">

        </div>
        <div class="resource-card">

        </div>
        <div class="resource-card">

        </div>
      </div>
      <div id="popular-resources-ending">
        <button id="go-to-resources">
          <p>View All Resources</p>
          <img id="u289_img" class="img " src="https://files.axshare.com/gsc/FTDJN4/27/94/4f/27944f06ec834ddcbaedeb6258097c15/images/home_1/u289.svg?pageId=440fa3d9-cf2b-4c85-b796-e76edd84eb0d">
        </button>
        <p>
          Have a topic you would like to see or <a href="#">contribute?</a> Join us in building the largest federal acquisition intelligence repository
        </p>
      </div>
    </div>
    <div id="divide-line">
    </div>
    <div id="feed">
      <div class="section-heading">
        <h3>Feed</h3>
      </div>
      <a class="twitter-timeline" data-width="394" data-height="1000" href="https://twitter.com/USGSA?ref_src=twsrc%5Etfw">Tweets by USGSA</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</section>
