<section id="inner-page-tabs">
    <div id="contribute-dox" class="tabcontent" style="display: flex;">
       <div class="contents padding-bottom-5">
          <p class=" ">
            Part of the ITVMO’s mission is to bring together the IT vendor community and IT acquisitions experts at federal agencies to develop shared solutions that reduce redundancy, overcome barriers to entry to the federal IT marketplace, and save time and money.
          </p>
          <p class="  margin-top-0">
            On May 12th, the ITVMO hosted an Industry Day, intended for a general audience, that presented the ITVMO’s vision for improving IT acquisitions in the future. The ITVMO, along with other federal government partner programs and agency IT acquisitions personnel, will engage industry groups and specific vendors to improve governmentwide IT acquisitions. No solution is possible without help and input from the IT vendor community and the Industry Day was the first of many opportunities to gather feedback and learn from industry.
          </p>
          <p class=" ">
            A recording of the ITVMO Industry Day webinar has been posted to YouTube <a href="https://www.youtube.com/watch?v=mD4iWvAJnyk">here</a>
          </p>
          <p class=" ">
            If you have any questions, or you're interested in learning more, please reach out to the ITVMO inbox at <a href="mailto:itvmo@gsa.gov?subject=ITVMO Industry Day">itvmo@gsa.gov</a>.
          </p>
      </div>
    </div>
  </section>