<section id="inner-page-tabs">
  <div id="contribute-dox" class="tabcontent" style="display: flex">
    <div class="contents padding-bottom-5">
      <h2 id="a-comprehensive-overview" class="topic-heading">
        Informatica's Data in Action Summit: A Comprehensive Overview
      </h2>
      <!-- <div class="speaker-announcer-banner">
        <p>

        </p>
        <a
          class="external-link external-link-orange"
          href="https://www.nextgov.com/artificial-intelligence/2024/01/agencies-are-track-ai-executive-order-deadlines-white-house-says/393740/"
        >
          <p>

          </p>
          <img src="{{site.baseurl}}/assets/images/icons/external.svg" alt="external icon" />
        </a>
      </div> -->
      <div class="speaker-announcer-banner">
        <p>
          If you are interested in Data and Emerging Technology -- join the
          ITVMO in revolutionizing Government Acquisition through Digital
          Transformation. Our annual summit will be coming up shortly which will
          focus on Uniting Technology, People, and Process to innovate and
          radically transform IT Acquisition and Procurement in the Federal
          Government
        </p>
        <a
          class="external-link external-link-orange"
          href="https://www.nextgov.com/artificial-intelligence/2024/01/agencies-are-track-ai-executive-order-deadlines-white-house-says/393740/"
        >
          <p>Pre-register today</p>
          <img
            src="{{site.baseurl}}/assets/images/icons/external.svg"
            alt="external icon"
          />
        </a>
      </div>
      <!-- <h3 class="sub-topic-heading-blue">
          Call for Customer Feedback on the ITVMO Annual Performance
        </h3> -->
      <!-- <p class=" ">

        </p> -->
      <!-- <a target="_blank" rel="noreferrer noopener" href=""> <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg"></a> -->
      <p class=" ">
        As more government agencies evolve their citizen services into efficient
        platforms, leaders are increasingly relying on data as a key indicator
        of success and a means to drive change. Data, once a helpful resource,
        has now become crucial in the intricate modernization journey. IT
        officials find data and its analytical tools indispensable for building
        a government that is not only effective but also transparent, allowing
        them to witness their efforts in real time.
      </p>
      <p class=" ">
        On December 6th, 2023 the governmentwide ITVMO attended the
        <a
          target="_blank"
          rel="noreferrer noopener"
          href="https://events.govexec.com/informatica-data-in-action-summit/"
          >Data in Action Summit
          <img
            alt="External icon"
            src="{{site.baseurl}}/assets/images/icons/external-small.svg"
        /></a>
        by
        <a
          target="_blank"
          rel="noreferrer noopener"
          href="https://www.informatica.com/"
          >Informatica
          <img
            alt="External icon"
            src="{{site.baseurl}}/assets/images/icons/external-small.svg" /></a
        >. The event brought together leading minds in the field of data science
        within government, and among them was
        <a
          target="_blank"
          rel="noreferrer noopener"
          href="https://www.gao.gov/about/contact-us/find-an-expert/taka-ariga"
          >Taka Ariga
          <img
            alt="External icon"
            src="{{site.baseurl}}/assets/images/icons/external-small.svg"
        /></a>
        of the
        <a target="_blank" rel="noreferrer noopener" href="https://www.gao.gov/"
          >Government Accountability Office (GAO)
          <img
            alt="External icon"
            src="{{site.baseurl}}/assets/images/icons/external-small.svg" /></a
        >, who provided an enlightening discourse on various facets of data
        utilization and management.
      </p>
      <!-- <h3 id="" class="sub-topic-heading">
          
        </h3>
        <div class="bulletSections">
          <div class="topLine"></div>
          <ul class="experiences">
              <li class="bulletText"><b></b> </li>
          </ul>
        </div> -->
      <h3 id="" class="sub-topic-heading">Targeted Audience</h3>
      <div class="bulletSections">
        <div class="topLine"></div>
        <ul class="experiences">
          <li class="bulletText"><b>Chief Data Officers/Data Scientists</b></li>
          <li class="bulletText"><b>Enterprise Architects</b></li>
          <li class="bulletText"><b>IT Managers</b></li>
        </ul>
      </div>
      <h3 id="" class="sub-topic-heading">Intended Takeaways</h3>
      <div class="bulletSections">
        <div class="topLine"></div>
        <ul class="experiences">
          <li class="bulletText">
            <b
              >Adoption of Artificial Intelligence (AI) is occurring more in
              government, but based on objective needs.</b
            >
            GAO is investing in initiatives for learning the mechanisms of AI to
            inform appropriate uses and what new capabilities may form post AI
            adoption (above and beyond AI).
          </li>
          <li class="bulletText">
            <b
              >Data plays a critical role in shaping agency strategies and
              operational excellence.</b
            >
          </li>
          <li class="bulletText">
            <b
              >Understanding data's role and implications is important for the
              future state.</b
            >
            Data integrity must be validated early, often, and throughout, given
            the dependency on accuracy and high risk for contaminated results.
            The organization must take various strategies to safeguard data.
          </li>
          <li class="bulletText">
            <b
              >Information (data) is a leading contributor to better customer
              experience (CX).</b
            >
            The government has a lot of data and is responsible for promoting
            transparency to the citizens. Investment in efforts to properly
            label data and organize can help agencies improve the overall CX,
            while also improving operations.
          </li>
        </ul>
      </div>

      <div class="tab-divide-line end-content"></div>
      <!-- <div class="tab-img-p">
            <img class="tab-img-p-image-small" src="{{site.baseurl}}/assets/images/person/taka-ariga.svg" alt="Taka Ariga profile image">
            <div>
              <h3 class="sub-topic-heading-blue sub-topic-heading-23 margin-bottom-0">
                [Person name]
              </h3>
              <p class=" ">
                [Profile]
              </p>
            </div>
          </div>
          <h3 class="sub-topic-heading-blue sub-topic-heading-23 margin-bottom-0">
          </h3>
          <p class=" ">
            
          </p> -->
      <h2 id="opening-speaker" class="sub-topic-heading">Opening Speaker</h2>
      <div class="tab-img-p">
        <img
          class="tab-img-p-image-small"
          src="{{site.baseurl}}/assets/images/person/taka-ariga.svg"
          alt="Taka Ariga profile image"
        />
        <div>
          <h3
            class="sub-topic-heading-blue sub-topic-heading-23 margin-bottom-0"
          >
            Taka Ariga
          </h3>
          <p class=" ">
            Taka Ariga is the GAO first Chief Data Scientist and Director of the
            Innovation Lab. As an integral part of the Science, Technology
            Assessment, and Analytics team, he is helping GAO develop and
            implement advanced analytical capabilities for its auditing
            practices.
          </p>
        </div>
      </div>
      <h3 class="sub-topic-heading-blue sub-topic-heading-23 margin-bottom-0">
        Embracing the Future
      </h3>
      <p class=" ">
        Mr. Ariga kicked off the event by emphasizing the importance of
        <b>data</b> in today's world, discussing the intricate layers of data
        sharing, governance, and the pivotal role of <b>AI</b>, particularly in
        probabilistic models.
      </p>
      <p class=" ">
        A significant portion of Taka's talk was dedicated to Data Literacy,
        highlighting the need for understanding data's role and implications.
        This segued into an intriguing discussion about GAO’s deployment of
        <a
          target="_blank"
          rel="noreferrer noopener"
          href="https://fedscoop.com/gao-in-experimentation-phase-with-ai-model-to-query-reports-inform-its-work/"
          >Large Language Models (LLMs.)
          <img
            alt="External icon"
            src="{{site.baseurl}}/assets/images/icons/external-small.svg" /></a
        >, focusing on summarization techniques and basic principles.
      </p>
      <p class=" ">
        Taka also touched upon the crucial aspect of <b>Change Management</b> in
        the context of data, noting how it's essential for adapting to the
        evolving data landscape. The talk concluded with insights on the use of
        <b>Natural Language Processing (NLP)</b> and <b>LLMs</b> within federal
        agencies, underscoring their growing importance in government sectors.
      </p>
      <!-- <div class="links-list">
            <h3 class="sub-topic-heading-blue sub-topic-heading-20 margin-bottom-0">
              Related Articles
            </h3>
            <ul class="links-with-descriptions  margin-top-1">
               <li class="link-with-description">
                  <a target="_blank" rel="noreferrer noopener" href="" tabindex="0">
                     <p class="link-heading">
                        <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                        
                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                     </p>
                  </a>
               </li>
            </ul>
         </div> -->
      <div class="links-list">
        <h3 class="sub-topic-heading-blue sub-topic-heading-20 margin-bottom-0">
          Related Articles
        </h3>
        <ul class="links-with-descriptions links-with-descriptions-row-gap-10 margin-top-1">
          <li class="link-with-description">
            <a
              target="_blank"
              rel="noreferrer noopener"
              href="https://www.gao.gov/products/gao-23-106811"
              tabindex="0"
            >
              <p class="link-heading">
                <img
                  class="link-icon"
                  alt="Link icon"
                  src="{{site.baseurl}}/assets/images/icons/link-icon.svg"
                />
                AI: Key Practices to Help Ensure Accountability in Federal Use
                <img
                  alt="External icon"
                  src="{{site.baseurl}}/assets/images/icons/external-small.svg"
                />
              </p>
            </a>
          </li>
          <li class="link-with-description">
            <a
              target="_blank"
              rel="noreferrer noopener"
              href="https://www.gao.gov/products/gao-23-106782"
              tabindex="0"
            >
              <p class="link-heading">
                <img
                  class="link-icon"
                  alt="Link icon"
                  src="{{site.baseurl}}/assets/images/icons/link-icon.svg"
                />
                Science & Tech Spotlight: Generative AI
                <img
                  alt="External icon"
                  src="{{site.baseurl}}/assets/images/icons/external-small.svg"
                />
              </p>
            </a>
          </li>
          <li class="link-with-description">
            <a
              target="_blank"
              rel="noreferrer noopener"
              href="https://www.gao.gov/blog/artificial-intelligences-use-and-rapid-growth-highlight-its-possibilities-and-perils"
              tabindex="0"
            >
              <p class="link-heading">
                <img
                  class="link-icon"
                  alt="Link icon"
                  src="{{site.baseurl}}/assets/images/icons/link-icon.svg"
                />
                AI’s Use and Rapid Growth Highlight Its Possibilities and Perils
                <img
                  alt="External icon"
                  src="{{site.baseurl}}/assets/images/icons/external-small.svg"
                />
              </p>
            </a>
          </li>
        </ul>
      </div>

      <div class="tab-divide-line end-content"></div>

      <h2 id="panel-discussions" class="sub-topic-heading">
        Panel Discussions: Diverse Perspectives on Data
      </h2>
      <h3 class="sub-topic-heading-blue sub-topic-heading-23 margin-bottom-0">
        Panel 1: Elevating Customer Experience
      </h3>
      <p class=" ">
        The first panel delved into CX, a crucial aspect of modern governance.
        The panelists, including members from the U.S. Department of Agriculture
        (USDA) discussed the momentum being built in creating better
        interactions between the government and its citizens. Key topics
        included: (1) integration of infrastructure and journey mapping, (2)
        importance of breaking out of silos to embed customer experience impact,
        and (3) concept of a 'one-stop shop' for government services. Notably,
        the panel emphasized the increasing role of mobile services, reflecting
        the shift towards more accessible and user-friendly government
        interactions.
      </p>
      <div class="links-list">
        <h3 class="sub-topic-heading-blue sub-topic-heading-20 margin-bottom-0">
          Related Articles
        </h3>
        <ul class="links-with-descriptions links-with-descriptions-row-gap-10 margin-top-1">
          <li class="link-with-description">
            <a
              target="_blank"
              rel="noreferrer noopener"
              href="https://www.govconwire.com/2023/12/cx-the-next-frontier-in-governments-digital-transformation/"
              tabindex="0"
            >
              <p class="link-heading">
                <img
                  class="link-icon"
                  alt="Link icon"
                  src="{{site.baseurl}}/assets/images/icons/link-icon.svg"
                />
                CX: The Next Frontier in Government’s Digital Transformation
                <img
                  alt="External icon"
                  src="{{site.baseurl}}/assets/images/icons/external-small.svg"
                />
              </p>
            </a>
          </li>
          <li class="link-with-description">
            <a
              target="_blank"
              rel="noreferrer noopener"
              href="https://www.meritalk.com/articles/federal-cio-this-is-the-moment-for-government-cx-gains/"
              tabindex="0"
            >
              <p class="link-heading">
                <img
                  class="link-icon"
                  alt="Link icon"
                  src="{{site.baseurl}}/assets/images/icons/link-icon.svg"
                />
                Federal CIO: ‘This is the Moment’ for Government CX Gains
                <img
                  alt="External icon"
                  src="{{site.baseurl}}/assets/images/icons/external-small.svg"
                />
              </p>
            </a>
          </li>
          <li class="link-with-description">
            <a
              target="_blank"
              rel="noreferrer noopener"
              href="https://federalnewsnetwork.com/commentary/2023/10/how-to-enhance-federal-cx-and-restore-trust-in-government/"
              tabindex="0"
            >
              <p class="link-heading">
                <img
                  class="link-icon"
                  alt="Link icon"
                  src="{{site.baseurl}}/assets/images/icons/link-icon.svg"
                />
                How to enhance federal CX and restore trust in government
                <img
                  alt="External icon"
                  src="{{site.baseurl}}/assets/images/icons/external-small.svg"
                />
              </p>
            </a>
          </li>
        </ul>
      </div>

      <div class="tab-divide-line end-content"></div>

      <h3 class="sub-topic-heading-blue sub-topic-heading-23 margin-bottom-0">
        Panel 2: Data Security and System Management
      </h3>
      <p class=" ">
        The second panel focused on
        <a
          target="_blank"
          rel="noreferrer noopener"
          href="https://www.whitehouse.gov/wp-content/uploads/2022/01/M-22-09.pdf"
        >
          Executive Order 22-09, Moving the U.S. Government Toward Zero Trust
          Cybersecurity Principles
          <img
            alt="External icon"
            src="{{site.baseurl}}/assets/images/icons/external-small.svg"
          />
        </a>
        , which focuses on governmentwide implementation of Zero Trust (ZT). The
        directive centers on <b>data integrity</b> and <b>security</b>. With
        representatives from the Department of Defense (DOD) and the Office of
        Management and Budget (OMB) the discussion revolved around treating data
        as the 'crown jewel' of an organization and the various strategies to
        safeguard it. This included innovative methods like the 'Hack the
        Pentagon' bug bounty approach, insights from detailed Salesforce
        experts, <b>Application Programming Interface</b> (API) calls, and the
        integration of data between services. The panelists also explored the
        integration of cybersecurity into the entire architectural framework,
        the <b>evolution of data protection methods</b> (such as moats to data
        change), and the importance of application and system security. Each
        stressed on <b>ID management</b>, taking an iterative and holistic
        approach, and the significance of automated inventory and cataloging of
        data. A notable mention was the concept of decentralized identity,
        particularly in the context of the European Union.
      </p>

      <div class="links-list">
        <h3 class="sub-topic-heading-blue sub-topic-heading-20 margin-bottom-0">
          Related Articles
        </h3>
        <ul class="links-with-descriptions links-with-descriptions-row-gap-10 margin-top-1">
          <li class="link-with-description">
            <a
              target="_blank"
              rel="noreferrer noopener"
              href="https://www.gsa.gov/technology/government-it-initiatives/federal-identity-credential-and-access-management"
              tabindex="0"
            >
              <p class="link-heading">
                <img
                  class="link-icon"
                  alt="Link icon"
                  src="{{site.baseurl}}/assets/images/icons/link-icon.svg"
                />
                GSA’s: Federal identity, credential, and access management
                <img
                  alt="External icon"
                  src="{{site.baseurl}}/assets/images/icons/external-small.svg"
                />
              </p>
            </a>
          </li>
          <li class="link-with-description">
            <a
              target="_blank"
              rel="noreferrer noopener"
              href="https://www.cisa.gov/zero-trust-maturity-model"
              tabindex="0"
            >
              <p class="link-heading">
                <img
                  class="link-icon"
                  alt="Link icon"
                  src="{{site.baseurl}}/assets/images/icons/link-icon.svg"
                />
                Cybersecurity and Infrastructure Security Agency (CISA) Zero
                Trust Maturity Model
                <img
                  alt="External icon"
                  src="{{site.baseurl}}/assets/images/icons/external-small.svg"
                />
              </p>
            </a>
          </li>
          <li class="link-with-description">
            <a
              target="_blank"
              rel="noreferrer noopener"
              href="https://www.gao.gov/products/gao-23-106826"
              tabindex="0"
            >
              <p class="link-heading">
                <img
                  class="link-icon"
                  alt="Link icon"
                  src="{{site.baseurl}}/assets/images/icons/link-icon.svg"
                />
                Cybersecurity: Launching and Implementing the National
                Cybersecurity Strategy
                <img
                  alt="External icon"
                  src="{{site.baseurl}}/assets/images/icons/external-small.svg"
                />
              </p>
            </a>
          </li>
        </ul>
      </div>
      <div class="speaker-announcer-banner">
        <p>
          <b>
            Are security and ZT key challenges in your acquisition and
            technology strategy? The ITVMO in collaboration with GSA’s Office of
            Information Technology Category and TTS’ IT Acquisition Working
            Group is conducting a cohort on ZT Acquisition Training.
          </b>
          <br />
          <i>
            Email us at ITVMO@gsa.gov Subject: ZT Acquisition Training for more
            information.
          </i>
        </p>
        <a
          class="external-link external-link-orange"
          href="mailto:itvmo@gsa.gov?subject=ZT Acquisition Training for more information"
        >
          <p>Email us</p>
          <img
            src="{{site.baseurl}}/assets/images/icons/email-icon.svg"
            alt="Email icon"
          />
        </a>
      </div>

      <h3 class="sub-topic-heading-blue sub-topic-heading-23 margin-bottom-0">
        Panel 3: Algorithmic Modernization and Risk Management
      </h3>
      <p class=" ">
        The third panel featuring members from CISA, the General Services
        Administration (GSA), and GAO brought AI into the spotlight, discussing
        its role in data sharing and governance. A key area of focus was risk
        management, particularly in the context of the
        <a
          target="_blank"
          rel="noreferrer noopener"
          href="https://www.cisa.gov/resources-tools/resources/roadmap-ai"
        >
          CISA AI Roadmap
          <img
            alt="External icon"
            src="{{site.baseurl}}/assets/images/icons/external-small.svg"
          />
        </a>
        and the inclusion of data in models. These panelists debated on data
        quality and fitness, including labeling practices, and the sensitivity
        of data in relation to the privacy and security of systems. All three
        panelists emphasized the importance of upfront data modeling and the
        need to ensure that the right data is being utilized. The panel
        concluded with a cautionary note on the pace of AI adoption, advocating
        for a balanced approach that prioritizes high reward and low risk.
      </p>
      <div class="links-list">
        <h3 class="sub-topic-heading-blue sub-topic-heading-20 margin-bottom-0">
          Related Articles
        </h3>
        <ul class="links-with-descriptions links-with-descriptions-row-gap-10 margin-top-1">
          <li class="link-with-description">
            <a
              target="_blank"
              rel="noreferrer noopener"
              href="https://www.govconwire.com/articles/risk-management-identifying-and-mitigating-risks-in-federal-contracts/"
              tabindex="0"
            >
              <p class="link-heading">
                <img
                  class="link-icon"
                  alt="Link icon"
                  src="{{site.baseurl}}/assets/images/icons/link-icon.svg"
                />
                Risk Management: Identifying and Mitigating Risks in Federal
                Contracts
                <img
                  alt="External icon"
                  src="{{site.baseurl}}/assets/images/icons/external-small.svg"
                />
              </p>
            </a>
          </li>
          <li class="link-with-description">
            <a
              target="_blank"
              rel="noreferrer noopener"
              href="https://federalnewsnetwork.com/commentary/2024/01/use-of-ai-comes-with-new-security-threats-agencies-will-need-innovative-strategies-to-protect-their-ai-models/"
              tabindex="0"
            >
              <p class="link-heading">
                <img
                  class="link-icon"
                  alt="Link icon"
                  src="{{site.baseurl}}/assets/images/icons/link-icon.svg"
                />
                Use of AI comes with new security threats. Agencies will need
                innovative strategies to protect their AI models
                <img
                  alt="External icon"
                  src="{{site.baseurl}}/assets/images/icons/external-small.svg"
                />
              </p>
            </a>
          </li>
          <li class="link-with-description">
            <a
              target="_blank"
              rel="noreferrer noopener"
              href="https://www.nist.gov/artificial-intelligence/executive-order-safe-secure-and-trustworthy-artificial-intelligence"
              tabindex="0"
            >
              <p class="link-heading">
                <img
                  class="link-icon"
                  alt="Link icon"
                  src="{{site.baseurl}}/assets/images/icons/link-icon.svg"
                />
                NIST RFI on: Executive Order 14110 on Safe, Secure, and
                Trustworthy Development and Use of Artificial Intelligence.
                <img
                  alt="External icon"
                  src="{{site.baseurl}}/assets/images/icons/external-small.svg"
                />
              </p>
            </a>
          </li>
        </ul>
      </div>

      <div class="tab-divide-line end-content"></div>

      <h2 id="closing-speaker" class="sub-topic-heading">Closing Speaker</h2>
      <div class="tab-img-p">
        <img
          class="tab-img-p-image-small"
          src="{{site.baseurl}}/assets/images/person/ken-pfeil.svg"
          alt="Ken Pfeil profile image"
        />
        <div>
          <h3
            class="sub-topic-heading-blue sub-topic-heading-23 margin-bottom-0"
          >
            Ken Pfeil
          </h3>
          <p class=" ">
            Ken Pfeil is the Commonwealth of Virginia’s Chief Data Officer. Ken
            is a security and finance industry veteran, formerly serving as VP
            and Managing Director of Data Protection and Governance at OneMain
            Financial. Ken’s Information Technology and Security experience
            spans over three decades, with strategic, technical, and executive
            experience at companies such as Microsoft, Dell, Capital IQ,
            Miradiant Global Network, Avaya, and Merrill Lynch. Ken co-authored
            Microsoft's “Best Practices for Enterprise Security” white papers
            and participated on the Information Systems Security Association's
            International Privacy Advisory Board covering the initial
            implementation of GLBA.
          </p>
        </div>
      </div>
      <h3 class="sub-topic-heading-blue sub-topic-heading-23 margin-bottom-0">
        Data in Action, Government-Led Initiatives and Local Problem-Solving
      </h3>
      <p class=" ">
        Ken Pfeil brought attention to government-led initiatives targeting
        local problems. Ken’s talk highlighted the vital role of security in
        data management and the importance of data training and accuracy.
        Establishing best practices was underscored as a key factor in managing
        data effectively. The speaker concluded with a poignant reminder that in
        the realm of data and AI, people and their expertise are more important
        than the code itself.
      </p>
      <p class=" ">
        In summary, Informatica's Data in Action Summit presented a multifaceted
        view of the current state and future of data management, emphasizing the
        importance of AI, data security, customer experience, and the human
        element in the world of data science within the federal government.
      </p>

      <h3
        id="event-background"
        class="sub-topic-heading-blue sub-topic-heading-23"
      >
        Event Background
      </h3>
      <div class="bulletSections">
        <div class="topLine"></div>
        <ul class="experiences">
          <li class="bulletText"><b>When:</b> December 6th, 2023</li>
          <li class="bulletText">
            <b>Who:</b> Public sector experts providing commentary on how
            they're using data to deliver transformative analysis, security, and
            CX solutions across their agencies.
          </li>
          <li class="bulletText">
            <b>Why:</b> At the heart of Informatica's Data in Action Summit lies
            a compelling narrative within the strategic applications of data in
            the public sector. This summit convened to explore how government
            entities can leverage data to optimize customer experiences,
            understand data's critical role in defending system security, and
            delve into its guiding impact on AI and automation. These pivotal
            themes underscore the importance and purpose of the summit,
            illuminating why bringing these conversations to the forefront is
            essential in today's data-driven landscape.
          </li>
        </ul>
      </div>

      <div class="speaker-announcer-banner">
        <p>
          <b>
            Are you passionate about staying ahead in the ever-evolving world of
            technology management? The ITVMO is your gateway to the latest
            trends, insights, and best practices in the industry. By joining our
            listserv, you become part of an exclusive community dedicated to
            excellence and innovation.
          </b>
        </p>
        <a
          class="external-link external-link-orange"
          href="mailto:itvmo@gsa.gov?subject=ZT Acquisition Training for more information"
        >
          <p>Sign up</p>
          <img
            src="{{site.baseurl}}/assets/images/arrows/right-arrow-black.svg"
            alt="Right arrow icon"
          />
        </a>
      </div>

      <h3
        class="sub-topic-heading-blue sub-topic-heading-23"
      >
        Why Wait? Sign Up Now and Enjoy:
      </h3>
      <div class="bulletSections">
        <div class="topLine"></div>
        <ul class="experiences">
          <li class="bulletText"><b>Exclusive Updates:</b> Be the first to receive cutting-edge news, updates, and announcements directly from the industry's thought leaders.</li>
          <li class="bulletText"><b>Expert Insights:</b> Gain access to valuable resources, whitepapers, and case studies that can transform your approach to technology management.</li>
          <li class="bulletText"><b>Networking Opportunities:</b> Connect with like-minded professionals, share experiences, and collaborate on solving the industry's most pressing challenges. Don't miss this chance to elevate your knowledge and network. Signing up is quick, easy, and opens the door to a wealth of opportunities.</li>
        </ul>
      </div>
      <p class=" ">
        Additionally, we're always looking for insightful contributions from external experts and thought leaders in these fields. If you have valuable experiences, case studies, or innovative ideas related to <b>Data, ZeroTrust, AI, or Customer Experience,</b> we encourage you to share them with our community. Your input can help shape the conversation and drive progress in these critical areas.
      </p>
      <p class=" ">
        <i>
          Please contribute to the ITVMO with your content proposals or submissions to become a part of our growing dialogue by filling out this <a target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/contact-us-contribute/?tabName=contribute-header">form</a>.
        </i>
      </p>
      <div class="tab-divide-line end-content"></div>

      <h2 id="about-informatica" class="sub-topic-heading">
        About Informatica
      </h2>
      <p class=" ">
        Informatica is a prominent player in the data management sector, trusted by 85 of the Fortune 100 companies. The company processes a staggering 71 trillion cloud transactions per month and offers over 250 intelligent data services. Informatica's core strength lies in bringing data and AI to life, enabling businesses to harness the transformative power of their most critical assets.
      </p>
      <p class=" ">
        The company's Intelligent Data Management Cloud is pivotal in unlocking the power of AI by ensuring holistic, trusted, and governed data. This platform is essential for companies aiming for data velocity, volume, variety, and veracity to succeed with accurate, unbiased insights.
      </p>
      <p class=" ">
        Informatica has achieved a leading position in the market, ranking #1 in several categories including Data Ingestion & Transformation, Data Quality, Data Intelligence, Master Data Management, and Dynamic Data Movement. This recognition is a testament to the company's commitment to delivering top-notch data management solutions. Visit <b>Informatica’s</b> 
        <a target="_blank" rel="noreferrer noopener" href="https://www.informatica.com/">website <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg"></a> today!
      </p>
      <h2 id="about-itvmo" class="sub-topic-heading">
        About ITVMO
      </h2>
      <p class=" ">
        The <b>Information Technology Vendor Management Office (ITVMO)</b> serves as a trusted advisor and advocate for Federal IT acquisitions. Established in October 2020 within the Governmentwide Category Management Framework by the <b>Office of Management and Budget (OMB)</b>, the ITVMO aims to address the challenges faced by agencies in IT vendor relationship management, including standardizing technical requirements, mitigating cyber-risk, improving data quality, and leveraging the government's buying power to drive improvements and business transformation.
      </p>
      <p class=" ">
        The ITVMO's mission is to provide agencies with meaningful intelligence to inform and support faster, smarter IT buying decisions. It operates within the Federal IT Acquisitions Ecosystem, collaborating with various stakeholders, including agency IT buyers, vehicle solution holders, federal and industry partners, and suppliers (and resellers). This collaboration aims to standardize requirements, increase market compliance, and drive smarter, faster IT acquisitions.
      </p>
      <p class=" ">
        The ITVMO offers a coordinated voice representing all agencies to the vendor community, focusing on customer-centric solutions, convenience, cost savings, and compliance. It also conducts annual assessments and customer satisfaction surveys to evaluate its performance and inform priorities and agency needs for the upcoming fiscal year. Visit our <a target="_blank" rel="noreferrer noopener" href="https://itvmo.gsa.gov/">website</a> today!
      </p>

    </div>
    <div class="content-nav">
      <div class="nav-list">
        <h3>On this Tab</h3>
        <a
          id="sn-a-comprehensive-overview"
          class="page-nav page-nav-active"
          href="#a-comprehensive-overview"
          onclick="return removeTabContent(this)"
          >A Comprehensive Overview</a
        >
        <a
          id="sn-opening-speaker"
          class="page-nav page-nav"
          href="#opening-speaker"
          onclick="return removeTabContent(this)"
          >Opening Speaker</a
        >
        <a
          id="sn-panel-discussions"
          class="page-nav page-nav"
          href="#panel-discussions"
          onclick="return removeTabContent(this)"
          >Panel Discussions</a
        >
        <a
          id="sn-closing-speaker"
          class="page-nav page-nav"
          href="#closing-speaker"
          onclick="return removeTabContent(this)"
          >Closing Speaker</a
        >
        <a
          id="sn-event-background"
          class="page-nav page-nav"
          href="#event-background"
          onclick="return removeTabContent(this)"
          >Event Background</a
        >
        <a
          id="sn-about-informatica"
          class="page-nav page-nav"
          href="#about-informatica"
          onclick="return removeTabContent(this)"
          >About Informatica</a
        >
        <a
          id="sn-about-itvmo"
          class="page-nav page-nav"
          href="#about-itvmo"
          onclick="return removeTabContent(this)"
          >About ITVMO</a
        >
        <!-- <a id="sn-agency-showcase" class="page-nav" href="#agency-showcase" onclick="return removeTabContent(this)">Agency Showcase</a>
             <a id="sn-new-itvmo-member" class="page-nav" href="#new-itvmo-member" onclick="return removeTabContent(this)">New ITVMO Team Members</a> -->
      </div>
    </div>
  </div>
</section>
