<section id="inner-page-tabs">
    <!-- Inner tab dropdown for the mobile version -->
    <div id="tabs-mobile-container">
       <select id="tabs-mobile" onchange="openTabDropdown();">
          <option value="it-buyers-training-and-support-header">IT Buyers Training & Support</option>
          <option value="it-buyers-toolkit-header">IT Buyers Toolkit</option>
          <option value="it-buyers-cop-header">IT Buyers Community of Practice</option>
       </select>
    </div>
    <div class="tabs">
       <a id="it-buyers-training-and-support-header" tabindex="0" class="tab active-tab" onclick="openTab(event, 'it-buyers-training-and-support')" onkeydown="openTabKey(event, 'it-buyers-training-and-support')">IT Buyers Training & Support</a>
       <a id="it-buyers-toolkit-header" tabindex="0" class="tab" onclick="openTab(event, 'it-buyers-toolkit')" onkeydown="openTabKey(event, 'it-buyers-toolkit')">IT Buyers Toolkit</a>
       <a id="it-buyers-cop-header" tabindex="0" class="tab" onclick="openTab(event, 'it-buyers-cop')" onkeydown="openTabKey(event, 'it-buyers-cop')">IT Buyers Community of Practice</a>
    </div>
    <div id="it-buyers-training-and-support" class="tabcontent" style="display: flex;">
       <div class="contents padding-bottom-5">
          <h3 id="it-buyers-training-and-support-overview" class="topic-heading">
             IT Buyers Training & Support
          </h3>
          <h3 class="sub-topic-heading">
             Overview
          </h3>
          <p class="tab-p">
            The ITVMO provides a one-stop-shop for IT acquisition intelligence to inform smarter, faster IT buying decisions. We do this through:
              <b>
                  <ul class="list-margin-bottom">
                      <li>Generating and increasing the use of IT acquisition knowledge and best practices to include federal procurement data, standard terms and conditions, and technology strategies.</li>
                      <li>Fielding, consulting, and supporting agency IT buyers on their IT acquisition strategies and upcoming procurements.</li>
                      <li>Acting as the information conduit between the Federal IT vendors and agencies, helping to guide two-way communication and serve as a single point of contact for the federal government.</li>
                  </ul>
              </b>
          </p>
          <p class="tab-p">
            Continue reading to understand more on our services and solutions available to aid IT Buyers.
          </p>
          <h3 id="evaluate-assess" class="sub-topic-heading">
            Training
          </h3>
          <p class="tab-p">
            The Administration has emphasized the need to continuously invest and modernize our acquisition workforce. The acquisition workforce performs a vital role in evolving our Federal IT Marketplace. As such, we recognize the importance of providing opportunities for IT acquisition professionals to maintain a current knowledge base, develop critical thinking abilities, and have an awareness of innovations and leading-edge technologies to achieve successful acquisition outcomes.
          </p>
          <p class="tab-p">
            The ITVMO has partnered with the Federal Acquisition Institute to leverage their CornerStone onDemand (CSOD) Program to accreditate many of the training webinars and events offered on our <a target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/events">Events page</a> and through our domain experts and partners. Depending on the topics, information presented, and duration 1 to 4+ continuing learning points (CLP) may be awarded for participation in one of our training opportunities.
          </p>
          <p class="tab-p">
            <b>
                Don’t see a training offering that you would like to attend? <a target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/contact-us/">Contact Us</a> to share your training topic interests and areas for improvement.
            </b>
         </p>
          <h3 id="aks" class="sub-topic-heading">
            Agency Knowledge Sharing
          </h3>
          <p class="tab-p">
            As a broker of IT acquisition intelligence requests, the ITVMO works across the community and fellow agency IT Buyers to gather and increase the availability of standards, best practices, and guides. To further support the growing increase in agency specific requests, the ITVMO provides an agency knowledge sharing forum on <a target="_blank" rel="noreferrer noopener" href="https://portal.max.gov/portal/home">OMB MAX <img src="{{site.baseurl}}/assets/images/icons/external-small.svg"></a>.
          </p>
          <p class="tab-p">
            On the site you will find instructions for reviewing current questions or information requests, how to submit a response to a current request and how to submit requests on behalf of your agency. Questions are available in individual excel spreadsheets, titled by subject matter so that it is easy to find your areas of knowledge, expertise or even interest.
          </p>
          <h3 class="sub-topic-heading-italic">
            ITVMO Agency Knowledge Sharing Form
          </h3>
          <div class="tab-image-overflow">
            <img src="{{site.baseurl}}/assets/images/screenshot/itvmo-agency-knowledge-sharing-form.png" alt="ITVMO Agency Knowledge Sharing Form image">
          </div>
          <p class="tab-p">
            As questions are answered and closed, the file will be marked “Closed” but will still be available for review by current and new acquisition professionals so that if an agency has a similar question in the future, the previously collected information is available for their use as well as the original submitters.
          </p>
          <p class="tab-p">
            This process allows agency representatives, contracting officers, contracting officer representatives, program managers, and domain experts to come in and review requests and submit information they think would be useful for the requesting agency.  It also allows the requesting agency to monitor their open requests for updates from others and engage with those agencies who they think can best support their ongoing requests.
          </p>
          <p class="tab-p">
            This knowledge forum is expected to continue to grow and we hope you find it useful. <a target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/contact-us/">Contact Us</a> for more information or log in to the <a target="_blank" rel="noreferrer noopener" href="https://login.max.gov/cas/login?service=https%3A%2F%2Fcommunity.max.gov%2Flogin.action%3Fos_destination%3D%252Fpages%252Fviewpage.action%253FspaceKey%253DEgov%2526title%253DAgency%252BInformation%252Band%252BKnowledge%252BSharing">OMB MAX Agency Knowledge Sharing Portal</a> today!
          </p>
          <h3 id="aitbs" class="sub-topic-heading">
            Additional IT Buyers Support
          </h3>
          <p class="tab-p">
            To further field, consult, and support agency IT buyers on their IT acquisition strategies and upcoming procurements, we provide roadside assistance. This means we are available to take on ad hoc agency requests and agency-specific IT buying questions
          </p>
          <p class="tab-p">
            We have also launched the <a target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/services/oem?tabName=contract-review-header&sideNav=sn-crs-process">ITVMO’s Contract Review Service (CRS)</a> which offers subject matter expertise and guidance via targeted, agency-specific software contract reviews to better prepare agencies for their next renewal.
          </p>
          <p class="tab-p">
            We work across our community and network to get the information needed to address your needs. <a target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/contact-us">Contact us</a> if you are seeking further assistance and IT buying help for your next purchase or agency acquisition planning.
          </p>
      </div>
       <div class="content-nav">
          <div class="nav-list">
             <h3>On this Tab</h3>
             <a class="page-nav page-nav-active" href="#it-buyers-training-and-support-overview" onclick="return removeTabContent(this)">Overview</a>
             <a class="page-nav" href="#evaluate-assess"
             onclick="return removeTabContent(this)">Evaluate and Assess</a>
             <a class="page-nav" href="#aks" onclick="return removeTabContent(this)">Agency Knowledge Sharing</a>
             <a class="page-nav" href="#aitbs" onclick="return removeTabContent(this)">Additional IT Buyers Support</a>
          </div>
       </div>
    </div>
    <div id="it-buyers-toolkit" class="tabcontent">
       <div class="contents padding-bottom-5">
          <div>
              <div>
                  <h3 id="it-buyers-toolkit-overview" class="topic-heading">
                  IT Buyers Toolkit
                  </h3>
                  <h3 class="sub-topic-heading">
                  Overview
                  </h3>
                  <p class="tab-p">
                    The IT Buyers Toolkit is maintained and updated through the IT Buyers Community of Practice within the ITVMO. This toolkit produces and increases use of ITVMO, IT Buyers CoP, and partner IT acquisition knowledge and best practices to include federal procurement data, standard terms and conditions, and technology strategies.
                  </p>

                  <h3 class="usa-accordion__heading">
                      <button id="contract-management" class="accordion" aria-expanded="false" aria-controls="b-a4" onclick="displayTabContent(this)">
                      <span>
                      Contract Management
                      </span>
                      <img class="tab-arrow" src="{{site.baseurl}}/assets/images/icons/arrow-down.svg">
                      </button>
                  </h3>
                  <div id="b-a4" class="accordion-content ">
                      <div>
                        <div class="links-list">
                            <ul class="links-with-descriptions">
                               <li class="link-with-description">
                                  <a target="_blank" rel="noreferrer noopener" href="https://www.fai.gov/periodic-table" tabindex="0">
                                     <p class="link-heading">
                                        <img class="link-icon" alt="PDF icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                                        Periodic Table of Acquisition Innovations
                                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                                     </p>
                                     <p class="link-description">
                                        The governmentwide acquisition knowledge management portal for innovative business practices and technologies.
                                     </p>
                                  </a>
                               </li>
                               <li class="link-with-description">
                                  <a target="_blank" rel="noreferrer noopener" href="https://www.fai.gov/resources/co-toolkit" tabindex="0">
                                     <p class="link-heading">
                                        <img class="link-icon" alt="PDF icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                                        Contracting Officers Toolkit
                                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                                     </p>
                                     <p class="link-description">
                                        The Contracting Officer Toolkit is a knowledge based, ready reference guide, developed by the Fall 2020 LEAP team in partnership with FAI. Some of the links provided may require you to register and login in order to access the material.
                                     </p>
                                  </a>
                               </li>
                               <li class="link-with-description">
                                  <a target="_blank" rel="noreferrer noopener" href="https://www.fai.gov/resources/cor-toolkit" tabindex="0">
                                     <p class="link-heading">
                                        <img class="link-icon" alt="PDF icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                                        Contracting Officer Representative Toolkit
                                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                                     </p>
                                     <p class="link-description">
                                        The Contracting Officer Representative Toolkit is a knowledge base tool, developed by a Spring 2020 LEAP team in partnership with FAI. Some of the links provided require an additional user ID and password to access the material.
                                     </p>
                                  </a>
                               </li>
                               <li class="link-with-description">
                                  <a target="_blank" rel="noreferrer noopener" href="https://www.fai.gov/tools/contracting-professionals-smart-guide" tabindex="0">
                                     <p class="link-heading">
                                        <img class="link-icon" alt="PDF icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                                        Contracting Professionals Smart Guide
                                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                                     </p>
                                     <p class="link-description">
                                        The Contracting Professionals Smart Guide is organized into two sections: Contract Formation and Contract Administration. The tables below link to the Activities and their corresponding flow charts.
                                     </p>
                                  </a>
                               </li>
                            </ul>
                         </div>
                      </div>
                  </div>
                  <h3 class="usa-accordion__heading">
                      <button id="how-oem-operate" class="accordion" aria-expanded="false" aria-controls="b-a5" onclick="displayTabContent(this)">
                      <span>
                      How Original Equipment Manufacturer(OEM) Operate
                      </span>
                      <img class="tab-arrow" src="{{site.baseurl}}/assets/images/icons/arrow-down.svg">
                      </button>
                  </h3>
                  <div id="b-a5" class="accordion-content ">
                      <div>
                        <p class="tab-p">
                            <b>This training resource provides an 8-part information series on OEM operating practices to educate agency IT buyers and help them achieve a stronger negotiating position.</b>
                        </p>
                        <div class="links-list">
                            <ul class="links-with-descriptions">
                               <li class="link-with-description">
                                  <a target="_blank" rel="noreferrer noopener" href="#" tabindex="0">
                                     <p class="link-heading">
                                        <img class="link-icon" alt="PDF icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                                        
                                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                                     </p>
                                     <p class="link-description">
                                        
                                     </p>
                                  </a>
                               </li>
                            </ul>
                         </div>
                      </div>
                  </div>
                  <h3 class="usa-accordion__heading">
                      <button id="emerging-technology" class="accordion" aria-expanded="false" aria-controls="b-a6" onclick="displayTabContent(this)">
                      <span>
                      Emerging Technology
                      </span>
                      <img class="tab-arrow" src="{{site.baseurl}}/assets/images/icons/arrow-down.svg">
                      </button>
                  </h3>
                  <div id="b-a6" class="accordion-content ">
                      <div>
                        <div class="links-list">
                            <ul class="links-with-descriptions">
                               <li class="link-with-description">
                                  <a target="_blank" rel="noreferrer noopener" href="#" tabindex="0">
                                     <p class="link-heading">
                                        <img class="link-icon" alt="PDF icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                                        
                                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                                     </p>
                                     <p class="link-description">
                                        
                                     </p>
                                  </a>
                               </li>
                            </ul>
                         </div>
                      </div>
                  </div>
                  <h3 class="usa-accordion__heading">
                      <button id="cybersecurity-and-supply" class="accordion" aria-expanded="false" aria-controls="b-a7" onclick="displayTabContent(this)">
                      <span>
                        Cybersecurity and Supply Chain Risk Management
                      </span>
                      <img class="tab-arrow" src="{{site.baseurl}}/assets/images/icons/arrow-down.svg">
                      </button>
                  </h3>
                  <div id="b-a7" class="accordion-content ">
                      <div>
                        <div class="links-list">
                            <ul class="links-with-descriptions">
                               <li class="link-with-description">
                                  <a target="_blank" rel="noreferrer noopener" href="#" tabindex="0">
                                     <p class="link-heading">
                                        <img class="link-icon" alt="PDF icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                                        
                                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                                     </p>
                                     <p class="link-description">
                                        
                                     </p>
                                  </a>
                               </li>
                            </ul>
                         </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
       <div class="content-nav">
          <div class="nav-list">
             <h3>On this Tab</h3>
             <a class="page-nav page-nav-active" href="#it-buyers-toolkit-overview" onclick="return removeTabContent(this)">Overview</a>
             <a 
             tabindex="0" class="page-nav accordion-nav" aria-controls="contract-management">
             Contract Management
             </a>
             <a
             tabindex="0" class="page-nav accordion-nav" aria-controls="how-oem-operate">
             How Original Equipment Manufacturer(OEM) Operate
             </a>
             <a
             tabindex="0" class="page-nav accordion-nav" aria-controls="emerging-technology">
             Emerging Technology
             </a>
             <a
             tabindex="0" class="page-nav accordion-nav" aria-controls="cybersecurity-and-supply">
             Cybersecurity and Supply Chain Risk Management
             </a>
          </div>
       </div>
    </div>
    <div id="it-buyers-cop" class="tabcontent">
       <div class="contents padding-bottom-5">
          <h3 id="it-buyers-cop-overview" class="topic-heading">
             IT Buyers Community of Practice
          </h3>
          <h3 id="" class="sub-topic-heading">
             Overview
          </h3>
          <p class="tab-p">
              
          </p>
      </div>
       <div class="content-nav">
          <div class="nav-list">
             <h3>On this Tab</h3>
             <a class="page-nav page-nav-active" href="#it-buyers-cop-overview" onclick="return removeTabContent(this)">Overview</a>
             <a class="page-nav" href="#naics" onclick="return removeTabContent(this)">What We Do</a>
          </div>
       </div>
    </div>
  </section>