<section id="inner-page-tabs">
    <div id="contribute-dox" class="tabcontent" style="display: flex;">
       <div class="contents padding-bottom-5">
          <h3 id="aletr-overview" class="sub-topic-heading-blue">
            Overview
          </h3>
          <p class="tab-p">
            The ITVMO authors the <b>Leading Edge Technologies Report</b> to explore emerging technologies and innovative solutions that are disrupting IT acquisitions in the federal marketplace. The reports present an overview of leading edge technology segments and are intended to spur dialogue and information exchange among federal IT buyers. The reports identify emerging technology and procurement trends that will impact agencies' IT buying on a yearly basis. The reports are assessed and updated annually.
          </p>
          <h3 id="itpo" class="sub-topic-heading-blue">
            ITVMO Technology Portfolio Objectives
          </h3>
          <div class="bulletSections">
            <div class="topLine"></div>
            <ul class="experiences">
               <li class="bulletText"><b>Support identification, categorization, and optimization of IT products and services within the public sector.</b></li>
               <li class="bulletText"><b>Provide advisory services to enable more efficient adoption of modernization, emerging technology, and cost-cutting solutions.</b></li>
               <li class="bulletText"><b>Promote better long-term technology planning to strengthen governmentwide interoperability and collaboration across agencies.</b></li>
               <li class="bulletText"><b>Partner with other government groups to make government procurement data more accessible and available to agencies.</b></li>
            </ul>
         </div> 
          <p class="tab-p">
            Topics include but are not limited to: technology segments in cybersecurity, artificial intelligence, machine learning, cloud computing, blockchain technologies, robotic process automation, and big data/advanced analytics. This list is constantly evolving. Check out the ITVMO’s reports below.
          </p>

          <div class="tab-divide-line end-content"></div>

          <h3 id="cfyr" class="sub-topic-heading-blue">
            Current Fiscal Year Report
          </h3>
          <div class="links-list">
            <ul class="links-with-descriptions">
              <li class="link-with-description link-with-description-width">
                  <a target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/assets/files/tlr/leading-edge-tech-report-2023.pdf" tabindex="0">
                     <p class="link-heading">
                        <img class="link-icon" alt="PDF icon" src="{{site.baseurl}}/assets/images/icons/pdf-icon.svg">
                        FY2023 Leading Edge Technologies Report
                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                     </p>
                     <div class="two-column-link-list-container">
                        <div class="links-list-heading link-heading-list">
                           <h4>Areas of Focus:</h4>
                        </div>
                        <div class="link-description-list">
                              <ul><li>Artificial Intelligence</li><li>Blockchain</li><li>Computer Vision</li><li>Cloud Computing</li></ul>
                              <ul><li>Cyber Security</li><li>Machine Learning</li><li>Robotic Process Automation</li><li>6G</li></ul>
                        </div>
                     </div>
                  </a>
               </li>
            </ul>
          </div>
          <div class="tab-divide-line end-content"></div>

          <h3 id="pfyr" class="sub-topic-heading-blue">
            Past Fiscal Year Reports
          </h3>
          <div class="links-list">
            <ul class="links-with-descriptions">
              <li class="link-with-description link-with-description-width">
                  <a target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/assets/files/tlr/leading-edge-tech-report-2022.pdf" tabindex="0">
                     <p class="link-heading">
                        <img class="link-icon" alt="PDF icon" src="{{site.baseurl}}/assets/images/icons/pdf-icon.svg">
                        FY2022 Leading Edge Technologies Report
                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                     </p>
                     <div class="two-column-link-list-container">
                        <div class="links-list-heading link-heading-list">
                           <h4>Areas of Focus:</h4>
                        </div>
                        <div class="link-description-list">
                           <ul><li><span>Cyber Security</span></li><li><span>Cloud Computing</span></li><li><span>Robotic Process Automation</span></li><li><span>Artificial Intelligence</span></li></ul>
                           <ul><li><span>Machine Learning</span></li><li><span>Network Performance Management</span></li><li><span>Big Data and Advanced Analytics</span></li><li><span>Blockchain</span></li></ul>
                        </div>
                     </div>
                  </a>
               </li>
            </ul>
          </div>

          

      </div>
       <div class="content-nav">
          <div class="nav-list">
             <h3>On this Tab</h3>
             <a id="sn-aletr-overview" class="page-nav page-nav-active" href="#aletr-overview" onclick="return removeTabContent(this)">Overview</a>
             <a id="sn-itpo" class="page-nav" href="#itpo" onclick="return removeTabContent(this)">ITVMO Technology Portfolio Objectives</a>
             <a id="sn-cfyr" class="page-nav" href="#cfyr" onclick="return removeTabContent(this)">Current Fiscal Year Report</a>
             <a id="sn-pfyr" class="page-nav" href="#pfyr" onclick="return removeTabContent(this)">Past Fiscal Year Reports</a>
          </div>
       </div>
    </div>
  </section>