
<section id="news-updates-highlights">
    <div id="news-updates">
      <h2 class="topic-heading margin-0">
        ITVMO Updates
      </h2>
      
      <a href="{{site.baseurl}}/news/quarterly-itvmo-newsletter" class="update-highlight-card-mobile">
        <div class="uh-card-image-title">
          <img class="uh-card-image" src="{{site.baseurl}}/assets/images/icons/page_icons/quaterly-itvmo-newsletter.svg" alt="Lady holding a newspaper">
          <h4 class="uh-title two-line-max">Quarterly ITVMO Newsletter</h4>
        </div>
        <p class="uh-info-mobile four-line-max">
          Each quarter, the ITVMO publishes a newsletter to update agencies and industry on current events and past progress. Click here to view the most current, and past, newsletters.
        </p>
      </a>

      <a href="https://login.max.gov/cas/login?service=https%3A%2F%2Fcommunity.max.gov%2Flogin.action%3Fos_destination%3D%252Fpages%252Fviewpage.action%253FspaceKey%253DEgov%2526title%253DIT%252BBuyers%252BMonthly%252BBulletin" class="update-highlight-card-mobile">
        <div class="uh-card-image-title">
          <img class="uh-card-image" src="{{site.baseurl}}/assets/images/icons/page_icons/monthly-it-buyers-bulletin.svg" alt="Lady holding a calendar">
          <h4 class="uh-title two-line-max">Monthly IT Buyers Bulletin 
            <img class="uh-lock" aria-label="This is Gov only and external card" src="{{site.baseurl}}/assets/images/icons/lock-blue.svg" alt="Lock icon">
            <!-- <img class="uh-external" alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg"> -->
          </h4>
        </div>
        <p class="uh-info-mobile four-line-max">
          Monthly, the IT Buyers CoP publishes a bulletin to its federal members. Click here to view the most current, and past, bulletins.
        </p>
      </a>
      <a href="{{site.baseurl}}/news/annual-leading-edge-technologies-report" class="update-highlight-card-mobile">
        <div class="uh-card-image-title">
          <img class="uh-card-image" src="{{site.baseurl}}/assets/images/icons/page_icons/annual-leading-edge-technologies.svg" alt="Gentleman holding a document">
          <h4 class="uh-title two-line-max">Annual Leading Edge Technologies Annual Report</h4>
        </div>
        <p class="uh-info-mobile four-line-max">
          Each year, the ITVMO publishes a report on the newest technologies that are gaining traction and use in the federal IT space. Click here to view current and previous reports.
        </p>
      </a>

      <a href="{{site.baseurl}}/news/quarterly-itvmo-newsletter" class="update-highlight-card">
        <img class="uh-card-image" src="{{site.baseurl}}/assets/images/icons/page_icons/quaterly-itvmo-newsletter.svg" alt="Lady holding a newspaper">
        <div class="uh-card-gov">
          <div class="uh-card-gov-line"></div>
        </div>

        <div class="uh-card-info">
          <h4 class="two-line-max">Quarterly ITVMO Newsletter</h4>
          <p class="three-line-max">Each quarter, the ITVMO publishes a newsletter to update agencies and industry on current events and past progress. Click here to view the most current, and past, newsletters.</p>
        </div>
      </a>
      <a href="https://login.max.gov/cas/login?service=https%3A%2F%2Fcommunity.max.gov%2Flogin.action%3Fos_destination%3D%252Fpages%252Fviewpage.action%253FspaceKey%253DEgov%2526title%253DIT%252BBuyers%252BMonthly%252BBulletin" class="update-highlight-card">
        <img class="uh-card-image" src="{{site.baseurl}}/assets/images/icons/page_icons/monthly-it-buyers-bulletin.svg" alt="Lady holding a calendar">

        <div class="uh-card-gov">
          <div class="uh-card-gov-lock">
            <img aria-label="This is Gov only card" src="{{site.baseurl}}/assets/images/icons/lock-blue.svg" alt="Lock icon">
          </div>
        </div>

        <div class="uh-card-info">
          <h4 class="two-line-max">Monthly IT Buyers Bulletin 
            <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
          </h4>
          <p class="three-line-max">Monthly, the IT Buyers CoP publishes a bulletin to its federal members. Click here to view the most current, and past, bulletins.</p>
        </div>
      </a>
      <a href="{{site.baseurl}}/news/annual-leading-edge-technologies-report" class="update-highlight-card">
        <img class="uh-card-image" src="{{site.baseurl}}/assets/images/icons/page_icons/annual-leading-edge-technologies.svg" alt="Gentleman holding a document">
        <div class="uh-card-gov">
          <div class="uh-card-gov-line"></div>
        </div>

        <div class="uh-card-info">
          <h4 class="two-line-max">Annual Leading Edge Technologies Annual Report</h4>
          <p class="three-line-max">Each year, the ITVMO publishes a report on the newest technologies that are gaining traction and use in the federal IT space. Click here to view current and previous reports.</p>
        </div>
      </a>
    </div>
    <div id="news-highlights">
      <h3 class="topic-heading">
        Highlights
      </h3>
      <a href="#" class="update-highlight-card-mobile">
        <div class="uh-card-image-title">
          <img class="uh-card-image" src="{{site.baseurl}}/assets/images/icons/page_icons/collaborating-across-government.svg" alt="A group of people disscussing">
          <h4 class="uh-title two-line-max">Collaborating across Government to Promote Small Businesses</h4>
        </div>
        <p class="uh-info-mobile four-line-max">
          The ITVMO provides resources that aid small businesses in navigating the federal IT marketplace. Learn more about what the government is doing to support small businesses.
        </p>
      </a>
      <a href="#" class="update-highlight-card">
        <img class="uh-card-image" src="{{site.baseurl}}/assets/images/icons/page_icons/collaborating-across-government.svg" alt="A group of people discussing">
        <div class="uh-card-gov">
          <div class="uh-card-gov-line"></div>
        </div>

        <div class="uh-card-info">
          <h4 class="two-line-max">Collaborating across Government to Promote Small Businesses</h4>
          <p class="three-line-max">The ITVMO provides resources that aid small businesses in navigating the federal IT marketplace. Learn more about what the government is doing to support small businesses.</p>
        </div>
      </a>
    </div>
  </section>
