
  <div class="page-data">
    {% for article in site.news %}
    <div
      class="raw-article-data"
      data-publisher="{{article.publisher}}"
      data-title="{{article.title}}"
      data-url="{{article.url-link}}"
      data-publication-date="{{article.publication-date}}"
      data-path="{{article.path}}"
    >
      <p>{{article.title}}</p>
      <p>{{article.description}}</p>
      <p>{{article.synopsis}}</p>
    </div>
    {% endfor %}
    {% for publisher in site.article_publishers %}
    <div
      class="raw-publisher-data"
      data-publisher="{{publisher.name}}"
      data-logo="{{publisher.publisher-logo}}"
      data-url="{{publisher.url-link}}"
      data-path="{{publisher.path}}"
    >
    </div>
    {% endfor %}
  </div>
<section id="news-articles">
  <h3 id="article-heading" class="topic-heading">
    All News Articles
  </h3>
  <div id="articles-container"></div>
  <div id="pagination"></div>
</section>


