
  <!-- <div class="page-data">
    {% for resources in site.resources %}
    <div
      class="raw-resource-data"
      data-title="{{resources.title}}"
      data-description="{{resources.description}}"
      data-url="{{resources.url-link}}"
      data-type="{{resources.type}}"
      data-gov-only="{{resources.gov-only}}"
      data-is-external="{{resources.is-external}}"
      data-filter="{{resources.filter}}"
      data-branded-offerings="{{resources.branded-offerings}}"
      data-audience="{{resources.audience}}"
      data-publication-date="{{resources.publication-date}}"
      data-reading-time="{{resources.reading-time}}"
      data-resource-type="{{resources.resource-type}}"
    >
      is-visible
    </div>
    {% endfor %}
  </div> -->
<section id="news-articles">
  <h3 id="article-heading" class="topic-heading">
    All News Articles
  </h3>
  <div id="articles-container"></div>
  <div id="pagination"></div>
</section>
<p>
  <strong>Don’t see what you’re looking for?</strong><br />
  We are constantly updating our resources but if you can’t find what you’re
  looking for or would like to work with us on developing artifacts, white
  papers, templates, or other resources, please reach out to us by email at
  <a href="mailto:itvmo@gsa.gov">itvmo@gsa.gov</a>.
</p>
