<section id="inner-page-tabs">
    <div class="tabcontent" style="display: flex">
        <div class="contents-no-side-nav">
            <div>
                <ul class="usa-card-group">
                    <li id="oem-initiatives" class="usa-card usa-card--flag service-card">
                        <div class="usa-card__container">
                            <div class="usa-card__media serviceCard">
                                <div class="leftPort">
                                    <a target="_blank" rel="noreferrer noopener"
                                        href="https://app.smartsheetgov.com/b/form/9ae7b77158614e11811da774b52d5ae7">
                                        <h2 class="usa-card__heading">
                                            OneGov Strategy Industry Questionnaire
                                        </h2>
                                        <img class="imgContSVG padding-0"
                                            src="{{site.baseurl}}/assets/images/logos/gsa-logo-large.png"
                                            alt="GSA Starmark" />
                                    </a>
                                </div>
                            </div>

                            <div class="usa-card__body">
                                <div class="resCardSec">
                                    <div>
                                        <img class="imgContSVG padding-0"
                                            src="{{site.baseurl}}/assets/images/logos/gsa-logo.png"
                                            alt="GSA Starmark" />
                                    </div>
                                    <a target="_blank" rel="noreferrer noopener" class="resHeading"
                                        href="https://app.smartsheetgov.com/b/form/9ae7b77158614e11811da774b52d5ae7">
                                        <h2 class="usa-card__heading">
                                            Coming soon: OneGov Strategy Industry Questionnaire
                                        </h2>
                                    </a>
                                </div>
                                <h3 class="cardHeading resTitle">Join the wait list</h3>
                                <p class="cardBody">
                                    Our new strategy sets a governmentwide direction for how we acquire and manage
                                    information technology—starting with commercial software. If your organization would
                                    like to participate or learn more, complete <a target="_blank"
                                        rel="noreferrer noopener"
                                        href="https://app.smartsheetgov.com/b/form/9ae7b77158614e11811da774b52d5ae7">this form</a>
                                    and we'll send you a questionnaire.
                                </p>
                            </div>
                            <h3 class="cardHeading linkSec service-link">

                            </h3>
                            <a target="_blank" rel="noreferrer noopener" class="noDec service-link"
                                href="https://app.smartsheetgov.com/b/form/9ae7b77158614e11811da774b52d5ae7">
                                <div class="serviceLinks">Access signup form</div>
                            </a>
                            <a target="_blank" rel="noreferrer noopener" class="noDec service-link"
                                href="https://www.gsa.gov/about-us/newsroom/news-releases/gsa-unveils-onegov-strategy-04292025">
                                <div class="serviceLinks">
                                    Read the official press release
                                </div>
                            </a>
                            <a target="_blank" rel="noreferrer noopener" class="noDec service-link"
                                href="https://gsablogs.gsa.gov/technology/2025/04/30/launching-the-onegov-strategy-for-it/">
                                <div class="serviceLinks">Follow updates in GSA's Great Government Through Technology
                                    blog</div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <p class="service-card service-end">

            </p>
        </div>
    </div>
</section>