<section id="inner-page-tabs">
    <div class="tabcontent" style="display: flex">
        <div class="contents-no-side-nav">
            <div>
                <ul class="usa-card-group">

                    <li id="market-and-it-data-intelligence" class="usa-card usa-card--flag service-card">
                        <div class="usa-card__container">
                            <div class="usa-card__media serviceCard">
                                <div class="leftPort">
                                    <a target="_blank" rel="noreferrer noopener"
                                        href="{{site.baseurl}}/services/market-and-it-data-intelligence/">
                                        <h2 class="usa-card__heading">
                                            Market & IT Data Intelligence
                                        </h2>
                                        <img class="imgContSVG padding-0"
                                            src="{{site.baseurl}}/assets/images/icons/page_icons/market-and-it-data-intelligence.svg"
                                            alt="Market & IT Data Intelligence logo" />
                                    </a>
                                </div>
                            </div>

                            <div class="usa-card__body">
                                <div class="resCardSec">
                                    <div>
                                        <img class="imgContSVG padding-0"
                                            src="{{site.baseurl}}/assets/images/icons/page_icons/market-and-it-data-intelligence.svg"
                                            alt="Market & IT Data Intelligence" />
                                    </div>
                                    <a target="_blank" rel="noreferrer noopener" class="resHeading"
                                        href="{{site.baseurl}}/services/market-and-it-data-intelligence/">
                                        <h2 class="usa-card__heading">
                                            Market & IT Data Intelligence
                                        </h2>
                                    </a>
                                </div>
                                <h3 class="cardHeading resTitle">Overview</h3>
                                <p class="cardBody">
                                    The ITVMO combines collections of data to form predictive
                                    narratives and increases use of disparate data through guides
                                    and how-to aids to better IT acquisition decision-making,
                                    governmentwide.
                                </p>
                            </div>
                            <h3 class="cardHeading linkSec service-link">
                                ITVMO Solutions and Services
                            </h3>
                            <a target="_blank" rel="noreferrer noopener" class="noDec service-link"
                                href="{{site.baseurl}}/services/market-and-it-data-intelligence/?tabName=market-acquisition-research-header&sideNav=">
                                <div class="serviceLinks">ITVMO Market Research & Studies</div>
                            </a>
                            <a target="_blank" rel="noreferrer noopener" class="noDec service-link"
                                href="{{site.baseurl}}/services/market-and-it-data-intelligence/?tabName=contract-data-elements-header&sideNav=">
                                <div class="serviceLinks">Contract Data Elements Guide</div>
                            </a>
                            <a target="_blank" rel="noreferrer noopener" class="noDec service-link"
                                href="{{site.baseurl}}/services/market-and-it-data-intelligence/?tabName=data-tools-header&sideNav=">
                                <div class="serviceLinks">
                                    Federal Data IT Acquisition & Spend Tools: How-To’s
                                </div>
                            </a>
                            <!-- <a
                target="_blank"
                rel="noreferrer noopener"
                class="noDec service-link margin-bottom-3"
                href="{{site.baseurl}}/services/market-and-it-data-intelligence/?tabName=procurated-pilot-header&sideNav=">
                <div class="serviceLinks">Procurated Pilot</div>
              </a> -->
                        </div>
                    </li>
                    <li id="oem-initiatives" class="usa-card usa-card--flag service-card">
                        <div class="usa-card__container">
                            <div class="usa-card__media serviceCard">
                                <div class="leftPort">
                                    <a target="_blank" rel="noreferrer noopener"
                                        href="https://app.smartsheetgov.com/b/form/9ae7b77158614e11811da774b52d5ae7">
                                        <h2 class="usa-card__heading">
                                            OneGov Strategy Industry Questionnaire
                                        </h2>
                                        <img class="imgContSVG padding-0"
                                            src="{{site.baseurl}}/assets/images/logos/gsa-logo-large.png"
                                            alt="GSA Starmark" />
                                    </a>
                                </div>
                            </div>

                            <div class="usa-card__body">
                                <div class="resCardSec">
                                    <div>
                                        <img class="imgContSVG padding-0"
                                            src="{{site.baseurl}}/assets/images/logos/gsa-logo-large.png"
                                            alt="GSA Starmark" />
                                    </div>
                                    <a target="_blank" rel="noreferrer noopener" class="resHeading"
                                        href="https://app.smartsheetgov.com/b/form/9ae7b77158614e11811da774b52d5ae7">
                                        <h2 class="usa-card__heading">
                                            Coming soon: OneGov Strategy Industry Questionnaire
                                        </h2>
                                    </a>
                                </div>
                                <h3 class="cardHeading resTitle">Join the wait list</h3>
                                <p class="cardBody">
                                    Our new strategy sets a governmentwide direction for how we acquire and manage
                                    information technology—starting with commercial software. If your organization would
                                    like to participate or learn more, complete <a target="_blank"
                                        rel="noreferrer noopener"
                                        href="https://app.smartsheetgov.com/b/form/9ae7b77158614e11811da774b52d5ae7">this form</a>
                                    and we'll send you a questionnaire.
                                </p>
                            </div>
                            <h3 class="cardHeading linkSec service-link">

                            </h3>
                            <a target="_blank" rel="noreferrer noopener" class="noDec service-link"
                                href="https://app.smartsheetgov.com/b/form/9ae7b77158614e11811da774b52d5ae7">
                                <div class="serviceLinks">Access signup form</div>
                            </a>
                            <a target="_blank" rel="noreferrer noopener" class="noDec service-link"
                                href="https://www.gsa.gov/about-us/newsroom/news-releases/gsa-unveils-onegov-strategy-04292025">
                                <div class="serviceLinks">
                                    Read the official press release
                                </div>
                            </a>
                            <a target="_blank" rel="noreferrer noopener" class="noDec service-link"
                                href="https://gsablogs.gsa.gov/technology/2025/04/30/launching-the-onegov-strategy-for-it/">
                                <div class="serviceLinks">Follow updates in GSA's Great Government Through Technology
                                    blog</div>
                            </a>
                        </div>
                    </li>
                    <li id="small-business" class="usa-card usa-card--flag service-card">
                        <div class="usa-card__container">
                            <div class="usa-card__media serviceCard">
                                <div class="leftPort">
                                    <a target="_blank" rel="noreferrer noopener"
                                        href="{{site.baseurl}}/services/small-business-support/">
                                        <h2 class="usa-card__heading">Small Business Support</h2>
                                        <img class="imgContSVG padding-0"
                                            src="{{site.baseurl}}/assets/images/icons/page_icons/small-business.svg"
                                            alt="Small Business Support logo" />
                                    </a>
                                </div>
                            </div>

                            <div class="usa-card__body">
                                <div class="resCardSec">
                                    <div>
                                        <img class="imgContSVG padding-0"
                                            src="{{site.baseurl}}/assets/images/icons/page_icons/small-business.svg"
                                            alt="Small Business Support" />
                                    </div>
                                    <a target="_blank" rel="noreferrer noopener" class="resHeading"
                                        href="{{site.baseurl}}/services/small-business-support/">
                                        <h2 class="usa-card__heading">Small Business Support</h2>
                                    </a>
                                </div>
                                <h3 class="cardHeading resTitle">Overview</h3>
                                <p class="cardBody">
                                    The ITVMO boosts small business utilization and participation
                                    in the Federal IT marketplace by promoting best practices to
                                    improve small businesses access to government contracting and
                                    agency identification of where to use small businesses to
                                    achieve their mission goals.
                                </p>
                            </div>
                            <h3 class="cardHeading linkSec service-link">
                                ITVMO Solutions and Services
                            </h3>
                            <a target="_blank" rel="noreferrer noopener" class="noDec service-link"
                                href="{{site.baseurl}}/services/small-business-support">
                                <div class="serviceLinks">Small Business Portal</div>
                            </a>
                            <a target="_blank" rel="noreferrer noopener" class="noDec service-link margin-bottom-3"
                                href="{{site.baseurl}}/events/?tabName=upcoming-events-header">
                                <div class="serviceLinks">Small Business Events</div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <p class="service-card service-end">

            </p>
        </div>
    </div>
</section>