<section id="inner-page-tabs">
  <div id="contribute-dox" class="tabcontent" style="display: flex">
    <div class="contents padding-bottom-5">
      <h3 id="main-header" class="itvmo-article-header-blue no-top">
        ITVMO Newsletter Q3 FY2024
      </h3>
      <h3 id="summit-recap" class="itvmo-article-sub-2">
        ITVMO 2024 Summit Recap: A Resounding Success in Revolutionizing
        Government Acquisitions
      </h3>
      <p class=" ">
        The 2024 ITVMO Summit, focused on "Revolutionizing Government
        Acquisitions through Digital Transformation," was a resounding success,
        with record-breaking attendance and overwhelmingly positive feedback.
        The event brought together nearly 200 government and industry
        professionals for insightful discussions and networking opportunities.
      </p>

      <p class=" ">
        Key highlights included keynote speeches from influential figures like
        Jason Miller Deputy Director for Management, Office of Management and
        Budget, Christine Harada (Senior Advisor, Office of Federal Procurement
        Policy), and Jeff Koses (Senior Procurement Executive - General Services
        Administration), as well as engaging panel discussions on emerging
        technologies, procurement practices, and the importance of partnerships.
        Attendees also had the chance to connect with government-wide partners
        and access a comprehensive suite of ITVMO resources.
      </p>

      <p class=" ">
        Feedback from participants was overwhelmingly positive, with 100% rating
        the event as very good or excellent and expressing a desire to attend
        again next year. The networking sessions and speaker presentations were
        particularly valued, and suggestions for future improvements included
        more breakout groups and a longer event.
      </p>

      <p class=" ">
        The summit's success underscores its importance as a platform for
        collaboration and knowledge sharing in the federal IT marketplace. The
        ITVMO continues to play a crucial role in driving innovation and
        efficiency in government acquisitions, and the 2024 summit has further
        solidified its position as a leader in the field.
      </p>

      <h3 id="hackathon" class="itvmo-article-sub-2">ITVMO Hackathon</h3>

      <p class=" ">
        The ITVMO is hosting a Procurement Hackathon to spark innovation,
        identify new approaches, and engage government and industry
        practitioners in addressing federal IT marketplace procurement
        challenges. The ITVMO Procurement Hackathon is modeled after traditional
        hackathons focusing on solving procurement challenges.
      </p>
      <p class=" ">
        Through this 1-day virtual workshop, participants from government and
        industry will collaborate to identify and work through procurement
        challenges using their expertise and experience on both sides of the
        procurement process. Participants will then have the opportunity to
        present their findings to an audience of other practitioners, experts,
        and a VIP panel.
      </p>
      <p>
        <b>
          The ITVMO Procurement Hackathon will help solve procurement challenges
          by:
        </b>
      </p>
      <div class="bulletSections">
        <div class="topLine"></div>
        <ul class="experiences">
          <li class="bulletText tight-bullet">
            <b
              >Bringing together diverse teams, mixed government and industry
              (50:50) to generate new ideas and approaches to tackle
              long-standing procurement challenges.
            </b>
          </li>
          <li class="bulletText tight-bullet">
            <b
              >Encouraging collaboration between procurement professionals,
              subject matter experts, and business development practitioners,
              fostering knowledge sharing and cross-marketplace problem-solving.
            </b>
          </li>
          <li class="bulletText tight-bullet">
            <b
              >Boosting marketplace engagement and cross-governmental
              collaboration. It will help to showcase the talents and skills of
              government and industry, contribute to solving real-world
              problems, and feel more invested in the marketplaces’ success.
            </b>
          </li>
        </ul>
      </div>

      <h3 id="summit-recap" class="itvmo-article-sub-3-blue">Background</h3>
      <p class=" ">
        The role of IT is shifting from end-user service to a more holistic,
        change-making offering. One priority in leading successful digital
        transformation is strengthening the partnership between government and
        industry. With limited budgets and resources, we must determine what to
        prioritize first. We need to use a whole-of-government approach to help
        find ways to strengthen, accelerate, and/or streamline critical
        procurement processes like the Request for Information (RFI) and Request
        for Proposal (RFP) processes.
      </p>
      <p>
        <b> Why Prioritize Transformation of the RFI/RFP Process: </b>
      </p>
      <div class="bulletSections">
        <div class="topLine"></div>
        <ul class="experiences">
          <li class="bulletText tight-bullet">
            <b>Effectiveness - </b>
            Creating better alignment with agency mission needs by clearly
            defining desired outcomes in the RFI/RFP. Creating clearer
            communication and evaluation processes reduces the risk of
            misunderstandings and project failures associated with poorly
            defined requirements.
          </li>
          <li class="bulletText tight-bullet">
            <b>Quality - </b>
            Developing and communicating objective evaluation criteria to ensure
            all proposals are assessed fairly and consistently. Leveraging
            technology for tasks like standardized terms and conditions and
            process workflows.
          </li>
          <li class="bulletText tight-bullet">
            <b>Efficiency - </b>
            Streamlining processes can help to improve clarity and
            understanding. In modernizing the RFI/RFP processes we can
            facilitate better communication and collaboration between agencies
            and vendors. This can lead to a clearer understanding of needs,
            resulting in more targeted proposals and ultimately, better
            outcomes.
          </li>
        </ul>
      </div>

      <p class=" ">
        The Hackathon is championed by the Government-wide IT Category Manager,
        and the Office of Governmentwide Acquisition Policy. Their support
        underscores the importance of this event and its potential to reshape
        federal IT procurement.
        <a
          class="usa-link usa-link--external"
          target="_blank"
          rel="noreferrer noopener"
          href="https://forms.gle/FU2Yhs6b48mnYpkb6"
          ><b>Register today</b></a
        >
        and be part of the solution! Together, we can drive innovation, improve
        efficiency, and deliver better results for government agencies and the
        American people.
      </p>

      <p class=" ">
        For more information and registration details, please contact
        <a target="_blank" rel="noreferrer noopener" href="mailto:itvmo@gsa.gov"
          ><b>itvmo@gsa.gov.</b></a
        >
      </p>

      <h3 id="speakerheads-initiatives" class="itvmo-article-sub-2">
        ITVMO Spearheads Initiatives to Boost Equity and Diversity in Federal IT
        Software Reseller Marketplace
      </h3>

      <p class=" ">
        The Information Technology Vendor Management Office (ITVMO) is taking
        significant strides to promote equity and diversity within the federal
        IT software reseller marketplace. By addressing barriers to entry and
        growth for small and Small Disadvantaged Businesses (SDBs), the ITVMO
        aims to create a more inclusive and competitive landscape.
      </p>

      <h3 id="challenges" class="itvmo-article-sub-3-blue mb-0">
        Understanding the Challenges
      </h3>
      <p class=" ">
        This approach includes a comprehensive assessment of the existing
        barriers to entry and growth for small businesses, inclusive of all
        socio-economic statuses. Through a recently completed
        <a
          class="usa-link usa-link--external"
          target="_blank"
          rel="noreferrer noopener"
          href="https://sam.gov/opp/1a94f5267e6f4f7198deb70b92c247ef/view"
          >Request for Information (RFI)</a
        >and ongoing information-gathering sessions with key stakeholders, the
        ITVMO is collecting valuable insights into the specific obstacles faced
        by these businesses. This information will be instrumental in shaping
        targeted initiatives aimed at leveling the playing field and ensuring
        that all businesses have a fair opportunity to participate in the
        federal IT marketplace.
      </p>

      <h3 id="improve-sb" class="itvmo-article-sub-3-blue mb-0">
        Improving Small Business Utilization
      </h3>
      <p class=" ">
        The ITVMO is actively collaborating with federal agencies to increase
        the utilization of small businesses, inclusive of all socio-economic
        statuses in IT procurement.
      </p>

      <p class=" ">
        Through data-driven analysis and strategic guidance, the ITVMO is
        working hand-in-hand with federal agencies to make IT procurement more
        accessible for small businesses overall
      </p>

      <p class=" ">
        This collaborative effort aims to enhance agencies' Spend Under
        Management (SUM) and Small Business Utilization Key Performance
        Indicators (KPIs). By leveraging the ITVMO's expertise and resources,
        agencies can more effectively engage with small vendors, fostering a
        more diverse and competitive IT marketplace. This initiative not only
        supports the growth and success of small businesses but also ensures
        that federal agencies benefit from the innovation and agility they bring
        to the table. By partnering with agencies, the ITVMO is helping to
        create a more equitable and prosperous future for all stakeholders
        involved in government IT procurement.
      </p>

      <p class=" ">
        In addition, the ITVMO is exploring avenues to amplify small business
        utilization within the IT Government-wide Category’s 13 IT Best-in-Class
        (BIC) contract solutions. This includes partnering with ACT-IAC on an
        FY25 IT Government-wide Category Forum scheduled for October 2024, see
        below.
      </p>

      <h3 id="equitable-future" class="itvmo-article-sub-3-blue mb-0">
        A Commitment to a More Equitable Future
      </h3>
      <p class=" ">
        The ITVMO's multifaceted approach demonstrates its commitment to
        fostering a more equitable and diverse federal IT software reseller
        marketplace. By understanding the challenges, improving utilization, and
        expanding opportunities, the ITVMO is paving the way for a more
        inclusive environment where all businesses can thrive.
      </p>

      <p class=" ">
        To schedule a consultation or learn more about the acquisition equity
        initiatives, contact the ITVMO at
        <a
          target="_blank"
          rel="noreferrer noopener"
          href="mailto:itvmo@gsa.gov?subject=Gov-wide%20ITVMO"
          >Gov-wide ITVMO</a
        >
      </p>

      <h3 id="power-bic" class="itvmo-article-sub-2">
        Unlocking the Power of Best-In-Class (BIC) IT Procurement: Your Guide to
        Streamlined Solutions
      </h3>

      <p class=" ">
        The IT Government-wide Category contains a select group of Best-in-Class
        (BIC) contract vehicles, recognized for their exceptional value and
        efficiency in procuring IT products and services. These BIC contracts
        undergo rigorous evaluation and meet stringent criteria set by the
        Office of Management and Budget (OMB), ensuring they adhere to best
        practices in areas such as contract duplication reduction, leveraging
        government buying power, and providing transparency.
      </p>

      <p>
        <b> These pre-vetted contract solutions offer:</b>
      </p>
      <div class="bulletSections">
        <div class="topLine"></div>
        <ul class="experiences">
          <li class="bulletText tight-bullet">
            <b>Pre-negotiated terms and conditions: </b>
            Saving you time and resources.
          </li>
          <li class="bulletText tight-bullet">
            <b>Access to a wide range of IT solutions:</b>
            Ensuring you find the right fit for your needs.
          </li>
          <li class="bulletText tight-bullet">
            <b>Compliance with federal regulations:</b>
            Simplifying risk management.
          </li>
        </ul>
      </div>

      <p>
        <b
          >BIC vehicles offer several compelling advantages for both government
          agencies and industry partners:</b
        >
      </p>
      <div class="bulletSections">
        <div class="topLine"></div>
        <ul class="experiences">
          <li class="bulletText tight-bullet">
            <b>Government:</b>
            Streamlined procurement, reduced administrative burden, and
            increased compliance.
          </li>
          <li class="bulletText tight-bullet">
            <b>Industry:</b>
            Access to a wider customer base, reduced marketing costs, and
            simplified contracting processes.
          </li>
        </ul>
      </div>

      <p class=" ">
        The BIC Buying Wave initiative recognizes that each Best-In-Class (BIC)
        contract offers unique features and advantages tailored to specific IT
        needs. To help you easily identify the right fit for your requirements,
        we have distilled key information into concise "window stickers." These
        at-a-glance summaries highlight metrics such as sustainability
        compliance, security compliance, and small business accessibility for
        each BIC vehicle, empowering you to make informed decisions that align
        with your organization's priorities and government mandates.
      </p>
      <p class=" ">
        The ITVMO is excited to showcase 13 Best-in-Class (BIC) vehicles
        available right now to aid in your procurement efforts. The following
        <a
          target="_blank"
          rel="noreferrer noopener"
          href="https://itvmo.gsa.gov/it-vehicles/#stickers"
          >at-a-glance resources</a
        >
        provide a high-level overview of the uses and benefits of each BIC
        vehicle, as well as links to more information. For additional
        information, please reach out to the ITVMO at
        <a
          target="_blank"
          rel="noreferrer noopener"
          href="mailto:itvmo@gsa.gov?subject=Gov-wide%20ITVMO"
          >Gov-wide ITVMO</a
        >
      </p>

      <h3 id="gov-wide-forum" class="itvmo-article-sub-2">
        IT Government-wide Category Forum in October
      </h3>

      <p class=" ">
        The ITVMO and Information Technology (IT) Category, in collaboration
        with ACT-IAC, is pleased to announce the in-person IT Government-wide
        Category Forum in October 2024. Whether you're an agency buyer seeking
        efficient procurement solutions or a small business aiming to expand
        your federal footprint.
      </p>

      <p>
        <b>Here’s some of what attendees can expect: </b>
      </p>
      <div class="bulletSections">
        <div class="topLine"></div>
        <ul class="experiences">
          <li class="bulletText tight-bullet">
            <b>Dive Deep into Category Management:</b>
            Gain a comprehensive understanding of the category management
            framework and its guiding principles, unlocking new strategies for
            optimizing your IT acquisitions.
          </li>
          <li class="bulletText tight-bullet">
            <b>Stay Ahead of the Curve:</b>
            Explore emerging IT acquisition priorities, identify lucrative
            opportunities, and access valuable resources designed to support
            agency buyers and small businesses in the government IT market.
          </li>
          <li class="bulletText tight-bullet">
            <b>Network with the Best:</b>
            Engage with a diverse group of industry leaders, including agency
            buyers, IT solution providers, government-wide programs, BIC
            contract holders, vendors, small businesses, and public-private
            partnerships.
          </li>
          <li class="bulletText tight-bullet">
            <b>Unlock the Power of BIC:</b>
            Meet with IT BIC contract representatives to discover the unique
            advantages of IT BIC solutions and how they can meet your agency's
            specific contracting needs.
          </li>
          <li class="bulletText tight-bullet">
            <b>Learn from the Experts:</b>
            Participate in insightful panel discussions, expert talks, and
            numerous networking opportunities to expand your knowledge and build
            valuable connections.
          </li>
        </ul>
      </div>

      <p class=" ">
        While the exact location is still being finalized, we encourage you to
        mark your calendars for the week of October 14th, 2024. Stay tuned for
        more exciting details, including the agenda, speakers, and registration
        information
      </p>
      <div class="tab-divide-line end-content"></div>

      <h3 id="meet-itvmo-member" class="itvmo-article-sub-2">
        Meet the ITVMO Team
      </h3>

      <h3 class="itvmo-article-sub-2-blue mb-0">Introducing: Heather Stier</h3>
      <div class="tab-img-p">
        <img
          class="tab-img-p-image"
          src="{{site.baseurl}}/assets/images/person/heather-stier.png"
          alt="Heather Stier image" />
        <p class=" ">
          Ms. Heather Stier's career is marked by her unwavering dedication to
          improving federal IT procurement and strategic planning. Starting in
          2008 at the Department of State as a contractor she focused on
          enterprise-wide IT Budget Management, Capital Planning, and IT
          Strategy Planning. In 2013, Heather transitioned to a civil servant
          role, continuing her work at the State Department with a primary
          emphasis on IT Strategic Planning and Budget Management.
          <br />
          <br />
          In 2014, Heather’s career shifted significantly when she was appointed
          the Contracting Officer Representative for over ten of the
          Department's enterprise IT contracts.
        </p>
      </div>
      <p class="mt-0">
        Since then, she has held a diverse range of roles, including IT
        Specialist and Special Advisor to Leadership on Strategic Software
        Acquisitions, earning numerous certifications, including FAC-COR Level
        III, FAC-P/PM Senior, and FAC/P/PM IT, along the way.
      </p>
      <p class=" ">
        Heather’s extensive experience led her to the IT Vendor Management
        Office (ITVMO), where she now serves as the IT Acquisition and Vendor
        Senior Advisor. In this role, she leverages her expertise in Original
        Equipment Manufacturers (OEMs), Vendor Management, Contract
        Negotiations, Enterprise-wide procurement, and Project Management to
        advocate for government-wide acquisition strategies, enhancing
        efficiency in software procurements across the federal landscape. A
        cause to which she is deeply committed
      </p>
      <p class=" ">
        Heather balances her professional life with personal interests,
        including her long-standing passion for gaming, a hobby she has
        cherished since the early 80s. She is actively involved in local feline
        rescues, often adopting and fostering furry companions, and enjoys
        traveling, hiking, small rock climbing at local state parks, and
        participating in escape rooms with her fiance.
      </p>

      <div class="tab-divide-line end-content"></div>

      <div id="newsletter-highlight" class="links-list">
        <h3 id="previous-newsletter" class="itvmo-article-sub-2">
          Prior Newsletters
        </h3>
        <p class=" ">
          Every quarter, the ITVMO releases a newsletter aimed at keeping
          agencies and industry stakeholders informed about recent developments
          and previous accomplishments. You can access both the latest and
          archived newsletters below
        </p>

        <h3
          id="previous-newsletter"
          class="sub-topic-heading-blue sub-topic-heading-20 margin-bottom-0">
          Fiscal Year 2024
        </h3>
        <ul
          class="links-with-descriptions links-with-descriptions-row-gap-10 margin-top-1">
          <li class="link-with-description">
            <a
              target="_blank"
              rel="noreferrer noopener"
              href="{{site.baseurl}}/news/quarterly-itvmo-newsletter-q2-2024"
              tabindex="0">
              <p class="link-heading">
                <img
                  class="link-icon"
                  alt="Newsletter icon"
                  src="{{site.baseurl}}/assets/images/icons/newsletter-icon.svg" />
                Q2 ITVMO Newsletter (FY2024)
              </p>
            </a>
          </li>
          <li class="link-with-description">
            <a
              target="_blank"
              rel="noreferrer noopener"
              href="{{site.baseurl}}/news/quarterly-itvmo-newsletter-q1-2024"
              tabindex="0">
              <p class="link-heading">
                <img
                  class="link-icon"
                  alt="Newsletter icon"
                  src="{{site.baseurl}}/assets/images/icons/newsletter-icon.svg" />
                Q1 ITVMO Newsletter (FY2024)
              </p>
            </a>
          </li>
        </ul>
        <h3
          id="previous-newsletter"
          class="sub-topic-heading-blue sub-topic-heading-20 margin-bottom-0">
          Related Articles
        </h3>
        <ul
          class="links-with-descriptions links-with-descriptions-row-gap-10 margin-top-1">
          <li class="link-with-description">
            <a
              target="_blank"
              rel="noreferrer noopener"
              href="{{site.baseurl}}/news/quarterly-itvmo-newsletter-2023/?sideNav=sn-newsletter-q4"
              tabindex="0">
              <p class="link-heading">
                <img
                  class="link-icon"
                  alt="Newsletter icon"
                  src="{{site.baseurl}}/assets/images/icons/newsletter-icon.svg" />
                Q4 ITVMO Newsletter (FY2023)
              </p>
            </a>
          </li>
          <li class="link-with-description">
            <a
              target="_blank"
              rel="noreferrer noopener"
              href="{{site.baseurl}}/news/quarterly-itvmo-newsletter-2023/?sideNav=sn-newsletter-q3"
              tabindex="0">
              <p class="link-heading">
                <img
                  class="link-icon"
                  alt="Newsletter icon"
                  src="{{site.baseurl}}/assets/images/icons/newsletter-icon.svg" />
                Q3 ITVMO Newsletter (FY2023)
              </p>
            </a>
          </li>
          <li class="link-with-description">
            <a
              target="_blank"
              rel="noreferrer noopener"
              href="{{site.baseurl}}/news/quarterly-itvmo-newsletter-2023/?sideNav=sn-newsletter-q2"
              tabindex="0">
              <p class="link-heading">
                <img
                  class="link-icon"
                  alt="Newsletter icon"
                  src="{{site.baseurl}}/assets/images/icons/newsletter-icon.svg" />
                Q2 ITVMO Newsletter (FY2023)
              </p>
            </a>
          </li>
        </ul>
      </div>

      <div class="tab-divide-line end-content"></div>

      <p class=" ">
        For more on the ITVMO visit
        <a target="_blank" rel="noreferrer noopener" href="/">ITVMO.gsa.gov</a>
        or email us at <a href="mailto:itvmo@gsa.gov">ITVMO@gsa.gov</a> and be
        sure to follow us on
        <a
          target="_blank"
          rel="noreferrer noopener"
          href="https://www.linkedin.com/company/govwideitvmo/"
          >LinkedIn</a
        >.
      </p>
    </div>
    <div class="content-nav">
      <div class="nav-list">
        <h3>On this Page</h3>
        <a
          id="sn-summit-recap"
          class="page-nav page-nav-active"
          href="#summit-recap"
          onclick="return removeTabContent(this)"
          >ITVMO Annual Summit Recap</a
        >
        <a
          id="sn-hackathon"
          class="page-nav"
          href="#hackathon"
          onclick="return removeTabContent(this)"
          >ITVMO Hackathon
        </a>
        <a
          id="sn-speakerheads-initiatives"
          class="page-nav"
          href="#speakerheads-initiatives"
          onclick="return removeTabContent(this)">
          ITVMO Spearheads Initiatives to Boost Equity and Diversity in Federal
          IT Software Reseller Marketplace</a
        >
        <a
          id="sn-power-bic"
          class="page-nav"
          href="#power-bic"
          onclick="return removeTabContent(this)"
          >Unlocking the Power of Best-In-Class (BIC) IT Procurement: Your Guide
          to Streamlined Solutions
        </a>
        <a
          id="sn-gov-wide-forum"
          class="page-nav"
          href="#gov-wide-forum"
          onclick="return removeTabContent(this)"
          >IT Government-wide Category Forum in October</a
        >
        <a
          id="sn-meet-itvmo-member"
          class="page-nav"
          href="#meet-itvmo-member"
          onclick="return removeTabContent(this)"
          >Meet the ITVMO Team</a
        >
        <a
          id="sn-previous-newsletter"
          class="page-nav"
          href="#previous-newsletter"
          onclick="return removeTabContent(this)"
          >Prior Newsletters</a
        >
      </div>
    </div>
  </div>
</section>
