<section id="inner-page-tabs">
    <div id="contribute-dox" class="tabcontent" style="display: flex;">
       <div class="contents padding-bottom-5">
          <h3 id="itvmo-overview" class="topic-heading">
            ITVMO Newsletter Q4 FY2023
          </h3>
          <h3 class="sub-topic-heading-blue">
            Call for Customer Feedback on the ITVMO Annual Performance
          </h3>
          <img src="{{site.baseurl}}/assets/images/screenshot/our-mission.png" alt="Our Missions image">
          <!-- <div class="tab-img-p">
            <img id="annual-summit-logo" alt="Annual Summit logo" src="{{site.baseurl}}/assets/uploads/annual-summit.svg">
            <p class="tab-p">
              The ITVMO is hosting an Annual Summit on August 2nd, 2023. We will convene both industry and government with the goal of increasing knowledge of and fostering collaboration on key original equipment manufacturers (OEM) contract strategies, Best-in-Class IT contracts, small business, and emerging technology to meet Agency missions. This in-person event is intended to allow collaboration, best practice sharing, and support with and between agency practitioners who influence and execute IT buying within their organization and to educate small businesses whose IT solutions can support agency missions. The Summit will be held at the Deloitte Rosslyn location (1919 N Lynn St Suite 1500, Arlington, VA 22209).
            </p>
          </div> -->
          <p class="tab-p">
            Annually, the governmentwide ITVMO compiles and submits an annual summary of its performance. The report addresses information covering accomplishments of the fiscal year and its operational plan for the following fiscal year. Review the <a target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/assets/files/fy-2023-itvmo-annual-assessment.pdf">FY 2023 ITVMO Annual Assessment</a> and then tell us how we are doing by completing the <a target="_blank" rel="noreferrer noopener" href="https://docs.google.com/forms/d/e/1FAIpQLSdcQhQQVh9Ze8iYU1h5HihxZ4WLHwvrqGM1THxOufbKN_d5KA/viewform">annual survey</a>.
          </p>
          <h3 class="sub-topic-heading-blue sub-topic-heading-small margin-bottom-0">
            Read more on the FY2023 year in review.
          </h3>
          <p class="tab-p margin-top-0">
            The ITVMO is part of the broader governmentwide IT Category Management Framework, as such is responsible for the implementation of its strategic plan. Annually initiatives are defined and planned with critical targets to be met. 
          </p>
          <p class="tab-p padding-left-4 padding-right-4">
            <b>
              <i>
                “With the information and resources provided by the govwide ITVMO, the Defense Media Activity was able to move forward faster on the acquisition of technical services and accelerate our work….your help and work accelerated our ability to get to a decision point faster.”
                <br>
                -- Satisfied agency buyer
              </i>
            </b>
          </p>
          <p class="tab-p">
            The ITVMO is <b>accelerating and capitalizing the impact of federal IT acquisitions on top OEMs and select vendors</b> by increasing agency IT buyer knowledge and ability; to capitalize govwide resources and overcome budget/contract constraints.
            <ul>
              <li><a target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/services/it-buyers-training-and-support/?tabName=it-buyers-toolkit-header&sideNav=">Published 8 new OEM tools and resources</a></li>
              <li><a target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/services/oem/">Closed out 2 OEM assessments</a></li>
              <li>Awarded 581 CLPs through 7 learning events</li>
              <li><a target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/community/">Chartered 2 interagency working groups</a></li>
              <li><a target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/events/">Engaged in 17 gov wide and industry event</a></li>
            </ul>
          </p>
          <p class="tab-p">
            The governmentwide advisor is <b>solving top software OEM/vendor challenges by focusing on vendor relationship management</b> to standardize requirements, improve interoperability, and mitigate market-wide risks.
            <ul>
              <li><a target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/services/">Launched 2 new OEM service offerings</a></li>
              <li><a target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/services/oem/?tabName=contract-review-header&sideNav=">Shaped 5 agency pilots with Contract Review Service</a></li>
              <li><a target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/services/oem/?tabName=contract-review-header&sideNav=">Identified 22 MSFT terms for govwide addendum</a></li>
              <li>Published 2 added OEM resource features on MAX</li>
              <li>Conducted OEM panel on AI and modernization</li>
            </ul>
          </p>
          <p class="tab-p">
            And through its broader community of practice is <b>designing and employing services and solutions for agency IT Buyers</b> by building a knowledge base repository of vendor intelligence to inform govwide acquisition strategies for better value solutions.
            <ul>
              <li><a target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/contact-us-contribute/?tabName=contact-us-header">Received and closed 75 service tickets</a></li>
              <li>Prepared annual Federal Data Health Assessment</li>
              <li>Met with 5 agencies on data health </li>
              <li>Authored annual Leading Edge Technology Report</li>
              <li><a target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/resources/?utm_medium=email&utm_source=govDelivery">Published 85 new IT acquisition resource cards</a></li>
            </ul>
          </p>
          <!-- <p class="tab-p">
            <ul>
              <li><a target="_blank" rel="noreferrer noopener" href=""></a></li>
              <li><a target="_blank" rel="noreferrer noopener" href=""></a></li>
              <li><a target="_blank" rel="noreferrer noopener" href=""></a></li>
              <li><a target="_blank" rel="noreferrer noopener" href=""></a></li>
              <li><a target="_blank" rel="noreferrer noopener" href=""></a></li>
            </ul>
          </p>
          <p class="tab-p">
           
          </p> -->

          <div class="tab-divide-line end-content"></div>

          <h3 id="" class="sub-topic-heading-blue">
            
          </h3>
          <p class="tab-p">
           
          </p>
          <p class="tab-p">
            <ul>
              <li><a target="_blank" rel="noreferrer noopener" href=""></a></li>
              <li><a target="_blank" rel="noreferrer noopener" href=""></a></li>
              <li><a target="_blank" rel="noreferrer noopener" href=""></a></li>
              <li><a target="_blank" rel="noreferrer noopener" href=""></a></li>
              <li><a target="_blank" rel="noreferrer noopener" href=""></a></li>
            </ul>
          </p>


          <div class="tab-divide-line end-content"></div>

          <h3 id="meet-itvmo-member" class="sub-topic-heading-blue">
            Meet the ITVMO Team: Introducing: Warren J. Blankenship
          </h3>
          <div class="tab-img-p">
            <img class="tab-img-p-image" src="{{site.baseurl}}/assets/images/person/warren-blankenship.png" alt="warren Blankenship image">
            <p class="tab-p">
              Mr. Warren J. Blankenship serves as the Deputy IT Government-wide Category Manager overseeing day-to-day operations for the Federal IT Governmentwide Category. As such, he manages a portfolio of 13 Best-In-Class (BIC) contract solutions with annual revenue of over $72B, category strategy and annual initiatives outlined in an annual plan to the Office of Management and Budget (OMB), agency category support, vehicle data and compliance, and tracking and growing our small business participation across the category.  Through these solutions, he has spearheaded several cross-vehicle initiatives to improve compliance with Cyber and Sustainability buying requirements, award and use of small businesses, and further introduction of emerging solutions to modernize government-wide IT.
            </p>
          </div>
          <p class="tab-p">
            Before this, he held several leadership roles at GSA, including Deputy Director of Contract Operations (FAS/MAS IT), Deputy Director of the Program Office (FAS/MAS IT), Director of the Office of Scientific and Equipment Division (FAS), and Senior Procurement Analyst, where he played a crucial role in formulating and executing Federal Acquisition Regulation (FAR) rules for GSA's Office of Government-wide Policy (OGP) and the Office of Federal Procurement Policy (OFPP). This gave him the unique experience and expertise in procurement and policy to take on the Deputy IT Government-wide Category Manager role. Today, he leads various projects, including monitoring key performance indicators like spend under management, cost avoidance, and small business utilization.
          </p>
          <p class="tab-p">
            Mr. Blankenship earned his Bachelor of Arts degree from the University of the District of Columbia (UDC) and a Master of Arts in Public Communication from the American University. In 2023, he was honored with the FED 100 Award and completed OPM's Executive Leadership Program, Leadership for a Democratic Society. Outside of work, he’s a devoted fan of the Washington Commanders and Nationals, enjoys comedy sitcoms and movies, and considers himself a music connoisseur and enthusiast.
            For more on the ITVMO visit ITVMO.gsa.gov or email us <a href="mailto:itbcop@gsa.gov">itbcop@gsa.gov</a>.
          </p>

          <div class="tab-divide-line end-content"></div>

          <div id="newsletter">
            <h3 id="previous-newsletter" class="sub-topic-heading-blue">
              Access prior newsletter here
            </h3>
            <section id="newsletter-highlight">
                <div id="prev-newsletter">
                  <a href="{{site.baseurl}}/news/previous-quarterly-itvmo-newsletter" class="update-highlight-card-mobile">
                    <div class="uh-card-image-title">
                      <img class="uh-card-image" src="{{site.baseurl}}/assets/images/icons/page_icons/quaterly-itvmo-newsletter.svg" alt="Image that represent the card">
                      <h4 class="uh-title two-line-max">Previous Quarterly ITVMO Newsletter</h4>
                    </div>
                    <p class="uh-info-mobile four-line-max">
                      Each quarter, the ITVMO publishes a newsletter to update agencies and industry on current events and past progress. Click here to view the most current, and past, newsletters.
                    </p>
                  </a>
                  <a href="{{site.baseurl}}/news/previous-quarterly-itvmo-newsletter" class="update-highlight-card">
                    <img class="uh-card-image" src="{{site.baseurl}}/assets/images/icons/page_icons/quaterly-itvmo-newsletter.svg" alt="Image that represent the card">
                    <div class="uh-card-gov">
                      <div class="uh-card-gov-line"></div>
                    </div>
            
                    <div class="uh-card-info">
                      <h4 class="two-line-max">Previous Quarterly ITVMO Newsletter</h4>
                      <p class="three-line-max">Each quarter, the ITVMO publishes a newsletter to update agencies and industry on current events and past progress. Click here to view the most current, and past, newsletters.</p>
                    </div>
                  </a>
                </div>
            </section>
          </div>

          

      </div>
       <div class="content-nav">
          <div class="nav-list">
             <h3>On this Tab</h3>
             <a id="sn-itvmo-overview" class="page-nav page-nav-active" href="#itvmo-overview" onclick="return removeTabContent(this)">ITVMO Annual Summit Overview</a>
             <a id="sn-agency-showcase" class="page-nav" href="#agency-showcase" onclick="return removeTabContent(this)">Agency Showcase</a>
             <a id="sn-meet-itvmo-member" class="page-nav" href="#meet-itvmo-member" onclick="return removeTabContent(this)">Meet the ITVMO Team</a>
             <a id="sn-previous-newsletter" class="page-nav" href="#previous-newsletter" onclick="return removeTabContent(this)">Previous Newsletters</a>
          </div>
       </div>
    </div>
  </section>