<section id="inner-page-tabs">
    <div id="contribute-dox" class="tabcontent" style="display: flex;">
       <div class="contents padding-bottom-5">
          <h3 id="note-from-the-office-of-the-director" class="topic-heading">
            ITVMO Newsletter Q2 FY2024
          </h3>
          <h3 id="note-from-the-office-of-the-director" class="sub-topic-heading">
            Notes from the Office of the Director
          </h3>
          <p class=" ">
            The ITVMO serves as a one-stop-shop for acquisition intelligence, working collaboratively with other federal programs, buyers, suppliers, vendors, and industry to create and improve accessibility and use of common data, knowledge, and tools for greater use by agencies in their acquisition strategies.
          </p>
         
          <h3  class="sub-topic-heading-blue">Meet the ITVMO</h3>
          <video class="video-container margin-top-2" controls>
            <source src="{{site.baseurl}}/assets/video/meet-the-itvmo.mp4" type="video/mp4">
            <track label="English" kind="subtitles" srclang="en" src="{{site.baseurl}}/assets/video/captions/meet-the-itvmo.vtt" default>
          </video>



          <h3 id="value-by-the-numbers" class="sub-topic-heading-blue">Value by the Numbers</h3>
          <p class=" ">
            Closing out this quarter the ITVMO made significant strides in cost-saving, customer satisfaction, and efficiencies gained. Take a look at some of our highlights
          </p>
          <a tabindex="0" class="image-container" href="#mission-image" aria-label="Open our Missions image" aria-controls="mission-image" data-open-modal="" role="button">
            <img src="{{site.baseurl}}/assets/images/screenshot/value-by-the-numbers.png" alt="CISA's Zero Trust Maturity Model Pillars">
            <div class="image-overlay">
              <img src="{{site.baseurl}}/assets/images/icons/search-icon-white.svg" alt="search-icon" class="overlay-icon">
            </div>
          </a>
          <div
            class="usa-modal usa-modal-team-member usa-modal-bg-transparent" id="mission-image">
            <div class="usa-modal__content">
              <div class="usa-modal__main usa-modal-main-no-padding">
                <img src="{{site.baseurl}}/assets/images/screenshot/value-by-the-numbers.png" alt="CISA's Zero Trust Maturity Model Pillars">
              </div>
                <button
                  type="button" class="usa-button usa-modal__close usa-modal-close-no-padding-right" aria-label="Close this window" data-close-modal
                >
                  <img src="{{site.baseurl}}/assets/images/icons/exit-icon-white.svg" alt="Exit button" class="exit-button">
                </button>
            </div>
          </div>

          <div class="tab-divide-line end-content"></div>

          <h3 id="itvmo-annual-summit" class="sub-topic-heading">
            ITVMO Annual Summit 
        </h3>
          <div class="tab-img-p">
            <img id="annual-summit-logo" alt="Annual Summit logo" src="{{site.baseurl}}/assets/uploads/annual-summit-2024.svg">
            <div>
            <p class="tab-p">
              <b>The ITVMO is hosting its 2nd Annual Summit on June 11th, 2024. The summit will convene both industry and government with the goal of Revolutionizing Government Acquisitions through Digital Transformation by uniting Technology, People, and Processes to radically transform Federal IT Acquisitions</b> 
            </p>
            <br>
            <a
            class="external-link mt_-20"
            href="https://www.actiac.org/act-iac-event/2024-itvmo-annual-summit"
          >
            <p>Register Here</p>
            <img
              src="{{site.baseurl}}/assets/images/icons/external-white.svg"
              alt="external icon"
            />
          </a>
        </div>
          </div>


          <p class=" ">
            The IT Vendor Management Office (ITVMO) in collaboration with ACT-IAC is hosting its Second Annual ITVMO Summit, to take place in-person on June 11th at the Deloitte Rosslyn location, at 1919 North Lynn Street Suite 1500 VA 22209.  The Summit brings together government and industry to share insights, cutting-edge innovations, and evolving technological standards that will transform the Federal Acquisition Ecosystem.           </p>
          <p class=" ">
            This year’s Summit will focus on uniting technology, people, and processes to radically transform Federal IT acquisitions. Through engaging discussions, interactive sessions, and expert panels, attendees will explore innovative strategies and best practices for leveraging digital transformation to drive efficiency, agility, and effectiveness in government procurement processes. From harnessing the power of emerging technologies to reimagining workforce capabilities and optimizing procurement processes, this conference will offer valuable insights and actionable solutions for revolutionizing government acquisitions in the digital age.  This collaborative forum is dedicated to leveraging new technologies in advancing strategic effectiveness and operational efficiency in government digital transformation. 
          </p>
         

          <div class="tab-divide-line end-content"></div>
          
          <h3 id="oem-acquisitions" class="sub-topic-heading">
            OEMs & Acquisitions
          </h3>
          <p class=" ">
            The ITVMO OEM team continues to work with identified OEMs to increase acquisition efficiencies, strengthen procurement strategies, facilitate knowledge sharing, and deliver best practices and lessons learned across government.   As part of this ongoing work, the team is playing a lead role in supporting the Better Contracting Initiative, BCI, Priority #2:  Negotiating Common Enterprise-Wide Software Licenses
          </p>
          <p class=" ">
            Earlier this year, OMB worked with the ITVMO to launch the governmentwide Acquisition Strategy to partner with industry and federal agencies to identify areas that require innovative solutions and improve and standardize terms, conditions, and pricing for all government customers.  As we work through this effort we will continue to bring agencies critical information, best practice resources, acquisition guides, recorded webinars, and live engagements to learn more about escalated challenges and resolutions.
          </p>

          <p class=" ">
            For more information about what the ITVMO OEM team is working on <a target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/services/oem/"><b>Click Here.</b></a> Make sure to check out the <a target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/events/"><b>ITVMO Event Calendar</b></a> and register for upcoming events.  
          </p>

          <div class="tab-divide-line end-content"></div>

          <h3 id="acquisition-equity" class="sub-topic-heading">
            Acquisition Equity
          </h3>
          <p class=" ">
            Navigating the intricate landscape of government contracting can pose significant challenges, particularly for small businesses. Recognizing this, the Information Technology Vendor Management Office (ITVMO) is dedicated to supporting IT Category Management through initiatives aimed at bolstering small business equity, utilization, and engagement within the federal IT marketplace.
          </p>
          <p class=" ">
            In an effort to increase equity in and diversity of the marketplace and as part of a broader strategy to diminish barriers to entry into the Federal marketplace, the Acquisition Equity & Small Business team is Launching a new initiative to enhance equity among Original Equipment Manufacturers (OEM) value-added resellers (VARs). 
          </p>
          <p class=" ">
            Over the upcoming months, the team will conduct information-gathering sessions involving agencies, small businesses, OEMs, and value-added resellers. These sessions aim to gain deeper insights into the obstacles agencies encounter when purchasing through VARs and establishing set-aside procurements utilizing Small Business Resellers and VARs, challenges faced when the challenges faced by small businesses seeking to become Value-Added Reseller (VAR) for OEMs, and the hurdles encountered by OEMs in leveraging SB IT VARs.
          </p>
          <p class=" ">
            The team also plans to explore opportunities to amplify the utilization of small businesses within IT BIC (best-in-class) contract solutions. To know more get in touch with the newest member of the ITVMO team <b>Clarence Harrison - QT0A</b>
          </p>


          <div class="tab-divide-line end-content"></div>

          <h3 id="meet-itvmo-member" class="sub-topic-heading">
            Meet the ITVMO Team
          </h3>

          <h3 class="sub-topic-heading-blue">
           Introducing: Clarence Harrison
          </h3>
          <div class="tab-img-p">
            <img class="tab-img-p-image" src="{{site.baseurl}}/assets/images/person/clarence-harrison.jpg" alt="Clarence Harrison image">
            <p class=" ">
              Mr. Clarence Harrison Jr. brings over 14 years of invaluable experience in the federal government to his current role as a Senior Advisor for Acquisition Equity and Small Business. His journey through the governmental landscape began as a Senior Procurement Analyst within the Acquisition Policy Division of the Office of Government-wide Policy (OGP) at the General Services Administration (GSA). Here, he meticulously crafted agency-wide procurement policies, spearheaded GSAM/GSAR changes, and spearheaded pivotal acquisition initiatives.
              </p>
          </div>
          <p class=" ">
            With a commitment to government acquisition and small business empowerment, Clarence has held pivotal roles such as Acting Director of GSA’s Acquisition Policy Division (GSAR Team) and Acting Supervisory Small Business Specialist within the Office of Small and Disadvantaged Business Utilization (OSDBU). In these capacities, he collaborated closely with program and contracting offices, striving to optimize small business and socio-economic small business procurement opportunities within GSA.
          </p>
          <p class=" ">
            Prior to his tenure at GSA, Clarence served as a procurement analyst at the Department of Homeland Security (DHS) and as a contracting officer across various federal agencies. He is the a proud graduate of the prestigious 2019 DHS Office of the Chief Procurement Officer Executive Development Program for Acquisition Leaders and holds several industry and federal certifications and awards including NCMA CPCM, FAC-C (Professional), FAC-C-Digital Services and GSA’s Acquisition Innovation in Action Award. 
          </p>
          <p class=" ">
            Outside of his professional endeavors, Mr Harrsion is an ardent supporter of the Washington Commanders and VT Hokies, enjoys staying active through exercise and sports, and as an avid fisherman.
          </p>

          <div class="tab-divide-line end-content"></div>


          <div  id="newsletter-highlight" class="links-list">
            <h3 id="previous-newsletter" class="sub-topic-heading margin-bottom-0">
              Prior Newsletters
            </h3>
            <p class=" ">
              Every quarter, the ITVMO releases a newsletter aimed at keeping agencies and industry stakeholders informed about recent developments and previous accomplishments. You can access both the latest and archived newsletters below
             </p>
            
            <h3 id="previous-newsletter" class="sub-topic-heading-blue sub-topic-heading-20 margin-bottom-0">
              Fiscal Year 2024
            </h3>
            <ul class="links-with-descriptions links-with-descriptions-row-gap-10 margin-top-1">
              <li class="link-with-description">
                <a
                  target="_blank"
                  rel="noreferrer noopener"
                  href="{{site.baseurl}}/news/quarterly-itvmo-newsletter-q1-2024"
                  tabindex="0"
                >
                  <p class="link-heading">
                    <img
                      class="link-icon"
                      alt="Newsletter icon"
                      src="{{site.baseurl}}/assets/images/icons/newsletter-icon.svg"
                    />
                    Q1 ITVMO Newsletter (FY2024)
                  </p>
                </a>
              </li>
            </ul>
            <h3 id="previous-newsletter" class="sub-topic-heading-blue sub-topic-heading-20 margin-bottom-0">
              Related Articles
            </h3>
            <ul class="links-with-descriptions links-with-descriptions-row-gap-10 margin-top-1">
              <li class="link-with-description">
                <a
                  target="_blank"
                  rel="noreferrer noopener"
                  href="{{site.baseurl}}/news/quarterly-itvmo-newsletter-2023/?sideNav=sn-newsletter-q4"
                  tabindex="0"
                >
                  <p class="link-heading">
                    <img
                      class="link-icon"
                      alt="Newsletter icon"
                      src="{{site.baseurl}}/assets/images/icons/newsletter-icon.svg"
                    />
                    Q4 ITVMO Newsletter (FY2023)
                  </p>
                </a>
              </li>
              <li class="link-with-description">
                <a
                  target="_blank"
                  rel="noreferrer noopener"
                  href="{{site.baseurl}}/news/quarterly-itvmo-newsletter-2023/?sideNav=sn-newsletter-q3"
                  tabindex="0"
                >
                  <p class="link-heading">
                    <img
                      class="link-icon"
                      alt="Newsletter icon"
                      src="{{site.baseurl}}/assets/images/icons/newsletter-icon.svg"
                    />
                    Q3 ITVMO Newsletter (FY2023)
                  </p>
                </a>
              </li>
              <li class="link-with-description">
                <a
                  target="_blank"
                  rel="noreferrer noopener"
                  href="{{site.baseurl}}/news/quarterly-itvmo-newsletter-2023/?sideNav=sn-newsletter-q2"
                  tabindex="0"
                >
                  <p class="link-heading">
                    <img
                      class="link-icon"
                      alt="Newsletter icon"
                      src="{{site.baseurl}}/assets/images/icons/newsletter-icon.svg"
                    />
                    Q2 ITVMO Newsletter (FY2023)
                  </p>
                </a>
              </li>

            </ul>
          </div>

          <div class="tab-divide-line end-content"></div>

          <p class=" ">
            For more on the ITVMO visit <a target="_blank" rel="noreferrer noopener" href="/">ITVMO.gsa.gov</a>  or email us at <a href="mailto:itvmo@gsa.gov">ITVMO@gsa.gov</a> and be sure to follow us on <a target="_blank" rel="noreferrer noopener" href="https://www.linkedin.com/company/govwideitvmo/">LinkedIn</a>.
          </p>

          

      </div>
       <div class="content-nav">
          <div class="nav-list">
             <h3>On this Page</h3>
             <a id="sn-note-from-the-office-of-the-director" class="page-nav page-nav-active" href="#note-from-the-office-of-the-director" onclick="return removeTabContent(this)">Notes from the Office of the Director</a>
             <a id="sn-itvmo-annual-summit" class="page-nav" href="#itvmo-annual-summit" onclick="return removeTabContent(this)">ITVMO Annual Summit</a>
             <a id="sn-oem-acquisitions" class="page-nav" href="#oem-acquisitions" onclick="return removeTabContent(this)"> OEMs & Acquisitions</a>
             <a id="sn-acquisition-equity" class="page-nav" href="#acquisition-equity" onclick="return removeTabContent(this)">Acquisition Equity</a>
             <a id="sn-meet-itvmo-member" class="page-nav" href="#meet-itvmo-member" onclick="return removeTabContent(this)">Meet the ITVMO Team</a>
             <a id="sn-previous-newsletter" class="page-nav" href="#previous-newsletter" onclick="return removeTabContent(this)">Prior Newsletters</a>
          </div>
       </div>
    </div>
  </section>