<!--********Generates resource catalog items. Individual cards live in the in the _resources folder**************-->

<div class="usa-media-block tablet:grid-col-9">
  <p class="filter-count card-tag margin-top-0 text-gray-50 text-thin count"></p>
  <div class="resources">
   
              {% for resources in site.resources %}
                      <div class="tablet:grid-col-4 grid-spacing policy {{ resources.filters }}" >
                          <!--sets border logic statements for resources-->
                          {% if resources.filters contains 'category-management' %}
                          <div class="border-top-05 border-accent-warm bg-white padding-2 shadow-5 height-full resources-hover category-management-border">
                              {% endif %}
                          {% if resources.filters contains 'vendor-intelligence' %}
                          <div class="border-top-05 border-accent-warm bg-white padding-2 shadow-5 height-full resources-hover vendor-intelligence-border">
                              {% endif %}
                              {% if resources.filters contains 'small-business-intelligence' %}
                              <div class="border-top-05 border-accent-warm bg-white padding-2 shadow-5 height-full resources-hover small-business-intelligence-border">
                                  {% endif %}
                                  {% if resources.filters contains 'emerging-technology' %}
                                  <div class="border-top-05 border-accent-warm bg-white padding-2 shadow-5 height-full resources-hover emerging-technology-border">
                                      {% endif %}
                                      {% if resources.filters contains 'best-in-class' %}
                                      <div class="border-top-05 border-accent-warm bg-white padding-2 shadow-5 height-full resources-hover best-in-class-border">
                                          {% endif %}
                                          {% if resources.filters contains 'itvmo-admin' %}
                                           <div class="border-top-05 border-accent-warm bg-white padding-2 shadow-5 height-full resources-hover itvmo-admin-border">
                                          {% endif %}
                                          {% if resources.filters contains 'scrm' %}
                                           <div class="border-top-05 border-accent-warm bg-white padding-2 shadow-5 height-full resources-hover scrm-border">
                                          {% endif %}
                                          {% if resources.filters contains 'acquisition-best-practices' %}
                                           <div class="border-top-05 border-accent-warm bg-white padding-2 shadow-5 height-full resources-hover acqu-best-prac-border">
                                          {% endif %}
                                          <div class="text-container padding-1 height-full">
                                         
                                            {% if resources.filters contains 'category-management' %}
                                           <span class="card-tag">Category Management</span>
                                           {% endif %}
                                           {% if resources.filters contains 'vendor-intelligence' %}
                                           <span class="card-tag">Vendor Intelligence</span>
                                           {% endif %}
                                           {% if resources.filters contains 'small-business-intelligence' %}
                                           <span class="card-tag">Small Business Intelligence</span>
                                           {% endif %}
                                           {% if resources.filters contains 'emerging-technology' %}
                                           <span class="card-tag">Emerging Technology</span>
                                           {% endif %}
                                           {% if resources.filters contains 'best-in-class' %}
                                           <span class="card-tag">Best-in-Class</span>
                                           {% endif %}
                                           {% if resources.filters contains 'itvmo-admin' %}
                                           <span class="card-tag">ITVMO Admin</span>
                                           {% endif %}
                                           {% if resources.filters contains 'scrm' %}
                                           <span class="card-tag">Supply Chain & Risk Management</span>
                                           {% endif %}
                                           {% if resources.filters contains 'acquisition-best-practices' %}
                                           <span class="card-tag">Acquisition Best Practices</span>
                                           {% endif %}
                                              {% if resources.external_url %}
                                                <a class="no-style anchor-fill" href="http://{{ resources.external_url }}" aria-label="{{ resources.title }}">
                                                <p class="title-resources">{{ resources.title }}</p>
                                                <p class="description-resources">{{ resources.description }}</p>
                                                <p class="link-type">Hyperlink</p>
                                                </a>
                                              {% endif %}
                                              {% if resources.permalink %}
                                                <a class="no-style anchor-fill" href="{{ site.baseurl }}{{ resources.permalink  }}" aria-label="{{ resources.title }}">
                                                <p class="title-resources">{{ resources.title }}</p>
                                                <p class="description-resources">{{ resources.description }}</p>
                                                <p class="link-type">Hyperlink</p>
                                                </a>
                                              {% endif %}
                                              {% if resources.doc-link %}
                                                <a class="no-style anchor-fill" href="{{ site.baseurl }}/{{ resources.doc-link }}" aria-label="{{ resources.title }}">
                                                <p class="title-resources">{{ resources.title }}</p>
                                                <p class="description-resources">{{ resources.description }}</p>
                                                <p class="link-type">PDF</p>
                                                </a>
                                              {% endif %}
                                           <!--for 508 accessibility-->
                                        </div>
                                    </div>
                                  </div>			
              {% endfor %}

  </div>
  <p><strong>Don’t see what you’re looking for?</strong><br>
    We are constantly updating our resources but if you can’t find what you’re looking for or would like to work with us on developing artifacts, white papers, templates, or other resources, please reach out to us by email at <a href="mailto:itvmo@gsa.gov">itvmo@gsa.gov</a>.</p>
</div>