

<div class="usa-media-block tablet:grid-col-9">
  <p class="filter-count card-tag margin-top-0 text-gray-50 text-thin count"></p>
  <div class="resources">
   
              {% for resources in site.resources %}
              {% if resources.filters contains 'for-small-businesses' %}
                      <div class="tablet:grid-col-4 grid-spacing policy {{ resources.filters }}" >
                          <div class="border-top-05 border-accent-warm bg-white padding-2 shadow-5 height-full resources-hover policy-border">
                                          <div class="text-container padding-1 height-full">
                                           <span class="card-tag">Small business</span>
                                              {% if resources.external_url %}
                                                <a class="no-style anchor-fill" href="http://{{ resources.external_url }}" aria-label="{{ resources.title }}">
                                                <p class="title-resources">{{ resources.title }}</p>
                                                <p class="description-resources">{{ resources.description }}</p>
                                                <p class="link-type">Hyperlink</p>
                                                </a>
                                              {% endif %}
                                              {% if resources.permalink %}
                                                <a class="no-style anchor-fill" href="{{ site.baseurl }}{{ resources.permalink  }}" aria-label="{{ resources.title }}">
                                                <p class="title-resources">{{ resources.title }}</p>
                                                <p class="description-resources">{{ resources.description }}</p>
                                                <p class="link-type">Hyperlink</p>
                                                </a>
                                              {% endif %}
                                              {% if resources.doc-link %}
                                                <a class="no-style anchor-fill" href="{{ site.baseurl }}/{{ resources.doc-link }}" aria-label="{{ resources.title }}">
                                                <p class="title-resources">{{ resources.title }}</p>
                                                <p class="description-resources">{{ resources.description }}</p>
                                                <p class="link-type">PDF</p>
                                                </a>
                                              {% endif %}
                                        </div>
                                    </div>
                                  </div>	
              {% endif %}		
              {% endfor %}

  </div>
</div>