<!--********Generates resource catalog items. Individual cards live in the in the _resources folder**************-->

<div class="usa-media-block tablet:grid-col-9">
  <p class="subject card-tag margin-top-0 text-gray-50 text-thin count"></p>
  <div id="resources">
    <div class="resource-cards-data">
    {% for resources in site.resources %}
      <div class="raw-resource-data" 
      data-title="{{resources.title}}" 
      data-description="{{resources.description}}" 
      data-url="{{resources.url-link}}" 
      data-type="{{resources.type}}"
      data-gov-only="{{resources.gov-only}}"
      data-is-external="{{resources.is-external}}"
      data-filter="{{resources.filter}}"
      data-branded-offerings="{{resources.branded-offerings}}"
      data-audience="{{resources.audience}}"
      data-publication-date="{{resources.publication-date}}"
      data-reading-time="{{resources.reading-time}}"
      data-resource-type="{{resources.resource-type}}">
      </div>
    {% endfor %}
    </div>
              <div class="faceted-nav">
                <div>
                  <div class="clear-button">
                    <p>Filters</p><button id="clear-all">Clear</button>
                  </div>
                </div>
                <div class="facet">
                  <button class="facet-dropdown" aria-controls="facet_1" onclick="displayDropdownContent(this)">
                    <h3>Topic Area</h3>
                    <img class="dropdown-arrow" src="/assets/images/icons/arrow-down.svg">
                  </button>
                  <div class="facet-list " id="facet_1">
                    <ul class="facet-options" id="topic-area">
                      <li><input type="checkbox" value="p-filter">Policy</li>
                      <li><input type="checkbox" value="acquisition-best-practices">Acquisition Best Practices</li>
                      <li><input type="checkbox" value="small-business">Small Business</li>
                      <li><input type="checkbox" value="market-intelligence">Market Intelligence</li>
                      <li><input type="checkbox" value="technology">Technology</li>
                      <li><input type="checkbox" value="contract-solutions">Contract Solutions</li>
                      <li><input type="checkbox" value="itvmo-general">ITVMO General</li>
                    </ul>
                  </div>
                </div>
                <div class="facet">
                  <button class="facet-dropdown" aria-controls="facet_2" onclick="displayDropdownContent(this)">
                    <h3>Audience</h3>
                    <img class="dropdown-arrow" src="/assets/images/icons/arrow-down.svg">
                  </button>
                  <div class="facet-list " id="facet_2">
                    <ul class="facet-options" id="audience">
                      <li><input type="checkbox" value="for-contracting-officers">Contracting Officers</li>
                      <li><input type="checkbox" value="for-program-managers">Program Managers</li>
                      <li><input type="checkbox" value="for-info-security-officials">Information Security Officials</li>
                      <li><input type="checkbox" value="for-industry">Industry</li>
                    </ul>
                  </div>
                </div>
                <div class="facet">
                  <button class="facet-dropdown" aria-controls="facet_3" onclick="displayDropdownContent(this)">
                    <h3>Resource Type</h3>
                    <img class="dropdown-arrow" src="/assets/images/icons/arrow-down.svg">
                  </button>
                  <div class="facet-list " id="facet_3">
                    <ul class="facet-options" id="resource-type">
                      <li><input type="checkbox" value="guidance">Guidance</li>
                      <li><input type="checkbox" value="use-case">Use Case</li>
                      <li><input type="checkbox" value="report">Report</li>
                      <li><input type="checkbox" value="information-slick">Information Slick</li>
                      <li><input type="checkbox" value="tool">Tool</li>
                    </ul>
                  </div>
                </div>
                <div class="facet">
                  <button class="facet-dropdown" aria-controls="facet_4" onclick="displayDropdownContent(this)">
                    <h3>Source</h3>
                    <img class="dropdown-arrow" src="/assets/images/icons/arrow-down.svg">
                  </button>
                  <div class="facet-list " id="facet_4">
                    <ul class="facet-options" id="resource-source">
                      <li><input type="checkbox" value="false"> Public Resource</li>
                      <li><input type="checkbox" value="true"> Goverment/Military Access Only</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div>
                <div class="search-bar">
                  <input type="text" id="search-input" placeholder="Search items...">
                </div>
                <div class="filtered-results resource-cards" id="filtered-results">
  
                  <!-- Filtered results will be displayed here -->
                </div>
              </div>

  </div>
  <p><strong>Don’t see what you’re looking for?</strong><br>
    We are constantly updating our resources but if you can’t find what you’re looking for or would like to work with us on developing artifacts, white papers, templates, or other resources, please reach out to us by email at <a href="mailto:itvmo@gsa.gov">itvmo@gsa.gov</a>.</p>
</div>
