<!--***********buttons for Resoucres page*********************************************-->

<div class="usa-media-block tablet:grid-col-3">
    <a class="usa-button btn-primary margin-bottom-2" href="{{ site.baseurl }}/resources/#subject=*&role=*&status=*">Reset Filter</a>

    <nav id="filter" class="filters">
        <h2 class="filter-title font-sans-sm">Filter by category</h2>
        <ul class="filter-list" data-filter-group="subject">
            <li><a aria-label="Filter by type: Category Management" role="checkbox" href="javascript:void(0)" data-filter=".category-management">Category Management</a></li>
            <li><a aria-label="Filter by type: Vendor Intelligence" role="checkbox" href="javascript:void(0)" data-filter=".vendor-intelligence">Vendor Intelligence</a></li>
            <li><a aria-label="Filter by type: Small Business Intelligence" role="checkbox" href="javascript:void(0)" data-filter=".small-business-intelligence">Small Business Intelligence</a></li>
            <li><a aria-label="Filter by type: Emerging Technology" role="checkbox" href="javascript:void(0)" data-filter=".emerging-technology">Emerging Technology</a></li>
            <li><a aria-label="Filter by type: Best-in-Class" role="checkbox" href="javascript:void(0)" data-filter=".best-in-class">Best-in-Class</a></li>
            <li><a aria-label="Filter by type: ITVMO Admin" role="checkbox" href="javascript:void(0)" data-filter=".itvmo-admin">ITVMO Admin</a></li>
            <li><a aria-label="Filter by type: Supply Chain & Risk Management" role="checkbox" href="javascript:void(0)" data-filter=".scrm">Supply Chain & Risk Management</a></li>
            <li><a aria-label="Filter by type: Acquisition Best Practices" role="checkbox" href="javascript:void(0)" data-filter=".acquisition-best-practices">Acquisition Best Practices</a></li>
        </ul>
    </nav>
</div>