<!--***********buttons for Resoucres page*********************************************-->

<div class="usa-media-block tablet:grid-col-3">
    <a class="usa-button btn-primary margin-bottom-2" href="{{ site.baseurl }}/resources/#subject=*&role=*&status=*">Reset Filter</a>

    <nav id="filter" class="filters">
        <h2 class="filter-title font-sans-sm">Filter by category</h2>
        <ul class="filter-list" data-filter-group="subject">
            <li><a aria-label="Filter by type: Policy" role="checkbox" href="javascript:void(0)" data-filter=".p-filter">Policy</a></li>
            <li><a aria-label="Filter by type: Acquisition Best Practices" role="checkbox" href="javascript:void(0)" data-filter=".acquisition-best-practices">Acquisition Best Practices</a></li>
            <li><a aria-label="Filter by type: Small Business" role="checkbox" href="javascript:void(0)" data-filter=".small-business">Small Business</a></li>
            <li><a aria-label="Filter by type: Market Intelligence" role="checkbox" href="javascript:void(0)" data-filter=".market-intelligence">Market Intelligence</a></li>
            <li><a aria-label="Filter by type: Emerging Technology" role="checkbox" href="javascript:void(0)" data-filter=".emerging-technology">Emerging Technology</a></li>
            <li><a aria-label="Filter by type: Cybersecurity" role="checkbox" href="javascript:void(0)" data-filter=".cybersecurity">Cybersecurity</a></li>
            <li><a aria-label="Filter by type: Vehicle Solutions" role="checkbox" href="javascript:void(0)" data-filter=".vehicle-solutions">Vehicle Solutions</a></li>
            <li><a aria-label="Filter by type: ITVMO General" role="checkbox" href="javascript:void(0)" data-filter=".itvmo-general">ITVMO General</a></li>
        </ul>
        <!-- <h2 class="filter-title font-sans-sm">Branding Offering</h2>
        <ul class="filter-list" data-filter-group="subject">
            <li><a aria-label="Filter by type: Govwide IT Category Management" role="checkbox" href="javascript:void(0)" data-filter=".govwide-it-category-management">Govwide IT Category Management</a></li>
            <li><a aria-label="Filter by type: OEM Vendor Initiatives" role="checkbox" href="javascript:void(0)" data-filter=".oem-vendor-initiatives">OEM Vendor Initiatives</a></li>
            <li><a aria-label="Filter by type: IT Best-in-Class Vehicles" role="checkbox" href="javascript:void(0)" data-filter=".it-best-in-class-vehicles">IT Best-in-Class Vehicles</a></li>
            <li><a aria-label="Filter by type: Governmentwide Strategic Solutions" role="checkbox" href="javascript:void(0)" data-filter=".governmentwide-strategic-solutions">Governmentwide Strategic Solutions</a></li>
            <li><a aria-label="Filter by type: IT Buyers Community of Practice" role="checkbox" href="javascript:void(0)" data-filter=".it-buyers-community-of-practice">IT Buyers Community of Practice</a></li>
            <li><a aria-label="Filter by type: Leading Edge Technologies" role="checkbox" href="javascript:void(0)" data-filter=".leading-edge-technologies">Leading Edge Technologies</a></li>
            <li><a aria-label="Filter by type: Cyber Category" role="checkbox" href="javascript:void(0)" data-filter=".cyber-category">Cyber Category</a></li>
            <li><a aria-label="Filter by type: Supply Chain Risk Management" role="checkbox" href="javascript:void(0)" data-filter=".supply-chain-risk-management">Supply Chain Risk Management</a></li>
            <li><a aria-label="Filter by type: Technology Life Cycle Framework" role="checkbox" href="javascript:void(0)" data-filter=".technology-life-cycle-framework">Technology Life Cycle Framework</a></li>
            <li><a aria-label="Filter by type: Contract Data Elements" role="checkbox" href="javascript:void(0)" data-filter=".contract-data-elements">Contract Data Elements</a></li>
            <li><a aria-label="Filter by type: Market Intelligence" role="checkbox" href="javascript:void(0)" data-filter=".market-intelligence">Market Intelligence</a></li>
            <li><a aria-label="Filter by type: Small Business Utilization/Equity" role="checkbox" href="javascript:void(0)" data-filter=".small-business-util">Small Business Utilization/Equity</a></li>
                        <li><a aria-label="Filter by type: N/A" role="checkbox" href="javascript:void(0)" data-filter=".na-branded-offering">N/A.</a></li>
        </ul>
        <h2 class="filter-title font-sans-sm">Audience</h2>
        <ul class="filter-list" data-filter-group="subject">
            <li><a aria-label="Filter by type: For contracting officers" role="checkbox" href="javascript:void(0)" data-filter=".for-contracting-officers">For contracting officers</a></li>
            <li><a aria-label="Filter by type: For program managers" role="checkbox" href="javascript:void(0)" data-filter=".for-program-managers">For program managers</a></li>
            <li><a aria-label="Filter by type: For information security officials " role="checkbox" href="javascript:void(0)" data-filter=".for-info-security-officials">For information security officials </a></li>
            <li><a aria-label="Filter by type: For suppliers" role="checkbox" href="javascript:void(0)" data-filter=".for-suppliers">For suppliers</a></li>
            <li><a aria-label="Filter by type: For small businesses" role="checkbox" href="javascript:void(0)" data-filter=".for-small-businesses">For small businesses</a></li>
            <li><a aria-label="Filter by type: N/A" role="checkbox" href="javascript:void(0)" data-filter=".na-audience">N/A.</a></li>
        </ul> -->
    </nav>
</div>