<!--********Generates resource catalog items. Individual cards live in the in the _resources folder**************-->
<div class="overlay" id="custom-overlay"></div>
<section id="page-announcements">
  <div class="announcement">
    <div class="announcement-image">
      <img class="resource-image" src="{{site.baseurl}}/assets/images/icons/noticed.svg" alt="Notice icon">
    </div>
    <div class="announcement-info">
      <h2>Don’t see what you are looking for?</h2>
      <p>If you are unable to find the information you are looking for please <a href="{{site.baseurl}}/contact-us-contribute/?tabName=contribute-header">Contribute</a>. For any other questions or help please <a href="{{site.baseurl}}/contact-us-contribute/?tabName=contact-us-header">Contact us</a>.</p>
   </div>
  </div>
</section>
<div id="resources" data-sitebase="{{site.baseurl}}">
  <div class="page-data">
    {% for resources in site.resources %}
    <div
      class="raw-resource-data"
      data-url="{{resources.url-link}}"
      data-type="{{resources.type}}"
      data-gov-only="{{resources.gov-only}}"
      data-is-external="{{resources.is-external}}"
      data-filter="{{resources.filter}}"
      data-branded-offerings="{{resources.branded-offerings}}"
      data-audience="{{resources.audience}}"
      data-publication-date="{{resources.publication-date}}"
      data-reading-time="{{resources.reading-time}}"
      data-resource-type="{{resources.resource-type}}"
    >
      <p>{{resources.title}}</p>
      <p>{{resources.description}}</p>
    </div>
    {% endfor %}
  </div>
  <a
    tabindex="0"
    aria-label="Open the filters menu button"
    id="open-filters"
    onclick="openFacetedNav()"
    onkeydown="openFacetedNavKey(event)"
    >Filters<img src="{{site.baseurl}}/assets/images/icons/filter.svg"
  /></a>
  <div id="faceted-nav">
    <div id="close-faceted-nav-div">
      <a
        href="javascript:void(0)"
        aria-label="Close the filters menu button"
        class="closebtn"
        onclick="closeFacetedNav()"
        >Close</a
      >
    </div>
    <div id="facets">
      <div>
        <div class="clear-button">
          <p>Filters</p>
          <button id="clear-all">Clear x</button>
        </div>
      </div>
      <div class="facet">
        <button
          class="facet-dropdown"
          aria-controls="facet_1"
          onclick="displayDropdownContent(this)"
        >
          <div class="facet-title-count">
            <h3>Topic Area</h3>
            <p class="checked-count"></p>
          </div>
          <img
            class="dropdown-arrow"
            alt="dropdown arrow"
            src="{{site.baseurl}}/assets/images/icons/arrow-down.svg"
          />
        </button>
        <div class="facet-list facet-list-active" id="facet_1">
          <ul class="facet-options" id="topic-area">
            <li>
              <input
                tabindex="0"
                type="checkbox"
                id="check1"
                value="p-filter"
              /><label for="check1">Policy</label>
            </li>
            <li>
              <input
                tabindex="0"
                type="checkbox"
                id="check2"
                value="acquisition-best-practices"
              /><label for="check2">Acquisition Best Practices</label>
            </li>
            <li>
              <input
                tabindex="0"
                type="checkbox"
                id="check3"
                value="small-business"
              /><label for="check3">Small Business</label>
            </li>
            <li>
              <input
                tabindex="0"
                type="checkbox"
                id="check4"
                value="market-intelligence"
              /><label for="check4">Market Intelligence</label>
            </li>
            <li>
              <input
                tabindex="0"
                type="checkbox"
                id="check5"
                value="technology"
              /><label for="check5">Technology</label>
            </li>
            <li>
              <input
                tabindex="0"
                type="checkbox"
                id="check6"
                value="contract-solutions"
              /><label for="check6">Contract Solutions</label>
            </li>
            <li>
              <input
                tabindex="0"
                type="checkbox"
                id="check7"
                value="itvmo-general"
              /><label for="check7">ITVMO General</label>
            </li>
          </ul>
        </div>
      </div>
      <div class="facet">
        <button
          class="facet-dropdown"
          aria-controls="facet_2"
          onclick="displayDropdownContent(this)"
        >
          <div class="facet-title-count">
            <h3>Audience</h3>
            <p class="checked-count"></p>
          </div>
          <img
            class="dropdown-arrow"
            alt="dropdown arrow"
            src="{{site.baseurl}}/assets/images/icons/arrow-down.svg"
          />
        </button>
        <div class="facet-list" id="facet_2">
          <ul class="facet-options" id="audience">
            <li>
              <input
                tabindex="-1"
                type="checkbox"
                id="check8"
                value="contracts-acquisitions"
              /><label for="check8">Contracts/Acquisitions</label>
            </li>
            <li>
              <input
                tabindex="-1"
                type="checkbox"
                id="check9"
                value="program-operations"
              /><label for="check9">Program/Operations</label>
            </li>
            <li>
              <input
                tabindex="-1"
                type="checkbox"
                id="check10"
                value="security-compliance"
              /><label for="check10">Security/Compliance</label>
            </li>
            <li>
              <input
                tabindex="-1"
                type="checkbox"
                id="check11"
                value="industry-all-businesses"
              /><label for="check11">Industry (All Businesses)</label>
            </li>
          </ul>
        </div>
      </div>
      <div class="facet">
        <button
          class="facet-dropdown"
          aria-controls="facet_3"
          onclick="displayDropdownContent(this)"
        >
          <div class="facet-title-count">
            <h3>Resource Type</h3>
            <p class="checked-count"></p>
          </div>
          <img
            class="dropdown-arrow"
            alt="dropdown arrow"
            src="{{site.baseurl}}/assets/images/icons/arrow-down.svg"
          />
        </button>
        <div class="facet-list" id="facet_3">
          <ul class="facet-options" id="resource-type">
            <li>
              <input
                tabindex="-1"
                type="checkbox"
                id="check12"
                value="guidance"
              /><label for="check12">Guidance</label>
            </li>
            <li>
              <input
                tabindex="-1"
                type="checkbox"
                id="check13"
                value="use-case"
              /><label for="check13">Use Case</label>
            </li>
            <li>
              <input
                tabindex="-1"
                type="checkbox"
                id="check14"
                value="report"
              /><label for="check14">Report</label>
            </li>
            <li>
              <input
                tabindex="-1"
                type="checkbox"
                id="check15"
                value="information-slick"
              /><label for="check15">Information Slick</label>
            </li>
            <li>
              <input
                tabindex="-1"
                type="checkbox"
                id="check16"
                value="tool"
              /><label for="check16">Tool</label>
            </li>
          </ul>
        </div>
      </div>
      <div class="facet">
        <button
          class="facet-dropdown"
          aria-controls="facet_4"
          onclick="displayDropdownContent(this)"
        >
          <div class="facet-title-count">
            <h3>Source</h3>
            <p class="checked-count"></p>
          </div>
          <img
            class="dropdown-arrow"
            alt="dropdown arrow"
            src="{{site.baseurl}}/assets/images/icons/arrow-down.svg"
          />
        </button>
        <div class="facet-list" id="facet_4">
          <ul class="facet-options" id="resource-source">
            <li>
              <input
                tabindex="-1"
                type="checkbox"
                id="check17"
                value="false"
              /><label for="check17">Public Resource</label>
            </li>
            <li>
              <input
                tabindex="-1"
                type="checkbox"
                id="check18"
                value="true"
              /><label for="check18">Goverment/Military Access Only</label>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="search-resource-cards">
    <div class="search-bar">
      <input type="text" id="search-input" placeholder="Search Resources" />
    </div>
    <div class="resource-cards" id="filtered-results">
      <!-- Filtered results will be displayed here -->
    </div>
  </div>
</div>
<p>
  <strong>Don’t see what you’re looking for?</strong><br />
  We are constantly updating our resources but if you can’t find what you’re
  looking for or would like to work with us on developing artifacts, white
  papers, templates, or other resources, please reach out to us by email at
  <a href="mailto:itvmo@gsa.gov">itvmo@gsa.gov</a>.
</p>
