<section id="inner-page-tabs">
    <div class="tabcontent" style="display: flex;">
       <div class="contents-no-side-nav">
         <div>
            <ul class="usa-card-group">
              <li id="acquisition-policy-and-it-category" class="usa-card usa-card--flag service-card">
                <div class="usa-card__container">
                  <div class="usa-card__media serviceCard">
                    <div class="leftPort">
                      <a target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/services/acquisition-policy-and-it-category/">
                        <h2 class="usa-card__heading">Acquisition Policy & IT Category</h2>
                        <img class="imgContSVG padding-0"
                        src="{{site.baseurl}}/assets/images/icons/page_icons/acquisition-policy-and-it-category.svg"
                        alt="Acquisition Policy & IT Category logo"
                      />
                      </a>
                    </div>
                  </div>
          
                  <div class="usa-card__body">
                    <div class="resCardSec"> 
                        <div>
                           <img class="imgContSVG padding-0"
                           src="{{site.baseurl}}/assets/images/icons/page_icons/acquisition-policy-and-it-category.svg"
                           alt="Acquisition Policy & IT Category logo"
                        />
                        </div>
                        <a target="_blank" rel="noreferrer noopener" class="resHeading" href="{{site.baseurl}}/services/acquisition-policy-and-it-category/">
                           <h2 class="usa-card__heading">Acquisition Policy & IT Category</h2>
                        </a>
                    </div>
                    <h3 class="cardHeading resTitle">Overview</h3>
                    <p class="cardBody">
                        The ITVMO as part of the larger Federal Category Management Framework, works in tandem with the Governmentwide IT Category Program to drive down federal IT costs through compliance, spend under management, and cost avoidance.
                    </p>
                  </div>
                  <h3 class="cardHeading linkSec service-link">ITVMO Solutions and Services</h3>
                  <a  target="_blank" rel="noreferrer noopener" class="noDec service-link" href="{{site.baseurl}}/services/acquisition-policy-and-it-category/?tabName=policy-header">
                    <div class="serviceLinks">Executive Order Reference Cards</div>
                  </a>
                  <a target="_blank" rel="noreferrer noopener" class="noDec service-link" href="{{site.baseurl}}/services/acquisition-policy-and-it-category/?tabName=it-category-management-header&sideNav=sn-gcam">
                    <div class="serviceLinks">Governmentwide IT Cost Avoidance Methodology</div>
                  </a>
                  <a target="_blank" rel="noreferrer noopener" class="noDec service-link" href="{{site.baseurl}}/it-vehicles/?tabName=cyber-buying-header">
                    <div class="serviceLinks">Cyber Buying Solutions</div>
                  </a>
                  <a target="_blank" rel="noreferrer noopener" class="noDec service-link margin-bottom-3" href="{{site.baseurl}}/it-vehicles/?tabName=end-user-buying-header">
                    <div class="serviceLinks">Governmentwide Strategic Solutions for Desktops and Laptops</div>
                  </a>
                </div>
              </li>

              <li id="it-buyers-support" class="usa-card usa-card--flag service-card">
                <div class="usa-card__container">
                  <div class="usa-card__media serviceCard">
                     <div class="leftPort">
                        <a target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/services/it-buyers-training-and-support/">
                          <h2 class="usa-card__heading">IT Buyers Training & Support</h2>
                          <img class="imgContSVG padding-0"
                          src="{{site.baseurl}}/assets/images/icons/page_icons/it-buyers-support.svg"
                          alt="IT Buyers Training & Support logo"
                        />
                        </a>
                      </div>
                  </div>
          
                  <div class="usa-card__body">
                    <div class="resCardSec"> 
                        <div>
                           <img class="imgContSVG padding-0"
                           src="{{site.baseurl}}/assets/images/icons/page_icons/it-buyers-support.svg"
                           alt="IT Buyers Training & Support"
                        />
                        </div>
                        <a target="_blank" rel="noreferrer noopener" class="resHeading" href="{{site.baseurl}}/services/it-buyers-training-and-support/">
                           <h2 class="usa-card__heading">IT Buyers Training & Support</h2>
                        </a>
                    </div>
                    <h3 class="cardHeading resTitle">Overview</h3>
                    <p class="cardBody">
                     The ITVMO offers a mix of accredited and general session forums for educational training and upskilling our IT and acquisition workforce.
                    </p>
                  </div>
                    <h3 class="cardHeading linkSec service-link">ITVMO Solutions and Services</h3>
                    <a target="_blank" rel="noreferrer noopener" class="noDec service-link" href="{{site.baseurl}}/services/it-buyers-training-and-support/?tabName=it-buyers-training-and-support-header&sideNav=sn-aks">
                      <div class="serviceLinks">
                        Agency Knowledge Sharing
                      </div>
                    </a>
                    <a target="_blank" rel="noreferrer noopener" class="noDec service-link" href="{{site.baseurl}}/services/it-buyers-training-and-support/?tabName=it-buyers-toolkit-header&sideNav=">
                      <div class="serviceLinks">
                        IT Buyers Toolkit
                      </div>
                    </a>
                    <a target="_blank" rel="noreferrer noopener" class="noDec service-link  margin-bottom-3" href="{{site.baseurl}}/services/it-buyers-training-and-support/?tabName=it-buyers-cop-header&sideNav=">
                      <div class="serviceLinks">
                        IT Buyers Community of Practice 
                      </div>
                    </a>
                </div>
              </li>
              <li id="market-and-it-data-intelligence" class="usa-card usa-card--flag service-card">
               <div class="usa-card__container">
                 <div class="usa-card__media serviceCard">
                    <div class="leftPort">
                       <a target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/services/market-and-it-data-intelligence/">
                         <h2 class="usa-card__heading">Market & IT Data Intelligence</h2>
                         <img class="imgContSVG padding-0"
                         src="{{site.baseurl}}/assets/images/icons/page_icons/market-and-it-data-intelligence.svg"
                         alt="Market & IT Data Intelligence logo"
                       />
                       </a>
                     </div>
                 </div>
         
                 <div class="usa-card__body">
                   <div class="resCardSec"> 
                       <div>
                          <img class="imgContSVG padding-0"
                          src="{{site.baseurl}}/assets/images/icons/page_icons/market-and-it-data-intelligence.svg"
                          alt="Market & IT Data Intelligence"
                       />
                       </div>
                       <a target="_blank" rel="noreferrer noopener" class="resHeading" href="{{site.baseurl}}/services/market-and-it-data-intelligence/">
                          <h2 class="usa-card__heading">Market & IT Data Intelligence</h2>
                       </a>
                   </div>
                   <h3 class="cardHeading resTitle">Overview</h3>
                   <p class="cardBody">
                     The ITVMO combines collections of data to form predictive narratives and increases use of disparate data through guides and how-to aids to better IT acquisition decision-making, governmentwide.
                   </p>
                 </div>
                   <h3 class="cardHeading linkSec service-link">ITVMO Solutions and Services</h3>
                   <a target="_blank" rel="noreferrer noopener" class="noDec service-link" href="{{site.baseurl}}/services/market-and-it-data-intelligence/?tabName=market-acquisition-research-header&sideNav=">
                     <div class="serviceLinks">ITVMO Market Research & Studies</div>
                   </a>
                   <a target="_blank" rel="noreferrer noopener" class="noDec service-link" href="{{site.baseurl}}/services/market-and-it-data-intelligence/?tabName=contract-data-elements-header&sideNav=">
                     <div class="serviceLinks">Contract Data Elements Guide</div>
                   </a>
                   <a target="_blank" rel="noreferrer noopener" class="noDec service-link" href="{{site.baseurl}}/services/market-and-it-data-intelligence/?tabName=data-tools-header&sideNav=">
                     <div class="serviceLinks">Federal Data IT Acquisition & Spend Tools: How-To’s</div>
                   </a>
                   <a target="_blank" rel="noreferrer noopener" class="noDec service-link  margin-bottom-3" href="{{site.baseurl}}/services/market-and-it-data-intelligence/?tabName=procurated-pilot-header&sideNav=">
                     <div class="serviceLinks">Procurated Pilot</div>
                   </a>
               </div>
             </li>
             <li id="oem-initiatives" class="usa-card usa-card--flag service-card">
               <div class="usa-card__container">
                 <div class="usa-card__media serviceCard">
                    <div class="leftPort">
                       <a target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/services/oem/">
                         <h2 class="usa-card__heading">OEM & Acquisition Initiatives</h2>
                         <img class="imgContSVG padding-0"
                         src="{{site.baseurl}}/assets/images/icons/page_icons/oem-initiatives.svg"
                         alt="OEM & Acquisition Initiatives logo"
                       />
                       </a>
                     </div>
                 </div>
         
                 <div class="usa-card__body">
                   <div class="resCardSec"> 
                       <div>
                          <img class="imgContSVG padding-0"
                          src="{{site.baseurl}}/assets/images/icons/page_icons/oem-initiatives.svg"
                          alt="OEM & Acquisition Initiatives"
                       />
                       </div>
                       <a target="_blank" rel="noreferrer noopener" class="resHeading" href="{{site.baseurl}}/services/oem/">
                          <h2 class="usa-card__heading">OEM & Acquisition Initiatives</h2>
                       </a>
                   </div>
                   <h3 class="cardHeading resTitle">Overview</h3>
                   <p class="cardBody">
                     The ITVMO provides thought leadership, consulting, and research services in IT policy, acquisitions, technology adoption, and data analytics to inform agency acquisition strategies and increase interoperability through modernization across government.
                   </p>
                 </div>
                   <h3 class="cardHeading linkSec service-link">ITVMO Solutions and Services</h3>
                   <a target="_blank" rel="noreferrer noopener" class="noDec service-link" href="{{site.baseurl}}/services/oem/?tabName=contract-review-header&sideNav=">
                     <div class="serviceLinks">Contract Review Services</div>
                   </a>
                   <a target="_blank" rel="noreferrer noopener" class="noDec service-link" href="{{site.baseurl}}/services/oem/?tabName=gas-header&sideNav=">
                     <div class="serviceLinks">Acquisition Policy Guidance & Strategies</div>
                   </a>
                   <a target="_blank" rel="noreferrer noopener" class="noDec service-link" href="{{site.baseurl}}/services/oem/?tabName=oem-assessments-header&sideNav=">
                     <div class="serviceLinks">OEM Assessments & Buyers Guides</div>
                   </a>
                   <a target="_blank" rel="noreferrer noopener" class="noDec service-link  margin-bottom-3" href="{{site.baseurl}}/services/oem/?tabName=idc-header&sideNav=">
                     <div class="serviceLinks">Integrated Data Collection (IDC) Reporting</div>
                   </a>
               </div>
             </li>
             <li id="small-business" class="usa-card usa-card--flag service-card">
               <div class="usa-card__container">
                 <div class="usa-card__media serviceCard">
                    <div class="leftPort">
                       <a target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/services/small-business-support/">
                         <h2 class="usa-card__heading">Small Business Support</h2>
                         <img class="imgContSVG padding-0"
                         src="{{site.baseurl}}/assets/images/icons/page_icons/small-business.svg"
                         alt="Small Business Support logo"
                       />
                       </a>
                     </div>
                 </div>
         
                 <div class="usa-card__body">
                   <div class="resCardSec"> 
                       <div>
                          <img class="imgContSVG padding-0"
                          src="{{site.baseurl}}/assets/images/icons/page_icons/small-business.svg"
                          alt="Small Business Support"
                       />
                       </div>
                       <a target="_blank" rel="noreferrer noopener" class="resHeading" href="{{site.baseurl}}/services/small-business-support/">
                          <h2 class="usa-card__heading">Small Business Support</h2>
                       </a>
                   </div>
                   <h3 class="cardHeading resTitle">Overview</h3>
                   <p class="cardBody">
                     The ITVMO boosts small business utilization and participation in the Federal IT marketplace by promoting best practices to improve small businesses access to government contracting and agency identification of where to use small businesses to achieve their mission goals.
                   </p>
                 </div>
                   <h3 class="cardHeading linkSec service-link">ITVMO Solutions and Services</h3>
                   <a target="_blank" rel="noreferrer noopener" class="noDec service-link" href="{{site.baseurl}}/events/?tabName=past-events-header&sideNav=">
                     <div class="serviceLinks">Quarterly Small Business Events</div>
                   </a>
                   <a target="_blank" rel="noreferrer noopener" class="noDec service-link  margin-bottom-3" href="{{site.baseurl}}/coming-soon">
                     <div class="serviceLinks">Small Business Portal (coming FY24)</div>
                   </a>
               </div>
             </li>
            </ul>
         </div>
         <p class="service-card service-end">
            Have a topic you would like to see or <a target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/contact-us-contribute?tabName=contribute-header">contribute?</a> Join us in building the largest federal acquisition intelligence repository
          </p>


      </div>
       <div class="content-nav">
          <div class="nav-list">
             <h3>On this Tab</h3>
             <a id="sn-acquisition-policy-and-it-category" class="page-nav page-nav-active" href="#acquisition-policy-and-it-category" onclick="return removeTabContent(this)">Acquisition Policy & IT Category</a>
             <a id="sn-it-buyers-support" class="page-nav " href="#it-buyers-support" onclick="return removeTabContent(this)">IT Buyers Training & Support</a>
             <a id="sn-market-and-it-data-intelligence" class="page-nav " href="#market-and-it-data-intelligence" onclick="return removeTabContent(this)">Market & IT Data Intelligence</a>
             <a id="sn-oem-initiatives" class="page-nav " href="#oem-initiatives" onclick="return removeTabContent(this)">OEM & Acquisition Initiatives</a>
             <a id="sn-small-business" class="page-nav " href="#small-business" onclick="return removeTabContent(this)">Small Business Support</a>
          </div>
       </div>
    </div>
  </section>