<section id="inner-page-tabs">
    <div id="small-business" class="tabcontent" style="display: flex;">
       <div class="contents padding-bottom-5">
          <h3 id="small-business-overview" class="topic-heading">
            Small Business Support
          </h3>
          <h3 class="sub-topic-heading">
             Overview
          </h3>
          <p class="tab-p">
            The ITVMO works to provide actionable information to small businesses, contract vehicles, and agencies on how small businesses can meet the sophisticated and emerging information technology needs of the federal government.  Through speakers, web content, data analysis, and white papers, the ITVMO offers practical guidance to educate small businesses, agencies, and policymakers.
          </p>
          <div class="bulletSections">
            <div class="topLine"></div>
            <ul class="experiences">
               <li class="bulletText"><b>Engaging with <u>industry groups</u> to develop sharable content to support successful acquisition opportunities for small businesses.</b> </li>
               <li class="bulletText"><b>Supporting and working with <u>agencies</u> to solve common challenges and identify opportunities for small business acquisitions.</b> </li>
               <li class="bulletText"><b>Developing data analysis relevant to <u>policy makers</u> supporting market equity and small business needs.</b> </li>
            </ul>
            <p class="tab-p">
                <b>
                    Did you know that the ITVMO has a small business liaison? Email us at <a href="mailto:ITVMO@gsa.gov?subject=Small Business">ITVMO@gsa.gov</a>.
                </b>
                Whether you are a small business or looking to further utilize small businesses to meet your agency mission needs -- email us today!
            </p>
            <p class="tab-p">
                The ITVMO is continuously working with small business federal and industry partners to organize and host small business focused educational events. Check the <a href="{{site.baseurl}}/events"><b>Events page</b></a> for upcoming small business engagement events.
            </p>
         </div>
          <h3 id="sbcs" class="sub-topic-heading">
            Small Business Contract Support
          </h3>
          <div class="links-list">
            <ul class="links-with-descriptions">
               <li class="link-with-description">
                  <a target="_blank" rel="noreferrer noopener" href="https://www.sba.gov/" tabindex="0">
                     <p class="link-heading">
                        <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                        Small Business Administration (SBA)
                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                     </p>
                     <p class="link-description">
                        The SBA helps Americans start, grow, and build resilient businesses. SBA was created in 1953 as an independent agency of the federal government to aid, counsel, assist and protect the interests of small business concerns; preserve free competitive enterprise; and maintain and strengthen the overall economy of our nation. SBA reviews Congressional legislation and testifies on behalf of small businesses. It assesses the impact of regulatory burden on small businesses.
                     </p>
                  </a>
               </li>
               <li class="link-with-description">
                  <a target="_blank" rel="noreferrer noopener" href="https://www.mbda.gov/" tabindex="0">
                     <p class="link-heading">
                        <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                        Minority Business Development Agency (MBDA)
                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                     </p>
                     <p class="link-description">
                        The U.S. Department of Commerce, Minority Business Development Agency (MBDA) is the only federal agency solely dedicated to the growth and global competitiveness of minority business enterprises.
                     </p>
                  </a>
               </li>
               <li class="link-with-description">
                  <a target="_blank" rel="noreferrer noopener" href="https://hallways.cap.gsa.gov/app/#/gateway/federal-osdbu-directors-interagency-council" tabindex="0">
                     <p class="link-heading">
                        <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                        Federal Office of Small and Disadvantaged Business Utilization Directors Interagency Council (OSDBU Council)
                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                     </p>
                     <p class="link-description">
                        OSDBU Council is an informal organization of Federal small business program officials that exchanges and discusses information on acquisition methods, issues and strategies; small business program initiatives and processes; and small business related outreach events. This interaction enables respective agencies to increase their utilization of small businesses as prime and subcontractors to meet their annual requirements for  goods and services.
                     </p>
                  </a>
               </li>
               <li class="link-with-description">
                  <a target="_blank" rel="noreferrer noopener" href="https://www.sbir.gov/" tabindex="0">
                     <p class="link-heading">
                        <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                        Small Business Innovation Research Program (SBIR)
                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                     </p>
                     <p class="link-description">
                        SBIR and Small Business Technology Transfer (STTR) programs are highly competitive programs that encourage domestic small businesses to engage in Federal Research/Research and Development (R/R&D) with the potential for commercialization.
                     </p>
                  </a>
               </li>
               <li class="link-with-description">
                  <a target="_blank" rel="noreferrer noopener" href="https://www.govloans.gov/loans/equity-investment-small-business-investment-company-(sbic)-program/" tabindex="0">
                     <p class="link-heading">
                        <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                        SBA’s Small Business Investment Company (SBIC) program
                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                     </p>
                     <p class="link-description">
                        seeks to stimulate and supplement the flow of private equity capital and long-term loan funds to small businesses, which small business concerns need for the sound financing of their business operations and for their growth, expansion, and modernization when such capital is not available in adequate supply.
                     </p>
                  </a>
               </li>
               <li class="link-with-description">
                  <a target="_blank" rel="noreferrer noopener" href="https://sam.gov/content/home" tabindex="0">
                     <p class="link-heading">
                        <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                        System for Award Management (SAM)
                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                     </p>
                     <p class="link-description">
                        Register to do business with the U.S. Government. Update, renew, or check the status of your entity registration.
                     </p>
                  </a>
               </li>
            </ul>
         </div>
          <h3 id="aparbr" class="sub-topic-heading">
            Agency Office of Small and Disadvantaged Business Utilization (OSDBU) Programs and Related Small Business Resources
          </h3>
          <div class="links-list">
            <ul class="links-with-descriptions">
               <li class="link-with-description">
                  <a target="_blank" rel="noreferrer noopener" href="https://www.usaid.gov/about-us/organization/office-small-and-disadvantaged-business-utilization" tabindex="0">
                     <p class="link-heading">
                        <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                        Agency for International Development (USAID)
                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                     </p>
                     <p class="link-description">
                        The Office of Small and Disadvantaged Business Utilization (OSDBU) is responsible for monitoring USAID’s implementation and execution of the small business programs and advising the Administrator and senior leadership.
                     </p>
                  </a>
               </li>
               <li class="link-with-description">
                  <a target="_blank" rel="noreferrer noopener" href="https://www.consumerfinance.gov/about-us/small-business-lending/additional-resources/" tabindex="0">
                     <p class="link-heading">
                        <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                        Consumer Financial Protection Bureau (CFPB)
                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                     </p>
                     <p class="link-description">
                        The CFPB works to help small businesses access the credit they need and deserve by increasing awareness in the small business lending marketplace. Visit this page for added agency resources.
                     </p>
                  </a>
               </li>
               <li class="link-with-description">
                  <a target="_blank" rel="noreferrer noopener" href="https://www.commerce.gov/bureaus-and-offices/os/cfo-asa/small-and-disadvantaged-business-utilization" tabindex="0">
                     <p class="link-heading">
                        <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                        Department of Commerce (DOC)
                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                     </p>
                     <p class="link-description">
                        The Office of Small and Disadvantaged Business Utilization (OSDBU) is an advocacy and advisory office responsible for promoting the use of small, small disadvantaged, 8(a), women-owned, veteran-owned, service-disabled veteran-owned, and HUBZone small businesses within the U.S. Department of Commerce's acquisition process. This involves promoting small business prime and subcontracting opportunities in accordance with Federal laws, regulations, and policies and the utilization of products from the National Industries for the Blind and services provided by SourceAmerica.
                     </p>
                  </a>
               </li>
               <li class="link-with-description">
                  <a target="_blank" rel="noreferrer noopener" href="https://business.defense.gov/" tabindex="0">
                     <p class="link-heading">
                        <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                        Department of Defense (DoD)
                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                     </p>
                     <p class="link-description">
                        The DoD’s Office of Small Business Programs maximizes opportunities for small businesses to contribute to national security by providing combat power for our troops and economic power for our nation.
                     </p>
                  </a>
               </li>
               <li class="link-with-description">
                  <a target="_blank" rel="noreferrer noopener" href="https://www2.ed.gov/about/offices/list/ofo/osdbu/index.html" tabindex="0">
                     <p class="link-heading">
                        <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                        Department of Education
                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                     </p>
                     <p class="link-description">
                        The Office of Small and Disadvantaged Business Utilization (OSDBU) works as an advocate to maximize participation of small businesses in Department contracts, through outreach to the business community and partnerships with Department offices to develop and implement acquisition strategies for achieving ED’s mission.
                     </p>
                  </a>
               </li>
               <li class="link-with-description">
                  <a target="_blank" rel="noreferrer noopener" href="https://www.energy.gov/osdbu/office-small-and-disadvantaged-business-utilization" tabindex="0">
                     <p class="link-heading">
                        <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                        Department of Energy (DoE)
                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                     </p>
                     <p class="link-description">
                        The Office of Small and Disadvantaged Business Utilization OSDBU maximizes contract opportunities for small businesses while advancing the Agency’s missions.  The office works to make it easier for small businesses to do business with the DOE, maximizing business opportunities and awards and improving socio-economic category performance.
                     </p>
                  </a>
               </li>
               <li class="link-with-description">
                  <a target="_blank" rel="noreferrer noopener" href="https://www.dhs.gov/small-business-assistance" tabindex="0">
                     <p class="link-heading">
                        <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                        Department of  Homeland Security (DHS)
                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                     </p>
                     <p class="link-description">
                        At DHS, we understand that small businesses are vital to our national strength. We ensure that small businesses have a fair opportunity to compete for our contracts.
                     </p>
                  </a>
               </li>
               <li class="link-with-description">
                  <a target="_blank" rel="noreferrer noopener" href="https://www.doi.gov/pmb/osdbu" tabindex="0">
                     <p class="link-heading">
                        <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                        Department of Interior (DOI)
                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                     </p>
                     <p class="link-description">
                        The Department of the Interior's Office of Small and Disadvantaged Business Utilization (OSDBU) advises the Secretary of the Interior on all matters related to small business and collaborates with leadership throughout the Department to maximize opportunities for small businesses in our acquisitions.  The OSDBU implements policies, procedures, and training programs for the Department to emphasize our commitment to contracting with small businesses. Our mission also includes outreach to small and disadvantaged business communities, including Indian economic enterprises, small disadvantaged, women-owned, veteran-owned, service disabled veteran owned, and small businesses located in historically underutilized business zones (HUBZone) areas.
                     </p>
                  </a>
               </li>
               <li class="link-with-description">
                  <a target="_blank" rel="noreferrer noopener" href="https://www.justice.gov/osdbu" tabindex="0">
                     <p class="link-heading">
                        <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                        Department of Justice (DoJ)
                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                     </p>
                     <p class="link-description">
                        The DoJ works to ensure that small businesses, including small, disadvantaged businesses, woman owned small businesses, service disabled veteran owned small businesses and HUBZone certified businesses have the maximum practicable opportunity to participate as prime contractors and subcontractors.
                     </p>
                  </a>
               </li>
               <li class="link-with-description">
                <a target="_blank" rel="noreferrer noopener" href="https://www.dol.gov/agencies/oasam/centers-offices/office-of-the-senior-procurement-executive/office-of-small-and-disadvantaged-business-utilization" tabindex="0">
                   <p class="link-heading">
                      <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                      Department of Labor (DoL)
                      <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                   </p>
                   <p class="link-description">
                      The Office of Small and Disadvantaged Business Utilization (OSDBU) administers the U.S. Department of Labor's responsibility to ensure procurement opportunities for small businesses, small, disadvantaged businesses, women-owned small businesses, HUBZone businesses, and businesses owned by service-disabled veterans.
                   </p>
                </a>
             </li>
               <li class="link-with-description">
                  <a target="_blank" rel="noreferrer noopener" href="https://www.state.gov/marketing-resources-doing-business-with-the-department-of-state/" tabindex="0">
                     <p class="link-heading">
                        <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                        Department of State
                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                     </p>
                     <p class="link-description">
                        How small businesses can do business with the Department of State. 
                     </p>
                  </a>
               </li>
               <li class="link-with-description">
                  <a target="_blank" rel="noreferrer noopener" href="https://www.transportation.gov/osdbu" tabindex="0">
                     <p class="link-heading">
                        <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                        Department of Transportation (USDOT)
                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                     </p>
                     <p class="link-description">
                        The United States Department of Transportation (USDOT), Office of Small and Disadvantaged Business Utilization’s (OSDBU) mission is to ensure Small Business policies and goals of the Secretary of Transportation are implemented in a fair, efficient and effective manner.
                     </p>
                  </a>
               </li>
               <li class="link-with-description">
                  <a target="_blank" rel="noreferrer noopener" href="https://www.epa.gov/resources-small-businesses" tabindex="0">
                     <p class="link-heading">
                        <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                        Environmental Protection Agency (EPA)
                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                     </p>
                     <p class="link-description">
                        The EPA Small Business Solutions and Opportunities (SBSO) team is responsible for the implementation of Section 15(k) of the Small Business Act to ensure that small businesses are afforded the maximum practicable opportunity to participate in EPA’s acquisitions.
                     </p>
                  </a>
               </li>
               <li class="link-with-description">
                  <a target="_blank" rel="noreferrer noopener" href="https://www.fdic.gov/resources/consumers/small-business-topics/index.html" tabindex="0">
                     <p class="link-heading">
                        <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                        Federal Deposit Insurance Corporation (FDIC)
                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                     </p>
                     <p class="link-description">
                        Small business ownership can help individuals and families nationwide achieve financial stability and build long-term wealth. Access to credit and participation in the banking system among existing or aspiring small businesses is vital to the success of communities and the broader economy. The FDIC offers a wide range of resources and tools to consumers and bankers that help plan, launch, manage and grow small business initiatives in their communities. The FDIC also supports small business lending through technical assistance, education, and access to government guaranteed loan programs.
                     </p>
                  </a>
               </li>
               <li class="link-with-description">
                  <a target="_blank" rel="noreferrer noopener" href="https://www.fema.gov/business-industry/doing-business/small-business" tabindex="0">
                     <p class="link-heading">
                        <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                        Federal Emergency Management Agency (FEMA)
                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                     </p>
                     <p class="link-description">
                        FEMA’s Small Business Program’s (SBP) mission is to assist small businesses in the pursuit of federal procurements. The SBP office actively engages with FEMA’s procurement personnel to ensure that small businesses have the maximum practicable opportunity to participate in contracts.
                     </p>
                  </a>
               </li>
               <li class="link-with-description">
                  <a target="_blank" rel="noreferrer noopener" href="https://www.gsa.gov/small-business/small-business-resources" tabindex="0">
                     <p class="link-heading">
                        <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                        General Services Administration (GSA)
                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                     </p>
                     <p class="link-description">
                        The resource page will help small businesses learn more about doing business with GSA, government contracting opportunities, and marketing your contract.
                     </p>
                  </a>
               </li>
               <li class="link-with-description">
                  <a target="_blank" rel="noreferrer noopener" href="https://www.hhs.gov/grants-contracts/small-business-support/index.html" tabindex="0">
                     <p class="link-heading">
                        <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                        Department of Health and Human Services (HHS)
                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                     </p>
                     <p class="link-description">
                        HHS’ Office of Small Disadvantaged Business Utilization (OSDBU) has the information and resources to guide your small business to support HHS.
                     </p>
                  </a>
               </li>
               <li class="link-with-description">
                  <a target="_blank" rel="noreferrer noopener" href="https://www.hud.gov/smallbusiness" tabindex="0">
                     <p class="link-heading">
                        <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                        Housing and Urban Development (HUD)
                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                     </p>
                     <p class="link-description">
                        The HUD OSDBU is responsible for ensuring that small businesses are treated fairly and that they have an opportunity to compete and be selected for a fair amount of the Agency's prime and subcontracting opportunities.
                     </p>
                  </a>
               </li>
               <li class="link-with-description">
                  <a target="_blank" rel="noreferrer noopener" href="https://www.nasa.gov/osbp" tabindex="0">
                     <p class="link-heading">
                        <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                        National Aeronautics and Space Administration (NASA)
                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                     </p>
                     <p class="link-description">
                        The mission of the NASA Office of Small Business Programs is to promote and integrate small businesses into the industrial base of contractors and subcontractors that support the future of space exploration, scientific discovery, and aeronautics research.
                     </p>
                  </a>
               </li>
               <li class="link-with-description">
                  <a target="_blank" rel="noreferrer noopener" href="https://www.nih.gov/about-nih/what-we-do/get-involved-nih/small-business-opportunities" tabindex="0">
                     <p class="link-heading">
                        <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                        National Institute of Health (NIH)
                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                     </p>
                     <p class="link-description">
                        If you're a small business interested in contracting at NIH, please start by reading the information provided by our parent Agency, the Department of Health and Human Services. 
                     </p>
                  </a>
               </li>
               <li class="link-with-description">
                  <a target="_blank" rel="noreferrer noopener" href="https://www.nsf.gov/funding/smallbusiness.jsp" tabindex="0">
                     <p class="link-heading">
                        <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                        National Science Foundation (NSF)
                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                     </p>
                     <p class="link-description">
                        The National Science Foundation (NSF) Office of Small and Disadvantaged Business Utilization (OSDBU) helps increase contract and subcontract awards to small and disadvantaged businesses and identifies potential businesses to support NSF. 
                     </p>
                  </a>
               </li>
               <li class="link-with-description">
                  <a target="_blank" rel="noreferrer noopener" href="https://www.nrc.gov/about-nrc/contracting/small-business.html" tabindex="0">
                     <p class="link-heading">
                        <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                        Nuclear Regulatory Commission (NRC)
                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                     </p>
                     <p class="link-description">
                        The U.S. Nuclear Regulatory Commission (NRC) is committed to ensuring that small businesses are afforded the maximum practicable prime and subcontract opportunities in support of agency mission operations. The Small Business Program takes the lead in this effort by serving the NRC and the business community by advocating for small businesses, including businesses owned by the disadvantaged, women, veterans, and service-disabled veterans, as well as companies located in Historically Underutilized Business Zones (HUBZones). 
                     </p>
                  </a>
               </li>
               <li class="link-with-description">
                  <a target="_blank" rel="noreferrer noopener" href="https://www.opm.gov/about-us/doing-business-with-opm/small-business-program/" tabindex="0">
                     <p class="link-heading">
                        <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                        Office of Personnel Management (OPM)
                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                     </p>
                     <p class="link-description">
                        OPM has established a world-class small business program at OPM by using the authorities of small business legislation to expedite the acquisition process in order to maximize the use of small businesses that provide the best value to OPM.
                     </p>
                  </a>
               </li>
               <li class="link-with-description">
                  <a target="_blank" rel="noreferrer noopener" href="https://www.ssa.gov/osdbu/" tabindex="0">
                     <p class="link-heading">
                        <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                        Social Security Administration
                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                     </p>
                     <p class="link-description">
                        The Social Security Administration (SSA), is committed to advancing the small business procurement program, by provide maximum practicable opportunities in SSA acquisitions to small business, veteran-owned small business, service-disabled veteran-owned small business, HUBZone small business, small disadvantaged business, and women-owned small business concerns.
                     </p>
                  </a>
               </li>
               <li class="link-with-description">
                  <a target="_blank" rel="noreferrer noopener" href="https://www.usda.gov/da/osdbu" tabindex="0">
                     <p class="link-heading">
                        <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                        U.S. Department of Agriculture (USDA)
                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                     </p>
                     <p class="link-description">
                        Provides maximum opportunities for small businesses to participate in USDA’s contracting process.
                     </p>
                  </a>
               </li>
               <li class="link-with-description">
                  <a target="_blank" rel="noreferrer noopener" href="https://home.treasury.gov/policy-issues/small-business-programs/small-and-disadvantaged-business-utilization/small-business-resources" tabindex="0">
                     <p class="link-heading">
                        <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                        U.S. Department of Treasury
                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                     </p>
                     <p class="link-description">
                        The following links are provided for reference and information. The Federal OSDBU Council does not endorse any non-government websites, companies, or applications—and cannot attest to the accuracy of the information provided by third-party websites or any other linked websites.U.S. 
                     </p>
                  </a>
               </li>
               <li class="link-with-description">
                  <a target="_blank" rel="noreferrer noopener" href="https://home.treasury.gov/policy-issues/small-business-programs/small-and-disadvantaged-business-utilization/small-business-resources" tabindex="0">
                     <p class="link-heading">
                        <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                        Veteran Affairs
                        <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
                     </p>
                     <p class="link-description">
                        The office of Small & Disadvantaged Business Utilization’s programs implement the requirements to aid, counsel, assist, and protect the interests of small and Veteran business concerns.
                     </p>
                  </a>
               </li>
            </ul>
         </div>
          <h3 id="sbd" class="sub-topic-heading">
            Small Business Data
          </h3>
          <a class="inner-page-link-description" target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/services/market-and-it-data-intelligence/">
            <img alt="Small Business icon" src="{{site.baseurl}}/assets/images/icons/page_icons/market-and-it-data-intelligence.svg">
            <div>
                <h2>
                    Market & IT Data Intelligence
                </h2>
                <p>
                    Agencies IT Buyers looking to boost their utilization of small business check out our Small Business Research
                </p>
            </div>
          </a>
          


      </div>
       <div class="content-nav">
          <div class="nav-list">
             <h3>On this Tab</h3>
             <a id="sn-small-business-overview" class="page-nav page-nav-active" href="#small-business-overview" onclick="return removeTabContent(this)">Overview</a>
             <a id="sn-sbcs" class="page-nav" href="#sbcs" onclick="return removeTabContent(this)">Small Business Contract Support</a>
             <a id="sn-aparbr" class="page-nav" href="#aparbr" onclick="return removeTabContent(this)">Agency (OSDBU) Programs and Related Small <br>Business Resources</a>
             <a id="sn-sbd" class="page-nav" href="#sbd" onclick="return removeTabContent(this)">Small Business Data</a>
          </div>
       </div>
    </div>
  </section>