{% comment %} 
This tagline will appear in your homepage
{% endcomment %}

<section class="grid-container usa-section usa-prose padding-bottom-5">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
      <a href="{{site.baseurl}}/how-can-we-help"><h2 class="font-heading-xl margin-top-0">How can we help your agency?</h2></a>
    </div>
    <div class="tablet:grid-col-8 usa-prose">
      The ITVMO serves as a trusted independent advisor and advocate to help agencies buy common IT goods and services in compliance with procurement laws.  As a one-stop shop, we can leverage governmentwide IT procurement data, conduct market research, and develop shared agency acquisition knowledge to support agencies in procurement decisions.
    </div>
  </div>
</section>