<section id="inner-page-tabs">
  <div id="contribute-dox" class="tabcontent" style="display: flex">
    <div class="contents padding-bottom-5">
      <h3 id="overview" class="sub-topic-heading">Overview</h3>
      <p class=" ">
        In May 2021, the Biden Administration issued an executive order aimed at enhancing the nation's cybersecurity. Despite being issued over a year and a half ago, the significance of this order remains paramount even today. 
      </p>
      <p class=" ">
        Executive Order (EO) 14028 mandates a significant shift in how the US federal government approaches cybersecurity. A key pillar of this initiative is the adoption of a Zero Trust security model.  
       </p>
       <p class=" ">
        Zero Trust is a security approach, with the core principle of Never trust, always verify."  It assumes no user, device, or service is inherently trustworthy, even if they're already inside the government network and every attempt to access data or systems requires rigorous verification, regardless of location or apparent origin.
       </p>
       <p class=" ">
        Zero Trust is a significant shift in how governments approach cybersecurity. It's a complex process, not a one-time fix. There is no single technology, product, or service that can achieve the goals of implementing a ZTA, it requires a multi-faceted approach. 
       </p>
      <h3 id="maturity-model" class="sub-topic-heading">CISA's Zero Trust Maturity Model Pillars</h3>
      <a tabindex="0" class="image-container" href="#mission-image" aria-label="Open our Missions image" aria-controls="mission-image" data-open-modal="" role="button">
        <img src="{{site.baseurl}}/assets/images/screenshot/zero-trust-maturity-model.png" alt="CISA's Zero Trust Maturity Model Pillars">
        <div class="image-overlay">
          <img src="{{site.baseurl}}/assets/images/icons/search-icon-white.svg" alt="search-icon" class="overlay-icon">
        </div>
      </a>
      <div
        class="usa-modal usa-modal-team-member usa-modal-bg-transparent" id="mission-image">
        <div class="usa-modal__content">
          <div class="usa-modal__main usa-modal-main-no-padding">
            <img src="{{site.baseurl}}/assets/images/screenshot/zero-trust-maturity-model.png" alt="CISA's Zero Trust Maturity Model Pillars">
          </div>
            <button
              type="button" class="usa-button usa-modal__close usa-modal-close-no-padding-right" aria-label="Close this window" data-close-modal
            >
              <img src="{{site.baseurl}}/assets/images/icons/exit-icon-white.svg" alt="Exit button" class="exit-button">
            </button>
        </div>
      </div>
      <p class=" ">
        Zero Trust principles become even more critical due to the interconnected nature of modern supply chains and the potential risks posed by third-party vendors, suppliers, and partners. Supply chain attacks, where adversaries target the weakest link in the supply chain to infiltrate a target organization, have become increasingly prevalent and damaging in recent years. Therefore  applying Zero Trust principles to the supply chain, organizations can mitigate the risks associated with third-party dependencies and enhance their resilience against supply chain attacks.
     </p>
      <div class="tab-divide-line end-content"></div>
      <h3 id="video-highlights" class="sub-topic-heading">Video Highlights</h3>
      <video class="video-container margin-top-2" controls>
        <source src="{{site.baseurl}}/assets/video/zero-trust-draft.mp4" type="video/mp4">
        <track label="English" kind="subtitles" srclang="en" src="{{site.baseurl}}/assets/video/captions/zero-trust-draft.vtt" default>
      </video>
      <div class="tab-divide-line end-content"></div>
      <h3 id="intended-takeaways" class="sub-topic-heading">Intended Takeaways</h3>
      <div class="bulletSections">
        <div class="topLine"></div>
          <ul class="experiences">
            <li class="bulletText"><b>Zero Trust is a security framework that assumes that threats can originate from both internal and external sources, and thus, trust should not be automatically granted to any entity.</b></li>
            <li class="bulletText"><b>Successfully implementing Zero Trust is a comprehensive approach that emphasizes continuous verification, strict access controls, and least privilege principles. </b> </li>
            <li class="bulletText"><b>By applying Zero Trust principles to the supply chain, organizations can mitigate the risks associated with third-party dependencies and enhance their resilience against supply chain attacks.</b> </li>
          </ul>
      </div>

      <div class="tab-divide-line end-content"></div>
      <h2 id="contributors" class="sub-topic-heading">Contributors and Partners</h2>
      <div class="tab-img-p">
        <img
          class="tab-img-p-image-small"
          src="{{site.baseurl}}/assets/images/person/rosa-underwood.svg"
          alt="Rosa Underwood profile image"
        />
        <div>
          <h3
            class="sub-topic-heading-blue sub-topic-heading-23 margin-bottom-0"
          >
          Rosa Underwood
          </h3>
          <p class=" ">
            Ms. Rosa Underwood is an IT Specialist in the IT Security Subcategory within Information Technology Category (ITC), Federal Acquisition Service (FAS), supporting the transition to a more modernized and resilient infrastructure. She also contributes to GSA initiatives for the adoption and integration of cybersecurity into the acquisitions process to help strengthen the resiliency of the Supply Chain, Government-wide. 
          </p>
        </div>
      </div>
      <div id="additional-resource" class="links-list">
        <h3 class="sub-topic-heading-blue sub-topic-heading-20 margin-bottom-0">
          Additional Resources
        </h3>
        <ul class="links-with-descriptions links-with-descriptions-row-gap-10 margin-top-1">
          <li class="link-with-description">
            <a target="_blank" rel="noreferrer noopener" href="https://www.whitehouse.gov/briefing-room/presidential-actions/2021/05/12/executive-order-on-improving-the-nations-cybersecurity/" tabindex="0">
               <p class="link-heading">
                  <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                  Executive Order on Improving the Nation’s Cybersecurity
                  <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
               </p>
            </a>
         </li>
         <li class="link-with-description">
            <a target="_blank" rel="noreferrer noopener" href="https://www.whitehouse.gov/wp-content/uploads/2022/01/M-22-09.pdf" tabindex="0">
               <p class="link-heading">
                  <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/pdf-icon.svg">
                  OMB’s Federal Zero Trust Strategy
                  <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
               </p>
            </a>
         </li>
         <li class="link-with-description">
            <a target="_blank" rel="noreferrer noopener" href="https://www.nist.gov/programs-projects/zero-trust-networks" tabindex="0">
               <p class="link-heading">
                  <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/link-icon.svg">
                  NIST Zero Trust Networks
                  <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
               </p>
            </a>
         </li>
         <li class="link-with-description">
            <a target="_blank" rel="noreferrer noopener" href="https://www.cisa.gov/sites/default/files/2023-04/zero_trust_maturity_model_v2_508.pdf" tabindex="0">
               <p class="link-heading">
                  <img class="link-icon" alt="Link icon" src="{{site.baseurl}}/assets/images/icons/pdf-icon.svg">
                  CISA Zero Trust Maturity Model
                  <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg">
               </p>
            </a>
         </li>
        </ul>
      </div>
      <div class="tab-divide-line end-content"></div>
      <h2 id="about-itvmo" class="sub-topic-heading">
        About ITVMO
      </h2>
      <p class=" ">
        The Information Technology Vendor Management Office (ITVMO) serves as a trusted advisor and advocate for Federal IT acquisitions. Established in October 2020 within the Governmentwide Category Management Framework by the Office of Management and Budget (OMB), the ITVMO aims to address the challenges faced by agencies in IT vendor relationship management, including standardizing technical requirements, mitigating cyber-risk, improving data quality, and leveraging the government's buying power to drive improvements and business transformation. 
        The ITVMO's mission is to provide agencies with meaningful intelligence to inform and support faster, smarter IT buying decisions. It operates within the Federal IT Acquisitions Ecosystem, collaborating with various stakeholders, including agency IT buyers, vehicle solution holders, federal and industry partners, and suppliers (and resellers).  Visit our <a target="_blank" href="https://itvmo.gsa.gov/">website</a> today!
      </p>
      <p class="text-center margin-top-4">
        <a target="_blank" rel="noreferrer noopener" href="https://forms.gle/YAvWcfYUr9ZKXs1N8" tabindex="0">
          Was this helpful? What else would you like to know about?
       </a>
      </p>

      <div class="tab-divide-line end-content"></div>
      

    </div>
    <div class="content-nav">
      <div class="nav-list">
        <h3>On this Page</h3>
        <a
          id="sn-overview"
          class="page-nav page-nav-active"
          href="#overview"
          onclick="return removeTabContent(this)"
          >Overview</a
        >
        <a
          id="sn-maturity-model"
          class="page-nav page-nav"
          href="#maturity-model"
          onclick="return removeTabContent(this)"
          >Zero Trust Maturity Model</a
        >
        <a
          id="sn-video-highlights"
          class="page-nav page-nav"
          href="#video-highlights"
          onclick="return removeTabContent(this)"
          >Video Highlights</a
        >
        <a
          id="sn-intended-takeaways"
          class="page-nav page-nav"
          href="#intended-takeaways"
          onclick="return removeTabContent(this)"
          >Intended-Takeaways</a
        >
        <a
          id="sn-contributors"
          class="page-nav page-nav"
          href="#contributors"
          onclick="return removeTabContent(this)"
          >Contributors & Partners</a
        >
        <a
          id="sn-additional-resource"
          class="page-nav page-nav"
          href="#additional-resource"
          onclick="return removeTabContent(this)"
          >Additional Resource</a
        >
        <a
          id="sn-about-itvmo"
          class="page-nav page-nav"
          href="#about-itvmo"
          onclick="return removeTabContent(this)"
          >About ITVMO</a
        >
        <!-- <a id="sn-agency-showcase" class="page-nav" href="#agency-showcase" onclick="return removeTabContent(this)">Agency Showcase</a>
             <a id="sn-new-itvmo-member" class="page-nav" href="#new-itvmo-member" onclick="return removeTabContent(this)">New ITVMO Team Members</a> -->
      </div>
    </div>
  </div>
</section>
