/****************************styling for resource catalog******************************/
.no-style {
  text-decoration: none;
  color: black;
}
.anchor-fill{
  width: inherit;
  display: block;
  height: inherit;
}

.grid-spacing {
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px 10px 0px 0px;

}

.filters {

}

.filters ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filters li {
  margin: 0 2px 2px 0;
}

.big {
  font-size: 20px;
}

.filters a {
  display: block;
  padding: .5em 1em;
  font-size: 80%;
  border: solid 1px hsl(0, 0%, 50%);
  color: #333;
  text-decoration: none;
  background: white;
}

.text-container {
  overflow:hidden;
}

.filters a:hover {
  outline: 2px solid hsl(0, 0%, 50%);
}

a.checked {
  background: #595959;
  color: white;
}

.category-management-border {
  border-top: solid 4px #f2938c;
}

.vendor-intelligence-border {
  border-top: solid 4px #59b9de;
}


.small-business-intelligence-border {
  border-top: solid 4px #8889db;
}

.emerging-technology-border {
  border-top: solid 4px #2491ff;
}

.best-in-class-border {
  border-top: solid 4px #3e4ded;
}

.itvmo-admin-border {
  border-top: solid 4px #ddaa01;
}
.scrm-border {
  border-top: solid 4px #5abf95;
}
.acqu-best-prac-border {
  border-top: solid 4px #b04abd;
}
.title-resources {
  font-size: 14.2px;
  line-height: 20px;
  font-weight: 700; 
}
.description-resources {
  font-size: 14.2px;
  line-height: 20px;
  font-weight: 500; 
}
.height-full {
  height: 100%;
}

//Styled for the contract-data-elements-guide page.
.blue-bold
{
  b
  {
    color:#1b2b85;
  }
}

#pdfDownload
{
  color: white;
  background-color: #1b2b85;
  border: none;
  border-radius:1.2em;
  cursor: pointer;
  vertical-align: center;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  b
  {
    color:#1b2b85;
  }
}

.styled-table thead tr {
  background-color: #1b2b85;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #1b2b85;
}

// .styled-table tbody tr.active-row {
//   font-weight: bold;
//   color: #009879;
// }
//Styled the calendar on the events page.
#container
{
  width: 770px;
  #header {
    padding: 10px;
    color: #d36c6c;
    font-size: 26px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
  }
  #header button {
    background-color:#92a1d1;
  }
  #weekdays {
    width: 100%;
    display: flex;
    color: #247BA0;
  }
  #weekdays div {
    width: 100px;
    padding: 10px;
  }
  #calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .day {
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .day:hover {
    background-color: #e8faed;
  }
  
  .day + #currentDay {
    background-color:#e8f4fa;
  }
  .event {
    font-size: 10px;
    padding: 3px;
    background-color: #58bae4;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
  }
  .padding {
    cursor: default !important;
    background-color: #FFFCFF !important;
    box-shadow: none !important;
  }
  #newEventModal, #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #e8f4fa;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
  }
  #eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
  }
  #eventTitleInput.error {
    border: 2px solid red;
  }
  #cancelButton, #deleteButton {
    background-color: #d36c6c;
  }
  #saveButton, #closeButton {
    background-color: #92a1d1;
  }
  #eventText {
    font-size: 14px;
  }
  #modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
  }
}