/****************************styling for resource catalog******************************/
.no-style {
  text-decoration: none;
  color: black;
}
.anchor-fill{
  width: inherit;
  display: block;
  height: inherit;
}

.grid-spacing {
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px 10px 0px 0px;

}
.filters {

}

.filters ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filters li {
  margin: 0 2px 2px 0;
}

.big {
  font-size: 20px;
}

.filters a {
  display: block;
  padding: .5em 1em;
  font-size: 80%;
  border: solid 1px hsl(0, 0%, 50%);
  color: #333;
  text-decoration: none;
  background: white;
}

.text-container {
  overflow:hidden;
}

.filters a:hover {
  outline: 2px solid hsl(0, 0%, 50%);
}

a.checked {
  background: #595959;
  color: white;
}

.policy-border {
  border-top: solid 4px #f2938c;
}

.vendor-intelligence-border {
  border-top: solid 4px #59b9de;
}


.small-business-intelligence-border {
  border-top: solid 4px #8889db;
}

.emerging-technology-border {
  border-top: solid 4px #2491ff;
}

.best-in-class-border {
  border-top: solid 4px #3e4ded;
}

.itvmo-admin-border {
  border-top: solid 4px #ddaa01;
}
.scrm-border {
  border-top: solid 4px #5abf95;
}
.acqu-best-prac-border {
  border-top: solid 4px #b04abd;
}
.title-resources {
  font-size: 14.2px;
  line-height: 20px;
  font-weight: 700; 
}
.description-resources {
  font-size: 14.2px;
  line-height: 20px;
  font-weight: 500; 
}
.height-full {
  height: 100%;
}
.width-full {
  width: 100%;
}

//Styled for the contract-data-elements-guide page.
.blue-bold
{
  b
  {
    color:#1b2b85;
  }
}
.fname
{
  font-weight: bold;
}

#report
{
  color: white;
  background-color: #1b2b85;
  border: none;
  border-radius: 0.75em;
  cursor: pointer;
  vertical-align: center;
  text-decoration: none;
}


//Styled the table on the contract-data-elements-guide page.
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  b
  {
    color:#1b2b85;
  }
}

.styled-table thead tr {
  background-color: #1b2b85;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #1b2b85;
}

.indent
{
  padding-left: 15px;
}

/*EVENTPAGE*/
#event-annual-summit
{
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  margin: 20px;
  div 
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    p 
    {
      text-align: center;
      margin: 0;
      font-weight: bold;
    }
    #annual-summit-intro 
    {
      font-size: 25px;
      span
      {
        color: #f15922;
      }
    }
    a 
    {
      background-color: #bd5727;
    }
  }
  .speaker-image
  {
    height: 200px;
    width: 200px;
  }
  .image-flip
  {
    transform: scaleX(-1);
  }
}
//Make the \n going to break the line in HTML
#eventDescription
{
  white-space: pre-wrap;
}
.youtube
{
  border-top: solid 4px #FF0000;
}
.eventHighlight
{
  width: 100%;
  height: 300px;
  margin: 0 auto
}
.eventHighlightContainer
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}
#calendarSumContainer
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

#monthDisplay
{
  font-size: 30px;
  font-family: "Merriweather", "Georgia", "Cambria", "Times New Roman", "Times", serif;
}

#calendar-header
{
  width: 366px;
  color: #d36c6c;
  font-size: 18px;
  font-family: "Merriweather", "Georgia", "Cambria", "Times New Roman", "Times", serif;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  button 
  {
    width: 50px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color:#1b2b85;
  }
}
#container {
  width: 366px;
  margin: 0 auto
}
#weekdays {
  width: 100%;
  display: flex;
  color: black;
}
#weekdays div {
  width: 49px;
  padding: 5px;
  margin-right: 1.642857142857143px;
  margin-left: 1.642857142857143px;
}
#weekdaysDesktop {
  display: none;
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 49px;
  padding: 4.9px;
  height: 49px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 1.642857142857143px;
  box-shadow: 0px 0px 3px #CBD4C2;
  display: flex;
  flex-direction: column;
}
.day:hover {
  background-color: #e8faed;
}
.day + #currentDay {
  background-color:#e8f4fa;
}
.event
{
  display: none;
}
.eventMobile {
  display: initial;
}
.eventMobile {
  font-size: 9px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  max-height: 15px;
  max-width: 15px;
  overflow: hidden;
  text-align: center;
}
.eventExplain
{
  margin-top: 5px;
  height: 15px 
}
.eventColor
{
  border-radius: 5px;
  height: 15px;
  width: 15px;
  float: left;
}
.eventColorExplain
{
  padding-left: 5px;
  float: left;
  font-size: 13px;
  font-weight: bold;
}
.padding {
  cursor: default !important;
  background-color: #FFFCFF !important;
  box-shadow: none !important;
}
#newEventModal, #deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}

#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
}
.youtubeLogo
{ padding-top: 5.04px;
  height: 18px;
  width: 25px;
  margin: auto;
}

//Change the calendar look when the width of the screen below 794px
@media only screen and (max-width: 794px)
{
  .eventHighlightContainer
  {
    grid-template-columns: 1fr;
    width: 340px;

  }
  #calendarSumContainer
  {
    grid-template-columns: 1fr;

  }
  #calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  #event-annual-summit
  {
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    .speaker-image
    {
      display: none;
    }
  }
}

/*HOMEPAGE*/
.orangeText
{
  color: rgb(211, 108, 108);
}
//Gap between Learn More About Who We Are button and Learn More About What We Do button.
.gap
{
  margin-top: 8px;
}
.logo-left {
  float: right;
}
.with-logo
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  h4 
  {
    margin-bottom: 0;
  }
}
#ServiceNowLogo
{ 
  height: 52px;
  width: 104px;
}
#cisa-logo
{
  height: 52px;
  width: 52px;
}
#AWSLogo
{ 
  height: 26.39px;
  width: 50px;
  margin: auto;
}

//Change the latest update page on the home page.
.latestUpdates
{
  width: 100%;
  text-align: center;
}

.mySlides {
  display: none;
  width: 100%;
  height: 100%;
}
/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  margin: auto;
}
/* The dots/bullets/indicators */
.dot {

  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}

.active {
  background-color: #717171;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: relative;
  color: #1b2b85;
  font-weight: bold;
  display: inline-block;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  font-size: 100px;
  height: 100px;
  width: 100px;
}

.prev-mobile,
.next-mobile {
  cursor: pointer;
  position: relative;
  font-weight: bold;;
  user-select: none;
  color: white;
  height: 30px;
  width: 30px;
}
.arrow-span
{
  height: 30px;
  width: 30px;
  margin: 0 2px;
  background-color: #1b2b85;
  border-radius: 50%;
  display: none;
  padding-top: 3.5px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev,
.next {
  transition: transform .3s;
}
.prev:hover,
.next:hover {
  transform: scale(1.05,1.15);
}

.row {
  display: flex;
  height: 234px;
}
.column-arrow {
  flex: 10%;
  display: flex;
  align-items: center; // Center the arrow vertically
  div
  {
    margin: auto; //Center the arrow horizontally
    width: 100px;
    height: 100px;
    a
    {
      svg
      {
        margin-bottom: 10px;
      }
    }
  }
}
.column-card {
  flex: 80%;
}

.vertical-center {
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.dotDiv
{
  text-align:center;
  margin-top: 15px;
}

@media only screen and (max-width: 935px)
{
  .row {
    display: flex;
    height: 400px;
    max-width: 400px;
  }

  .column-arrow
  {
    display: none;
  }
  .arrow-span
{
  display: inline-block;
}
  
#ServiceNowLogo
{
  display: none;
}
}

/*HOW CAN WE HELP PAGE*/

.row-text {
  display: table;
  width: 100%; /*Optional*/
  table-layout: fixed; /*Optional*/
  border-spacing: 10px; /*Optional*/

  .column {
    h2 
    {
      border-bottom: solid;
      text-align: center;
      height: 80px;
    }
    display: table-cell;
    ul
    {
      padding-left: 0;
      li
      {
        margin: 10px 0;
        font-weight: 550;
        font-size: 18px;
      }
      li:hover
      {
        font-size: 20px;
        transition: all 100ms;
      }
    }
  }
}
//Change the table from display in column to row.               
@media only screen and (max-width: 965px)
{
  .row-text {
    display: table;
    width: 100%; 
    table-layout: fixed; 
    border-spacing: 10px; 
  
    .column {
      display: table-row;
    }
  }
  
  

}

.question
{
  font-weight: 550;
  font-size: 18px;
  margin-top: 0;
}
#vendorForm
{
  display: block;
  width: 222.17px;
  height: 35px;
  color: white;
  text-align: center;
  background-color: #1b2b85;
  border: none;
  border-radius:.3em;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
}
.contactUs
{
  background-color: #e17141 !important;
}
.marginBottomZero
{
  margin-bottom: 0;
  font-weight: bold;
}

//newsletter page
.centerHeading
{
  text-align: center;
}
#rate-us
{
  position: fixed;
  right: 10%;
  bottom: 5%;
  z-index: 1000;
  background-color: #1b2b85;
  color: white;
  width: 100px;

  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  img 
  {
    width: 15px;
    height: 15px;
  }
}
//Homepage dropdown button 
.dropdown {
  .dropdown-content {
    // display: none;
    // opacity: 1;
    // visibility: hidden;
    z-index: -99;
    display: block;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    a 
    {
      line-height: 0.9;
      padding: 1rem; 
      color: #565c65;
      display: block;
      font-weight: 600;
      font-size: 0.85rem; 
    }
  }
}
//Change color of dropdown links on hover
.dropdown-content a:hover 
{
  background-color: #ddd;
}
//Display the dropdown menu on hover 
.display-content
{
  .dropdown-content
  {
    visibility: visible;
    z-index: 99;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
  }
}
.hide-content
{
  .dropdown-content
  {
    z-index: 99;
    animation-name: fadeOutDown;
    -webkit-animation-name: fadeOutDown;
  }
}
.hide-content-start
{
  .dropdown-content
  {
    visibility: hidden;
  }
}

//Leading Edge Technologies Annual Report page
.leading-edge-table
{
  width: 100%;
  th, td
  {
    // border: 1px solid black; 
  }
  th
  {
    background-color: #ff590a;
    color: white;
    font-size: 18px;
  }
  td
  {
    font-size: 13.5px;
    color: black;
    background-color: #fde1cb;
    padding: 10px;
    width: 25%;
  }
}

.FY-container
{
  display: flex;
  .FY
  {
    h3
    {
      margin-bottom: 10px;
    }
    flex: 1;
    width: 45%;
    .leading-edge-ul
    {
      background-color: #1b2b85 !important;
      color: white;
      padding: 15px;
      margin-top: 5px;
      
      border-radius: 5px;
      ul
      {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
  .FY2023
  {
    margin-right: 10px;
  }
}
@media screen and (max-width: 400px)
{
  .leading-edge-table
  {
    th 
    {
      font-size: 14px;
    }
    td
    {
      font-size: 10px;
      padding: 3px;
    }
  }
  .leading-edge-ul
  {
    font-size: 12px;
    ul
    {
      padding: 15px;
    }
  }
}
/*Annual Summit page*/
#annual-summit
{
  #itvmo-annual-summit
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    span 
    {
      text-align: center;
      max-width: 700px;
      font-size: 20px;
      font-weight: 500;
    }
    #itvmo-summit-image
    {
      margin-top: 10px;
      width: 250px;
      height: 125px;
    }
  }
  ul
  {
    list-style-type: none;
    padding-left: 0;
    li 
    {
      p 
      {
        display: flex;
        align-items: center;
        img 
        {
          height: 100px;
          width: 100px;
          margin-right: 10px;
        }
      }
    }
  }
  #logo-section
  {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;

    #actiac-logo
    {
      width: 140px;
      height: 60px;
    }
    #itvmo-logo
    {
      width: 300px;
      height: 50px;
      margin-top: 10px;
    }
  }
  .center-table
  {
    display: flex;
    align-items: center;
    justify-content: center;
    .styled-table
    {
      min-width: 300px;
      max-width: 900px;
      li 
      {
        text-align: left;
      }
      .location
      {
        text-align: end;
        font-weight: 500;
      }
      th 
      {
        min-width: 158px;
      }
      td 
      {
        li 
        {
          color:#1b2b85;
          font-weight: 700;
          span 
          {
            color: #f15922;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 470px)
{
  #logo-section
  {
    flex-direction: column;
    column-gap: 0px;
    row-gap: 10px;
  }
}
//OEM page
#itvmo-oem
{
  #oem-list
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 16px;
    row-gap: 10px;
    li 
    {
      width: 300px;
      font-weight: 600;
    }
  }

  .grid-row
  {
    column-gap: 20px;
    p
    {
      background-color: #d9e7f5 ;
    }
    ul 
    {
      padding-left: 20px;
    }
  }
}
//General class

//Center everything inside the div
.center-div
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*Animation*/
.dropdown-animate {
  -webkit-animation-duration: 400ms;
  animation-duration: 400ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  
}

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

//Fade in animation
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -35%, 0);
    transform: translate3d(0, -35%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -35%, 0);
    transform: translate3d(0, -35%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
//Fade animation
.fade {
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fade{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
//FadeInUp animation
@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}
@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

.fadeOutDown {
  opacity: 0;
  animation-name: fadeOutDown;
  -webkit-animation-name: fadeOutDown;
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
    visibility: hidden;
  }
}
@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
    visibility: hidden;
  }
}


