.beta-release
{
    padding: 10px;
    background-color: #faf3d0;
    .grid-container
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 15px;
        justify-content: flex-start;
        flex-wrap: nowrap !important;
        div 
        {
            h1
            {
                margin: 0;
                font-weight: 600;
                font-style: normal;
                font-size: 20px;
                color: #D9001B;
            }
            p 
            {
                margin: 0;
                font-weight: 600;
                font-size: 14px;
                line-height: 22px;
                color: #333333;
                a 
                {
                    color: #3C6E9A;
                    text-decoration: none;
                }
                a:hover 
                {
                    text-decoration: underline;
                }
            }
        }
    }
}