.speaker-announcer-banner
{
    margin-left: -50px;
    padding: 20px 50px;
    background-image: url('../images/speaker-announcer-background.png');
    background-position-x: right;
    background-size: cover;
    background-repeat: no-repeat;

}
.video-container
{
    width: 100% !important;
    aspect-ratio: 2/1;
    height: 508px;
}
video::-webkit-media-text-track-display 
{
    font-size: 70%;
}