.speaker-announcer-banner
{
    margin-left: -50px;
    padding: 20px 25px 30px 50px;
    background-image: url('../images/speaker-announcer-background.png');
    background-position-x: right;
    background-size: cover;
    background-repeat: no-repeat;

}
.video-container
{
    width: 100% !important;
    aspect-ratio: 2/1;
    height: 508px;
}
video::-webkit-media-text-track-display 
{
    font-size: 70%;
}

.banner-header{
    color: #000;
    margin-bottom: -6px;
}

.hidden-video-cont{
    width: 100%;
}

.video-title{
  
    font-weight: 600;
    margin-bottom: -20px;
    margin-top: -7px;


}

