.speaker-announcer-banner
{
    margin-left: -50px;
    padding: 20px 50px;
    background-image: url('../images/speaker-announcer-background.png');
    background-position-x: right;
    background-size: cover;
    background-repeat: no-repeat;

}