// Partially host News style
#news-filters
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    h2 
    {
        margin: 0;
        font-size: 20px;
        color: #333333;
        font-weight: 500;
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        #clear-all-mobile
        {
            display: none;
            cursor: pointer;
            width: fit-content;
            padding: 0;
            border: none;
            background-color: transparent;
            font-size: 14px;
            color:#2766c2;
        }
    }
    #news-filters-dropdown
    {
        width: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 15px;
        row-gap: 10px;
        flex-wrap: wrap;
        .facet-dropdown
        {
            background-color: white !important;
            .facet-title-count
            {
                .checked-count
                {
                    margin-left: 10px;
                    display: none;
                    font-size: 14px;
                    border-radius: 5px;
                    padding: 0px 5px;
                }
                #topics-checked-out
                {
                    border: #2766c2 1px solid;
                    background-color: #cde1f1;
                }
                #publishers-checked-out
                {
                    border: #f55f2a 1px solid;
                    background-color: #ffe7e0;
                    color: #f55f2a;
                }

            }
        }
        .news-dropdown
        {
            #news-topics-dropdown, #topics-dropdown-list
            {
                width: 250px;
            }
            #topics-dropdown-list
            {
                z-index: 99;
            }
            #news-publishers-dropdown, #publishers-dropdown-list
            {
                width: 606px;
            }
            #publishers-dropdown-list
            {
                z-index: 98;
            }
            .filter-list
            {
                display: none;
                position: absolute;
                margin-top: -8px;
                padding: 10px;
                border-radius: 0px 0px 10px 10px;
                background-color: white;
                -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
                
                width: 100%;
                .filter-options
                {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    li 
                    {
                        display: flex;
                        column-gap: 15px;
                        align-items: center;
                        margin-bottom: 5px;
                        font-size: 13px;
                        label
                        {
                            color: #333333;
                        }
                        
                        input[type="checkbox"]
                        {
                            appearance: none;
                            -webkit-animation: none;
                            height: 15px;
                            width: 15px;
                            background-color: transparent;
                            border-radius: 4.5px;
                            border: 0.2em solid;
                        }
                        .check-input-topics
                        {
                            border-color: black !important;
                        }
                        .check-input-topics:checked
                        {
                            content: url('../images/icons/black-check-news.svg');
                            background-color: black;
                            border: 0.155em solid;
                            font-size: 16px;
                        }
                        .check-input-publisher
                        {
                            border-color: #f2938c !important ;
                        }
                        .check-input-publisher:checked
                        {
                            content: url('../images/icons/pink-check.svg');
                            background-color: #f2938c;
                        }
                    }
                }
                .column-list-2
                {
                    columns: 2;
                    -webkit-columns: 2;
                    -moz-columns: 2;
                }
            }
            .filter-list-active
            {
                display: block;
            }
        }
    }
}
#applied-filters
{  
    display: none;
    .divide-line
    {
        height: 1px;
        width: 100%;
        background-color: #d7d7d7;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #applied-filters-content
    {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        column-gap: 10px;
        padding-left: 20px;
        #applied-filters-left
        {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            #applied-filters-header
            {
                width: fit-content;
                font-size: 16px;
                color: #333333;
                font-weight: 500;
                margin: 0;
            }
            #clear-all
            {
                cursor: pointer;
                width: fit-content;
                padding: 0;
                border: none;
                background-color: transparent;
                font-size: 14px;
                color:#2766c2;
            }
        }
        #applied-filters-right
        {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            #applied-filters-topics, #applied-filters-publishers
            {
                display: flex;
                flex-direction: row;
                column-gap: 10px;
                row-gap: 10px;
                flex-wrap: wrap;
                .applied-filters-topic,.applied-filters-publisher
                {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    column-gap: 5px;
                    border-radius: 20px;
                    padding: 2px 8px;
                    width: fit-content;
                    
                    button 
                    {
                        cursor: pointer;
                        border: none;
                        padding: 0;
                        background-color: transparent;
                        width: 9px;
                        height: 9px;
                        position: relative;
                        img 
                        {
                            position: absolute;
                            width: 9px;
                            height: 9px;
                            top: 0;
                            left: 0;
                        }
                    }
                    p 
                    {
                        margin: 0;
                        font-size: 14px;
                    }
                }
                .applied-filters-topic
                {
                    background-color: #cde1f1;
                    border: 1px #193a66 solid;
                }
                .applied-filters-publisher
                {
                    background-color: #eedbd8;
                    border: 1px #f55f2a solid;
                    p 
                    {
                       color: #f55f2a;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 890px)
{
    #news-filters
    {
        #news-filters-dropdown
        {
            .news-dropdown
            {
                .column-list-2
                {
                    columns: 1 !important;
                    -webkit-columns: 1 !important;
                    -moz-columns: 1 !important;
                }
            }
            #news-publishers-dropdown, #publishers-dropdown-list
            {
                width: 300px !important;
            }
        }
    }

}
//Hide the Applied Filters if max screen width < 500 px
@media screen and (max-width: 500px)
{
    #clear-all-mobile
    {
        display: block !important;
    }
    #applied-filters
    {
        display: none !important;
    }

}
