//Styled for the contract-data-elements-guide page.
.blue-bold
{
  b
  {
    color:#1b2b85;
  }
}
.fname
{
  font-weight: bold;
  border-right: #d7d7d7 1px solid;
}
.fname-b 
{
    border-right: #d7d7d7 1px solid;
    b 
    {
        color: #002656;
    }
}

#report
{
  color: white;
  background-color: #162a75;
  border: none;
  border-radius: 0.75em;
  cursor: pointer;
  vertical-align: center;
  text-decoration: none;
}
.indent
{
  padding-left: 15px;
}

//Styled the table on the contract-data-elements-guide page.
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 16px;
  // font-family: sans-serif;
  // min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border: #d7d7d7 1px solid;
  overflow-x: auto;
  b
  {
    color:#1b2b85;
  }
  thead
  {
      tr 
      {
          background-color: #162a75;
          color: #ffffff;
          text-align: left;
      }
  }
  th,td 
  {
      padding: 12px 15px;
      line-height: 25px;
  }
  td 
  {
    ul 
    {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
    min-height: 400px;
  }
  tbody 
  {
      tr:nth-of-type(even) 
      {
          background-color: #f3f3f3;
      }
  }
}
.fixed-height
{
    table-layout: fixed;
    td 
    {
        height: 81px;
    }
}
