<h1 class="itvmo-article-header-blue no-top">3. Generative AI Procurement</h1>

<h2 class="itvmo-article-sub-2 no-top">3.6 Market Assessment</h2>

<h3 class="itvmo-article-sub-3-blue">3.6.1 Market Research</h3>
<p>
  The marketplace for Generative AI technologies and vendors is changing every
  day. Large Generative AI companies, universities, small businesses and new
  upstarts are all announcing new tools, capabilities and features constantly.
  Generative AI is such a popular topic that there are multiple articles on
  these advancements every day. You can stay informed about the latest AI
  technologies and vendors by monitoring tech and Federal IT news websites.
</p>

<p>
  It can still be difficult to know which resellers, vendors and manufacturers
  to look at for a particular acquisition. Those on government contracts are a
  good starting place. Here are a few other resources:
</p>
<div class="bulletSections mb-0">
  <div class="topLine"></div>
  <ul class="experiences">
    <li class="bulletText tight-bullet">
      Search tools on acquisition program websites like
      <a
        class="usa-link usa-link--external"
        href="https://gsaelibrary.gsa.gov/ElibMain/home.do"
        >GSA’s eLibrary</a
      >
      and
      <a class="usa-link usa-link--external" href="https://cic.gsa.gov/"
        >Cloud Information Center</a
      >
      provide easy ways to find suppliers.
    </li>

    <li class="bulletText tight-bullet">
      The Federal Acquisition Service (FAS) also runs a free
      <a
        class="usa-link usa-link--external"
        href="https://www.gsa.gov/about-us/organization/federal-acquisition-service/customer-and-stakeholder-engagement/market-research-as-a-service-mras"
        >Market Research as a Service (MRAS)</a
      >
      offering for agencies to craft targeted asks of industry that can then
      inform those agencies’ Generative AI acquisitions.
    </li>

    <li class="bulletText tight-bullet">
      The
      <a
        class="usa-link usa-link--external"
        href="https://itvmo.gsa.gov/services/market-and-it-data-intelligence/"
        >Governmentwide IT Vendor Management Office (ITVMO)</a
      >
      is the government’s trusted advisor and advocate for smarter, faster IT
      buying.
    </li>

    <li class="bulletText tight-bullet">
      The
      <a
        class="usa-link usa-link--external"
        href="https://www.tradewindai.com/solutions-marketplace"
        >Tradewinds Solutions Marketplace</a
      >
      offers ways to broadcast and manage AI opportunities to industry,
      interface with an ecosystem of partners and companies that can delivery AI
      technologies and peruse a digital repository of pitch videos, which
      address challenges in the AI/ML, digital, and data analytics space.
    </li>

    <li class="bulletText tight-bullet">
      This resource guide contains a
      <a
        class="usa-link"
        rel="noreferrer noopener"
        href="{{site.baseurl}}/genai/?tabName=part-6-header"
        >data dashboard</a
      >
      for recent obligations around Generative AI.
    </li>
  </ul>
</div>

<h3 class="itvmo-article-sub-3-blue">3.6.2. FedRAMP Authorization</h3>
<p>
  As many Generative AI products are cloud-based offerings complying with
  Federal security rules around cloud services is essential.
</p>

<p>
  Products which have gone through the FedRAMP process have undergone a
  significant review of security documentation, testing and validation which can
  accelerate CIO approval for a product to be incorporated into an agency
  network. The
  <a
    class="usa-link usa-link--external"
    href="https://marketplace.fedramp.gov/products"
    >FedRAMP Marketplace</a
  >
  is a searchable and sortable database of cloud service offerings that have
  achieved a FedRAMP designation
</p>

<p>
  FedRAMP also published a draft
  <a
    class="usa-link usa-link--external"
    href="https://www.fedramp.gov/assets/resources/documents/FedRAMP_DRAFT_Emerging_Technology_Prioritization_Framework.pdf"
    >Emerging Technology Prioritization Framework.</a
  >
  This document describes the operational framework for how FedRAMP will
  prioritize certain cloud service offerings that utilize specific emerging
  technologies.
</p>

<p>
  The prioritization process will be integrated into existing and future FedRAMP
  authorization paths. The prioritization framework will not create additional
  authorization pathways and will maintain the same rigorous and thorough
  authorization requirements.
</p>

<h3 class="itvmo-article-sub-3-blue">3.6.3 Vendor Responsibility</h3>
<p>
  Acquisition professionals are used to conducting responsibility determinations
  on suppliers. Generative AI is an emerging field with new players arising all
  the time. Knowing which vendors can deliver on their promised results is
  difficult and a big reason to test solutions before acquiring them using
  techniques like sandboxes discussed in this resource guide
  <a
    class="usa-link"
    rel="noreferrer noopener"
    href="{{site.baseurl}}/genai/?tabName=part-33-header"
    >Section 3.3 Solutions Scoping and Testing</a
  >
</p>
<p>
  Standard due diligence on companies is still important. Looking at their track
  record as a government supplier, their financial health and their past
  performance are all good indications (but not guarantees) of how they might
  perform on an acquisition you run. At the same time, because this field is
  emerging, some companies doing sophisticated and powerful work have been in
  business for less than 10 years. Aside from the older, larger and established
  IT players, many of the Generative AI companies aren’t registered government
  suppliers yet.
</p>
<p>
  Because many Generative AI solutions may be accessed through a cloud provider,
  a partner, a systems integrator or a reseller, you may need to do some extra
  work to understand both the vendor’s and manufacturer’s ability to deliver.
  Ask about what access the team may have to the Generative AI tool manufacturer
  even through the contract may be with another entity.
</p>

<p>
  Reviewing the commercial terms and conditions for software and data use helps
  ensure data use and the products themselves meet the government requirements
  for security, privacy, and data ownership. The
  <a class="usa-link" rel="noreferrer noopener" href="{{site.baseurl}}/about"
    >Governmentwide ITVMO</a
  >
  increases agency knowledge on commonly used and emerging vendors, especially
  small businesses, that offer IT services and products in the Federal IT
  Marketplace.
</p>

<div class="tab-divide-line w-100"></div>
