<h1 class="itvmo-article-header-blue no-top">3. Generative AI Procurement</h1>

<h2 class="itvmo-article-sub-2 no-top">3.2 Agency Goals and Needs</h2>

<p>
  There are many different types of Generative AI products and services, each
  with their own strengths and weaknesses. Don’t focus solely on one particular
  solution at the risk of overlooking better options. Instead, begin by
  understanding what program staff want to do and achieve, then find the right
  solutions and suppliers that will best help them. Articulating the problem
  statement even before defining requirements can help ensure that the IPT is
  focused on the right needs.
</p>

<p>
  Program staff and leaders can be a great source for identifying and refining
  problem statements and how they link back to the agency’s mission. Technical
  leaders including the agency Chief Information Officer (CIO), Chief Data
  Officer (CDO), Chief Information Security Officer (CISO) and Senior Agency
  Official for Privacy (SAOP) offer important perspectives about what current
  systems and tools can do and how they can be used. Many agencies have also
  selected a Chief Artificial Intelligence Officer (CAIO) to oversee AI efforts
  including Generative AI work. CAIOs are a vital voice to have at the table
  when scoping agency goals and needs.
</p>

<p><b>Some potential questions to ask include:</b></p>

<div class="bulletSections">
  <div class="topLine"></div>
  <ul class="experiences">
    <li class="bulletText tight-bullet">
      <b>What specific problems does the agency want to solve?</b>
    </li>
    <li class="bulletText tight-bullet">
      <b
        >What opportunities does Generative AI present that the agency wants to
        pursue?</b
      >
    </li>
    <li class="bulletText tight-bullet">
      <b
        >Are other agencies seeking to solve similar problems or use Generative
        AI for similar purposes that you can learn from?</b
      >
    </li>
    <li class="bulletText tight-bullet">
      <b
        >What are the gaps in current technology tools that Generative AI could
        fill?</b
      >
    </li>
    <li class="bulletText tight-bullet">
      <b>What are the desired outcomes of using Generative AI tools? </b>
    </li>
  </ul>
</div>
<ul>
  <p>
    Sometimes just by posing these questions an agency can determine that it
    already has tools (and even non-AI tools) that can be deployed quickly or
    that the problems themselves aren’t worth the investment to solve.
  </p>

  <p>
    Many agencies are in a space of needing or wanting to experiment or “do
    something” with Generative AI solutions to understand what the technology
    can do. Technical experimentation is healthy and important for agencies. If
    your agency is just trying to get exposure to Generative AI tools and their
    capabilities, it could be helpful to start with smaller problems - perhaps
    ones that are not mission critical - but ultimately ones that can’t be
    easily solved with current non-Generative AI tools.
  </p>

  <p>
    For ideas and inspiration of what problems and projects might be good to
    work on, see
    <a
      class="usa-link"
      rel="noreferrer noopener"
      href="{{site.baseurl}}/genai/?tabName=part-1-header"
      >Section 1 Generative AI 101</a
    >
    and
    <a
      class="usa-link"
      rel="noreferrer noopener"
      href="{{site.baseurl}}/genai/?tabName=part-2-header"
      >Section 2 Generative AI in the Government</a
    >
    of this resource guide. Agency use cases are also published on
    <a
      class="usa-link usa-link--external"
      target="_blank"
      rel="noreferrer noopener"
      href="http://AI.gov"
      >AI.gov</a
    >
    and may also be on your agency website.
  </p>

  <div class="tab-divide-line w-100"></div>
</ul>
