<h3 id="data-tools-overview" class="topic-heading">Data Tools</h3>
<ul class="usa-card-group">
  <li id="ai-dashboard" class="usa-card usa-card--flag">
    <a
      target="_blank"
      rel="noreferrer noopener"
      href="https://d2d.gsa.gov/tableau-report-for-embed/10744"
      class="usa-card__container usa-card__container_link">
      <div class="usa-card__media serviceCard">
        <div class="leftPort">
          <img
            class="imgCont"
            src="{{site.baseurl}}/assets/images/screenshot/ai-acquisition-dashboard-screenshot.PNG"
            alt="Screenshot of the AI Acquisition Dashboard" />
        </div>
      </div>

      <div class="usa-card__body">
        <div class="resCardSec">
          <div>
            <img
              class="imgContres"
              src="{{site.baseurl}}/assets/images/screenshot/ai-acquisition-dashboard-screenshot.PNG"
              alt="Screenshot of the AI Acquisition Dashboard" />
          </div>
          <div class="resHeading">
            <h2 class="usa-card__heading">
              Access the AI Acquisition Resource Dashboard
            </h2>
          </div>
        </div>
        <h2 class="partnerHeader">
          AI Acquisition Resource Dashboard
          <img
            alt="External icon"
            src="{{site.baseurl}}/assets/images/icons/external-dark-blue.svg" />
        </h2>
        <div class="cardBody">
          <p>
            The AI Acquisition Resource Dashboard is a tool for the acquisition
            workforce to identify government-wide contract vehicles that
            agencies have used to procure Generative AI and Specialized
            Computing Infrastructure.
          </p>
          <div class="partner-detail margin-top-2">
            <div>
              <p>Public</p>
            </div>
            <div>
              <p>Sourced from FPDS</p>
            </div>
            <div>
              <p>Scoped to gen AI</p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </li>
</ul>

<h3 id="dashboard-overview" class="sub-topic-heading">Overview</h3>
<p class="tab-p">
  The AI Acquisition Resource Dashboard is created to align with Executive Order
  14110 Section 10.1(h). This order mandates General Services Administration
  (GSA) to facilitate agencies' access to commercial Generative AI and
  specialized computing infrastructure capabilities.
</p>

<h3 id="dashboard-about" class="sub-topic-heading">Data source</h3>
<p class="tab-p">
  Updated monthly, the Dashboard draws from the
  <a
    href="https://www.fpds.gov/"
    title="Federal Procurement Data System"
    target="_blank"
    class="usa-link--external"
    >Federal Procurement Data System</a
  >
  (FPDS) to present data from FY20 onwards. The date of the latest dashboard
  update is prominently displayed next to the Dashboard title, ensuring users
  are aware of the currentness of the information provided. Our data review
  process encompasses all Level 1 categories, excluding Department of Defense
  (DOD) contracts and open market contracts, to focus on relevant governmental
  procurement activities relevant to the Executive Order.
</p>
<p class="tab-p">
  To ensure the relevance and specificity of the data, we employ an AI-focused
  keyword search methodology. This approach utilizes a continually refined list
  of several hundred AI-related keywords. These keywords target the description
  of the requirements column within the FPDS entries, allowing us to filter and
  retain only those rows that are pertinent to Generative AI and Specialized
  Computing Infrastructure. Through this targeted search, we refine the vast
  dataset of over 30 millions rows to a manageable and highly relevant
  dataframe, typically encompassing between 3,000 and 5,000 purchase requests.
  This careful curation process results in a detailed snapshot of government
  purchasing behaviors related to Generative AI and Specialized Computing
  Infrastructure.
</p>
<h3 id="dashboard-views" class="sub-topic-heading">Views</h3>
<h4 id="view-vendor-count" class="">Vendor count</h4>
<p class="tab-p">
  The FPDS exclusively features Prime Vendors. The Vendor Count view presents
  the count of Prime Vendors according to the Contract Vehicle utilized. It
  distinguishes between solutions managed by individual agencies and those
  available government-wide. The purpose of this differentiation is to spotlight
  solutions outside the open market, focusing on Best in Class (BIC), Tier 2,
  and Tier 2 Small Business contracts, among other designations, especially for
  AI or specialized computing infrastructure solutions.
</p>
<h4 id="view-level-3" class="">Level 3</h4>
<p class="tab-p">
  Utilizing the tiered categorization system from the FPDS, this view offers a
  detailed exploration of procurement data. The FPDS organizes information into
  a hierarchical structure, comprising Level 1, Level 2, and Level 3 Categories.
  This arrangement allows for a progressively granular analysis of the
  government's purchasing activities. For example, within the realm of
  "Information and Communication Technology," which could be considered a
  broader Level 2 Category, a specific Level 3 Category might be "Application”.
  This specific product categorization helps identify the most relevant contract
  vehicles for the type of product or service an agency is looking to procure.
  By leveraging Level 3 Categories, stakeholders can pinpoint the exact nature
  of services procured and see how many Prime Vendors are selling goods in
  services in a category.
</p>
<h4 id="view-obligations-trends" class="">Obligations trends</h4>
<p class="tab-p">
  The Obligations View, intended for observing general purchasing patterns
  rather than detailed spend analysis, highlights departmental purchasing trends
  and fiscal year obligations as recorded in FPDS.
</p>
<p class="tab-p">
  By providing insights into general purchasing patterns across federal
  departments this section aids stakeholders in discerning purchasing trends in
  the rapidly evolving sectors of Generative AI and Specialized Computing
  Infrastructure. Stakeholders can leverage this information to gain insights
  into how procurement strategies in these areas shift over time for
  Departments. For example, if you filter for Specialized Computing
  Infrastructure the Obligations view will tell you which Departments are the
  biggest purchasers of Specialized Computing Infrastructure and how obligations
  for Specialized Computing Infrastructure have been trending from FY20 to
  present.
</p>
<h4 id="view-psc" class="">PSC</h4>
<p class="tab-p">
  The PSC View leverages Product Service Codes (PSC). Each PSC is a
  four-character code employed by the United States federal government to
  classify the products, services, and research and development (R&D) items it
  acquires. These codes are a standardized system designed to categorize and
  document government procurement transactions efficiently. Utilized across
  various procurement platforms, these codes are also reported to FPDS.
</p>
<p class="tab-p">
  By utilizing this view, dashboard users can gain insights into the
  availability of Prime Vendors across PSC Codes. It highlights not just the
  quantity of Prime Vendors within each PSC code, but also differentiates them
  based on their business size classification—small or other than small
  businesses.
</p>
<h4 id="view-naics" class="">NAICS</h4>
<p class="tab-p">
  The NAICS View employs the North American Industry Classification System
  (NAICS) codes to provide a view of Prime Vendors activities per NAICS code.
  NAICS codes are structured as a six-digit hierarchical system that categorizes
  the primary business activities of Prime Vendors. This classification system
  delineates the economy into progressively specific categories, as represented
  by the length and composition of each code:
</p>
<ul>
  <li>The first two digits identify the broad economic sector,</li>
  <li>The third digit specifies the subsector,</li>
  <li>The fourth digit defines the industry group,</li>
  <li>The fifth digit describes the industry itself,</li>
  <li>The sixth digit is reserved for national industry specifications.</li>
</ul>
<p class="tab-p">
  By utilizing this view, dashboard users can gain insights into the
  availability of Prime Vendors across various economic sectors. It highlights
  not just the quantity of Prime Vendors within each NAICS code, but also
  differentiates them based on their size classification. This view helps get a
  deeper understanding of the Prime Vendors distribution and their principal
  areas of operation.
</p>
<p class="tab-p">
  According to FAR regulation 19.102(a)(2), the Office of Management and Budget
  (OMB), through its Economic Classification Policy Committee, updates NAICS
  codes every five years. The U.S. Census Bureau maintains a searchable database
  of NAICS codes on its
  <a class="usa-link--external" href="https://www.census.gov/naics/"
    >North American Industry Classification System website</a
  >.
</p>
<h4 id="view-available-contracts" class="">Available contracts</h4>
<p class="tab-p">
  This segment of the dashboard focuses on the Procurement Instrument
  Identification, commonly referred to as PIID, Reference PIID, or Contract ID.
  The PIID is an identifier within government procurement, acting as a unique
  number assigned to each contract, agreement, or order. It serves as a key for
  conducting in-depth research on specific contract vehicles, especially those
  pertaining to the acquisition of Generative AI and Specialized Computing
  Infrastructure.
</p>
<p class="tab-p">
  In this view, users are presented with a list of PIIDs or Contract IDs
  corresponding to active and past contracts involved in procuring Generative AI
  and Specialized Computing Infrastructure. This inclusion helps acquisition
  workforce members and decision-makers seeking to explore and analyze contracts
  that they may be able to consult for more information. The PIIDs provided in
  the dashboard are gateways to contractual information. By using these
  identifiers, users can access detailed contract documents, performance
  reports, financial terms, and Prime Vendor information that may help inform
  their own Generative AI and Specialized Computing Infrastructure acquisitions.
</p>

<div class="tab-divide-line w-100"></div>
