<div id="guide-chapter-3">
  <h2>3. Generative AI Procurement</h2>

  <h3>Select Components of a Generative AI Acquisition</h3>
  <p>
    Acquiring Generative AI solutions can look very similar to other software
    acquisitions plus a few specific considerations.
  </p>

  <p>
    If you are not familiar with purchasing software or have not conducted a
    software acquisition recently, consider reviewing the information at the
    <a
      class="usa-link usa-link--external"
      href="https://techfarhub.usds.gov/get-started/"
      >TechFAR Hub</a
    >
    or seeking out some additional training from the providers listed on the
    site or your agency.
  </p>

  <p>
    Here are select components of a Generative AI acquisition. These are
    starting points and don’t represent the only practices or approaches for
    acquiring Generative AI. This also is not a strict sequence as much as it is
    a collection of focus areas that should be considered as part of any
    Generative AI acquisition.
  </p>

  <p>
    Additionally, your agency may have specific requirements, policies and
    guidelines that you must follow as part of any Generative AI acquisition.
  </p>
</div>
<div class="tab-divide-line w-100"></div>
