<div id="guide-chapter-4">
  <h2>4. Acquisition Methods and Vehicles</h2>

  <p>
    There is currently not a governmentwide Generative AI-only acquisition
    vehicle. That said, the federal government has a variety of procurement
    options to help agencies purchase Generative AI solutions.
  </p>

  <p>
    An agency may have its own specific Blanket Purchase Agreement (BPA) that
    permits them to procure Generative AI solutions. If such a BPA exists for
    your agency, consider using it.
  </p>

  <p>
    Below is a list of some procurement options that you may wish to consider as
    you are planning your acquisition. When it comes time to buy Generative AI
    solutions, look at governmentwide Best-in-Class (BIC) acquisition vehicles
    as opportunities for best pricing and terms and conditions.
  </p>

  <p>
    While open market buys of Generative AI are possible and many agencies have
    done them, they can involve higher risks from financial to compliance. When
    an agency can meet its needs using governmentwide contracts that mitigate
    risks and leverage the government’s buying power, this approach is
    preferred.
  </p>

  <p>
    Visit
    <a
      class="external_link"
      href="https://staging.d2d.gsa.gov/report/governmentwide-ai-eo-dashboard-0"
      >the dashboard</a
    >
    to gather data regarding what vehicles and strategies agencies have used in
    the past.
  </p>

  <h2>GSA Multiple Award Schedules (MAS) IT</h2>
  <p>
    The
    <a
      class="external_link"
      href="https://www.gsa.gov/technology/it-contract-vehicles-and-purchasing-programs/multiple-award-schedule-it"
      >Multiple Award Schedules (MAS) IT</a
    >
    (what used to be called “Schedule 70”) provides easy ways to purchase over
    7.5 million innovative commercial products, services, and solutions from
    thousands of pre-qualified vendors, including ones offering Generative AI
    solutions. MAS IT is managed by General Services Administration (GSA).
  </p>

  <p>
    Because MAS IT has a large vendor base it is best for commercial items
    and/or if you need to meet socioeconomic small business goals. MAS IT
    vendors have also gone through an initial series of compliance checks and
    pre-negotiated pricing reducing the workload on agency contracting
    officials. If you have a well-defined requirement and market research
    indicates that a commercial Generative AI tool can fulfill your need, the
    MAS IT vehicle may be a good fit for your procurement.
  </p>

  <h2>Government Wide Acquisition Vehicles</h2>
  <p>
    Government-Wide Acquisition Contracts (GWACs) provide access to a wide range
    of IT solutions, including AI technologies. These contracts streamline the
    procurement process and offer competitive pricing.
    <a
      class="external_link"
      href="https://www.gsa.gov/technology/it-contract-vehicles-and-purchasing-programs/governmentwide-acquisition-contracts"
      >To use GWACs</a
    >, Contracting Officers can request delegated procurement authority or work
    with groups like
    <a
      class="external_link"
      href="https://www.gsa.gov/system/files/Integrated_Technology_Services/19-00658_AAS_SolutionsOverviewSlipsheet_final508.pdf"
      >GSA’s Assisted Acquisition Services (AAS)</a
    >
    and
    <a
      class="external_link"
      href="https://nitaac.nih.gov/resources/videos/introduction-nitaac-assisted-acquisitions"
      >NIH NITAAC’s Assisted Acquisitions team</a
    >. Working with assisted acquisition teams may incur costs in addition to
    contract access fees.
  </p>

  <p>
    The vehicles offer a commitment to meet customer needs, easy access to
    solutions, cost savings, socio-economic goals, streamlined acquisitions, and
    compliance with federal regulatory guidance (e.g., FedRAMP). Below are the
    major government-wide contract vehicles that would be most useful for
    Generative AI purchases:
  </p>

  <h3>8(a) STARS III</h3>
  <p>
    <a
      class="external_link"
      href="https://www.gsa.gov/technology/it-contract-vehicles-and-purchasing-programs/governmentwide-acquisition-contracts/8a-stars-iii"
      >8(a) STARS III</a
    >
    is a small business set-aside GWAC that provides flexible access to IT
    services and customized IT services-based solutions from a large, diverse
    pool of 8(a) industry partners. Use this vehicle when you want to meet an
    SDB or 8(a) award. Alliant 2 is considered a Best in Class acquisition
    vehicle. 8(a) STARS III is managed by the General Services Administration
    (GSA).
  </p>

  <h3>Alliant 2</h3>
  <p>
    <a
      class="external_link"
      href="https://www.gsa.gov/technology/it-contract-vehicles-and-purchasing-programs/governmentwide-acquisition-contracts/alliant-2"
      >Alliant 2</a
    >
    is made up of large businesses with extensive experience in major IT
    contracts and a number of teaming arrangements and is primarily designed for
    complex agency requirements. Alliant is often used for requirements where
    there is a need to rapidly scale to meet the government’s needs. Alliant 2
    is managed by the General Services Administration (GSA). Alliant 2 is
    considered a Best in Class acquisition vehicle.
  </p>

  <h3>CIO CS, SP3 &amp; SP3 Small Business</h3>
  <p>
    <a class="external_link" href="https://nitaac.nih.gov/gwacs"
      >CIO SP3 and CIO SP3</a
    >
    Small Business provide technology related products and services for ten
    different task areas and about 137 different labor categories. CIO CS
    provide access to IT commodities delivered either in an On-Premise or
    through a Managed Service Construct. CIO SP3 and SP3 Small Business are both
    considered Best in Class acquisition vehicles. This family of contracts are
    managed by the National Institutes of Health (NIH) through their NITAAC (NIH
    Information Technology Acquisition and Assessment Center).
  </p>

  <h3>EIS</h3>
  <p>
    <a
      class="external_link"
      href="https://www.gsa.gov/technology/it-contract-vehicles-and-purchasing-programs/telecommunications-and-network-services/enterprise-infrastructure-solutions"
      >Enterprise Infrastructure Solutions (EIS)</a
    >
    is a comprehensive solution-based vehicle to address all aspects of federal
    agency IT telecommunications, and infrastructure requirements. Under EIS,
    generative AI solutions may be provided in support of or as part of your
    network and infrastructure operations. EIS is considered a Best in Class
    acquisition vehicle. EIS is managed by the General Services Administration
    (GSA).
  </p>

  <h3>SEWP</h3>
  <p>
    <a class="external_link" href="https://www.sewp.nasa.gov/"
      >NASA SEWP (Solutions for Enterprise-Wide Procurement)</a
    >
    provides the latest in commercial Information and Communications Technology
    (ICT) and Audio-Visual (AV) products and services for all Federal Agencies
    and their approved contractors. This contract is managed by the National
    Aeronautics and Space Administration (NASA). SEWP offers streamlined buying
    as buying agencies retain responsibility for compliance. SEWP is considered
    a Best in Class acquisition vehicle.
  </p>

  <h3>VETS2</h3>
  <p>
    <a
      class="external_link"
      href="https://www.gsa.gov/technology/it-contract-vehicles-and-purchasing-programs/governmentwide-acquisition-contracts/vets-2-sdvosb"
      >VETS 2</a
    >
    is the only GWAC set aside exclusively for Service-Disabled, Veteran-Owned
    Small Businesses (SDVOSB). It’s designed to meet diverse agency IT services
    requirements, including new and emerging technologies like GenerativeAI. Use
    VETS2 when you specifically want to award to an SDVOSB. VETS2 is considered
    a Best in Class acquisition vehicle. VETS2 is managed by the General
    Services Administration (GSA)..
  </p>

  <h2>Department or Agency-Wide Vehicles</h2>
  <p>
    Some agencies have their own contracting vehicles designed to meet unique
    requirements, which can be an efficient way to procure Generative AI
    solutions tailored to specific missions. Here are a few examples:
  </p>

  <h3>CHESS</h3>
  <p>
    <a class="external_link" href="https://www.eis.army.mil/programs/chess"
      >CHESS (Computer Hardware, Enterprise Software and Solutions)</a
    >
    is the Army’s designated primary source for commercial IT. CHESS provides a
    no-fee, flexible procurement strategy through which an Army user may procure
    commercial-off-the-shelf (COTS) IT hardware, software, and services via an
    e-commerce (IT e-mart) based process. CHESS offers simple, straightforward
    contract vehicles through its online Army e-commerce ordering system, the IT
    e-mart. These contracts provide continuous vendor competition for best value
    and consolidation of requirements to maximize cost avoidance and leverage
    the Army’s buying power. This contract is for use by the US Army.
  </p>

  <h2>EAGLE NextGen</h2>
  <p>
    <a
      class="external_link"
      href="https://www.dhs.gov/sites/default/files/2022-03/gwac-it-services_2022.pdf"
      >Enterprise Acquisition Gateway for Leading Edge Solutions Next Generation </a
    >is not a single contract vehicle, but a suite of contract vehicles,
    including a portfolio of IT services contract vehicles with specialized,
    targeted DHS scope. EAGLE Next Gen balances the use of existing
    Government-wide Acquisition Contracts (GWACs) in conjunction with DHS IT
    services contract vehicles. DHS tailored requirements from General Services
    Administration’s Alliant 2, 8(a) STARS III, and VETS 2, as well as the
    National Institutes of Health’s CIO-SP3 and CIO-SP3 Small Business into its
    Category Management and Strategic Sourcing portfolio to meet unique mission
    DHS mission and IT needs.
  </p>

  <h2>Tradewinds</h2>
  <p>
    <a class="external_link" href="https://www.tradewindai.com/">Tradewinds</a>
    is the Department of Defense’s Platform for learning about and procuring
    technology; it offers “AcqBot” (a Generative AI enabled chatbot) and a
    Solutions Marketplace to support AI procurements. Tradewinds has several
    contract vehicles that can be utilized for procurement, including TryAI
    Commercial Solutions Opening (CSO), Test and Evaluation Services Blanket
    Purchase Agreement (BPA), Data Readiness for Artificial Intelligence
    Development (DRAID) Basic Ordering Agreement (BOA), and AI Talent.
    Tradewinds is particularly useful for agencies intending to quickly procure
    and test commercial AI solutions, acquire demonstrations of innovative
    commercial items, or seek AI talent.
  </p>

  <h3>Pilot IRS</h3>
  <p>
    <a
      class="external_link"
      href="https://www.irs.gov/about-irs/procurement/about-pilot-irs"
      >Pilot IRS</a
    >
    is an iterative procurement technique focused on outcomes that allows the
    Internal Revenue Service (IRS) to test new technologies on faster timelines.
    If a solution fails to meet expectations, then it will not proceed to the
    next phase of funding. This methodology creates an agile approach to
    identify, test, and deploy solutions that support the mission, regardless of
    whether the solution, technology, or service currently resides within the
    IRS or the federal government. The Pilot IRS program allows for testing to
    be done in phases, concurrently with other vendors, and can easily be scaled
    and ultimately deployed in incremental phases. Pilot IRS could potentially
    be used for Generative AI projects. Please check with Pilot IRS staff for
    more specific information.
  </p>

  <h2>Cooperative Research and Development Agreements</h2>
  <p>
    Generally, a Cooperative Research and Development Agreement (CRADA)
    authorizes federal labs to enter into agreements with other federal
    agencies, state/local government, industry, non-profits, and universities
    for licensing agreements for lab developed inventions or intellectual
    property to commercialize products or processes originating in federal labs.
    In some cases, partnerships may be made directly with commercial R&amp;D
    organizations. This approach may be most suitable if a government lab and
    their commercial partners either are developing or have developed a
    Generative AI tool that fits the needs of your agency. While no government
    funds can directly be provided under this approach, collaborating with
    private sector entities can provide access to cutting-edge Generative AI
    technologies and expertise, offering a path to innovative solutions. For
    more information, please review
    <a
      class="external_link"
      href="https://uscode.house.gov/view.xhtml?req=29&amp;f=treesort&amp;num=1958"
      >15 USC 3710a: Cooperative research and development agreements</a
    >.
  </p>

  <h2>Interagency Agreement</h2>
  <p>
    Interagency agreements are authorized by the Economy Act, which allows
    agencies to enter into agreements to obtain supplies or services from
    another agency. This approach may be most practical for situations where
    another agency already has a Generative AI solution or solution set which
    meets your needs and has the ability for additional agencies to use that
    solution. For more information, please review
    <a class="external_link" href="https://www.acquisition.gov/far/17.502-2"
      >FAR 17.502-2</a
    >, which provides for executing Economy Act transactions and
    <a
      class="external_link"
      href="http://uscode.house.gov/browse.xhtml;jsessionid=114A3287C7B3359E597506A31FC855B3"
      >31 U.S.C.1535: Agency Agreements</a
    >.
  </p>

  <h2>Other Transaction Authority (OTA)</h2>
  <p>
    Some agencies have the authority to enter into a non-FAR based legal
    agreement called an Other Transaction Authority (OTA) that leverages
    commercial buying practices. Typically OTAs are utilized to procure
    state-of-the-art technology solutions from non-traditional vendors. OTAs
    generally can be used for research and development activities, prototyping,
    and in certain cases production of prototypes. For Generative AI solutions,
    this may be a good solution to help a non-traditional vendor modify a
    commercial product to government specifications, reach smaller or niche
    companies with specific generative AI expertise, or more quickly develop an
    agency specific Generative AI capability. Your agency must have specific
    statutory authority to use OTA arrangements.
  </p>

  <h2>Commercial Solutions Opening (CSO)</h2>
  <p>
    CSOs are similar to Broad Agency Announcements (BAAs) which are used for
    Research and Development (R&amp;D); however, CSOs are set up for innovative
    commercial solutions. Typically a phased acquisition approach is used where
    a problem statement is provided by the government through a Statement of
    Objectives (SOO) and vendors submit white papers on their approach to solve
    the problem. After a technical evaluation and based on funding requirements,
    prototypes and simulations are funded and potentially follow-on contracts.
    Consider using a CSO to generate new ideas and concepts and obtain an
    innovative solution using generative AI when shorter evaluation timelines
    and rapid selection of innovative commercial solutions are necessary and
    when proposals with varying technical/scientific approaches are anticipated.
    Your agency must have specific statutory authority to use CSO arrangements.
  </p>

  <h2>Prize Competitions</h2>
  <p>
    One way that agencies can begin to explore harnessing Generative AI is
    through prize based competitions.
    <a class="external_link" href="http://challenge.gov">Challenge.gov</a>
    is a central hub for prize competitions across the U.S. federal government.
    Through this platform and others, federal agencies can engage public solvers
    in prize competitions and crowdsourcing campaigns to identify innovative
    solutions to important issues. A prize competition may be appropriate if you
    are hoping to engage a diverse set of solvers, and if you would prefer to
    reward research outcomes rather than fund research inputs. You may wish to
    consider using a Prize Competition if you can:
  </p>

  <ul>
    <li>clearly explain the problem to be solved,</li>
    <li>outline the parameters of a successful outcome, and</li>
    <li>determine how to measure the submissions and declare a winner.</li>
  </ul>
</div>

<div class="tab-divide-line w-100"></div>
