<h2>3.1. Integrated Product Team</h2>

<p>
  Generative AI procurement is not just a procurement or IT department task.
  Many agencies have consolidated their AI decision making under a Chief
  Artificial Intelligence Officer (CAIO). Some agencies, commissions and
  departmental components may assign this responsibility under their CIO or IT
  support organization.
</p>

<p>
  The CAIO plays a vital role in any Generative AI project. They are often the
  responsible official ensuring that the right policies and protections are in
  place for any AI project in their agency. They can be the project sponsor who
  is trying to get specific Generative AI pilots and experiments underway. They
  are also subject matter experts who can provide guidance on which are the
  right solutions to consider and how to best implement Generative AI products
  in the agency’s current technology environments. CAIOs can be strong partners
  for acquisition teams looking to help program staff get a Generative AI
  project off the ground and running smoothly.
</p>

<p>
  As a start, your agency’s CAIO and program officials can provide insight into
  the maturity of the agency’s IT and AI capabilities, policies, and skills.
  Your agency may already be using Generative AI tools and may be familiar with
  how to best work with them.
</p>

<p>
  Consider creating an Integrated Product Team (IPT) drawing from across the
  agency or sub-agency. Integrated Product Teams are successful because each
  role brings different perspectives and knowledge. Given the complex and
  cross-cutting nature of many Generative AI decisions a cross-agency IPT
  involving agency officials with expertise in the specific program, technology,
  data, and other relevant domains (e.g., security, privacy, legal, finance,
  acquisition, etc.) can help work through challenges and identify
  opportunities. Having multiple voices and ideas can make working through
  thorny challenges more effective.
</p>

<p>
  Led by a technical program manager, the IPT consists of program staff who can
  voice needs and advocate for the agency’s mission, AI practitioners, software
  engineers, data engineers, security experts, privacy officials and acquisition
  professionals. Finance, legal, accessibility and other representatives can be
  brought in along the way.
</p>

<p>
  An IPT can set the project objectives and constraints, research and vet
  solutions, and identify potential risks and consequences. The team can
  identify and review agency related AI policies and guidance. In the case of
  Generative AI, the IPT can also serve as the means for continued monitoring
  and evaluation of the capability as described in section 3.8.
</p>

<p>The IPT can address these types of issues:</p>
<ul>
  <li>
    Integration and interoperability of solutions with existing systems and data
  </li>
  <li>Data rights and ownership</li>
  <li>Data protections</li>
  <li>Responsible use of data and tools</li>
  <li>Intellectual property provisions</li>
  <li>End-user licensing agreements</li>
  <li>Appropriations implications for different types of pricing</li>
  <li>
    Security measures and privacy implications to start a pilot or scale a
    solution
  </li>
  <li>Performance testing, monitoring and control</li>
  <li>Accessibility considerations</li>
</ul>

<p>
  Refer to
  <a
    class="usa-link usa-link--external"
    href="https://www.whitehouse.gov/wp-content/uploads/2024/03/M-24-10-Advancing-Governance-Innovation-and-Risk-Management-for-Agency-Use-of-Artificial-Intelligence.pdf"
    >OMB Management Memo M-24-10 Advancing Governance, Innovation, and Risk
    Management for Agency Use of Artificial Intelligence</a
  >
  for more details about issues an IPT can consider.
</p>

<p>
  Many governmentwide communities can help you charter an IPT. The
  <a
    class="usa-link usa-link--external"
    href="https://itvmo.gsa.gov/services/it-buyers-training-and-support/?tabName=it-buyers-cop-header"
    >IT Buyers Community of Practice</a
  >
  unifies agency contracting officers, program managers, software asset
  managers, information security officers as well as industry partners and many
  other active stakeholders in the Federal IT Marketplace to increase access to
  data, tools, and information.
</p>
<div class="tab-divide-line w-100"></div>
