<h1 class="itvmo-article-header-blue no-top">3. Generative AI Procurement</h1>
<h2 class="itvmo-article-sub-2 no-top">3.1. Integrated Product Team</h2>

<p>
  Generative AI procurement is not just a procurement or IT department task.
  Many agencies have consolidated their AI decision-making under a Chief
  Artificial Intelligence Officer (CAIO). Some agencies, commissions and
  departmental components may assign this responsibility under their CIO or IT
  support organization.
</p>

<p>
  The CAIO plays a vital role in any Generative AI project. CAIOs can be strong
  partners for acquisition teams looking to help program staff get a Generative
  AI project off the ground and running smoothly.
</p>

<p>
  As a start, your agency’s CAIO and program officials can provide insight into
  the maturity of the agency’s IT and AI capabilities, policies, and skills.
  Your agency may already be using Generative AI tools and may be familiar with
  how to best work with them.
</p>

<p>
  Consider creating an Integrated Product Team (IPT) drawing from across the
  agency or sub-agency. Integrated Product Teams are successful because each
  role brings different perspectives and knowledge. Given the complex and
  cross-cutting nature of many Generative AI decisions a cross-agency IPT
  involving agency officials with expertise in the specific program, technology,
  data, and other relevant domains (e.g., security, privacy, legal, finance,
  acquisition, etc.) can help work through challenges and identify
  opportunities. Having multiple voices and ideas can make working through
  thorny challenges more effective.
</p>

<p>
  Led by a technical program manager, the IPT consists of program staff who can
  voice needs and advocate for the agency’s mission, as well as AI
  practitioners, software engineers, data engineers, security experts, privacy
  officials and acquisition professionals. Finance, legal, accessibility and
  other representatives can be brought in along the way.
</p>

<p>
  An IPT can set the project objectives and constraints, research and vet
  solutions, and identify potential risks and consequences. The team can
  identify and review agency related AI policies and guidance. In the case of
  Generative AI, the IPT can also serve as the means for continued monitoring
  and evaluation of the capability as described in
  <a
    class="usa-link"
    target="_blank"
    rel="noreferrer noopener"
    href="{{site.baseurl}}/genai/?tabName=part-38-header"
    >Section 3.8 Performance Monitoring and Evaluation.</a
  >
</p>

<p>
  <b>
    In coordination with agency officials with relevant expertise and
    responsibilities, the IPT can address these types of issues:
  </b>
</p>
<div class="bulletSections">
  <div class="topLine"></div>
  <ul class="experiences">
    <li class="bulletText tight-bullet">
      <b
        >Integration and interoperability of solutions with existing systems and
        data</b
      >
    </li>
    <li class="bulletText tight-bullet"><b>Data rights and ownership.</b></li>
    <li class="bulletText tight-bullet"><b>Data protections</b></li>
    <li class="bulletText tight-bullet">
      <b>Responsible use of data and tools</b>
    </li>
    <li class="bulletText tight-bullet">
      <b>Intellectual property provisions</b>
    </li>
    <li class="bulletText tight-bullet">
      <b>End-user licensing agreements</b>
    </li>
    <li class="bulletText tight-bullet">
      <b>Appropriations implications for different types of pricing</b>
    </li>
    <li class="bulletText tight-bullet">
      <b
        >Security measures and privacy implications to start a pilot or scale a
        solution</b
      >
    </li>
    <li class="bulletText tight-bullet">
      <b>Performance testing, monitoring and control</b>
    </li>
    <li class="bulletText tight-bullet"><b>Accessibility considerations</b></li>
  </ul>
</div>

<p>
  Refer to
  <a
    class="usa-link usa-link--external"
    href="https://www.whitehouse.gov/wp-content/uploads/2024/03/M-24-10-Advancing-Governance-Innovation-and-Risk-Management-for-Agency-Use-of-Artificial-Intelligence.pdf"
    >OMB Management Memo M-24-10 Advancing Governance, Innovation, and Risk
    Management for Agency Use of Artificial Intelligence</a
  >
  for more details about relevant issues.
</p>

<p>
  Many governmentwide communities can help you charter an IPT. The
  <a
    class="usa-link"
    href="https://itvmo.gsa.gov/services/it-buyers-training-and-support/?tabName=it-buyers-cop-header"
    >IT Buyers Community of Practice</a
  >
  unifies agency contracting officers, program managers, software asset
  managers, information security officers as well as industry partners and many
  other active stakeholders in the Federal IT Marketplace to increase access to
  data, tools, and information.
</p>
<div class="tab-divide-line w-100"></div>
