<div id="guide-chapter-6">
  <h1 class="itvmo-article-header-blue no-top">6. Data Dashboard</h1>

  <h3 class="sub-topic-heading">Overview</h3>
  <p>
    <a
      href="https://www.whitehouse.gov/briefing-room/presidential-actions/2023/10/30/executive-order-on-the-safe-secure-and-trustworthy-development-and-use-of-artificial-intelligence/"
      target="_blank"
      class="usa-link usa-link--external"
      >Executive Order 14410</a
    >
    directs agencies to promote transparency and encourage data-informed
    decision making.
  </p>

  <ul class="usa-card-group pl-0">
    <li id="ai-dashboard" class="usa-card usa-card--flag">
      <a
        target="_blank"
        rel="noreferrer noopener"
        href="https://d2d.gsa.gov/tableau-report-for-embed/10744"
        class="usa-card__container usa-card__container_link">
        <div class="usa-card__media serviceCard">
          <div class="leftPort">
            <img
              class="imgCont"
              src="{{site.baseurl}}/assets/images/screenshot/ai-acquisition-dashboard-screenshot.PNG"
              alt="Screenshot of the AI Acquisition Dashboard" />
          </div>
        </div>

        <div class="usa-card__body">
          <div class="resCardSec">
            <div>
              <img
                class="imgContres"
                src="{{site.baseurl}}/assets/images/screenshot/ai-acquisition-dashboard-screenshot.PNG"
                alt="Screenshot of the AI Acquisition Dashboard" />
            </div>
            <div class="resHeading">
              <h2 class="usa-card__heading">
                Access the AI Acquisition Resource Dashboard
              </h2>
            </div>
          </div>
          <h2 class="partnerHeader">
            AI Acquisition Resource Dashboard
            <img
              alt="External icon"
              src="{{site.baseurl}}/assets/images/icons/external-dark-blue.svg" />
          </h2>
          <div class="cardBody">
            <p>
              This interactive Tableau dashboard shows Generative AI and
              Specialized Computing Infrastructure-related contract actions in
              the U.S. federal civilian government from October 1, 2023 to April
              4, 2023.
            </p>
          </div>
        </div>
      </a>
    </li>
  </ul>

  <p>
    Data was derived from over 30 million contract actions in the Federal
    Procurement Data System and is structured to help spot trends and patterns.
  </p>

  <p>
    It enables government employees to visualize and analyze the landscape of
    federal Generative AI and Specialized Computing Infrastructure acquisitions
    and foster insights into market dynamics, spending patterns, and acquisition
    strategies.
  </p>
</div>
<div class="tab-divide-line w-100"></div>
