<h2 class="itvmo-article-sub-2 mb-0">1.6 For further reading</h2>
<div class="links-list padding-bottom-5">
  <ul class="links-with-descriptions indent-article-section-0">
    <li class="link-with-description">
      <a
        target="_blank"
        rel="noreferrer noopener"
        href="https://www.alcf.anl.gov/alcf-ai-science-training-series"
        tabindex="0">
        <p class="link-explanation">Argonne Leadership Computing Facility:</p>
        <p class="link-heading">
          <img
            class="link-icon"
            alt="PDF icon"
            src="{{site.baseurl}}/assets/images/icons/link-icon.svg" />
          An Intro to AI Driven Science on Supercomputers: A Student Training
          Series
          <img
            class="external-icon"
            alt="External icon"
            src="{{site.baseurl}}/assets/images/icons/external-small.svg" />
        </p>
      </a>
    </li>

    <li class="link-with-description login-require-with-description">
      <a
        target="_blank"
        rel="noreferrer noopener"
        href="https://dau.csod.com/ui/lms-learner-playlist/PlaylistDetails?playlistId=00118adb-20e1-4dc5-95a8-9ffd03ab7f70"
        tabindex="0">
        <p class="link-explanation">
          Defense Acquisition University (account needed):
        </p>
        <p class="link-heading">
          <img
            class="link-icon"
            alt="Link icon"
            src="{{site.baseurl}}/assets/images/icons/link-icon.svg" />
          CENG 003, Artificial Intelligence (AI) Foundations for the DoD
          <img
            class="external-icon"
            alt="External icon"
            src="{{site.baseurl}}/assets/images/icons/external-small.svg" />
        </p>
      </a>
    </li>

    <li class="link-with-description login-require-with-description">
      <a
        target="_blank"
        rel="noreferrer noopener"
        href="https://community.connect.gov/display/GSA/2023+Stanford+HAI+Training+Series"
        tabindex="0">
        <p class="link-explanation">
          AI Community of Practice (Connect.gov login required):
        </p>
        <p class="link-heading">
          <img
            class="link-icon"
            alt="Link icon"
            src="{{site.baseurl}}/assets/images/icons/link-icon.svg" />
          2023 Stanford HAI Training Series
          <img
            class="external-icon"
            alt="External icon"
            src="{{site.baseurl}}/assets/images/icons/external-small.svg" />
        </p>
      </a>
    </li>

    <li class="link-with-description">
      <a
        target="_blank"
        rel="noreferrer noopener"
        href="https://coe.gsa.gov/coe/ai-guide-for-government/introduction/"
        tabindex="0">
        <p class="link-explanation">IT Modernization Center of Excellence:</p>
        <p class="link-heading">
          <img
            class="link-icon"
            alt="PDF icon"
            src="{{site.baseurl}}/assets/images/icons/link-icon.svg" />
          IT Modernization CoE - AI Guide for Government
          <img
            class="external-icon"
            alt="External icon"
            src="{{site.baseurl}}/assets/images/icons/external-small.svg" />
        </p>
      </a>
    </li>

    <li class="link-with-description login-require-with-description">
      <a
        target="_blank"
        rel="noreferrer noopener"
        href="https://dau.csod.com/ui/lms-learner-playlist/PlaylistDetails?playlistId=6c131382-2701-4483-9b7c-610df9550277&utm_medium=email&utm_source=govdelivery"
        tabindex="0">
        <p class="link-explanation">
          Federal Acquisition Institute (account needed):
        </p>
        <p class="link-heading">
          <img
            class="link-icon"
            alt="Link icon"
            src="{{site.baseurl}}/assets/images/icons/link-icon.svg" />
          Demystifying AI: A Learning Playlist for Federal Acquisition
          <img
            class="external-icon"
            alt="External icon"
            src="{{site.baseurl}}/assets/images/icons/external-small.svg" />
        </p>
      </a>
    </li>
  </ul>
</div>
