<h3>Executive Order 14110</h3>
<p>
  Executive Order 14110 Section 10.1(h) directs GSA to facilitate agencies’
  access to commercial Generative AI capabilities.
</p>
<blockquote class="border-left-05 border-primary-darker padding-left-2">
  “Within 180 days of the date of this order, to facilitate agencies’ access to
  commercial AI capabilities, the Administrator of General Services, in
  coordination with the Director of OMB, and in collaboration with the Secretary
  of Defense, the Secretary of Homeland Security, the Director of National
  Intelligence, the Administrator of the National Aeronautics and Space
  Administration, and the head of any other agency identified by the
  Administrator of General Services, shall take steps consistent with applicable
  law to facilitate access to Federal Government-wide acquisition solutions for
  specified types of AI services and products, such as through the creation of a
  resource guide or other tools to assist the acquisition workforce. Specified
  types of AI capabilities shall include generative AI and specialized computing
  infrastructure.”
</blockquote>
<h3>This guide focuses on Generative AI not all of AI</h3>
<p>
  Artificial Intelligence or “AI” is one of the most profound technological
  shifts in a generation or more. At its roots, AI is software. That means it
  follows the same acquisition policies and rules as other software and IT as a
  whole.
</p>
<p>
  Contracting officers should consider cybersecurity, supply chain risk
  management, data governance and other standards and guidelines just as they
  would with other IT procurements.
</p>
<p>
  AI is also a very large space and Generative AI is just one type of AI. This
  guide focuses on Generative AI acquisition in particular and not AI
  acquisition as a whole.
</p>
<p>
  Look for definitions for both Artificial Intelligence and Generative
  Artificial Intelligence in Section 1.1.
</p>

<h3 id="audience">Assisting the Acquisition Workforce</h3>
<p>
  This guide is primarily meant for the acquisition workforce navigating the
  complexities of acquiring Generative AI technologies in collaboration with
  relevant agency officials from other domains.
</p>
<p>
  This guide is focused on civilian agencies’ Generative AI needs. Defense,
  National Security and the
  <a
    class="usa-link usa-link--external"
    rel="noreferrer"
    href="https://dpcld.defense.gov/Portals/49/Documents/Civil/eo-12333-2008.pdf"
    >Intelligence Community</a
  >
  have very specific needs and procurement solutions that have been tailored for
  their requirements.
</p>
<p>
  Generative AI can be difficult to understand both for technologists and
  non-technologists.
</p>
<p>
  As a member of the acquisition workforce, it is critical to work with
  technical subject matter experts (SMEs) like software engineers, data
  scientists, security and privacy specialists; program staff who can identify
  the problems they are trying to solve, validate users’ needs, safeguard data
  and establish product goals or requirements; and agency officials responsible
  for security, privacy and other relevant disciplines to meet a range of agency
  responsibilities in this context.
</p>
<p>
  While those in the acquisition community don’t need to become experts in AI, a
  basic understanding of certain Generative AI terms, common issues and ways to
  derisk acquisitions will help you make better decisions about what to buy and
  how.
</p>
<p>
  This guide also simplifies complex technical IT and AI concepts to make them
  easier for non-technologists to understand. In some cases, this guide may
  over-simplify concepts for the sake of clarity. Seek support from AI, IT and
  data professionals when making decisions..
</p>
<p>
  Because Generative AI is relatively new and evolving quickly, it’s early to
  designate “best practices.” Think of the information in this resource guide as
  prompts to consider and frame your thinking and approach rather than directive
  recommendations for what to do. This content is non-binding. The
  recommendations presented do not supersede, modify, or direct an
  interpretation of existing requirements mandated by law or governmentwide
  policy.
</p>
<h3>The fastest acquisition may be no new acquisition.</h3>
<p>
  Generative AI tools are often software delivered via the web or “Software as a
  Service” (SaaS). Generative AI tools may already be available to agency staff.
  They might have them in tools they already use every day. Generative AI tools
  may be accessible through existing government cloud platforms. And they may be
  available through professional service and system integrator contracts
  agencies already have in place.
</p>
<p>
  In that way, the fastest acquisition for Generative AI tools may be no new
  acquisition, or as simple as adding “credits” to an existing cloud platform
  contract to account for the new requirements or resources associated with the
  Generative AI tools.
</p>
<p>
  Before embarking on a large scale or involved process for scoping and
  conducting a new acquisition for Generative AI tools, see if there is a
  simpler route. Work with your agency’s Chief Information Officer, Chief
  Artificial Intelligence Officer and Chief Information Security Officer to
  determine what you already have in place and whether you can just use an
  existing solution or contract.
</p>
<p>
  Of course the fastest or easiest solutions may not be the best for the agency
  in the short and/or long term. Work with the IPT to manage issues of
  competition and vendor lock in.
</p>
<h3 id="version">This is Version 1.0</h3>
<p>
  This guide isn’t static. It’s meant to evolve as technology advances while
  aligning with relevant law, policy and frameworks including the Executive
  Order on AI, the Federal Acquisition Regulation (FAR), the NIST AI Risk
  Management Framework (AI RMF) and the Blueprint for an AI Bill of Rights.
</p>
<p>
  Links in this guide were verified just prior to the site’s launch. If you do
  happen to find a bad link, please report it
  <a
    class="usa-link usa-link--external"
    href="https://touchpoints.app.cloud.gov/touchpoints/9970e8fc/submit"
    >using the Send Feedback tool.</a
  >
</p>

<h3 id="collaborate">Help make this guide better.</h3>
<p>
  Please join this evolving journey, share your insights and help refine this
  guide by
  <a
    class="usa-link usa-link--external"
    href="https://github.com/GSA/itvmo/blob/main/CONTRIBUTING.md"
    >contributing to this project on GitHub</a
  >.
</p>
<h3>Companies or product mentions are not endorsements.</h3>
<p>
  This guide may reference actual companies and/or offerings to define,
  illustrate or explain a concept. Do not consider these recommendations or
  disparagements. We do not endorse any company or their works.
</p>

<h3 id="disclosure">Generative AI content disclosure</h3>
<p>
  The team used Generative AI tools when drafting some initial content. This
  attribution highlights our commitment to leveraging emerging technology tools
  while maintaining transparency in our processes. All content in this guide has
  been reviewed by humans for quality.
</p>
<div class="tab-divide-line w-100"></div>
