<div id="guide-chapter-5">
  <h1 class="itvmo-article-header-blue no-top">
    5. Specialized Computing Infrastructure for Generative AI
  </h1>

  <h2 class="itvmo-article-sub-2 no-top">
    5.1 Specialized Computing Infrastructure for Generative AI 101
  </h2>
  <p>
    Generative AI tools, like all software, run on computers. Because Generative
    AI tools are so calculations-heavy, they require computers that are larger,
    more sophisticated and more powerful. These computers can look like the
    massive “supercomputers” like the ones located at government national
    laboratories. They can also look like very powerful “server” computers that
    sit as small clusters in an agency’s IT center or as groups of hundreds of
    servers sitting in large data centers.
  </p>

  <p>
    If your agency is accessing Generative AI tools through a cloud-based
    platform, there may be fewer concerns about computing power. But if your
    agency is attempting to create its own models and needs its own dedicated
    computers, or has security needs that require the agency to own and operate
    its own computers, it may be necessary to set up its own specialized
    computing infrastructure for Generative AI.
  </p>

  <p>
    <b> Please note:</b> Creating secure, stable and useful specialized
    computing infrastructure requires significant effort and expenses. Think
    carefully before making such investments. Consider reaching out to other
    agencies to see if they have infrastructure that your own agency can
    leverage or if the software models you intend to build have already been
    built elsewhere and you can access them.
  </p>
  <div class="indent-article-section-1">
    <h3 class="itvmo-article-sub-3-blue">
      5.1.1 Specialized Computing Infrastructure Overview
    </h3>
    <p>
      Specialized Computing Infrastructure can be thought of as the
      high-performance computers, powerful chips, software, networks and
      resources made specifically for building, training, fine-tuning, testing,
      using and maintaining artificial intelligence applications. Computing
      infrastructure can be on-premise, cloud-based or a combination of both.
    </p>

    <p>
      <b> Specialized Computing Infrastructure tends to have: </b>
    </p>
    <div class="bulletSections mb-0">
      <div class="topLine"></div>
      <ul class="experiences">
        <li class="bulletText tight-bullet">
          Advanced Computer Chips that can run multiple, complex calculations
          simultaneously and coordinate multiple functions at once.
        </li>

        <li class="bulletText tight-bullet">
          Scalable Processing Power giving the ability to quickly access
          additional chips if even more computational power is needed.
        </li>

        <li class="bulletText tight-bullet">
          Enhanced Data Storage and Memory to save, access and manage large sets
          of information.
        </li>

        <li class="bulletText tight-bullet">
          Fast Networking to transfer data at high-speeds among systems with
          minimal errors and little delay or “latency.”
        </li>

        <li class="bulletText tight-bullet">
          Sophisticated Software Tools that engineers can use to write computer
          code, program algorithms and adjust models.
        </li>
      </ul>
    </div>

    <h3 class="itvmo-article-sub-3-blue">
      5.1.2 Chips and Computers for Generative AI
    </h3>
    <p>
      The computer chips that Generative AI models rely on to run calculations
      are powerful and expensive. Only a few companies design them and only a
      few companies manufacture them. Businesses looking to increase their
      specialized computing infrastructure are spending millions on the chips
      and computers that they can use to run their own Generative AI
      applications.
    </p>
    <p>
      Computer manufacturers have started releasing AI chip-enabled servers,
      workstation PCs, desktops and laptops. The hardware is optimized with
      specialized GPU chips and larger amounts of RAM to run models directly on
      the device without having to send the queries to a data center or through
      a cloud provider.
    </p>

    <p>
      These computers may be a good fit for Generative AI tools that run off of
      smaller models or smaller data sets.
    </p>
  </div>

  <h2 class="itvmo-article-sub-2">
    5.2 Assess your specialized computing infrastructure needs
  </h2>
  <p>
    Building specialized computing infrastructure for Generative AI can be a
    longer-term undertaking, and involves a significant amount of up-front
    investing before delivering results. A thorough assessment of the
    organization's needs to be served by Generative AI and the specialized
    computing infrastructure to support it for the long term could<b>
      include:
    </b>
  </p>
  <div class="bulletSections mb-0">
    <div class="topLine"></div>
    <ul class="experiences">
      <li class="bulletText tight-bullet">
        What level of processing power, data storage, connectivity and software
        are necessary to support the agency’s Generative AI initiatives?
      </li>

      <li class="bulletText tight-bullet">
        What specific functions can cloud providers or specialized vendors offer
        and what can they not offer that an agency has to build itself?
      </li>

      <li class="bulletText tight-bullet">
        What federal regulations, policies standards and other relevant
        requirements (security, privacy, etc.) can only be met with an agency
        building its own infrastructure given the data and Generative AI tools
        used?
      </li>

      <li class="bulletText tight-bullet">
        What costs could grow rapidly unless the agency built its own
        specialized computing infrastructure?
      </li>

      <li class="bulletText tight-bullet">
        What time savings and quality improvements could be realized if the
        agency built its own specialized computing infrastructure?
      </li>

      <li class="bulletText tight-bullet">
        What risks would be best mitigated by the agency having its own
        specialized computing infrastructure?
      </li>

      <li class="bulletText tight-bullet">
        What capabilities would we need to be able to configure, operate and
        manage the specialized computing infrastructure we’ve identified?
      </li>
    </ul>
  </div>

  <h2 class="itvmo-article-sub-2">
    5.3 Estimating costs for specialized computing infrastructure for Generative
    AI
  </h2>
  <p>
    A civilian agency might want to get servers enabled with AI chips to be able
    to run focused tests. A few agencies with more specific needs and demands
    may need to invest more heavily in its own specialized computing
    infrastructure for Generative AI. Specialized computing infrastructure for
    generative AI is similar to other high-performance computing environments in
    many respects.
  </p>

  <p>
    The most critical decision in determining cost categories is to determine
    whether the infrastructure project would be more “software” or “hardware” –
    meaning, would it use dedicated cloud-based processing or have multiple
    dedicated servers with AI chips and the associated storage, network and
    software physically on premises in a government owned or operated data
    center.
  </p>
  <div class="indent-article-section-1">
    <h3 class="itvmo-article-sub-3-blue mb-1">
      5.3.1 Initial questions to help estimate costs
    </h3>

    <div class="bulletSections mb-0">
      <div class="topLine"></div>
      <ul class="experiences">
        <li class="bulletText tight-bullet">
          Will your specialized computing infrastructure for generative AI be
          internal facing or public facing? The more potential users, data
          storage needs and traffic, the greater the costs.
        </li>

        <li class="bulletText tight-bullet">
          Will your infrastructure be developed, modified, or does it already
          exist? Facilities can be expanded or modified; brand new construction
          or major renovation will add to the costs.
        </li>

        <li class="bulletText tight-bullet">
          Who will own, maintain and be responsible for the infrastructure?
          Maintenance teams, physical security, supplies and additional discrete
          operating costs add to the overhead.
        </li>

        <li class="bulletText tight-bullet">
          Where will your infrastructure be located (physically and virtually)?
          If an agency doesn’t have the expertise, land and budget to build the
          facilities a Cloud based approach may be more in line with the longer
          term vision for the infrastructure.
        </li>

        <li class="bulletText tight-bullet">
          How will your data be accessed and from where? Individuals accessing
          and working with Generative AI tech from different locations will
          drive up ancillary hardware, software, networking and security costs.
        </li>
        <li class="bulletText tight-bullet">
          >Will the data be transportable between hardware or IaaS providers if
          there is a need to change either? Understanding the portability of
          your data will help in longer term planning for future work.
        </li>
      </ul>
    </div>

    <h3 class="itvmo-article-sub-3-blue">5.3.2 Common Cost Categories</h3>

    <p>
      Contracting officials should closely consult with their technical and
      program counterparts to identify and understand the requirements as well
      as key cost drivers for Generative AI-specialized computing infrastructure
      acquisitions. Some common cost categories applicable to specialized
      computing infrastructure include:
    </p>
    <div class="indent-article-section-1">
      <h4 class="itvmo-article-sub-4 mb-1">
        Subject Matter Experts and Support Contractors
      </h4>
      <div class="bulletSections">
        <div class="topLine"></div>
        <ul class="experiences">
          <li class="bulletText tight-bullet">
            Labor and skills to design, implement, secure and operate Generative
            AI systems
          </li>
          <li class="bulletText tight-bullet">Trainers and guides</li>
          <li class="bulletText tight-bullet">
            Training materials, documentation, and certification requirements
          </li>
        </ul>
      </div>

      <h4 class="itvmo-article-sub-4 mb-1">Hardware</h4>
      <div class="bulletSections">
        <div class="topLine"></div>
        <ul class="experiences">
          <li class="bulletText tight-bullet">
            High-performance GPUs for core calculations and compute
          </li>
          <li class="bulletText tight-bullet">
            CPUs to manage the overall system and perform less data intensive
            tasks
          </li>
          <li class="bulletText tight-bullet">
            Large, fast memory for handling complex models and datasets
          </li>
          <li class="bulletText tight-bullet">
            Modular, scalable units for accommodating future growth
          </li>
          <li class="bulletText tight-bullet">
            Fast, scalable storage solutions for data sets, models, and backups
          </li>
          <li class="bulletText tight-bullet">
            High-bandwidth networking for data transfer
          </li>
        </ul>
      </div>

      <h4 class="itvmo-article-sub-4 mb-1">Software Licensing</h4>
      <div class="bulletSections">
        <div class="topLine"></div>
        <ul class="experiences">
          <li class="bulletText tight-bullet">
            Operating systems tailored for high-performance computing
          </li>
          <li class="bulletText tight-bullet">
            Generative AI, Frameworks and Libraries
          </li>
          <li class="bulletText tight-bullet">
            Software security and performance updates
          </li>
          <li class="bulletText tight-bullet">
            Integrated development environments (IDEs), compilers, and debugging
            tools
          </li>
        </ul>
      </div>

      <h4 class="itvmo-article-sub-4 mb-1">Cloud Services and Management</h4>
      <div class="bulletSections">
        <div class="topLine"></div>
        <ul class="experiences">
          <li class="bulletText tight-bullet">
            Subscriptions for cloud computing platforms offering scalable AI
            infrastructure
          </li>
          <li class="bulletText tight-bullet">
            Management fees when accessing Cloud services through a VAR
          </li>
        </ul>
      </div>

      <h4 class="itvmo-article-sub-4 mb-1">
        Facilities / On-premises Infrastructure
      </h4>
      <div class="bulletSections">
        <div class="topLine"></div>
        <ul class="experiences">
          <li class="bulletText tight-bullet">
            Configuration and construction costs for new hardware installation
          </li>
          <li class="bulletText tight-bullet">
            Higher capacity power/energy systems
          </li>
          <li class="bulletText tight-bullet">
            Additional or specialized cooling systems
          </li>
          <li class="bulletText tight-bullet">
            Maintenance, support. repairs, replacements and updates.
          </li>
        </ul>
      </div>

      <h4 class="itvmo-article-sub-4 mb-1">Security and Other Safeguards:</h4>
      <div class="bulletSections">
        <div class="topLine"></div>
        <ul class="experiences">
          <li class="bulletText tight-bullet">
            Zero Trust Architecture (ZTA) security measures to protect against
            cyber threats,
          </li>
          <li class="bulletText tight-bullet">
            Encryption and access controls to secure sensitive data
          </li>
          <li class="bulletText tight-bullet">
            Network Security to protect data in transit and at rest from
            unauthorized access.
          </li>
          <li class="bulletText tight-bullet">
            Audits to identify potential risks (technical, operational,
            compliance)
          </li>
          <li class="bulletText tight-bullet">
            Risk mitigation strategies, which may involve additional investments
            in security measures, privacy safeguards, or compliance
            certifications.
          </li>
        </ul>
      </div>

      <h4 class="itvmo-article-sub-4 mb-1">Workforce</h4>
      <div class="bulletSections">
        <div class="topLine"></div>
        <ul class="experiences">
          <li class="bulletText tight-bullet">
            Recruitment and retention of AI employees (including special pay and
            incentives)
          </li>
        </ul>
      </div>
    </div>
  </div>

  <h2 class="itvmo-article-sub-2">
    5.4 Compliance when acquiring specialized computing infrastructure for
    Generative AI
  </h2>

  <p>
    When acquiring specialized computing infrastructure for Generative AI
    applications, federal agencies must navigate a unique set of considerations
    beyond standard procurement practices. Adherence to executive orders,
    federal regulations, laws, and policies ensures that Gen AI infrastructure
    aligns with national security interests, data protection requirements, and
    ethical standards.
  </p>

  <p>
    Technical leaders, CIOs, CISOs, SAOPs, and other senior leaders and
    executives are responsible for ensuring agency networks and infrastructure
    are in compliance. High level overviews of these responsibilities can be
    found in the
    <a
      class="usa-link usa-link--external"
      href="https://www.cio.gov/cio-handbook/"
      >CIO Handbook</a
    >
    and the
    <a
      class="usa-link usa-link--external"
      href="https://www.cio.gov/assets/resources/CISO_Handbook.pdf"
      >CISO Handbook.</a
    >
    Look for more specific guidance from relevant agency officials as part of
    your planning process.
  </p>

  <p>
    Acquisition professionals also need to be aware of rules and policies
    related to cybersecurity, privacy, and supply chain management when
    purchasing specialized computing infrastructure. A few recent ones include:
  </p>

  <div class="indent-article-section-1">
    <h4 class="itvmo-article-sub-4">Section 889</h4>
    <p>
      FAR Modifications to
      <a
        class="usa-link usa-link--external"
        href="https://www.acquisition.gov/far/4.2102"
        >Part 4.2102(a)(2)</a
      >
      implemented Section 889 of the FY19 National Defense Authorization Act
      (NDAA). This clause prohibits purchase of certain networking and
      telecommunications equipment. Networking and telecom equipment is
      essential to any specialized computing infrastructure. Any agency looking
      to purchase specialized computing infrastructure to support Generative AI
      should ensure that they avoid these prohibited products. More info can be
      found on
      <a
        class="usa-link usa-link--external"
        href="https://www.acquisition.gov/Section-889-Policies"
        >Acquisition.gov’s Section 889 page.</a
      >
    </p>

    <h4 class="itvmo-article-sub-4">Section 5949</h4>
    <p>
      In 2022, the FY23 NDAA was signed into law. Section 5949 includes future
      prohibitions (to take effect in December 2027) on purchasing or renewing
      certain Semiconductor Products and Services. With advanced AI chips, GPUs
      and other semiconductors at the heart of any Generative AI specialized
      computing infrastructure, understanding where such components are made is
      critical for any such acquisition. A FAR case is pending, but the
      statutory language is available
      <a
        class="usa-link usa-link--external"
        href="https://www.congress.gov/committee-print/118th-congress/joint-committee-print/50665">
        on Congress' information page on the NDAA.</a
      >
    </p>

    <h4 class="itvmo-article-sub-4">Trade Agreements Act (TAA)</h4>
    <p>
      In 2022, the FY23 NDAA was signed into law. Section 5949 includes future
      prohibitions (to take effect in December 2027) on purchasing or renewing
      certain Semiconductor Products and Services. With advanced AI chips, GPUs
      and other semiconductors at the heart of any Generative AI specialized
      computing infrastructure, understanding where such components are made is
      critical for any such acquisition. A FAR case is pending, but the
      statutory language is available
      <a
        class="usa-link usa-link--external"
        href="https://www.acquisition.gov/far/52.225-5">
        FAR Part 52.225-5</a
      >
      contains the appropriate contract clause and list of designated countries.
    </p>

    <h4 class="itvmo-article-sub-4">DFARS 239.7602-2 or HSAR 3052.204-72</h4>
    <p>
      Given the sensitive nature of data used in AI applications, considerations
      around data storage and processing locations are paramount. Federal
      regulations require that
      <a
        class="usa-link usa-link--external"
        href="https://www.acquisition.gov/dfars/239.7602-2-required-storage-data-within-united-states-or-outlying-areas.">
        certain data</a
      >
      be stored within the United States or in specific jurisdictions to comply
      with
      <a
        class="usa-link usa-link--external"
        href="https://www.acquisition.gov/hsar/3052.204-72-safeguarding-controlled-unclassified-information.">
        security</a
      >
      and privacy standards.
    </p>

    <h4 class="itvmo-article-sub-4">NIST Special Publication (SP) 800-53</h4>
    <p>
      <a
        class="usa-link usa-link--external"
        href="https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-53Ar5.pdf">
        NIST SP 800-53</a
      >
      be stored within the United States or in specific jurisdictions to comply
      with
      <a
        class="usa-link usa-link--external"
        href="https://www.acquisition.gov/hsar/3052.204-72-safeguarding-controlled-unclassified-information.">
        security</a
      >
      provides a methodology and set of procedures for conducting assessments of
      security and privacy controls employed within systems and organizations
      within an effective risk management framework. Vendors providing
      specialized infrastructure must be in compliance with the controls and
      testing outlined in the standard.
    </p>

    <h4 class="itvmo-article-sub-4">Executive Orders</h4>
    <div class="links-list">
      <ul class="links-with-descriptions pl-0">
        <li class="link-with-description">
          <a
            target="_blank"
            rel="noreferrer noopener"
            href="https://www.federalregister.gov/documents/2021/05/17/2021-10460/improving-the-nations-cybersecurity"
            tabindex="0">
            <p class="link-heading">
              <img
                class="link-icon"
                alt="Link icon"
                src="{{site.baseurl}}/assets/images/icons/link-icon.svg" />
              14028, Improving the Nation’s Cybersecurity
              <img
                alt="External icon"
                src="{{site.baseurl}}/assets/images/icons/external-small.svg" />
            </p>
          </a>
        </li>
        <li class="link-with-description">
          <a
            target="_blank"
            rel="noreferrer noopener"
            href="https://www.federalregister.gov/documents/2023/08/11/2023-17449/addressing-united-states-investments-in-certain-national-security-technologies-and-products-in"
            tabindex="0">
            <p class="link-heading">
              <img
                class="link-icon"
                alt="Link icon"
                src="{{site.baseurl}}/assets/images/icons/link-icon.svg" />
              14105, Addressing US investments in Certain National Security
              Technologies and Products in Countries of Concern
              <img
                alt="External icon"
                src="{{site.baseurl}}/assets/images/icons/external-small.svg" />
            </p>
          </a>
        </li>
        <li class="link-with-description">
          <a
            target="_blank"
            rel="noreferrer noopener"
            href="https://www.federalregister.gov/documents/2023/03/30/2023-06730/prohibition-on-use-by-the-united-states-government-of-commercial-spyware-that-poses-risks-to"
            tabindex="0">
            <p class="link-heading">
              <img
                class="link-icon"
                alt="Link icon"
                src="{{site.baseurl}}/assets/images/icons/link-icon.svg" />
              14093 Prohibition on Use by the United States Government of
              Commercial Spyware that Poses Risks to National Security
              <img
                alt="External icon"
                src="{{site.baseurl}}/assets/images/icons/external-small.svg" />
            </p>
          </a>
        </li>

        <li class="link-with-description">
          <a
            target="_blank"
            rel="noreferrer noopener"
            href="https://www.federalregister.gov/documents/2019/05/17/2019-10538/securing-the-information-and-communications-technology-and-services-supply-chain"
            tabindex="0">
            <p class="link-heading">
              <img
                class="link-icon"
                alt="Link icon"
                src="{{site.baseurl}}/assets/images/icons/link-icon.svg" />
              13873 Securing the Information and Communications Technology and
              Services Supply Chain
              <img
                alt="External icon"
                src="{{site.baseurl}}/assets/images/icons/external-small.svg" />
            </p>
          </a>
        </li>
      </ul>
    </div>

    <h4 class="itvmo-article-sub-4">OMB Memoranda</h4>
    <div class="links-list">
      <ul class="links-with-descriptions pl-0">
        <li class="link-with-description">
          <a
            target="_blank"
            rel="noreferrer noopener"
            href="https://www.whitehouse.gov/wp-content/uploads/2023/12/M-24-04-FY24-FISMA-Guidance.pdf"
            tabindex="0">
            <p class="link-heading">
              <img
                class="link-icon"
                alt="PDF icon"
                src="{{site.baseurl}}/assets/images/icons/pdf-icon.svg" />
              M-24-04 FY24 Guidance on Federal Information Security and Privacy
              Management Requirements
              <img
                alt="External icon"
                src="{{site.baseurl}}/assets/images/icons/external-small.svg" />
            </p>
          </a>
        </li>

        <li class="link-with-description">
          <a
            target="_blank"
            rel="noreferrer noopener"
            href="https://www.whitehouse.gov/wp-content/uploads/2023/06/M-23-18-Administration-Cybersecurity-Priorities-for-the-FY-2025-Budget-s.pdf"
            tabindex="0">
            <p class="link-heading">
              <img
                class="link-icon"
                alt="PDF icon"
                src="{{site.baseurl}}/assets/images/icons/pdf-icon.svg" />
              14105, Addressing US investments in Certain National Security
              Technologies and Products in Countries of Concern
              <img
                alt="External icon"
                src="{{site.baseurl}}/assets/images/icons/external-small.svg" />
            </p>
          </a>
        </li>

        <li class="link-with-description">
          <a
            target="_blank"
            rel="noreferrer noopener"
            href="https://www.whitehouse.gov/wp-content/uploads/2023/06/M-23-16-Update-to-M-22-18-Enhancing-Software-Security.pdf"
            tabindex="0">
            <p class="link-heading">
              <img
                class="link-icon"
                alt="PDF icon"
                src="{{site.baseurl}}/assets/images/icons/pdf-icon.svg" />
              M-23-16 Update to Memorandum M-22-18 Enhancing the Security of the
              Software Supply Chain through Secure Software Development
              Practices
              <img
                alt="External icon"
                src="{{site.baseurl}}/assets/images/icons/external-small.svg" />
            </p>
          </a>
        </li>

        <li class="link-with-description">
          <a
            target="_blank"
            rel="noreferrer noopener"
            href="https://www.whitehouse.gov/wp-content/uploads/2022/01/M-22-09.pdf"
            tabindex="0">
            <p class="link-heading">
              <img
                class="link-icon"
                alt="PDF icon"
                src="{{site.baseurl}}/assets/images/icons/pdf-icon.svg" />
              M-22-09 Moving the US government Towards Zero Trust Cybersecurity
              Principles
              <img
                alt="External icon"
                src="{{site.baseurl}}/assets/images/icons/external-small.svg" />
            </p>
          </a>
        </li>
        <li class="link-with-description">
          <a
            target="_blank"
            rel="noreferrer noopener"
            href="https://www.whitehouse.gov/wp-content/uploads/2021/08/M-21-30.pdf"
            tabindex="0">
            <p class="link-heading">
              <img
                class="link-icon"
                alt="PDF icon"
                src="{{site.baseurl}}/assets/images/icons/pdf-icon.svg" />
              M-21-30 Protecting Critical Software through enhanced security
              measures
              <img
                alt="External icon"
                src="{{site.baseurl}}/assets/images/icons/external-small.svg" />
            </p>
          </a>
        </li>
      </ul>

      <p>
        A full list of
        <a
          class="usa-link usa-link--external"
          href="https://www.whitehouse.gov/omb/information-for-agencies/memoranda/">
          OMB Memoranda</a
        >
        and a complete listing of
        <a
          class="usa-link usa-link--external"
          href="https://www.federalregister.gov/presidential-documents/executive-orders">
          Executive Orders</a
        >
        are available for more information.
      </p>
    </div>
  </div>
</div>
<div class="tab-divide-line w-100"></div>
