<h3 id="feedback-overview" class="topic-heading">Ways to contribute</h3>
<h3 id="send-feedback" class="sub-topic-heading">Send feedback</h3>
<p class="tab-p">
  We welcome feedback on the guide or questions about procuring gen AI. Engage
  with us using
  <a
    class="usa-link usa-link--external"
    href="https://touchpoints.app.cloud.gov/touchpoints/9970e8fc/submit"
    >our feedback form</a
  >
  or other options below.
</p>
<h3 id="send-code" class="sub-topic-heading">Contribute code</h3>
<p class="tab-p">
  Engage
  <a class="usa-link--external" href="https://github.com/GSA/14110s101h/issues"
    >here on the GSA GitHub</a
  >, submit pull requests and share your experiences.
</p>
<h3 id="send-code" class="sub-topic-heading">Email us</h3>
<p class="tab-p">
  Send an email to
  <a class="usa-link--external" href="mailto:genai@gsa.gov">genai@gsa.gov</a>
  to connect directly with our team.
</p>

<div class="tab-divide-line w-100"></div>
