<h1 class="itvmo-article-header-blue no-top">3. Generative AI Procurement</h1>

<h2 class="itvmo-article-sub-2 no-top">3.7 Cost Estimation</h2>

<p>
  Given the large amount of IT budget that often has to go towards ongoing
  operation and maintenance, costs can be a significant impediment to Generative
  AI acquisition.
</p>

<p>
  Generative AI systems are software systems. Suppliers bill for them mostly
  like other “Software as a Service” (SaaS) tools with some slight variants. You
  may need to pay for both monthly access to the Generative AI system plus how
  much time you use it plus how much data you input or output.
</p>

<h4 class="itvmo-article-sub-4">
  Costs for using Generative AI tools can add up quickly and unpredictably.
</h4>
<p>
  Setting up systems to accurately forecast and check actual costs against the
  budget when using Generative AI tools helps address concerns about growing
  consumption costs.
</p>

<p>
  There are also potential added costs of monitoring and reporting for these
  systems. Rights and safety measures can drive operations and maintenance costs
  higher. The efficiencies gained by using Generative AI tools may need to be
  significant just to break-even.
</p>

<p>
  Understand your agency’s users, use cases, desired outcomes and internal
  policies to help develop accurate estimates.
</p>

<p>
  Having an understanding of fiscal law principles associated with purchasing
  SaaS and Cloud will help you to appropriately structure and manage your
  Generative AI project.
</p>

<h3 class="itvmo-article-sub-3-blue">
  3.7.1 Generative AI tools are sold like software.
</h3>
<p>
  Again, most commercial Generative AI tools are considered “software” so they
  tend to be sold the way most software is sold and priced. Agencies pay fees
  for software in three main ways: subscriptions, usage and feature tiers.
</p>

<div class="indent-article-section-1">
  <h4 class="itvmo-article-sub-4">Subscriptions</h4>
  <p>
    Agency pays per month or year for each account that renews at the end of the
    term until canceled, regardless of how much you use the model. Think of this
    like the fee you might pay for a video streaming service: you can watch as
    much as you want for a flat fee per month or per year.
  </p>

  <h4 class="itvmo-article-sub-4">Usage</h4>

  <p>
    Agency identifies and obligates funding for requirements, which is in turn
    billed for the amount of data inputted or outputted, the time or resources
    used on a particular platform or the quality of output. Think of this like
    the fee you might pay for a rideshare: you pay for the length of the trip,
    the time the trip takes and a little more if a lot of people are trying to
    get rides at the same time.
  </p>

  <h4 class="itvmo-article-sub-4">Feature Tiers</h4>

  <p>
    Agency pays once per the group of functions and features regardless of
    consumption/usage or number of users. Think of this like the one-time fee
    you might pay for a membership: you pay one fee to the club which entitles
    you to lifetime benefits and if you pay a higher fee you get more benefits
    like access to exclusive sales.
  </p>
</div>

<p>
  <b>
    Generative AI tools typically charge some combination of these fees. Here
    are a few examples based on real life cases:
  </b>
</p>
<div class="bulletSections">
  <div class="topLine"></div>
  <ul class="experiences">
    <li class="bulletText tight-bullet">
      A reseller charges an agency $20 per month per user for email, word
      processing, spreadsheet and presentation programs and apps. They charge an
      additional $20 per month for Generative AI features and functions in these
      same programs and apps.
    </li>
    <li class="bulletText tight-bullet">
      A company offers the ability to “train” an AI model charges an agency a
      base rate per month for an account plus $10 per million tokens where each
      token represents an individual word of “training data” that the agency
      uploads.
    </li>

    <li class="bulletText tight-bullet">
      A cloud platform provider charges a certain amount to get access to a
      Generative AI model but then charges the agency for every minute they use
      the model or for every time they access a database that the model connects
      to.
    </li>
  </ul>
</div>

<h3 class="itvmo-article-sub-3-blue">
  3.7.2 Estimating the Costs of Generative AI Solutions
</h3>
<p>
  To estimate the costs of Generative AI solutions, start by understanding the
  fees that the supplier would charge then ask questions to quantify accounts,
  users, time and usage.
</p>
<table class="usa-table">
  <h4 class="itvmo-article-sub-4">Fees paid by agency</h4>
  <thead>
    <tr>
      <th class="itvmo-table-header" scope="col">Subscriptions</th>
      <th class="itvmo-table-header" scope="col">Usage</th>
      <th class="itvmo-table-header" scope="col">Feature Tiers</th>
    </tr>
  </thead>
  <tbody style="vertical-align: top">
    <tr>
      <td data-label="Subscriptions">
        Per month or year for each account that renews at the end of the term
        until canceled.
      </td>
      <td data-label="Usage">
        Per the amount of data inputted or outputted, the time or resources used
        on a particular platform or the quality of output.
      </td>
      <td data-label="Feature Tiers">
        Per the group of functions and features regardless of consumption/usage
        or number of users.
      </td>
    </tr>
  </tbody>
</table>

<table class="usa-table">
  <h4 class="itvmo-article-sub-4">Questions to ask when estimating costs</h4>
  <thead class="itvmo-table">
    <tr>
      <th class="itvmo-table-header" scope="col">Subscriptions</th>
      <th class="itvmo-table-header" scope="col">Usage</th>
      <th class="itvmo-table-header" scope="col">Feature Tiers</th>
    </tr>
  </thead>
  <tbody style="vertical-align: top">
    <tr>
      <td data-label="Subscriptions">
        How many unique accounts does the agency program need?
        <br />
        <br />
        How long will we need accounts for (a few months, a year or more)?
        <br />
        <br />

        What other base subscriptions are required to access the service?
        <br />
        <br />

        Do we need a service or support layer to help us use the tools?
      </td>
      <td data-label="Usage">
        How much data will we input?
        <br />
        <br />

        How much data will we output?
        <br />
        <br />

        What quality of output do we want?
        <br />
        <br />

        How much time (per day and per month) will the AI service be used?
        <br />
        <br />

        How many different tools will use the AI service?
        <br />
        <br />

        Do we need a service or support layer to help us use the tools?
      </td>
      <td data-label="Feature Tiers">
        What features do we need to use and which tiers support those features?
        <br />
        <br />

        What are the limits (number of accounts, total usage, etc.) for using
        those AI tools at that tier of service?
        <br />
        <br />

        Can we customize the features we buy in each tier or are they preset?
        <br />
        <br />

        Do we need a service or support layer to help us use the tools?
      </td>
    </tr>
  </tbody>
</table>

<h3 class="itvmo-article-sub-3-blue">
  3.7.3 Developing estimates for using Generative AI tools
</h3>
<p>
  Subscription pricing generally is straightforward: estimate the number of
  users and the costs. As Generative AI tools are new and companies are still
  figuring out their own costs and revenues these rates may change, these costs
  may change. Though you should always try to negotiate for discounts from
  listed prices, companies are rarely offering reduced prices for tools at this
  time so listed prices are realistic for estimating purposes.
</p>

<p>
  When accessing generative AI tools through a usage-based model, account for
  any type of access costs in addition to actual usage. For example, if you are
  accessing a generative AI tool through your Cloud provider’s architecture and
  you use a Value Added Reseller (VAR) for that architecture, your estimate will
  need to include any costs the VAR charges in addition to your usage costs. It
  is also important to understand and account for any additional access charges
  your Cloud provider may add on top of their usage costs and the usage costs
  for the particular generative AI tool.
</p>

<p>
  Similar to subscription pricing, estimating costs for software feature tiers
  is generally straightforward but offerings within tiers and pricing may change
  more frequently as companies develop and integrate generative AI models and
  capabilities into their products.
</p>

<p>
  Four of the largest Cloud Service Providers (CSPs) provide cost calculators to
  assist in estimating a budget and developing a cost estimate. Other CSPs may
  provide similar tools and serve as a basis for your estimate. Successfully
  using these tools requires the estimator to have knowledge of the potential
  workload and types, processing speeds and memory needed as well as the number
  of users. Consult with technical experts in your organization and use more
  than one of the tools when building your estimate and ensure you coordinate
  with your legal team on how to appropriately obligate funding.
</p>

<p>
  Setting up an agency "test bed" or "sandbox" for a particular Generative AI
  model and constructing an experiment is one way to understand and start to
  estimate potential usage costs.
</p>

<p>
  When constructing technical architectures the IPT will have visibility and
  options on which components it chooses to use and the associated costs with
  each particular component. Ensuring CORs and end users communicate often
  during the development process and operations of the tools will help manage
  your spend.
</p>

<p>
  Cost control measures such as not-to-exceed caps on usage time or costs for
  Generative AI tools can help ensure that teams stay within allotted budgets.
  The IPT can also put technical checks and reminders in place to help ensure
  costs don’t balloon. Leaving one operation running on a cloud platform
  overnight and not shutting it down can eat up an entire program’s monthly
  budget because it is making continuous, unnecessary use of a server. Keeping
  these errors to a minimum is critical for keeping costs under control.
</p>

<p>
  An overview of pricing for general Cloud services can be found on the
  <a
    class="usa-link usa-link--external"
    href="https://cic.gsa.gov/acquisitions/pricing"
    >pricing resource page of the Cloud Information Center</a
  >.
</p>

<p>
  Agencies may find they need to contract for specific services to develop, tune
  and maintain their models. Contracting officials should reach out to their
  CAIO's office to identify the most relevant labor categories or skill sets for
  the particular requirements if this is needed. Use tools such as GSA’s
  <a class="usa-link usa-link--external" href="https://buy.gsa.gov/pricing/"
    >CALC</a
  >
  to help develop estimates if you have an understanding of appropriate labor
  categories and skill levels.
</p>

<div class="tab-divide-line w-100"></div>
