<div id="guide-chapter-3">
  <h1 class="itvmo-article-header-blue no-top">3. Generative AI Procurement</h1>

  <h2 class="itvmo-article-sub-2 no-top">Overview</h2>

  <h3 class="itvmo-article-sub-3-blue">
    Select Components of a Generative AI Acquisition
  </h3>
  <p>
    Acquiring Generative AI solutions can look very similar to other IT
    acquisitions but there are additional aspects that could be considered.
    Below are some considerations and questions that could be helpful for the
    acquisition workforce to think about in collaboration with relevant agency
    officials from other domains when acquiring Generative AI.
  </p>

  <p>
    If you are not familiar with purchasing software or have not conducted a
    software acquisition recently, consider reviewing the information at the
    <a
      class="usa-link usa-link--external"
      href="https://techfarhub.usds.gov/get-started/"
      >TechFAR Hub</a
    >
    or seeking out some additional training from the providers listed on the
    site or your agency.
  </p>

  <p>
    Here are select components of a Generative AI acquisition. These are
    starting points and don’t represent the only practices or approaches for
    acquiring Generative AI. This also is not a strict sequence as much as it is
    a collection of focus areas that should be considered as part of any
    Generative AI acquisition.
  </p>

  <p>
    Additionally, your agency may have specific requirements, policies and
    guidelines that you must follow as part of any Generative AI acquisition.
  </p>

  <a
    href="{{site.baseurl}}/genai/?tabName=part-31-header"
    class="article-section-card">
    <div class="article-section-card-value">
      <h1>3.1</h1>
    </div>
    <div class="article-section-card-title">
      <h3>Integrated Product Team</h3>
    </div>
  </a>

  <a
    href="{{site.baseurl}}/genai/?tabName=part-32-header"
    class="article-section-card">
    <div class="article-section-card-value">
      <h1>3.2</h1>
    </div>
    <div class="article-section-card-title">
      <h3>Agency Goals and Needs</h3>
    </div>
  </a>

  <a
    href="{{site.baseurl}}/genai/?tabName=part-33-header"
    class="article-section-card">
    <div class="article-section-card-value">
      <h1>3.3</h1>
    </div>
    <div class="article-section-card-title">
      <h3>Solutions Scoping and Testing</h3>
    </div>
  </a>

  <a
    href="{{site.baseurl}}/genai/?tabName=part-34-header"
    class="article-section-card">
    <div class="article-section-card-value">
      <h1>3.4</h1>
    </div>
    <div class="article-section-card-title">
      <h3>Data Management and Protection</h3>
    </div>
  </a>

  <a
    href="{{site.baseurl}}/genai/?tabName=part-35-header"
    class="article-section-card">
    <div class="article-section-card-value">
      <h1>3.5</h1>
    </div>
    <div class="article-section-card-title">
      <h3>Acquisition Strategy</h3>
    </div>
  </a>

  <a
    href="{{site.baseurl}}/genai/?tabName=part-36-header"
    class="article-section-card">
    <div class="article-section-card-value">
      <h1>3.6</h1>
    </div>
    <div class="article-section-card-title">
      <h3>Market Assessment</h3>
    </div>
  </a>

  <a
    href="{{site.baseurl}}/genai/?tabName=part-37-header"
    class="article-section-card">
    <div class="article-section-card-value">
      <h1>3.7</h1>
    </div>
    <div class="article-section-card-title">
      <h3>Cost Estimation</h3>
    </div>
  </a>

  <a
    href="{{site.baseurl}}/genai/?tabName=part-38-header"
    class="article-section-card">
    <div class="article-section-card-value">
      <h1>3.8</h1>
    </div>
    <div class="article-section-card-title">
      <h3>Performance Monitoring and Evaluation</h3>
    </div>
  </a>
</div>
<div class="tab-divide-line w-100"></div>
