<h1 class="itvmo-article-header-blue no-top">Introduction</h1>
<h3 class="itvmo-article-sub-3-blue">Executive Order 14110</h3>
<p>
  <a
    class="usa-link usa-link--external"
    rel="noreferrer"
    href="https://www.whitehouse.gov/briefing-room/presidential-actions/2023/10/30/executive-order-on-the-safe-secure-and-trustworthy-development-and-use-of-artificial-intelligence/"
    >Executive Order 14110</a
  >
  Section 10.1(h) directs GSA to facilitate agencies’ access to commercial
  Generative AI capabilities.
</p>
<blockquote class="border-left-05 border-primary-darker padding-left-2">
  “Within 180 days of the date of this order, to facilitate agencies’ access to
  commercial AI capabilities, the Administrator of General Services, in
  coordination with the Director of OMB, and in collaboration with the Secretary
  of Defense, the Secretary of Homeland Security, the Director of National
  Intelligence, the Administrator of the National Aeronautics and Space
  Administration, and the head of any other agency identified by the
  Administrator of General Services, shall take steps consistent with applicable
  law to facilitate access to Federal Government-wide acquisition solutions for
  specified types of AI services and products, such as through the creation of a
  resource guide or other tools to assist the acquisition workforce. Specified
  types of AI capabilities shall include generative AI and specialized computing
  infrastructure.”
</blockquote>

<h3 class="itvmo-article-sub-3-blue">
  This resource guide focuses on Generative AI not all of AI
</h3>
<p>
  Artificial Intelligence or “AI” is one of the most profound technological
  shifts in a generation or more. At its roots, AI is software. That means it
  follows many of the same acquisition policies and rules as other software and
  IT.
</p>
<p>
  Contracting officials should consider cybersecurity, supply chain risk
  management, data governance and other standards and guidelines when procuring
  Generative AI just as they would with other IT procurements.
</p>
<p>
  AI is a very large space and Generative AI is just one type of AI. This
  resource guide focuses on Generative AI acquisition in particular, not AI
  acquisition as a whole.
</p>
<p>
  Look for definitions for both Artificial Intelligence and Generative
  Artificial Intelligence in
  <a
    class="usa-link"
    rel="noreferrer noopener"
    href="{{site.baseurl}}/genai/?tabName=part-1-header&?#sec-1.1"
    >Section 1.1.</a
  >
</p>

<h3 class="itvmo-article-sub-3-blue" id="audience">
  Assisting the acquisition workforce
</h3>
<p>
  This resource guide is primarily meant to assist the acquisition workforce in
  navigating the complexities of acquiring Generative AI technologies in
  collaboration with relevant agency officials from other domains.
</p>
<p>
  This resource guide is focused on civilian agencies’ Generative AI needs.
  Defense, National Security and the
  <a
    class="usa-link usa-link--external"
    rel="noreferrer"
    href="https://dpcld.defense.gov/Portals/49/Documents/Civil/eo-12333-2008.pdf"
    >Intelligence Community</a
  >
  have very specific needs and procurement solutions have been tailored to meet
  their requirements.
</p>
<p>
  Generative AI can be difficult to understand both for technologists and
  non-technologists. While those in the acquisition community don’t need to
  become experts in AI, a basic understanding of certain Generative AI terms,
  common issues and ways to derisk acquisitions will help you make better
  decisions about what to buy and how.
</p>

<p>
  <b>
    As a member of the acquisition workforce, it is critical to work with
    technical subject matter experts (SMEs) like:
  </b>
</p>
<div class="bulletSections">
  <div class="topLine"></div>
  <ul class="experiences">
    <li class="bulletText tight-bullet"><b>Software Engineers</b></li>
    <li class="bulletText tight-bullet"><b>Data Scientists</b></li>
    <li class="bulletText tight-bullet"><b>Security Specialists</b></li>
    <li class="bulletText tight-bullet"><b>Privacy Specialists</b></li>
    <li class="bulletText tight-bullet">
      <b
        >Program Staff who can identify the problems they are trying to solve,
        validate users’ needs, safeguard data and establish product goals or
        requirements
      </b>
    </li>
    <li class="bulletText tight-bullet">
      <b
        >Agency Officials responsible for security, privacy and other relevant
        disciplines to meet a range of agency responsibilities in this context.
      </b>
    </li>
  </ul>
</div>
<p>
  This resource guide also simplifies complex technical IT and AI concepts to
  make them easier for non-technologists to understand. In some cases, this
  resource guide oversimplifies concepts for the sake of clarity. Seek support
  from AI, IT and data professionals when making decisions.
</p>
<p>
  Because Generative AI is relatively new and evolving quickly, it’s early to
  designate “best practices.” Think of the information in this resource guide as
  prompts to consider and frame your thinking and approach rather than directive
  recommendations for what to do. This content is non-binding. The
  recommendations presented do not supersede, modify, or direct an
  interpretation of existing requirements mandated by law or governmentwide
  policy.
</p>

<h3 class="itvmo-article-sub-3-blue">This is version 1.0</h3>
<p>
  This resource guide isn't static. It’s meant to evolve as technology advances
  while aligning with relevant law, policies and frameworks.
</p>
<p>
  Links in this resource guide were verified just prior to the site’s launch. If
  you do happen to find a bad link, please report it
  <a
    class="usa-link usa-link--external"
    href="https://touchpoints.app.cloud.gov/touchpoints/9970e8fc/submit">
    using the Send Feedback tool.</a
  >
</p>

<h3 class="itvmo-article-sub-3-blue">Help make this resource guide better</h3>
<p>
  Please contribute your insights and help refine this resource guide by
  submitting pull requests on
  <a
    class="usa-link usa-link--external"
    href="https://github.com/GSA/14110s101h/issues"
    >Github</a
  >
  and submitting feedback
  <a
    class="usa-link usa-link--external"
    href="https://touchpoints.app.cloud.gov/touchpoints/9970e8fc/submit">
    using the Send Feedback tool.</a
  >
</p>

<h3 class="itvmo-article-sub-3-blue">
  Companies or product mentions are not endorsements
</h3>
<p>
  This resource guide may reference actual companies and/or offerings to define,
  illustrate or explain a concept. Do not consider these recommendations or
  disparagements. We do not endorse any company or their works.
</p>

<h3 class="itvmo-article-sub-3-blue">Generative AI content disclosure</h3>
<p>
  The team used Generative AI tools when it was writing first rough drafts of a
  few sections. This early content was used as an input not a replacement and
  was reviewed and revised multiple times by Subject Matter Experts (SMEs) in
  technology, acquisition and policy. The team gathered additional feedback from
  SMEs through multiple channels and made further edits based on that feedback.
  All content in this resource guide has been reviewed and revised by SMEs for
  quality.
</p>
<p>
  All use of Generative AI was done in alignment with the principle of
  responsible AI innovation and to help the teams learn about the capabilities
  of this technology. This attribution highlights our commitment to evaluating
  new technologies with the right safeguards in place while maintaining
  transparency.
</p>

<div class="tab-divide-line w-100"></div>
