<h2 class="ext-top itvmo-article-sub-2">
  1.3 Potential Benefits of Generative AI
</h2>

<div class="indent-article-section-1">
  <p>
    Generative AI offers a range of potential benefits including the ones below.
    This is not an exhaustive list. New benefits are being discovered
    continually. These are also benefits that exist today but have limitations
    and need careful attention and monitoring.
  </p>

  <h3 class="itvmo-article-sub-3-blue">Create and Refine Content</h3>
  <p>
    Probably the biggest value that Generative AI tools offer is the ability to
    create text, pictures, sounds, videos and even computer code.
  </p>

  <p>
    A Generative AI tool will mine the information available in its training
    data or on the internet, much like a search engine, then combine it with its
    own pattern-making to construct sentences, paragraphs, graphics, and other
    outputs.
  </p>

  <p>
    Users then have the ability to shape, refine, and adjust the outputs to make
    them what users want and need. This allows a user to make rough prototypes,
    first drafts, and initial passes at content very quickly then spend time
    editing, curating, adjusting, and refining rather than having to create from
    a blank page.
  </p>

  <h3 class="itvmo-article-sub-3-blue">
    Easy, Chat-Based Interface for Prompts
  </h3>
  <p>
    Generative AI systems typically respond to questions and requests that a
    person types into a chat or text box. The Generative AI tools then create
    text, pictures, sounds, or videos to respond to those “prompts.”
  </p>

  <p>
    The person can then refine and improve the output by typing more specific
    directions or guidance into the prompt box and the Generative AI tool can
    iterate what it created to better suit what the person wants.
  </p>

  <p>
    Interestingly, there is a growing area of expertise called “prompt
    engineering” describing people’s skills in crafting the right words,
    context, examples, and guidance to type into chat interfaces to iterate and
    get the right output from different Generative AI systems.
  </p>

  <h3 class="itvmo-article-sub-3-blue">Customize How They Work</h3>
  <p>
    Generative AI tools often allow both programmers and end users to alter
    them. People can train a model using different data so it can learn the
    patterns of specific kinds of information. This can be especially useful if
    an organization wants to use the Generative AI tool for a specific purpose.
  </p>

  <p>
    For example, an agency could train a model using its own agency policies,
    data, regulations, and action with the goal that the model would provide
    more agency-specific outputs.
  </p>

  <p>
    Models can also be “fine tuned,” meaning you can change how the model works,
    adjusting what it should treat as more important or less important. You can
    even change what it outputs to make it more relevant, such as following a
    particular style of writing or imagery.
  </p>

  <p>
    And if no existing model seems to come close you can create your own model
    then train it with custom data, fine tune how it works, and tailor the
    outputs to meet your specific needs.
  </p>
</div>
