<h2 class="itvmo-article-sub-2">1.1 Key Definitions</h2>

<div id="sec-1.1" class="indent-article-section-1">
  <h3 class="itvmo-article-sub-3-blue">Artificial Intelligence</h3>
  <p>15 U.S.C. 9401(3) defines “Artificial Intelligence” as:</p>

  <blockquote class="border-left-05 border-primary-darker padding-left-2">
    “a machine-based system that can, for a given set of human-defined
    objectives, make predictions, recommendations, or decisions influencing real
    or virtual environments. Artificial intelligence systems use machine- and
    human-based inputs to perceive real and virtual environments; abstract such
    perceptions into models through analysis in an automated manner; and use
    model inference to formulate options for information or action.”
  </blockquote>

  <p>
    More simply, it refers to the science and engineering of making intelligent
    machines.
  </p>

  <h3 class="itvmo-article-sub-3-blue">
    Generative Artificial Intelligence, Generative AI and GenAI
  </h3>
  <p>
    <a
      class="usa-link usa-link--external"
      href="https://www.whitehouse.gov/briefing-room/presidential-actions/2023/10/30/executive-order-on-the-safe-secure-and-trustworthy-development-and-use-of-artificial-intelligence/?utm_source=link"
      >Executive Order 14110 defines “Generative Artificial Intelligence”</a
    >
    as:
  </p>

  <blockquote class="border-left-05 border-primary-darker padding-left-2">
    “the class of AI models that emulate the structure and characteristics of
    input data in order to generate derived synthetic content. This can include
    images, videos, audio, text, and other digital content.”
  </blockquote>

  <p>
    Fundamentally, this is software that can generate images, video, audio, text
    and computer code when prompted by a user (a human or another machine).
  </p>

  <p>
    This resource guide uses Generative Artificial Intelligence, Generative AI
    and GenAI to mean the same thing.
  </p>

  <h3 class="itvmo-article-sub-3-blue">Cloud</h3>
  <p>
    <a
      class="usa-link usa-link--external"
      href="https://csrc.nist.gov/pubs/sp/800/145/final"
      >The National Institute of Standards &amp; Technology (NIST) defines
      “Cloud Computing”</a
    >
    as:
  </p>
  <blockquote class="border-left-05 border-primary-darker padding-left-2">
    “a model for enabling ubiquitous, convenient, on-demand network access to a
    shared pool of configurable computing resources (e.g., networks, servers,
    storage, applications, and services) that can be rapidly provisioned and
    released with minimal management effort or service provider interaction.”
  </blockquote>

  <p>
    In simple terms, the “cloud” is the interconnected network of servers in
    data centers where information, data, and software are stored and accessed.
  </p>

  <h3 class="itvmo-article-sub-3-blue">Credits</h3>
  <p>
    “Credits” is a term often used in cloud computing to describe currency or
    funds that can be used on the cloud provider’s site. They operate sort of
    like tickets at a fair where it takes 5 tickets to go on some rides and 10
    tickets to go on others. For cloud or Generative AI tools when you fund a
    particular requirement, you are in essence buying “credits” with your
    obligation which are then used to pay for how much computing you use for
    your requirements. If you save a lot of files to your cloud account you pay
    more credits. Each time you use a Generative AI tool you may pay a few
    credits. If you use a Generative AI tool to create content, they may charge
    you more credits for more sophisticated outputs.
  </p>

  <h4 class="itvmo-article-sub-4">For further reading…</h4>
  <p>
    In 2023, NIST released a living
    <a
      class="usa-link usa-link--external"
      href="https://airc.nist.gov/AI_RMF_Knowledge_Base/Glossary"
      >glossary</a
    >
    called “<a
      class="usa-link usa-link--external"
      href="https://docs.google.com/spreadsheets/d/e/2PACX-1vTRBYglcOtgaMrdF11aFxfEY3EmB31zslYI4q2_7ZZ8z_1lKm7OHtF0t4xIsckuogNZ3hRZAaDQuv_K/pubhtml"
      >The Language of Trustworthy AI</a
    >,” which it maintains as a companion resource to its AI Risk Management
    Framework (AI RMF).
  </p>

  <p>
    The glossary is designed to be flexible and offer multiple meanings of
    commonly used terms you may encounter.
  </p>
</div>
