<h2>3.2 Agency Goals and Needs.</h2>

<p>
  There are many different types of Generative AI products and services, each
  with their own strengths. Don’t jump to a particular solution first. Instead,
  begin by understanding what program staff want to do and achieve, then find
  the right solutions and suppliers that will best help them.
</p>

<p>
  Program staff and leaders can be a great source for identifying and refining
  problem statements and how they link back to the agency’s mission. Technical
  leaders including the agency Chief Information Officer (CIO), Chief
  Information Security Officer (CISO) and Chief Privacy Officer (CPO) offer
  important perspectives about what current systems and tools can do and how
  they can be used. Many agencies have also selected a Chief Artificial
  Intelligence Officer (CAIO) to oversee AI efforts including Generative AI
  work. CAIOs are a vital voice to have at the table when scoping agency goals
  and needs.
</p>

<p>Some potential questions to ask include:</p>
<ul>
  <li>What specific problems does the agency want to solve?</li>
  <li>
    What opportunities does Generative AI present that the agency wants to
    pursue?
  </li>
  <li>
    Are other agencies seeking to solve similar problems or use Generative AI
    for similar purposes that you can learn from?
  </li>
  <li>
    What are gaps in current technology tools that Generative AI could fill?
  </li>
  <li>What are the desired outcomes of using Generative AI tools?</li>
</ul>

<p>
  Sometimes just by posing these questions an agency can determine that it
  already has non-Generative AI tools (and even non-AI tools) that can be
  deployed quickly or that the problems themselves aren’t worth the investment
  to solve.
</p>

<p>
  Many agencies are in a space of needing or wanting to experiment or “do
  something” with Generative AI solutions to understand what the technology can
  do. Technical experimentation is healthy and important for agencies. If your
  agency is just trying to get exposure to Generative AI tools and their
  capabilities, it could be helpful to start with smaller problems and perhaps
  ones that are not mission critical, but ones that can’t be easily solved with
  current non-Generative AI tools.
</p>

<p>
  For ideas and inspiration of what problems and projects might be good to work
  on, see sections 1 and 2 of this guide. Agency use cases are also published on
  <a class="usa-link usa-link--external" href="http://ai.gov">AI.gov</a>
  and may also be on your agency website.
</p>
<div class="tab-divide-line w-100"></div>
