<h2 class="ext-top itvmo-article-sub-2">1.5 Typical Generative AI Tools</h2>

<p>
  Many kinds of Generative AI tools exist right now in the market that an agency
  may want to buy or get access to. Here are a few examples and how they might
  be used by an agency. These are illustrative products that might be tailored
  to meet an agency’s specific goals.
</p>
<div class="indent-article-section-1">
  <h3 class="itvmo-article-sub-3-blue">Generative AI-Enabled ChatBots</h3>
  <p>
    Applications that are capable of answering a series of related questions or
    prompts in a conversational tone. These might be useful to respond to the
    public’s inquiries on policies, services, programs and products.
  </p>

  <h3 class="itvmo-article-sub-3-blue">Text Summarizers</h3>
  <p>
    Tools that can take in reports, legal documents, case files and other
    documents, analyze the information and produce summaries. These might be
    useful to reduce the time to review documents and allow an agency user to
    focus on the most relevant content.
  </p>

  <h3 class="itvmo-article-sub-3-blue">Data Analyzers</h3>
  <p>
    Software that can crawl through large amounts of numerical data, organize
    and structure it, find patterns and anomalies, create visualizations and
    make projections based on what it finds. These might be useful to save
    effort and enable agency staff to do higher level analysis.
  </p>

  <h3 class="itvmo-article-sub-3-blue">Explainer and Tutoring Tools</h3>
  <p>
    Modules which can generate natural language explanations and teach users
    through a process, an application or form or a reporting requirement. These
    might be useful to reduce frustration with processes and increase the
    completeness and accuracy of document submissions.
  </p>

  <h3 class="itvmo-article-sub-3-blue">Text to Image Generators</h3>
  <p>
    Programs that let an end user quickly produce images and visuals by
    inputting text prompts that describe the picture they want. These might be
    useful to enhance the creation of images, diagrams, illustrations, and
    graphics for use in training materials and guides.
  </p>

  <h3 class="itvmo-article-sub-3-blue">Coding Assistants</h3>
  <p>
    Applications that can write new computer code, update and improve legacy
    code, translate code from one language to another, find and use appropriate
    code libraries, detect errors in code and recommend changes. These might be
    useful to reduce the time programmers spend developing or modernizing code.
  </p>

  <h3 class="itvmo-article-sub-3-blue">Language Translators</h3>
  <p>
    Tools to analyze text in multiple languages, recognize differences in
    written and spoken language, understand context and properly interpret words
    to have the right meaning. These might be useful to translate materials into
    multiple languages.
  </p>

  <h3 class="itvmo-article-sub-3-blue">Search and Recommendation</h3>
  <p>
    Add-on functions that improve search results as users build on and refine
    their queries and by interpreting more from what users ask. These might be
    useful to help online systems find the pieces of information that a user
    didn’t know how to ask for but really what they want.
  </p>
</div>
