{% comment %}
This is used for just about every page. It provides the border around the content.
The home page uses wide.html layout, since it extends full width of page
{% endcomment %}

<!DOCTYPE html>

<html lang="en">

{% include meta.html %}

<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<body>
  <button id="backtotop" title="Go back to the top of the page">
    <img id="u70_img" class="img " src="https://files.axshare.com/gsc/FTDJN4/27/94/4f/27944f06ec834ddcbaedeb6258097c15/images/resources/u70.svg?pageId=7133eef1-42e2-4110-894a-1757178732c4">
    <p>Back to top</p>
  </button>

  {% include header.html %}

  {% include menu.html primary_navigation=site.primary_navigation  secondary_navigation=site.secondary_navigation %}

  {{ content }}

  {% include footer.html %}

  {% include scripts.html %}
</body>

</html>