{% comment %}
This is used for just about every page. It provides the border around the content.
The home page uses wide.html layout, since it extends full width of page
{% endcomment %}

<!DOCTYPE html>

<html lang="en">

{% include meta.html %}

<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<body>
  <button id="backtotop" title="Go back to the top of the page">
    <img alt="Arrow up" src="{{site.baseurl}}/assets/images/icons/arrow-up-blue.svg">
    <p>Back to top</p>
  </button>

  {% include header.html %}

  {% include menu.html primary_navigation=site.primary_navigation  secondary_navigation=site.secondary_navigation %}

  {{ content }}

  {% include footer.html %}

  {% include scripts.html %}

  {% if page.genai == true %}
  <script>

$(document).ready(function() {
    function updateActiveTab(targetId) {
        $('.tab').removeClass('active-tab'); // Clear all active states
        $('#' + targetId + '-header').addClass('active-tab'); // Set the new active tab

        // Manage accordion state based on whether the target ID belongs to the accordion
        var isAccordionTab = $('#' + targetId + '-header').parents('.usa-sidenav__sublist').length > 0;

        if (isAccordionTab) {
            // If it's an accordion tab, open the accordion
            $('.usa-accordion__button').attr('aria-expanded', 'true');
            $('.usa-sidenav__sublist').removeAttr('hidden'); // Show accordion contents
        } else {
            // If it's not an accordion tab, close the accordion
            $('.usa-accordion__button').attr('aria-expanded', 'false');
            $('.usa-sidenav__sublist').attr('hidden', ''); // Hide accordion contents
        }

        // Ensure the corresponding tab content is visible
        $('.tabcontent').hide(); // Hide all tab contents first
        $('#' + targetId).show(); // Show the current tab content
    }

    // Click handler for tabs and navigation buttons
    $('.tab, .usa-button-group__item a').click(function(e) {
        e.preventDefault();
        var targetId = $(this).attr('href').substring(1);
        updateActiveTab(targetId);
        $('html, body').animate({
            scrollTop: $('#' + targetId).offset().top
        }, 200); // faster scroll animation
    });

    // Check if there is a hash in the URL on page load
    if (window.location.hash) {
        var initialTabId = window.location.hash.substring(1);
        updateActiveTab(initialTabId);
        $('html, body').animate({
            scrollTop: $('#' + initialTabId).offset().top
        }, 200); // faster scroll animation
    } else {
        // Optionally activate the first tab by default if no hash is present
        $('.tab:first').click();
    }
});



    </script>
         
{% endif %}   
</body>

</html>