---
layout: base
---

<!DOCTYPE html>
<div
  id="new-main-content"
  class="usa-layout-docs usa-section padding-top-3 sect-container">
  <div class="grid-container padding-0">
    <main>
      <div class="usa-layout-docs__main desktop:grid-col-12 usa-prose">
        <section id="redesign-page" class="inner-page">
          <section id="inner-page-heading">
            <section id="page-directory"></section>
            <section id="page-heading">
              <h1 class="page-heading-title margin-0">Relating to ITVMO</h1>
              <img
                alt="{{ page.title }} icon"
                src="{{site.baseurl}}/assets/images/icons/page_icons/quaterly-itvmo-newsletter.svg" />
            </section>
            <div class="article-page-content">
              <div class="article-page-heading"></div>
              <div class="article-page-detail">
                {{page.synopsis | markdownify | liquify }}
                <a class="external-link" href="{{page.url-link}}">
                  <p>Read Article</p>
                  <img
                    src="{{site.baseurl}}/assets/images/arrows/right-arrow-white.svg"
                    alt="right arrow" />
                </a>
              </div>
            </div>
          </section>
        </section>
      </div>
    </main>
  </div>
</div>
