---
layout: base
---
<!doctype html>
<div id="new-main-content" class="usa-layout-docs usa-section padding-top-3 sect-container">
    <div class="grid-container padding-0">
      <main>
        <div class="usa-layout-docs__main desktop:grid-col-12 usa-prose">
          <section id="redesign-page" class="inner-page">
            <section id="inner-page-heading">
               <section id="page-directory"></section>
               <section id="page-heading">
                  <h1 class="page-heading-title margin-0">Relating to ITVMO</h1>
                  <img alt="{{ page.title }} icon" src="{{site.baseurl}}/assets/images/icons/page_icons/quaterly-itvmo-newsletter.svg">
               </section>
               <div class="article-page-content">
                <div class="article-page-heading">
                  {% for publisher in site.article_publishers %}
                    {% if publisher.name == {{page.publisher}} %}
                      <!-- {{publisher.name}} -->
                      <img class="publisher-logo" src="{{site.baseurl}}/{{publisher.publisher-logo}}" alt="{{publisher.name}} logo">
                      <div>
                        <h1>{{page.title}}</h1>
                        <a href="https://{{publisher.url-link}}">{{publisher.url-link}} <img alt="External icon" src="{{site.baseurl}}/assets/images/icons/external-small.svg"></a>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
                <div class="article-page-detail">
                  {{page.synopsis | markdownify | liquify }}
                  <a class="external-link" href="{{page.url-link}}">
                    <p>Read Article</p>
                    <img src="{{site.baseurl}}/assets/images/arrows/right-arrow-white.svg" alt="right arrow">
                  </a>
                </div>
              </div>
            </section>
          </section>
        </div>
      </main>
    </div>
</div>
